mixin navigation(settings)
  - const {
  -   links = [
  -     {"text": "For change", "type": "text_bold"},
  -     {"text": "For change"},
  -     {"text": "For change"},
  -     {"text": "For change"}
  -   ]
  - } = settings
  nav.navigation
    each link in links
      - const {
      -   href = "./for-change",
      -   text = "For change",
      -   jsClass = false,
      -   expandedLinks = [
      -     {text: "For change", href: "./for-change"},
      -     {text: "For change", href: "./for-change"},
      -     {text: "For change", href: "./for-change"},
      -   ]
      - } = link
      - let { type= "" } = link
      - if(type) type=`navigation__link_${type}`
      .navigation__link-wrapper
        if link.type === "expanded" && expandedLinks
          span(class=["navigation__link-title", jsClass])= text
          .navigation__expanded-container
            each expandedLink in expandedLinks
              - const {
              -   href: expandedHref,
              -   text: expandedText,
              - } = expandedLink
              a(class=["navigation__link", "navigation__link_expanded"]  href=expandedHref)= expandedText
        else
          a(class=["navigation__link", type] href=href)= text