@import '../../common/mixins.scss';
@import '../../common/variables';

.navigation {
  @include text_type($main-font, 14px, 400, 40px, $color-main-light);
  display: flex;
  flex-wrap: wrap;
  column-gap: 20px;
  justify-content: right;

  &__link,
  &__expanded-link {
    color: $color-main-light;
    text-decoration: none;

    &:hover {
      color: $color-main-dark;
    }

    &_text {
      &_bold {
        font-weight: 700;
        color: $color-main-dark;
      }
    }
  }

  &__expandable-title {
    cursor: pointer;
    display: flex;
    column-gap: 1px;

    &::after {
      content: url('../../img/dropdown-nav.svg');
      display: inline-block;
      width: 24px;
      text-align: center;
    }

    &:hover {
      color: $color-main-dark;
    }
  }

  &__expandable-wrapper {
    width: 100%;
    min-width: 120px;
    position: absolute;
    top: 40px;
    background-color: white;
    border: 1px solid $color-secondary-light;
    border-radius: 4px;
    z-index: 2;
  }

  &__expanded-link {
    width: 100%;
    display: inline-block;
    text-align: center;
  }

  &__link-wrapper {
    position: relative;
  }

  @media screen and (max-width: 363px) {
    justify-content: center;
  }
}