@import '../../common/mixins.scss';
@import '../../common/variables';

.navigation {
  @include text_type($main-font, 14px, 400, 17px, $color-main-light);
  line-height: 40px;

  &__link,
  &__expanded-link {
    color: $color-main-light;
    text-decoration: none;

    &:hover {
      color: $color-main-dark;
    }

    &_text {
      &_bold {
        font-weight: 700;
        color: $color-main-dark;
      }
    }
  }

  &__link {
    @media screen and (max-width: 650px) {
      &:not(:last-child) {
        margin-right: 0;
      }

      margin: 0 0 0 20px;
    }
  }

  &__expandable-title {
    cursor: pointer;
    display: block;
    height: 100%;

    &::after {
      content: url('../../img/dropdown-nav.svg');
      display: inline-block;
      width: 24px;
      height: 17px;
      line-height: 100%;
      text-align: center;
      margin-left: 1px;
    }

    &:hover {
      color: $color-main-dark;
    }
  }

  &__expandable-wrapper {
    width: 100%;
    min-width: 120px;
    position: absolute;
    top: 40px;
    background-color: white;
    border: 1px solid $color-secondary-light;
    border-radius: 4px;
    z-index: 2;
  }

  &__expanded-link {
    width: 100%;
    display: inline-block;
    text-align: center;
  }

  &__link-wrapper {
    display: inline-block;
    position: relative;

    &:not(:last-child) {
      margin-right: 20.5px;
    }
  }
}