mixin navigation(settings)
  - const {
  -   links = [
  -     { "text": "For change", "type": "text_bold" },
  -     { "text": "For change" },
  -     { "text": "For change" },
  -     { "text": "For change" }
  -   ]
  - } = settings
  nav.navigation
    each link in links
      - const {
      -   href = "./for-change",
      -   text = "For change",
      -   type = "",
      - } = link
      - const typeClass = type ? `navigation__link_${type}` : ""
      .navigation__link-wrapper
          a(class=["navigation__link", typeClass] href=href)= text