mixin navigation(settings)
  - const {
  -   links = [
  -     { text: "For change", isBold: true },
  -     { text: "For change" },
  -     { text: "For change" },
  -     { text: "For change" }
  -   ]
  - } = settings
  nav.navigation
    each link in links
      - const {
      -   href = "./for-change",
      -   text = "For change",
      -   isBold = false,
      -   isExpandable = false,
      - } = link
      - const boldClass = isBold ? "navigation__link_text_bold" : ""
      - const expandableClass = isExpandable ? "navigation__link_type_expandable" : ""
      div.navigation__link-wrapper
        a(class=["navigation__link", boldClass, expandableClass] href=href)= text