+room-card({
  jsClass: "js-room-card",
  images: [
    {
      src: "img/888.jpg",
      alt: "Photo of the room"
    },
    {
      src: "img/room-slider.jpg",
      alt: "Photo of the room"
    },
    {
      src: "img/888.jpg",
      alt: "Photo of the room"
    },
    {
      src: "img/room-slider.jpg",
      alt: "Photo of the room"
    }
  ],
  roomInfo: {
    number: "888",
    price: "9 990",
    type: "luxury"
  },
  starRate: { rate: "5", jsClass: "js-star-rate" },
  rateCounter: { value: "145" }
})
+room-card({
  jsClass: "js-room-card-2",
  images: [
    {
      src: "img/840.jpg",
      alt: "Photo of the room"
    },
    {
      src: "img/room-slider.jpg",
      alt: "Photo of the room"
    },
    {
      src: "img/840.jpg",
      alt: "Photo of the room"
    },
    {
      src: "img/room-slider.jpg",
      alt: "Photo of the room"
    }
  ],
  roomInfo: {
    number: "840",
    price: "9 900",
    type: false
  },
  starRate: { rate: "4", jsClass: "js-star-rate-2" },
  rateCounter: { value: "65" }
})
+room-card({
  jsClass: "js-room-card-3",
  images: [
    {
      src: "img/980.jpg",
      alt: "Photo of the room"
    },
    {
      src: "img/room-slider.jpg",
      alt: "Photo of the room"
    },
    {
      src: "img/980.jpg",
      alt: "Photo of the room"
    },
    {
      src: "img/room-slider.jpg",
      alt: "Photo of the room"
    }
  ],
  roomInfo: {
    number: "980",
    price: "8 500",
    type: "luxury"
  },
  starRate: { rate: "3", jsClass: "js-star-rate-3" },
  rateCounter: { value: "35" }
})
+room-card({
  jsClass: "js-room-card-4",
  images: [
    {
      src: "img/856.jpg",
      alt: "Photo of the room"
    },
    {
      src: "img/room-slider.jpg",
      alt: "Photo of the room"
    },
    {
      src: "img/856.jpg",
      alt: "Photo of the room"
    },
    {
      src: "img/room-slider.jpg",
      alt: "Photo of the room"
    }
  ],
  roomInfo: {
    number: "856",
    price: "7 300",
    type: false
  },
  starRate: { rate: "5", jsClass: "js-star-rate-4" },
  rateCounter: { value: "19" }
})
+room-card({
  jsClass: "js-room-card-5",
  images: [
    {
      src: "img/740.jpg",
      alt: "Photo of the room"
    },
    {
      src: "img/room-slider.jpg",
      alt: "Photo of the room"
    },
    {
      src: "img/740.jpg",
      alt: "Photo of the room"
    },
    {
      src: "img/room-slider.jpg",
      alt: "Photo of the room"
    }
  ],
  roomInfo: {
    number: "740",
    price: "6 000",
    type: false
  },
  starRate: { rate: "4", jsClass: "js-star-rate-5" },
  rateCounter: { value: "44" }
})
+room-card({
  jsClass: "js-room-card-6",
  images: [
    {
      src: "img/982.jpg",
      alt: "Photo of the room"
    },
    {
      src: "img/room-slider.jpg",
      alt: "Photo of the room"
    },
    {
      src: "img/982.jpg",
      alt: "Photo of the room"
    },
    {
      src: "img/room-slider.jpg",
      alt: "Photo of the room"
    }
  ],
  roomInfo: {
    number: "982",
    price: "5 800",
    type: false
  },
  starRate: { rate: "3", jsClass: "js-star-rate-6" },
  rateCounter: { value: "56" }
})
+room-card({
  jsClass: "js-room-card-7",
  images: [
    {
      src: "img/678.jpg",
      alt: "Photo of the room"
    },
    {
      src: "img/room-slider.jpg",
      alt: "Photo of the room"
    },
    {
      src: "img/678.jpg",
      alt: "Photo of the room"
    },
    {
      src: "img/room-slider.jpg",
      alt: "Photo of the room"
    }
  ],
  roomInfo: {
    number: "678",
    price: "5 500",
    type: false
  },
  starRate: { rate: "5", jsClass: "js-star-rate-7" },
  rateCounter: { value: "45" }
})
+room-card({
  jsClass: "js-room-card-8",
  images: [
    {
      src: "img/450.jpg",
      alt: "Photo of the room"
    },
    {
      src: "img/room-slider.jpg",
      alt: "Photo of the room"
    },
    {
      src: "img/450.jpg",
      alt: "Photo of the room"
    },
    {
      src: "img/room-slider.jpg",
      alt: "Photo of the room"
    }
  ],
  roomInfo: {
    number: "450",
    price: "5 300",
    type: false
  },
  starRate: { rate: "4", jsClass: "js-star-rate-8" },
  rateCounter: { value: "39" }
})
+room-card({
  jsClass: "js-room-card-9",
  images: [
    {
      src: "img/350.jpg",
      alt: "Photo of the room"
    },
    {
      src: "img/room-slider.jpg",
      alt: "Photo of the room"
    },
    {
      src: "img/350.jpg",
      alt: "Photo of the room"
    },
    {
      src: "img/room-slider.jpg",
      alt: "Photo of the room"
    }
  ],
  roomInfo: {
    number: "350",
    price: "5 000",
    type: false
  },
  starRate: { rate: "3", jsClass: "js-star-rate-9" },
  rateCounter: { value: "77" }
})
+room-card({
  jsClass: "js-room-card-10",
  images: [
    {
      src: "img/666.jpg",
      alt: "Photo of the room"
    },
    {
      src: "img/room-slider.jpg",
      alt: "Photo of the room"
    },
    {
      src: "img/666.jpg",
      alt: "Photo of the room"
    },
    {
      src: "img/room-slider.jpg",
      alt: "Photo of the room"
    }
  ],
  roomInfo: {
    number: "666",
    price: "5 000",
    type: false
  },
  starRate: { rate: "5", jsClass: "js-star-rate-10" },
  rateCounter: { value: "25" }
})
+room-card({
  jsClass: "js-room-card-11",
  images: [
    {
      src: "img/444.jpg",
      alt: "Photo of the room"
    },
    {
      src: "img/room-slider.jpg",
      alt: "Photo of the room"
    },
    {
      src: "img/444.jpg",
      alt: "Photo of the room"
    },
    {
      src: "img/room-slider.jpg",
      alt: "Photo of the room"
    }
  ],
  roomInfo: {
    number: "444",
    price: "5 000",
    type: false
  },
  starRate: { rate: "3", jsClass: "js-star-rate-11" },
  rateCounter: { value: "15" }
})
+room-card({
  jsClass: "js-room-card-12",
  images: [
    {
      src: "img/352.jpg",
      alt: "Photo of the room"
    },
    {
      src: "img/room-slider.jpg",
      alt: "Photo of the room"
    },
    {
      src: "img/352.jpg",
      alt: "Photo of the room"
    },
    {
      src: "img/room-slider.jpg",
      alt: "Photo of the room"
    }
  ],
  roomInfo: {
    number: "352",
    price: "5 000",
    type: false
  },
  starRate: { rate: "3", jsClass: "js-star-rate-11" },
  rateCounter: { value: "55" }
})