mixin positive-feature(settings)
  - const {
  -   img: {
  -     attr = {
  -       alt: "For Change",
  -       src: "img/forChange.jpg"
  -     } 
  -   },
  -   text: {
  -     title = "For change",
  -     description = "Description for change"
  -   }
  - } = settings
  - let { border = false } = settings
  - if(border) border=`positive-feature_${border}`
  div(class=["positive-feature", border])
    img(class="positive-feature__img")&attributes(attr)
    .positive-feature__text-wrapper
      p.positive-feature__title=title
      p.positive-feature__description=description