include __text/positive-feature__text.pug
include __img/positive-feature__img.pug
include __title/positive-feature__title.pug
include __description/positive-feature__description.pug

mixin positive-feature(settings)
  - let border = ""
  - if(settings) {
  -   settings.hasOwnProperty("border") ? border=`positive-feature_${settings.border}` : border=""
  - };
  div(class="positive-feature" class=border)
    block