mixin positive-feature(settings)
  - let {
  -   border = false,
  -   img: {
  -     attr: imgAttr = {
  -       alt: "For Change",
  -       src: "img/forChange.jpg"
  -     } 
  -   },
  -   text: {
  -     title: titleText = "For change",
  -     description: descriptionText = "Description for change"
  -   }
  - } = settings
  - if(border) border=`positive-feature_${border}`
  div(class="positive-feature" class=border)
    img(class="positive-feature__img")&attributes(imgAttr)
    .positive-feature__text-wrapper
      p.positive-feature__title=titleText
      p.positive-feature__description=descriptionText