mixin positive-feature(settings)
  - let border = ""
  - let img = {
  -   attr: {
  -     alt: "For Change",
  -     src: "img/forChange.jpg"
  -   } 
  - }
  - let text = {
  -   title: "For change",
  -   desc: "Description for change"
  - }
  - if(settings) {
  -   if(settings.hasOwnProperty("border")) border=`positive-feature_${settings.border}`
  -   if(settings.hasOwnProperty("img")) {
  -     if(settings.img.hasOwnProperty("attr")) img.attr = settings.img.attr
  -   }
  -   if(settings.hasOwnProperty("text")) {
  -     if(settings.text.hasOwnProperty("title")) text.title = settings.text.title
  -     if(settings.text.hasOwnProperty("desc")) text.desc = settings.text.desc
  -   }
  - };
  div(class="positive-feature" class=border)
    img(class="positive-feature__img")&attributes(img.attr)
    .positive-feature__text-wrapper
      p.positive-feature__title=text.title
      p.positive-feature__description=text.desc