mixin positive-feature(settings)
  - const {
  -   imgAttrs = {
  -     alt: "For Change",
  -     src: "./for-change",
  -   },
  -   title = "For change",
  -   description = "Description for change",
  -   isWithBorder = false,
  - } = settings
  - const borderClass = isWithBorder ? "positive-feature_with-border" : ""
  div(class=["positive-feature", borderClass])
    img(class="positive-feature__img")&attributes(imgAttrs)
    .positive-feature__text-wrapper
      p.positive-feature__title=title
      p.positive-feature__description=description