.color-sample__text-wrapper {
  display: inline-block;
  line-height: 28px;
  padding: 7px 0px;
  vertical-align: top;
  margin-left: 40px;
}
.color-sample___title {
  margin: 0;
}
.color-sample___rgb{
  margin: 0;
  font-weight: 400;
}