include ../../blocks/header/header.pug
include ../../blocks/logo/logo.pug
include ../../blocks/navigation/navigation.pug
include ../../blocks/button/button.pug
include ../../blocks/footer/footer.pug
include ../../blocks/social-media-link/social-media-link.pug
include ../../blocks/copyright/copyright.pug
include ../../blocks/input/input.pug
include ../../blocks/final-booking/final-booking.pug
include ../../blocks/room-information/room-information.pug
include ../../blocks/positive-feature/positive-feature.pug
include ../../blocks/impressions-diagram/impressions-diagram.pug
include ../../blocks/user-comment/user-comment.pug
include ../../blocks/toggle/toggle.pug
include ../../blocks/list/list.pug
include ../../blocks/title/title.pug
include ../../blocks/datepicker/datepicker.pug
include ../../blocks/dropdown/dropdown.pug
include ../../blocks/page-head/page-head
include ../../blocks/page-header/page-header
include ../../blocks/page-footer/page-footer

+page-head({title: "Room Details", description: "Room Details page of the hotel room website."})
  body
    .room-details
      +page-header({ headerClass: ".room-details__header" })
      main.room-details__main
        .room-details__photos 
          img(src="../img/room-photo-big.jpg", alt="Room photo"  class="room-photo room-photo_size_large")
          .room-details__photos-wrapper
            img(src="../img/room-photo-small1.jpg", alt="Room photo" class="room-photo room-photo_corner_top-right")
            img(src="../img/room-photo-small2.jpg", alt="Room photo" class="room-photo room-photo_corner_bottom-right")
        .room-details__details
          .room-details__details-wrapper
            .room-details__final-booking
              +final-booking({
                roomInformation: {
                  number: "888",
                  price: "9 990",
                  type: "with-postfix"
                },
                period: {
                  from: {
                    title: "прибытие",
                    value: "19.08.2019",
                  },
                  to: {
                    title: "выезд",
                    value: "23.08.2019",
                  },
                  datepicker: {
                    jsClass: "js-datepicker",
                    dataYear: "2019",
                    dataMonth: "7",
                    dataCurrentDay: "2019, 8, 9",
                    dataFrom: "2019, 8, 19",
                    dataTo: "2019, 8, 23",
                  },
                },
                guests: {
                  title: { text: "гости" },
                  input: {
                    value: "3 гостя",
                  },
                  lists: [
                    {text: "взрослые", dataTarget: "adult", output: "2"},
                    {text: "дети", dataTarget: "child", output: "1"},
                    {text: "младенцы", dataTarget: "baby", output: "0"}
                  ]
                },
                serviceList: [
                  {
                    title: "9 990₽ х 4 суток",
                    price: "39 960₽"
                  },
                  {
                    title: "Сбор за услуги: скидка 2 179₽",
                    price: "0₽",
                    sign: true
                  },
                  {
                    title: "Сбор за дополнительные услуги",
                    price: "300₽",
                    sign: true
                  },
                  {
                    title: "Итого",
                    price: "38 081₽",
                    type: "total"
                  }
                ],
                confirm: { text: "забронировать"}
              })
            .room-details__content-wrapper
              .room-details__positive-features
                +title({
                  text: "Сведения о номере",
                  type: "size_regular",
                  teg: "h2"
                })
                +positive-feature({
                  border: "with-border",
                  img: {
                    attr: {
                      "alt": "Feeling comfortable",
                      "src": "../img/smile.svg"
                    }
                  },
                  text: {
                    title: "Комфорт",
                    description: "Шумопоглощающие стены"
                  }
                })
                +positive-feature({
                  border: "with-border",
                  img: {
                    attr: {
                      "alt": "Abstract image of a modern house",
                      "src": "../img/house.svg"
                    }
                  },
                  text: {
                    title: "Удобство",
                    description: "Окно в каждой из спален"
                  }
                })
                +positive-feature({
                  img: {
                    attr: {
                      "alt": "cozy flame",
                      "src": "../img/flame.svg"
                    }
                  },
                  text: {
                    title: "Уют",
                    description: "Номер оснащён камином"
                  }
                })
              .room-details__impressions
                .room-details__impression-title
                  +title({
                    text: "Впечатления от номера",
                    type: "size_regular",
                    teg: "h2"
                  })
                +impressions-diagram({
                  text: "",
                  lines: [
                    {text: "Великолепно", type: "color_yellow"},
                    {text: "Хорошо", type: "color_green"},
                    {text: "Удовлетворительно", type: "color_purple"},
                    {text: "Разочарован", type: "color_black"}
                  ]
                })
              .room-details__comments
                .room-details__comments-title
                  +title({
                    text: "Отзывы посетителей номера",
                    type: "size_regular",
                    length: "half",
                    teg: "h2"
                  })
                  span.room-details__comments-counter="2 отзыва"
                .room-details__comment
                  +user-comment({
                    title: {
                      imgAttr: {
                        "alt": "Profile picture",
                        "src": "../img/user.jpg"
                      },
                      name: "Мурад Сарафанов",
                      age: "5 дней назад"
                    },
                    main: {
                      toggle: {
                        checked: true,
                        text: "12"
                      },
                      text: "Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей."
                    }
                  })
                .room-details__comment
                  +user-comment({
                    title: {
                      imgAttr: {
                        "alt": "Profile picture",
                        "src": "../img/user2.jpg"
                      },
                      name: "Патрисия Стёклышкова",
                      age: "Неделю назад"
                    },
                    main: {
                      toggle: {
                        checked: false,
                        text: "2"
                      },
                      text: "Обслуживание на высоте! Всё аккуратно, чисто. Завтраки в номер советую заказать, каждый день новое блюдо и десерт как комплимент."
                    }
                  })
              .room-details__rules
                +list({
                  title: {
                    text: "Правила",
                    type: "size_regular",
                    bullet: true,
                    margin: true,
                    teg: "h2"
                  },
                  textList: [
                    "Нельзя с питомцами", "Без вечеринок и мероприятий", "Время прибытия — после 13:00, а выезд до 12:00"
                  ],
                  container: false,
                  js: false,
                })
              .room-details__cancellation
                .cancellation
                  .cancellation__title
                    +title({
                      text: "Отмена",
                      type: "size_regular",
                      teg: "h2"
                    })
                  p.cancellation__text="Бесплатная отмена в течение 48 ч. После этого при отмене не позднее чем за 5 дн. до прибытия вы получите полный возврат за вычетом сбора за услуги."
      +page-footer({footerClass: "room-details__footer"})