@import '../../common/mixins.scss';
@import '../../common/variables.scss';

.room-details {
  margin: 0;
  background: #f4f4f6;
  min-width: 320px;
  display: flex;
  flex-direction: column;
  min-height: 100%;

  &__main {
    flex: 1 0 auto;
    background-color: white;
  }

  &__photos {
    position: relative;
  }

  &__details {
    padding: 70px 138px 72px 137px;
    text-align: center;

    @media screen and (max-width: 1430px) {
      padding: 40px 35px;
    }

    @media screen and (max-width: 500px) {
      padding: 20px 10px;
    }

    @media screen and (max-width: 380px) {
      padding: 30px 0;
    }
  }

  &__details-wrapper {
    text-align: initial;
    display: inline-block;
  }

  &__content-wrapper {
    display: inline-block;
    max-width: 711px;

    @media screen and (max-width: 1220px) {
      text-align: center;
    }
  }

  &__final-booking {
    float: right;
    margin-left: 70px;

    @media screen and (max-width: 1220px) {
      float: none;
      text-align: center;
      margin: 0 0 35px 0;
    }
  }

  &__positive-features {
    display: inline-block;
    vertical-align: top;
    min-width: 280px;
    margin-right: 81px;
    text-align: initial;
    padding-left: 1px;

    @media screen and (max-width: 750px) {
      margin: 0;
    }
  }

  &__impressions {
    text-align: initial;
    display: inline-block;

    @media screen and (max-width: 750px) {
      display: block;
      max-width: 311px;
      margin: 30px auto 0;
    }
  }

  &__impression-title {
    margin-bottom: 20px;
  }

  &__rules {
    margin-top: 33px;
    display: inline-block;
    vertical-align: top;
    margin-right: 101px;
    text-align: initial;

    @media screen and (max-width: 380px) {
      margin-right: 0;
      width: 100%;
      padding: 0 5px;
    }
  }

  &__cancellation {
    display: inline-block;
    max-width: 341px;
    margin-top: 30px;
    vertical-align: top;
    text-align: initial;

    @media screen and (max-width: 380px) {
      width: 100%;
      padding: 0 5px;
    }
  }

  &__photos-wrapper {
    display: inline-block;
    position: absolute;
    right: 0;
    max-width: 31.88%;
    height: 100%;
  }

  &__comments-counter {
    @include text_type($mont, 14px, 400, 19px, $dark50);
    display: inline-block;
    vertical-align: bottom;
    text-align: right;
    width: 50%;
  }

  &__comments {
    margin-top: 13px;
    text-align: initial;
  }

  &__comments-title {
    margin-bottom: 20px;

    @media screen and (max-width: 380px) {
      padding: 0 5px;
    }
  }

  &__comment {
    &:not(:last-of-type) {
      margin-bottom: 23px;
    }

    @media screen and (max-width: 380px) {
      padding: 0 5px;
    }
  }

  &__footer {
    flex: 0 0 auto;
    border-top: 1px solid $dark25;
  }
}

.room-photo {
  height: 50%;
  vertical-align: top;

  &_size_large {
    width: 68.13%;
    display: inline-block;
    vertical-align: top;
  }

  &_corner_top-right,
  &_corner_bottom-right {
    width: 100%;
  }
}

.cancellation {
  &__title {
    margin: 3px 0 17px;
  }

  &__text {
    margin: 0;
    @include text_type($mont, 14px, 400, 24px, $dark75);
  }
}
