include ../../blocks/header/header.pug
include ../../blocks/logo/logo.pug
include ../../blocks/navigation/navigation.pug
include ../../blocks/button/button.pug
include ../../blocks/footer/footer.pug
include ../../blocks/social-media-link/social-media-link.pug
include ../../blocks/copyright/copyright.pug
include ../../blocks/input/input.pug
include ../../blocks/search-room/search-room.pug
include ../../blocks/dropdown/dropdown.pug
include ../../blocks/datepicker/datepicker.pug
include ../../blocks/title/title.pug
include ../../blocks/page-head/page-head
include ../../blocks/page-header/page-header
include ../../blocks/page-footer/page-footer
include ../../blocks/text-button/text-button
include ../../blocks/confirm-button/confirm-button

+page-head({title: "Landing Page", description: "Landing page of the hotel room website."})
  body
    header.landing-page__header.js-landing-page__header
      +page-header()
    main.landing-page__main
      div.landing-page__search-room.js-landing-page__search-room
        +search-room({
          title: {text: "Найдём номера под ваши пожелания"},
          period: {
            from: {
              title: "прибытие",
              value: "ДД.ММ.ГГГГ",
            },
            to: {
              title: "выезд",
              value: "ДД.ММ.ГГГГ",
            },
          },
          guests: {
            title: { text: "гости" },
            input: {
              value: "Сколько гостей",
            },
            lists: [
              {text: "взрослые", dataTarget: "adult", output: "0"},
              {text: "дети", dataTarget: "child", output: "0"},
              {text: "младенцы", dataTarget: "baby", output: "0"}
            ]
          },
          confirm: {text: "подобрать номер"}
        })
      p.landing-page__main-text="Лучшие номера для вашей работы, отдыха и просто вдохновения"
    footer.landing-page__footer
      +page-footer()