@import '../../overall/variables.scss';
@import '../../overall/mixins.scss';
@import '../../fonts/fonts.scss';
@import '../../blocks/header/header.scss';
@import '../../blocks/logo/logo.scss';
@import '../../blocks/navigation/navigation.scss';
@import '../../blocks/button/button.scss';
@import '../../blocks/footer/footer.scss';
@import '../../blocks/social-media-link/social-media-link.scss';
@import '../../blocks/copyright/copyright.scss';
@import '../../blocks/input/input.scss';
@import '../../blocks/search-room/search-room.scss';
@import '../../blocks/dropdown/dropdown.scss';
@import '../../blocks/datepicker/datepicker.scss';
@import '../../blocks/title/title.scss';

html,
body {
  margin: 0;
  min-width: 320px;
  height: 100%;
}

.landing-page {
  margin: 0;
  background: #f4f4f6;
  min-width: 320px;
  display: flex;
  flex-direction: column;
  min-height: 100%;

  &__main {
    background: url('../../img/landing-main.jpg');
    flex: 1 0 auto;
    background-position-y: -70px;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 70px 140px;
    box-sizing: border-box;
    min-height: 830px;
    position: relative;

    @media screen and (max-width: 700px) {
      padding: 70px 50px;
    }

    @media screen and (max-width: 500px) {
      padding: 70px 0 90px;
      text-align: center;
      min-height: auto;
    }

    @media screen and (max-width: 1439px) {
      background-position: center;
    }

    @media screen and (min-height: 1355px) {
      background-position: center;
    }
  }

  &__main-text {
    @include text_type($mont, 14px, 400, 24px, $dark75);
    text-align: right;
    position: absolute;
    bottom: 7px;
    right: 0;
    max-width: 297px;
    margin-right: 134px;

    @media screen and (max-width: 500px) {
      margin-right: 30px;
    }
  }

  &__footer {
    flex: 0 0 auto;
  }
}

.search-room {
  @media screen and (max-width: 500px) {
    display: inline-block;
  }
}