.input__label {
  &_type_dropdown {
    &::after {
      content: '';
      background-image: url('img/input-dropdown.svg');
      background-repeat: no-repeat;
      background-position-x: 16px;
      background-position-y: 17px;
      position: absolute;
      right: 0px;
      top: 1px;
      width: 44px;
      height: 42px;
      text-align: center;
      box-sizing: border-box;
    }
  }
  &_type_submit {
    &::after {
      background-image: url('img/arrow-forward.svg');
      background-position-x: 14px;
      background-position-y: 11px;
      content: '';
      background-repeat: no-repeat;
      position: absolute;
      right: 0px;
      top: 1px;
      width: 44px;
      height: 42px;
      text-align: center;
      box-sizing: border-box;
    }
  }
}