.room-gallery {
  display: flex;

  &__small-photos {
    display: flex;
    width: 31.9%;
    flex-direction: column;

    @media screen and (max-width: 800px) {
      width: 100%;
      flex-direction: row;
    }
  }

  &__photo {
    &_position {
      &_main {
        width: 68.1%;

        @media screen and (max-width: 800px) {
          width: 100%;
        }
      }

      &_top,
      &_bottom {
        @media screen and (max-width: 800px) {
          width: 50%;
        }
      }
    }
  }

  @media screen and (max-width: 800px) {
    flex-direction: column;
  }
}

