.datepicker_size {
  &_m {
    width: 266px;
    padding: 8px 8px 8px 7px;
    .calendar .calendar__cell {
      width: 35px;
      height: 35px;
      line-height: 35px;
    }
    .datepicker__selected-month {
      min-width: 201px;
    }
  }
}