mixin dropdown__button(settings)
  - let type = ""
  - let text = ""
  - let attr = ""
  - let transparent = false
  - if(settings) {
  -   settings.hasOwnProperty("text") ? text = settings.text : text = ""
  -   settings.hasOwnProperty("attr") ? attr = settings.attr : attr = ""
  -   settings.hasOwnProperty("type") ? type = `dropdown__button_type_${settings.type}` : type = ""
  -   if(settings.hasOwnProperty("transparent")) {
  -     settings.transparent === true ? transparent = true : transparent = false
  -   }
  - }
  if transparent 
    button(class="dropdown__button dropdown__button_transparent" type="button" class=`${type}`)&attributes(attr)=text
  else
    button(class="dropdown__button" type="button" class=`${type}`)&attributes(attr)=text