mixin list__title(settings)
  - let jsCLass = ""
  - let text = ""
  - let type = ""
  - let bullet = false
  - let teg = "p"
  - if(settings) {
  -   settings.hasOwnProperty("jsClass") ? jsClass = settings.jsClass : jsClass=""
  -   settings.hasOwnProperty("text") ? text = settings.text : text=""
  -   settings.hasOwnProperty("type") ? type = settings.type : type=""
  -   settings.hasOwnProperty("bullet") && settings.bullet === true ? bullet = true : bullet = false
  -   settings.hasOwnProperty("teg") ? teg = settings.teg : teg = "p"
  - }
  if bullet 
    div(class="list__title list__title_bullet")
      +title({
        text: text,
        type: type,
        jsClass: jsClass,
        teg: teg
      })
  else 
    div(class="list__title")
      +title({
        text: text,
        type: type,
        jsClass: jsClass,
        teg: teg
      })