include __title/slider__title.pug
include __output/slider__output.pug
include __body/slider__body.pug
include __description/slider__description.pug

mixin slider(settings)
  div(class="slider")
    block