mixin slider(settings)
  - let {
  -   title: {
  -     text: titleText= "For change"
  -   },
  -   output: {
  -     jsClass: outputJs = "js-for-change"
  -   },
  -   container: {
  -     jsClass: containerJs = "js-for-change"
  -   },
  -   description: {
  -     text: descriptionText = false 
  -   }
  - } = settings
  div(class="slider")
    .slider__title
      .slider__title-text
        +title({text: titleText})
      output(class="slider__output" class=outputJs)
    div(class="slider__body" class=containerJs)
    if descriptionText
      p.slider__description=descriptionText