@import '../../common/mixins.scss';
@import '../../common/variables';

.slider {
  &__body {
    height: 6px;
    border-radius: 3px;
    border: 1px solid $color-main-lighter;
  }

  &__description {
    margin: 14px 0 0;
    @include text_type($main-font, 12px, 400, 14px, $color-main-light);
  }

  &__output {
    display: inline-block;
    line-height: 15px;
    width: 50%;
    font-weight: 400;
    color: $color-main-light;
    text-align: right;
    font-size: 13px;
    letter-spacing: -0.5px;
  }

  &__title {
    line-height: 15px;
    margin: 0 0 21px;
    @include text_type($main-font, 14px, 400, 20px, $color-main-dark);
  }

  &__title-text {
    width: 50%;
    display: inline-block;
  }
}

.ui-slider .ui-slider-handle {
  box-sizing: initial;
  outline: none;
  top: -6px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: 2px solid white;
  background: linear-gradient(180deg, $secondary-interactive-color 0%, #66d2ea 100%);
}

.ui-slider .ui-slider-range {
  box-sizing: initial;
  height: 6px;
  top: -1px;
  background: linear-gradient(180deg, $secondary-interactive-color 0%, #66d2ea 100%);
}