mixin slider(settings)
  - let title = {
  -   text: "For change"
  - }
  - let output = {
  -   jsClass: ""
  - }
  - let container = {
  -   jsClass: ""
  - }
  - let description= {
  -   text: false 
  - }
  - if(settings) {
  -   if(settings.title && settings.title.hasOwnProperty("text")) title.text = settings.title.text
  -   if(settings.output && settings.output.hasOwnProperty("jsClass")) output.jsClass = settings.output.jsClass
  -   if(settings.container && settings.container.hasOwnProperty("jsClass")) container.jsClass = settings.container.jsClass
  -   if(settings.description && settings.description.hasOwnProperty("text")) description.text = settings.description.text
  - }
  div(class="slider")
    .slider__title
      .slider__title-text
        +title({text: title.text})
      output(class="slider__output" class=output.jsClass)
    div(class="slider__body" class=container.jsClass)
    if description.text
      p.slider__description=description.text