mixin slider(settings)
  - const {
  -   title = "For change",
  -   outputJs = "js-for-change",
  -   containerJs = "js-for-change",
  -   description = false
  - } = settings
  div(class="slider")
    .slider__title
      .slider__title-text
        +title({text: title})
      output(class=["slider__output", outputJs])
    div(class=["slider__body", containerJs])
    if descriptionText
      p.slider__description=description