mixin slider(settings)
  - const {
  -   title = "For change",
  -   description = ""
  - } = settings
  div.slider
    div.slider__title
      div.slider__title-text
        +title({text: title})
      output.slider__output.js-slider__output
    div.slider__body.js-slider__body
    if description
      p.slider__description=description