@import '../../common/mixins.scss';
@import '../../common/variables';

.dropdown-input {
  position: relative;

  &__title {
    margin-bottom: 5px;
  }

  &__field {
    @include text_type($main-font, 14px, 400, 18px, $color-main-dark);
    width: 266px;
    height: 44px;
    border: 1px solid $color-main-lighter;
    border-radius: 4px;
    outline: none;
    cursor: pointer;
    position: relative;
    vertical-align: top;
    text-overflow: ellipsis;
    padding: 11px 44px 12px 14px;

    &_length {
      &_long {
        width: 320px;

        @media screen and (max-width: 420px) {
          width: 266px;
        }
      }

      &_short {
        width: 150px;
        display: inline-block;
        padding: 10px 14px 13px;

        @media screen and (max-width: 420px) {
          width: 266px;
        }
      }
    }

    &_expanded {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
      border: 1px solid $color-main-light;
    }

    &:hover {
      border-color: $color-main-light;
    }
  }

  &__wrapper {
    display: inline-block;
    position: relative;

    &::after {
      content: '';
      background-image: url('../../img/input-dropdown.svg');
      background-repeat: no-repeat;
      background-position-x: 16px;
      background-position-y: 18px;
      position: absolute;
      right: 0;
      top: 1px;
      width: 44px;
      height: 42px;
      text-align: center;
    }
  }
}