mixin footer__subscribe(settings)
  - let title = ""
  - let text = ""
  - if (settings) {
  -   settings.hasOwnProperty("title") ? title = settings.title : title = ""
  -   settings.hasOwnProperty("text") ? text = settings.text : text = ""  
  - }
  .footer__subscribe
    +footer__title({title: title})
    +footer__text({text: text })   
    +input({
      attr: {
        "type": "email",
        "placeholder": "Email"
      },
      length: "m",
      type: "submit" 
    })
    