.footer__subscribe {
  display: inline-block;
  vertical-align: top;
  max-width: 260px;
  text-align: initial;
  .footer__title, .footer__text {
    max-width: 260px;
    line-height: 18px;
    box-sizing: border-box;
  }
  .input__field {
    width: 260px;
  }
  .footer__title {
    margin-bottom: 18px;
  }
  .footer__text {
    margin: 0;
    line-height: 24px;
    margin-bottom: 20px;
  }
}