@import '../../common/mixins.scss';
@import '../../common/variables';

.button {
  display: flex;

  &__control {
    @include text_type($main-font, 12px, 700, 15px, white);
    background: linear-gradient(180deg, $main-interactive-color 0%, #8ba4f9 100%);
    border-radius: 22px;
    padding: 14px 19px 15px;
    text-transform: uppercase;
    outline: none;
    cursor: pointer;
    user-select: none;
    border: none;

    &_transparent {
      opacity: 0.5;
    }

    &_size_small {
      padding: 9px 21px 10px 19px;
    }

    &_type {
      &_border {
        width: calc(100% - 4px);
        padding: 12px 16px 13px;
        background: white;
        color: $main-interactive-color;
        margin: 2px;
        border-radius: 22px;

        &:hover {
          opacity: 1;
        }
      }
    }

    &:hover {
      opacity: 0.5;
    }
  }

  &__border {
    flex-basis: 100%;
    background: linear-gradient(180deg, $main-interactive-color 0%, #8ba4f9 100%);
    border-radius: 22px;
    display: inline-block;
    min-width: 87px;

    &:hover,
    &_transparent {
      background: linear-gradient(180deg, #deceff 0%, #c5d2fc 100%);
    }
  }

  &__border > &__control_size_small {
    padding: 7px 18px 8px;
  }
}
