mixin button(settings)
  - const {
  -   text = "For Change",
  -   isBorder = false,
  -   isSmall = false,
  -   isTransparent = false,
  - } = settings
  - const isTransparentBorder = isTransparent && isBorder
  - const isTransparentBody = isTransparent && !isBorder
  - const transparentBorderClass = isTransparentBorder ? "button__border_transparent" : ""
  - const transparentClass = isTransparentBody ? "button__control_transparent" : ""
  - const sizeClass = isSmall ? "button__control_size_small" : ""
  - const borderClass = isBorder ? "button__control_type_border" : ""
  case isBorder
    when true
      div.button
        div(class=["button__border", transparentBorderClass])
          button(class=["button__control", borderClass, typeClass, sizeClass] value=text)= text
    default
      div.button
        button(class=["button__control", typeClass, transparentClass, sizeClass] value=text)= text