mixin button(settings)
  - const {
  -   text = "For Change",
  -   type = "regular",
  -   navigationModifier = "",
  -   isConfirmAttr = false,
  -   isSmall = false,
  -   isTransparent = false,
  - } = settings
  - const isTransparentBorder = isTransparent && type === "border"
  - const isTransparentBody = isTransparent && type !== "border"
  - const attrType = isConfirmAttr ? "confirm" : "button"
  - const confirmWrapperClass = type === 'confirm' ? "button_type_confirm " : ""
  - const transparentBorderClass = isTransparentBorder ? "button__border-mimic_transparent" : ""
  - const transparentClass = isTransparentBody ? "button__control_transparent" : ""
  - const sizeClass = isSmall ? "button__control_size_small" : ""
  - const typeClass = `button__control_type_${type}`
  - const navigationClass = navigationModifier ? `button__control_${navigationModifier}` : ""
  case type
    when "border"
      div.button
        div(class=["button__border-mimic", transparentBorderClass])
          button(class=["button__control", typeClass, navigationClass, sizeClass] value=text type=attrType)= text
    default
      div(class=["button", confirmWrapperClass])
        button(class=["button__control", typeClass, transparentClass, navigationClass, sizeClass] value=text type=attrType)= text