mixin content-navigation(settings)
  - const {
  -   title = "",
  -   counter = "",
  - } = settings
  - const buttonsSettings = [
  -   {
  -     type: "purpose_previous",
  -     navigationModifier: "arrow_back"
  -   },
  -   {
  -     type: "active",
  -     text: "1",
  -     navigationModifier: "color_purple"
  -   },
  -   {
  -     type: "decorative",
  -     text: "...",
  -   },
  -   {
  -     text: "2",
  -   },
  -   {
  -     text: "3",
  -   },
  -   {
  -     text: "4",
  -   },
  -   {
  -     type: "decorative",
  -     text: "...",
  -   },
  -   {
  -     text: "15",
  -   },
  -   {
  -     type: "purpose_next",
  -     navigationModifier: "arrow_forward"
  -   },
  - ]
  div.content-navigation.js-content-navigation
    if title
      div.content-navigation__title
        +title({text: title})
    ul.content-navigation__buttons
      each button in buttonsSettings
        - const {
        -   text = "",
        -   navigationModifier = "",
        -   type = ""
        - } = button
        - const typeClass = type ? `content-navigation__button_${type}` : ""
        li(class=["content-navigation__button", typeClass])
          +button({
            type: "pagination",
            text: text,
            navigationModifier: navigationModifier,
          })
    if counter
      p.content-navigation__counter=counter