mixin content-navigation(settings)
  - const {
  -   title = false,
  -   jsClass = "js-for-change",
  -   counter = "For Change"
  - } = settings
  - const buttons = [
  -   {
  -     type: "purpose_previous",
  -     modifierClass: "arrow_back"
  -   },
  -   {
  -     type: "active",
  -     text: "1",
  -     modifierClass: "color_purple"
  -   },
  -   {
  -     type: "decorative",
  -     text: "...",
  -   },
  -   {
  -     text: "2",
  -   },
  -   {
  -     text: "3",
  -   },
  -   {
  -     text: "4",
  -   },
  -   {
  -     type: "decorative",
  -     text: "...",
  -   },
  -   {
  -     text: "15",
  -   },
  -   {
  -     type: "purpose_next",
  -     modifierClass: "arrow_forward"
  -   },
  - ]
  div(class=["content-navigation", jsClass])
    if title 
      .content-navigation__title
        +title({text: title})
    ul.content-navigation__buttons
      each button in buttons
        - let {
        -   type = false,
        -   text = "",
        -   modifierClass = false
        - } = button
        - if (type) type=`content-navigation__button_${type}`
        li(class=["content-navigation__button", type])
          +button({
            type: "pagination",
            text: text,
            attr: {"type": "button"},
            modifierClass: modifierClass
          })
    if counter
      p.content-navigation__counter=counter