@import '../../common/mixins.scss';
@import '../../common/variables';

.content-navigation {
  display: inline-block;
  &__decorative-button,
  &__button {
    display: inline-block;
  }

  &__buttons {
    margin: 0;
    padding: 0;
  }

  &__counter {
    @include text_type($mont, 14px, 400, 24px, $dark75);
    margin: 9px 0 0;
    text-align: center;
  }

  &__title {
    margin-bottom: 20px;
  }
}
