mixin content-navigation(settings)
  - const {
  -   titleText = "",
  -   counterText = "",
  - } = settings
  - const buttonsSettings = [
  -   {
  -     type: "purpose_previous",
  -     navigationClass: "arrow_back"
  -   },
  -   {
  -     type: "active",
  -     text: "1",
  -     navigationClass: "color_purple"
  -   },
  -   {
  -     type: "decorative",
  -     text: "...",
  -   },
  -   {
  -     text: "2",
  -   },
  -   {
  -     text: "3",
  -   },
  -   {
  -     text: "4",
  -   },
  -   {
  -     type: "decorative",
  -     text: "...",
  -   },
  -   {
  -     text: "15",
  -   },
  -   {
  -     type: "purpose_next",
  -     navigationClass: "arrow_forward"
  -   },
  - ]
  div(class="content-navigation js-content-navigation")
    if titleText
      .content-navigation__title
        +title({text: titleText})
    ul.content-navigation__buttons
      each button in buttonsSettings
        - const {
        -   text = "",
        -   navigationClass = false
        - } = button
        - let { type = "" } = button
        - if (type) type=`content-navigation__button_${type}`
        li(class=["content-navigation__button", type])
          +button({
            type: "pagination",
            text: text,
            navigationClass: navigationClass,
          })
    if counterText
      p.content-navigation__counter=counterText