mixin content-navigation(settings)
  - const {
  -   title = "",
  -   counter = "",
  - } = settings
  - const buttonsSettings = [
  -   {
  -     type: "active",
  -     text: "1",
  -     color: "purple",
  -   },
  -   {
  -     type: "decorative",
  -     text: "...",
  -   },
  -   {
  -     text: "2",
  -   },
  -   {
  -     text: "3",
  -   },
  -   {
  -     text: "4",
  -   },
  -   {
  -     type: "decorative",
  -     text: "...",
  -   },
  -   {
  -     text: "15",
  -   },
  - ]
  div.content-navigation.js-content-navigation
    if title
      div.content-navigation__title
        +title({text: title})
    div.content-navigation__buttons
      button.content-navigation__button.js-content-navigation__button.content-navigation__button_purpose_previous.content-navigation__button_arrow_back
      each button in buttonsSettings
        - const {
        -   text = "",
        -   type = "",
        -   color = ""
        - } = button
        - const typeClass = type ? `content-navigation__button_${type}` : ""
        - const colorClass = color ? `content-navigation__button_color_${color}` : ""
        button(class=["content-navigation__button", "js-content-navigation__button", typeClass, colorClass])=text
      button.content-navigation__button.js-content-navigation__button.content-navigation__button_purpose_next.content-navigation__button_arrow_forward
    if counter
      p.content-navigation__counter.js-content-navigation__counter=counter