mixin impressions-diagram(settings)
  - const {
  -   voteCount = "000 голосов",
  -   colorDescription = [
  -     { text: "For change 1", color: "yellow" },
  -     { text: "For change 2", color: "green" },
  -     { text: "For change 3", color: "purple" },
  -     { text: "For change 4", color: "black" }
  -   ]
  - } = settings
  div.impressions-diagram
    div.impressions-diagram__reviews-wrapper
      p.impressions-diagram__reviews-counter=voteCount
    ul.impressions-diagram__description
      each description in colorDescription
        - const {
        -   text = "For change",
        -   color = "black"
        -  } = description
        - const colorClass = color ? `impressions-diagram__description-line_color_${color}` : ""
        li(class=["impressions-diagram__description-line", colorClass])=text