@import '../../common/mixins.scss';
@import '../../common/variables';

.impressions-diagram {
  &__description {
    @include text_type($mont, 14px, 400, 24px, $dark75);
    display: inline-block;
    margin: 27px 0 0 30px;
    padding: 0;
    vertical-align: top;

    @media screen and (max-width: 380px) {
      margin: 0 0 0 15px;
    }
  }

  &__description-line {
    list-style: none;

    &::before {
      content: '';
      width: 10px;
      height: 10px;
      border-radius: 50%;
      display: inline-block;
      margin-right: 5px;
    }

    &_color_yellow::before {
      background: linear-gradient(180deg, #ffe39c 0%, #ffba9c 100%);
    }

    &_color_green::before {
      background: linear-gradient(180deg, #6fcf97 0%, #66d2ea 100%);
    }

    &_color_purple:before {
      background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
    }

    &_color_black::before {
      background: linear-gradient(180deg, #919191 0%, #3d4975 100%);
    }
  }

  &__reviews-wrapper {
    background-image: url('../../img/diagram.svg');
    width: 120px;
    height: 120px;
    display: inline-block;
  }
}
