mixin impressions-diagram(settings)
  - let {
  -   text = "000 голосов",
  -   lines = [
  -     {text: "For change 1", type: "perfectly"},
  -     {text: "For change 2", type: "good"},
  -     {text: "For change 3", type: "satisfactorily"},
  -     {text: "For change 4", type: "disappointed"}
  -   ]
  - } = settings
  .impressions-diagram
    .impressions-diagram__reviews-wrapper
      p.impressions-diagram__reviews-count=text
    ul.impressions-diagram__description 
      each line in lines 
        - let {
        -   text: lineText,
        -   type: lineType
        - } = line
        - if (lineType) lineType = `impressions-diagram__description-line_${lineType}`
        li(class="impressions-diagram__description-line" class=lineType)=lineText