include __reviews-count/impressions-diagram__reviews-count.pug
include __description/impressions-diagram__description.pug

mixin impressions-diagram(settings)
  - let text = ""
  - let lines = []
  - if(settings) {
  -   settings.hasOwnProperty("text") ? text = settings.text : text = ""
  -   settings.hasOwnProperty("lines") ? lines = settings.lines : lines = []
  - }
  .impressions-diagram
    +impressions-diagram__reviews-count({text: text})
    +impressions-diagram__description({lines: lines})