%fields-generalrules {
  box-sizing: border-box;
  height: 44px;
  width: 320px;
  border-radius: 4px;
  border: 1px solid $dark25;
  padding-left: 15px;
};
%dropwond-generalrules {
  display: inline-block;
  color: $dark75;
  width: 100%;
  padding-top: 10px;
};
%dropdown-tick {
  &::after {
    content: url(../src/img/dropdown_tick.svg);
    float: right;
    width: 44px;
    text-align: center; 
  };
}
%dropdown-arrow {
  &::after {
    content: url(../src/img/dropdown_arrow.svg);
    cursor: pointer;
    float: right;
    width: 44px;
    display: inline-block;
    text-align: center; 
    vertical-align: 50%;
    position: relative;
    top: -30px;
  };
}
// ----------------------------------------------------------
.fields {
  width: 340px;
  height: 625px;
};
.margin20 {
  margin: 20px 0 5px 0;
};
.margin40 {
  margin: 40px 0 5px 0;
};
.text-field-body,.dropdown-guests-body {
  width: 320px;
};
.dropdown-date-filter-body, .text-field-subscription-body {
  width: 266px;
  .type-h3 {
    cursor: default;
  }
};
.dropdown-date-body {
  .type-h3 {
    cursor: default;
  }
  width: 150px;
  display: inline-block;
  margin-right: 20px;
};
.text-field {
  @extend %fields-generalrules;
  &::-webkit-input-placeholder {color: $dark25;}
  &:hover, &:focus {
    border-color: $dark50;
    &::-webkit-input-placeholder {color: $dark75;}
    outline: none;
  };
};
.arrow-block {
  @extend %dropdown-arrow;
};
.text-field-subscription {
  @extend %fields-generalrules, %dropwond-generalrules;
  padding: 0 0 0 15px;
};
.dropdown-guests-field-body {
  cursor: pointer;
  @extend %fields-generalrules;
};
.dropdown-quests {
  cursor: pointer;
  @extend %dropwond-generalrules;
  position: relative;
};
.dropdown-date {
  @extend %fields-generalrules, %dropwond-generalrules;
  position: relative;
};
.dropdown-date-filter {
  @extend %fields-generalrules, %dropwond-generalrules;
};
.default-label,.hover-label,.expanded-label {
  width: 100%;
  margin: 0 0 5 0;
  &::after {
    color: $dark50;
    float: right;
    font-weight: normal;
  };
};
.default-label {
  cursor: default;
  &::after {
    content: "default";
  };
};
.hover-label {
  cursor: default;
  &::after {
    content: "hover/focus";
  };
};
.expanded-label {
  &::after {
    content: "expanded";
  };
};
.dropdown-date_button {
  @extend %dropdown-tick;
  position: absolute; right: 0; top: 0;
  cursor: pointer;
  width: 44px;
  height: 44px;
  background: none;
  border: none;
  text-align: center;
  padding: 0;
  outline: none;
}
.dropdown-date-filter-block {
  position: relative;
}
.dropdown-date__text, .dropdown-date-filter {
  cursor: pointer;
}
.dropdown-rooms-button-arrow, .rooms-calc-button {
  cursor: pointer;
}

input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
}