mixin textfield-subscription(hint, appointment, state)
  if state !=null
    form(action="/for-change").text-field-subscription-body   
      h3.margin40.type-h3(class= state)= appointment
      div.arrow-block
        input.type-simple-text.text-field.text-field-subscription(placeholder= hint type="text")
        button(type="submit" class="text-field-subsciption__arrow-button")
  else if appointment != null
    form(action="/for-change").text-field-subscription-body  
      h3.margin40.type-h3= appointment
      div.arrow-block
        input.type-simple-text.text-field.text-field-subscription(placeholder= hint type="text")
        button(type="submit" class="text-field-subsciption__arrow-button")
  else
    form(action="/for-change").text-field-subscription-body
      div.arrow-block
        input.type-simple-text.text-field.text-field-subscription(placeholder= hint type="text")
        button(type="submit" class="text-field-subsciption__arrow-button")