@import "variables.scss";
@import "ui-blocks/palette/palette.scss";
.main-body {
  width: 1440px;
  height: 900px;
  margin: 0;
}
.colors-types {
  margin-left: 150px;
  margin-top: 145px;
  width:80%;
  height: 80%;
}