@import "variables.scss";
@import "fonts/fonts.scss";

.main-body {
  width: 1440px;
  height: 900px;
  margin: 0;
  margin: auto;
  position: absolute;
};
.colors-types {
  margin-left: 150px;
  margin-top: 145px;
  width: 76%;
  height: 100%;
  position: absolute;
};
.logo {
  position: fixed;
  left: 30px; top: 30px;
}

@import "ui-blocks/text-styles/text-styles__types.scss";
@import "ui-blocks/palette/palette.scss";
@import "ui-blocks/text-styles/text-styles.scss";