doctype html
html(lang=en)
  head
    title Ui-Kit
    link(rel="stylesheet" href="style.scss")
  body.main-body
    div.colors-types
      div.colors-palette
        include ui-blocks/palette/palette.pug
      div.text-type
        include ui-blocks/text-styles/text-styles.pug
    
