mixin room-card__image(settings)
  - let src = ""
  - let alt = ""
  - if (settings) {
  -   settings.hasOwnProperty("src") ? src = settings.src : src = ""
  -   settings.hasOwnProperty("alt") ? alt = settings.alt : alt = ""
  - }
  div.room-card__image-wrapper
    img(class="room-card__image" src=src, alt=alt)
    button(type="button" class="room-card__image-button room-card__image-button_left")
    button(type="button" class="room-card__image-button room-card__image-button_right")
    .room-card__image-position-wrapper
      span.room-card__image-position.room-card__image-position_active
      span.room-card__image-position
      span.room-card__image-position
      span.room-card__image-position

