.toggle__mimic {
  &_type_checkbox {
    width: 20px;
    border-radius: 4px;
  }
  &_type_radio {
    width: 20px;
    border-radius: 50%;
  }
  &_type_toggle {
    width: 40px;
    border-radius: 10px;
    padding: 3px;
    &::before {
      content: '';
      display: block;
      width: 12px; height: 12px;
      background: $dark25;
      border-radius: 50%;
    }
  }
  &_type_like {
    min-width: 40px;
    border-radius: 10px;
    & .toggle__text {
      font-size: 10px;
      line-height: 18px;
      color: $dark25;
      vertical-align: top;
      margin: 0;
      padding-right: 5px;
    } 
    &::before {
      content: '';
      background-image: url('img/favorite-border.svg');
      background-repeat: no-repeat;
      background-position-y: center;
      background-position-x: center;
      display: inline-block;
      height: 18px;
      width: 21px
    }
  }
}

.toggle__controller {
  &_type_checkbox:checked + .toggle__mimic_type_checkbox {
    content: url('img/check-arrow.jpg');
    padding: 3px 4px 5px;
    border-color: $purple;
  }
  &_type_radio:checked + .toggle__mimic_type_radio {
    padding: 3px;
    border-color: $purple;
    &::before {
      content: '';
      display: block;
      width: 12px; height: 12px;
      background: linear-gradient(180deg, $purple 0%, #8BA4F9 100%);
      border-radius: 50%;
    }
  }
  &_type_toggle:checked + .toggle__mimic_type_toggle {
    border-color: $purple;
    &::before {
      float: right;
      background: linear-gradient(180deg, $purple 0%, #8BA4F9 100%);
    }
  }
  &_type_like:checked + .toggle__mimic_type_like {
    border-color: $purple;
    &::before {
      background-image: url('img/favorite.svg');
    }
    & .toggle__text {
      color: $purple;
    } 
  }
  &_type_rate {
    float: right;
    margin: 0;
    width: 19px;
    height: 19px;
    margin-right: 5px;
    &::before {
      content: '';
      width: 19px; height: 19px;
      background-image: url('img/star-border.jpg');
      display: inline-block;
      margin-right: 4px;
      background-repeat: no-repeat;
      cursor: pointer;
    }
    &:checked::before, &:checked ~ &::before {
      background-image: url('img/star.jpg');
    }
  }
}