mixin star-rate(settings)
  - let {
  -   jsClass = "js-for-change",
  -   rate = 0
  - } = settings
  - let starStep = 1
  div(class="star-rate" class=jsClass)
    while starStep <= 5
      if (starStep <= rate)
        span(class="star-rate__star star-rate__star_active")
      else
        span(class="star-rate__star")
      - starStep = starStep + 1