mixin star-rate(settings)
  - let n = 1
  - let rate = 0
  - if (settings) {
  -   settings.hasOwnProperty("rate") ? rate = settings.rate : rate = 0
  - };
  .star-rate
    while n <= 5
      if (n <= rate)
        span(class="star-rate__star star-rate__star_active")
      else
        span(class="star-rate__star")
      - n = n + 1