mixin user-comment__title(settings)
  - let avatarSettings = {}
  - let infoSettings = {}
  - if (settings) {
  -   settings.hasOwnProperty("avatarSettings") ? avatarSettings = settings.avatarSettings : avatarSettings = {}
  -   settings.hasOwnProperty("infoSettings") ? infoSettings = settings.infoSettings : daysHavePassed = {}
  - }
  .user-comment__title
    +user-comment__avatar(avatarSettings)
    +user-comment__info(infoSettings)