include ../../blocks/header/header.pug
include ../../blocks/logo/logo.pug
include ../../blocks/nav/nav.pug
include ../../blocks/button/button.pug
include ../../blocks/footer/footer.pug
include ../../blocks/copyright/copyright.pug
include ../../blocks/input/input.pug
include ../../blocks/login/login.pug
include ../../blocks/button/button.pug
include ../../blocks/toggle/toggle.pug
include ../../blocks/title/title.pug
include ../../overall/page-head.pug

+page-head({title: "Sign In", desc: "Sing In page of the hotel room website."})
  body
    .sign-in
      header.sign-in__header
        +header({
          nav: { 
            links: [
              {"text": "О нас"},
              {"text": "Услуги", "type": "expanded"},
              {"text": "Вакансии"},
              {"text": "Новости"},
              {"text": "Соглашения", "type": "expanded"}
            ],
            buttonJsClass: "js-header-nav-button",
            navJsClass: "js-header-nav"
          }
        })
      main.sign-in__main
        +login({
          title: { text: "Войти" },
          confirm: { text: "войти"}
        })
      footer.sign-in__footer
        +footer({
          description: {
            text: "Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные взгляды»"
          },
          lists: [
            [
              {"text": "навигация"}, 
              {"text": "О нас"},
              {"text": "Новости"},
              {"text": "Служба поддержки"},
              {"text": "Услуги"}
            ],
            [
              {"text": "о нас"},
              {"text": "О сервисе"},
              {"text": "Наша команда"},
              {"text": "Вакансии"},
              {"text": "Инвесторы"}
            ],
            [
              {"text": "Служба поддержки"}, 
              {"text": "Соглашения"},
              {"text": "Сообщества"},
              {"text": "Связь с нами"}
            ]
          ],
          subscribe: {
            title: "Подписка",
            text: "Получайте специальные предложения и новости сервиса"
          }
        })
        +copyright({
          text: "Copyright © 2018 Toxin отель. Все права защищены.",
          links: [
            {
              "name": "twitter",
              "iconSrc": "img/twitter.svg"
            },
            {
              "name": "facebook",
              "iconSrc": "img/facebook.svg"
            },
            {
              "name": "instagram",
              "iconSrc": "img/instagram.svg"
            }
          ]
        })