include ../../blocks/header/header.pug
include ../../blocks/logo/logo.pug
include ../../blocks/navigation/navigation.pug
include ../../blocks/button/button.pug
include ../../blocks/footer/footer.pug
include ../../blocks/copyright/copyright.pug
include ../../blocks/input/input.pug
include ../../blocks/login/login.pug
include ../../blocks/button/button.pug
include ../../blocks/toggle/toggle.pug
include ../../blocks/title/title.pug
include ../../blocks/page-head/page-head
include ../../blocks/page-header/page-header
include ../../blocks/page-footer/page-footer

+page-head({title: "Sign In", description: "Sing In page of the hotel room website."})
  body
    .sign-in
      +page-header({headerClass: "sign-in__header"})
      main.sign-in__main
        +login({})
      +page-footer({footerClass: "sign-in__footer"})
