include ../../blocks/header/header
include ../../blocks/logo/logo
include ../../blocks/navigation/navigation
include ../../blocks/button/button
include ../../blocks/footer/footer
include ../../blocks/copyright/copyright
include ../../blocks/input/input
include ../../blocks/login/login
include ../../blocks/button/button
include ../../blocks/toggle/toggle
include ../../blocks/title/title
include ../../blocks/page-head/page-head
include ../../blocks/page-header/page-header
include ../../blocks/page-footer/page-footer
include ../../blocks/confirm-button/confirm-button

+page-head({title: "Sign In", description: "Sing In page of the hotel room website."})
  body
    .sign-in
      header.sign-in__header.js-sign-in__header
        +page-header()
      main.sign-in__main
        +login({})
      footer.sign-in__footer
        +page-footer()
