mixin sidebar()
  div.sidebar.js-sidebar
    div.sidebar__title.js-sidebar__title.sidebar__title_closed
      +title({
        text: "Фильтры для поиска",
        fontSize: "regular",
        teg: "h2"
      })
    aside.sidebar__wrapper.js-sidebar__wrapper
      div.sidebar__date-filter.js-sidebar__date-filter
        +datepicker({
          inputType: 'total',
          inputSettings: {
            total: {
              title: { text: "даты пребывания в отеле" },
              input: {
                attr: {
                  type: "text",
                  placeholder: "ДД.ММ.ГГГГ",
                  value: "19 авг - 23 авг",
                  readonly: "readonly"
                },
                length: "average",
                type: "dropdown",
              }
            }
          },
          isCalendarClosed: true,
          isSmall: true,
        })
      div.sidebar__guests.js-sidebar__guests
        +dropdown({
          inputSettings: {
            title: { text: "Гости" },
            input: {
              attr: {
                type: "text",
                placeholder: "Text",
                value: "3 гостя, 1 младенец",
                readonly: "readonly",
              },
              length: "average",
              type: "dropdown",
            }
          },
          isClosed: true,
          lists: [
            { text: "взрослые", dataTarget: "adult", output: "2" },
            { text: "дети", dataTarget: "child", output: "1" },
            { text: "младенцы", dataTarget: "baby", output: "1" }
          ],
          main: {
            dataType: "guestsWithBaby",
            outputType: "twoByOne"
          }
        })
      div.sidebar__slider.js-sidebar__slider
        +slider({
          title: "диапазон цены",
          description: "Стоимость за сутки пребывания в номере"
        })
      div.sidebar__additional-features
        div.sidebar__features-title
          +title({
            text: "правила дома"
          })
        +checkbox-button({
          text: "Можно курить",
        })
        +checkbox-button({
          text: "Можно с питомцами",
          isChecked: true,
        })
        +checkbox-button({
          text: "Можно пригласить гостей (до 10 человек)",
          isChecked: true,
          isShort: true,
        })
      div.sidebar__availability
        +list({
          title: { text: "доступность" },
          listType: "toggles",
          itemList: [
            {
              title: "Широкий коридор",
              text: "Ширина коридоров в номере не менее 91 см.",
            },
            {
              title: "Помощник для инвалидов",
              text: "На 1 этаже вас встретит специалист  и проводит до номера.",
            },
          ],
        })
      div.sidebar__room-amenities.js-sidebar__room-amenities
        +dropdown({
          inputSettings: {
            title: { text: "удобства номера" },
            input: {
              attr: {
                type: "text",
                placeholder: "Text",
                value: "2 спальни, 2 кровати...",
                readonly: "readonly"
              },
              length: "average",
              type: "dropdown",
            }
          },
          isClosed: true,
          lists: [
            { text: "спальни", dataTarget: "bedroom", output: "2" },
            { text: "кровати", dataTarget: "bed", output: "2" },
            { text: "ванные комнаты", dataTarget: "bathroom", output: "0" }
          ],
          main: {
            dataType: "rooms",
            outputType: "oneByOne"
          }
        })
      div.sidebar__additional-amenities.js-sidebar__additional-amenities
        +list({
          title: {
            text: "дополнительные удобства",
          },
          isExpandable: true,
          opennessState: "expanded",
          listType: "toggles",
          itemList: [
            {
              text: "Завтрак",
            },
            {
              text: "Письменный стол",
              isChecked: true,
            },
            {
              text: "Стул для кормления",
              isChecked: true,
            },
            {
              text: "Кроватка",
              isChecked: true,
            },
            {
              text: "Телевизор",
            },
            {
              text: "Шампунь",
            },
          ]
        })