mixin sidebar()
  .sidebar.js-sidebar
    .sidebar__title.js-sidebar__title.sidebar__title_closed
      +title({
        text: "Фильтры для поиска",
        fontSize: "regular",
        teg: "h2"
      })
    aside.sidebar__wrapper.js-sidebar__wrapper
      .sidebar__date-filter
        +datepicker({
          inputType: 'total',
          inputSettings: {
            total: {
              title: { text: "даты пребывания в отеле" },
              input: {
                attr: {
                  type: "text",
                  placeholder: "ДД.ММ.ГГГГ",
                  value: "19 авг - 23 авг",
                  readonly: "readonly"
                },
                length: "average",
                type: "dropdown",
                jsClass: "js-input__field_total"
              }
            }
          },
          main: {
            dataYear: "2019",
            dataMonth: "7",
            dataCurrentDay: "2019, 8, 9",
            dataFrom: "2019, 8, 19",
            dataTo: "2019, 8, 23",
          },
          isCalendarClosed: true,
          size: "small"
        })
      .sidebar__guests
        +dropdown({
          inputSettings: {
            title: { text: "Гости" },
            input: {
              attr: {
                type: "text",
                placeholder: "Text",
                value: "3 гостя, 1 младенец",
                readonly: "readonly",
              },
              length: "average",
              type: "dropdown",
              jsClass: "js-input__field"
            }
          },
          isClosed: true,
          lists: [
            { text: "взрослые", dataTarget: "adult", output: "2" },
            { text: "дети", dataTarget: "child", output: "1" },
            { text: "младенцы", dataTarget: "baby", output: "1" }
          ],
          main: {
            dataType: "guestsWithBaby",
            outputType: "twoByOne"
          }
        })
      .sidebar__slider
        +slider({
          title: "диапазон цены",
          description: "Стоимость за сутки пребывания в номере"
        })
      .sidebar__additional-features
        .sidebar__features-title
          +title({
            text: "правила дома"
          })
        +toggle({
          type: "checkbox",
          attrs: {
            "type": "checkbox",
            "hidden": "hidden"
          },
          text: {
            text: "Можно курить"
          }
        })
        +toggle({
          type: "checkbox",
          attrs: {
            "type": "checkbox",
            "hidden": "hidden",
            "checked": "checked"
          },
          text: {
            text: "Можно с питомцами"
          }
        })
        +toggle({
          type: "checkbox",
          attrs: {
            "type": "checkbox",
            "hidden": "hidden",
            "checked": "checked"
          },
          text: {
            text: "Можно пригласить гостей (до 10 человек)",
            length: "short"
          }
        })
      .sidebar__availability
        +list({
          title: { text: "доступность" },
          listType: "toggles",
          itemList: [
            {
              type: "checkbox",
              attrs: {
                "type": "checkbox",
                "hidden": "hidden"
              },
              text: {
                title: "Широкий коридор",
                text: "Ширина коридоров в номере не менее 91 см.",
                isShort: true
              }
            },
            {
              type: "checkbox",
              attrs: {
                "type": "checkbox",
                "hidden": "hidden"
              },
              text: {
                title: "Помощник для инвалидов",
                text: "На 1 этаже вас встретит специалист  и проводит до номера.",
              }
            },
          ],
        })
      .sidebar__room-amenities
        +dropdown({
          inputSettings: {
            title: { text: "удобства номера" },
            input: {
              attr: {
                type: "text",
                placeholder: "Text",
                value: "2 спальни, 2 кровати...",
                readonly: "readonly"
              },
              length: "average",
              type: "dropdown",
              jsClass: "js-input__field"
            }
          },
          isClosed: true,
          lists: [
            { text: "спальни", dataTarget: "bedroom", output: "2" },
            { text: "кровати", dataTarget: "bed", output: "2" },
            { text: "ванные комнаты", dataTarget: "bathroom", output: "0" }
          ],
          main: {
            dataType: "rooms",
            outputType: "oneByOne"
          }
        })
      .sidebar__additional-amenities
        +list({
          title: {
            text: "дополнительные удобства",
          },
          isExpandable: true,
          opennessState: "expanded",
          listType: "toggles",
          itemList: [
            {
              type: "checkbox",
              attrs: {
                "type": "checkbox",
                "hidden": "hidden"
              },
              text: {
                text: "Завтрак",
              }
            },
            {
              type: "checkbox",
              attrs: {
                "type": "checkbox",
                "hidden": "hidden",
                "checked": "checked"
              },
              text: {
                text: "Письменный стол",
              }
            },
            {
              type: "checkbox",
              attrs: {
                "type": "checkbox",
                "hidden": "hidden",
                "checked": "checked"
              },
              text: {
                text: "Стул для кормления",
              }
            },
            {
              type: "checkbox",
              attrs: {
                "type": "checkbox",
                "hidden": "hidden",
                "checked": "checked"
              },
              text: {
                text: "Кроватка",
              }
            },
            {
              type: "checkbox",
              attrs: {
                "type": "checkbox",
                "hidden": "hidden"
              },
              text: {
                text: "Телевизор",
              }
            },
            {
              type: "checkbox",
              attrs: {
                "type": "checkbox",
                "hidden": "hidden",
              },
              text: {
                text: "Шампунь",
              }
            },
          ]
        })