.sidebar {
  width: 266px;

  &__title {
    max-width: 280px;
    text-transform: none;
    vertical-align: 24px;
    font-size: 19px;
    display: none;

    &_closed,
    &_expanded {
      position: relative;
      width: 100%;
      cursor: pointer;

      &:after {
        content: '';
        position: absolute;
        right: 0;
        top: 4.5px;
        width: 44px;
        height: 15px;
        background-image: url('../../img/input-dropdown.svg');
        background-repeat: no-repeat;
        background-position-y: 3px;
        background-position-x: 16px;
        cursor: pointer;
      }
    }

    &_expanded {
      &::after {
        transform: rotate(180deg);
      }
    }
  }

  &__wrapper {
  }

  &__rooms-title {
    margin-bottom: 22px;
  }

  &__date-filter {
    margin-bottom: 19px;
  }

  &__availability {
    margin-bottom: 26px;
  }

  &__slider {
    margin-bottom: 29px;
  }

  &__guests {
    margin-bottom: 29px;
  }

  &__additional-features {
    display: flex;
    flex-direction: column;
    row-gap: 17px;
    max-width: 230px;
    margin-bottom: 30px;
  }

  &__features-list {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
  }

  &__room-amenities {
    margin-bottom: 29px;
  }
}