@import '../../../overall/mixins.scss';

.toggle__text_rich {
  display: block;
  @include text_type($mont, 14px, 700, 18px, $dark75);
  & ~ .toggle__text {
    display: block;
    font-size: 12px;
    line-height: 14px;
    padding: 0px;
    padding-top: 5px;
    color: $dark50;
  }
}