mixin text-sample__description(settings)
  - let text = ""
  - let type = ""
  - if (settings) {
  -   settings.hasOwnProperty("text") ? text = settings.text : text = ""
  -   settings.hasOwnProperty("type") ? type = `text-sample__description_type_${settings.type}` : type = ""
  - }
  p(class=`text-sample__description ${type}`)= text