@import '../../common/mixins.scss';
@import '../../common/variables';

.copyright {
  @include text_type($font-main, 14px, 400, 24px, $color-main-dark);
  background: #ffffff;
  box-shadow: 0 10px 20px $color-secondary-light;
  padding: 23px 140px 23px 139px;
  margin-top: 1px;
  min-height: 70px;

  &__wrapper {
    display: flex;
    row-gap: 24px;
    justify-content: space-between;
    align-content: center;
    max-width: 1160px;
    margin: 0 auto;
  }

  &__text {
    margin: 0;
    padding-left: 1px;

    @media screen and (max-width: 768px) {
      text-align: center;
      padding-left: 0;
    }
  }

  @media screen and (max-width: 768px) {
    padding: 24px 45px 120px;
    flex-direction: column;
    margin-top: -1px;
    align-items: center;
  }
}
