@import '../../overall/mixins.scss';

.copyright {
  @include text_type($mont, 14px, 400, 17px, $dark75);
  background: #ffffff;
  box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
  padding: 23px 140px;
  margin-top: 1px;

  &__text {
    margin: 0px;
    display: inline-block;

    @media screen and (max-width: 820px) {
      max-width: 230px;
      line-height: 24px;
    }

    @media screen and (max-width: 768px) {
      display: inline;
    }

    @media screen and (max-width: 400px) {
      display: inline-block;
      max-width: 230px;
    }
  }

  &__social-media {
    display: inline-block;
    float: right;
    
    @media screen and (max-width: 820px) {
      margin-top: 13px;
    }

    @media screen and (max-width: 768px) {
      display: block;
      float: none;
      margin-top: 22px;
    }
  }
  
  @media screen and (max-width: 820px) {
    padding: 23px 30px;
  }

  @media screen and (max-width: 768px) {
    margin-top: -1px;
    padding: 0 0 120px;
    text-align: center;
  }
}
