mixin copyright(settings)
  - let text = ""
  - if (settings) { 
  -   settings.hasOwnProperty("text") ? text = settings.text : text = ""
  - }
  .copyright
    p.copyright__text= text
    block 

mixin copyright__social-media()
  .copyright__social-media
    block