mixin copyright(settings)
  - let text = ""
  - let links = [
  -   {
  -     "name": "For change",
  -     "iconSrc": "img/for-change.svg"
  -   },
  -   {
  -     "name": "For change",
  -     "iconSrc": "img/for-change.svg"
  -   },
  -   {
  -     "name": "For change",
  -     "iconSrc": "img/for-change.svg"
  -   }
  - ]
  - if (settings) { 
  -   if(settings.hasOwnProperty("text")) text = settings.text
  -   if(settings.hasOwnProperty("links")) links = settings.links
  - }
  .copyright
    p.copyright__text= text
    .copyright__social-media
      +social-media-link({
        socialLinks: links
      })
