include ../social-media-link/social-media-link

mixin copyright(settings)
  - const {
  -   text = "For change",
  -   linksSettings = [
  -     {
  -       "name": "For change",
  -       "iconSrc": "img/for-change.svg"
  -     },
  -     {
  -       "name": "For change",
  -       "iconSrc": "img/for-change.svg"
  -     },
  -     {
  -       "name": "For change",
  -       "iconSrc": "img/for-change.svg"
  -     }
  -   ]
  - } = settings
  div.copyright
    p.copyright__text= text
    div.copyright__social-media
      +social-media-link({
        socialLinks: linksSettings,
      })
