include ../../blocks/header/header.pug
include ../../blocks/logo/logo.pug
include ../../blocks/nav/nav.pug
include ../../blocks/button/button.pug
include ../../blocks/footer/footer.pug
include ../../blocks/social-media-link/social-media-link.pug
include ../../blocks/copyright/copyright.pug
include ../../blocks/input/input.pug
include ../../blocks/slider/slider.pug
include ../../blocks/toggle/toggle.pug
include ../../blocks/list/list.pug
include ../../blocks/dropdown/dropdown.pug
include ../../blocks/room-card/room-card.pug
include ../../blocks/room-info/room-info.pug
include ../../blocks/rate-counter/rate-counter.pug
include ../../blocks/title/title.pug
include ../../blocks/content-nav/content-nav.pug
include ../../blocks/datepicker/datepicker.pug
include ../../blocks/star-rate/star-rate.pug
include ../../overall/page-head.pug

+page-head({title: "Search Room", desc: "Search page of the hotel room website."})
  body
    .search-room
      header.search-room__header
        +header({
          nav: { 
            links: [
              {"text": "О нас"},
              {"text": "Услуги", "type": "expanded"},
              {"text": "Вакансии"},
              {"text": "Новости"},
              {"text": "Соглашения", "type": "expanded"}
            ]
          }
        })
      main.search-room__main 
        .search-room__sidebar-wrapper
          .search-room__sidebar-title
            +title({
              text: "Фильтры для поиска",
              type: "closed",
              jsClass: "js-search-room__sidebar-title",
              for: "sidebar"
            })
          aside.search-room__sidebar.js-search-room__sidebar
            .search-room__date-filter
              +input({
                title: {text: "даты пребывания в отеле"},
                input: {
                  attr: {
                    type: "text",
                    placeholder: "ДД.ММ.ГГГГ",
                    value: "19 авг - 23 авг",
                    readonly: "readonly"
                  },
                  length: "m",
                  type: "dropdown",
                  jsClass: "js-input__field_total"
                }
              })
              +datepicker({
                jsClass: "js-datepicker",
                attr: {
                  "hidden": "hidden"
                },
                size: "m"
              })
            .search-room__guests
              +dropdown({
                inputSettings: {
                  title: {text: "Гости"},
                  input: {
                    attr: {
                      type: "text",
                      placeholder: "Text",
                      value: "3 гостя, 1 младенец",
                      readonly: "readonly",
                    },
                    length: "m",
                    type: "dropdown",
                    jsClass: "js-input__field-2"
                  }
                },
                control: {
                  jsClass: "js-dropdown__control-2",
                  attr: {"hidden": "hidden"}
                },
                lists: [
                  {text: "взрослые", dataTarget: "adult", output: "2"},
                  {text: "дети", dataTarget: "child", output: "1"},
                  {text: "младенцы", dataTarget: "baby", output: "1"}
                ]
              })
            .search-room__slider
              +slider({
                title: { text: "диапазон цены" },
                output: { jsClass: "js-slider__output" },
                container: { jsClass: "js-slider__body" },
                description: { text: "Стоимость за сутки пребывания в номере" }
              })
            .search-room__additional-features
              .search-room__features-title
                +title({
                  text: "правила дома"
                })
              +toggle({
                controller: {
                  type: "checkbox",
                  attr: {
                    "type": "checkbox",
                    "hidden": "hidden"
                  }
                },
                text: {
                  text: "Можно курить"
                }
              })
              +toggle({
                controller: {
                  type: "checkbox",
                  attr: {
                    "type": "checkbox",
                    "hidden": "hidden",
                    "checked": "checked"
                  }
                },
                text: {
                  text: "Можно с питомцами"
                }
              })
              +toggle({
                controller: {
                  type: "checkbox",
                  attr: {
                    "type": "checkbox",
                    "hidden": "hidden",
                    "checked": "checked"
                  }
                },
                text: {
                  text: "Можно пригласить гостей (до 10 человек)",
                  length: "s"
                }
              })
            .search-room__availability
              +list({
                title: {
                  text: "доступность",
                },
                list: [
                  {
                    type: "checkbox",
                    attr: {
                      "type": "checkbox",
                      "hidden": "hidden"
                    },
                    text: "Ширина коридоров в номере не менее 91 см.",
                    richText: "Широкий коридор"
                  },
                  {
                    type: "checkbox",
                    attr: {
                      "type": "checkbox",
                      "hidden": "hidden"
                    },
                    length: "short",
                    text: "На 1 этаже вас встретит специалист  и проводит до номера.",
                    richText: "Помощник для инвалидов"
                  }
                ]
              })  
            .search-room__room-amenities
              +dropdown({
                inputSettings: {
                  title: {text: "удобства номера"},
                  input: {
                    attr: {
                      type: "text",
                      placeholder: "Text",
                      value: "2 спальни, 2 кровати...",
                      readonly: "readonly"
                    },
                    length: "m",
                    type: "dropdown",
                    jsClass: "js-input__field"
                  }
                },
                control: {
                  jsClass: "js-dropdown__control",
                  attr: {"hidden": "hidden"}
                },
                lists: [
                  {text: "спальни", dataTarget: "bedroom", output: "2"},
                  {text: "кровати", dataTarget: "bed", output: "2"},
                  {text: "ванные комнаты", dataTarget: "bathroom", output: "0"}
                ]
              })
            .search-room__additional-amenities
              +list({
                title: {
                  text: "дополнительные удобства",
                  type: "closed",
                  jsClass: "js-list__title"
                },
                container: {
                  jsClass: "js-list__container",
                  attr: {hidden: "hidden"}
                },
                list: [
                  {
                    type: "checkbox",
                    attr: {
                      "type": "checkbox",
                      "hidden": "hidden"
                    },
                    text: "Завтрак"
                  },
                  {
                    type: "checkbox",
                    attr: {
                      "type": "checkbox",
                      "hidden": "hidden",
                      "checked": "checked"
                    },
                    text: "Письменный стол"
                  },
                  {
                    type: "checkbox",
                    attr: {
                      "type": "checkbox",
                      "hidden": "hidden",
                      "checked": "checked"
                    },
                    text: "Стул для кормления"
                  },
                  {
                    type: "checkbox",
                    attr: {
                      "type": "checkbox",
                      "hidden": "hidden",
                      "checked": "checked"
                    },
                    text: "Кроватка"
                  },
                  {
                    type: "checkbox",
                    attr: {
                      "type": "checkbox",
                      "hidden": "hidden"
                    },
                    text: "Телевизор"
                  },
                  {
                    type: "checkbox",
                    attr: {
                      "type": "checkbox",
                      "hidden": "hidden"
                    },
                    text: "Шампунь"
                  }
                ],
              })
        article.search-room__rooms
          .search-room__rooms-title
            +title({
              text: "Номера, которые мы для вас подобрали",
              type: "big",
              teg: "h1"
            })
          .search-room__rooms-wrapper
            include ../search-room-cards/search-room-cards.pug
          .search-room__rooms-nav
            +content-nav({
              jsClass: "js-content-nav",
              counter: {text: "1 - 12 из 100+ вариантов аренды"}
            })
      footer.search-room__footer
        +footer({
          description: {
            text: "Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные взгляды»"
          },
          lists: [
            [
              {"text": "навигация"}, 
              {"text": "О нас"},
              {"text": "Новости"},
              {"text": "Служба поддержки"},
              {"text": "Услуги"}
            ],
            [
              {"text": "о нас"},
              {"text": "О сервисе"},
              {"text": "Наша команда"},
              {"text": "Вакансии"},
              {"text": "Инвесторы"}
            ],
            [
              {"text": "Служба поддержки"}, 
              {"text": "Соглашения"},
              {"text": "Сообщества"},
              {"text": "Связь с нами"}
            ]
          ],
          subscribe: {
            title: "Подписка",
            text: "Получайте специальные предложения и новости сервиса"
          }
        })
        +copyright({
          text: "Copyright © 2018 Toxin отель. Все права защищены.",
          links: [
            {
              "name": "twitter",
              "iconSrc": "img/twitter.svg"
            },
            {
              "name": "facebook",
              "iconSrc": "img/facebook.svg"
            },
            {
              "name": "instagram",
              "iconSrc": "img/instagram.svg"
            }
          ]
        })