@import "../../common/variables.scss";

.search-room-page {
  margin: 0;
  background: #f4f4f6;
  min-width: 320px;
  display: flex;
  flex-direction: column;
  min-height: 100%;

  &__header {
    z-index: 2;
  }

  &__sidebar-wrapper {
    @media screen and (max-width: 700px) {
      text-align: center;
      margin-bottom: 20px;
    }
  }

  &__main {
    display: flex;
    column-gap: 60px;
    background-color: #ffffff;
    padding: 30px 126px 72px 140px;
    min-height: 930px;
    flex: 1 0 auto;

    @media screen and (max-width: 900px) {
      padding: 40px 40px;
    }

    @media screen and (max-width: 350px) {
      padding: 40px 20px;
    }
  }

  &__rooms {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
  }

  &__rooms-wrapper {
    display: grid;
    grid-template: repeat(4, 1fr) / repeat(3, 1fr);
    grid-gap: 20px 12px;
  }

  &__rooms-title {
  }

  &__rooms-navigation {
    display: flex;
    justify-content: center;
    padding: 19px 12px 0 0;
  }

  &__date-filter {
    margin-bottom: 20px;
  }

  &__availability {
    margin-bottom: 28px;
  }

  &__slider {
    margin-bottom: 29px;
  }

  &__guests {
    margin-bottom: 27px;
  }

  &__additional-features {
    margin-bottom: 30px;
  }

  &__features-title {
    margin-bottom: 17px;
  }

  &__room-amenities {
    margin-bottom: 29px;
  }

  &__footer {
    border-top: 1px solid $color-main-lighter;
    flex: 0 0 auto;
  }
}
