include ../../blocks/header/header
include ../../blocks/logo/logo
include ../../blocks/navigation/navigation
include ../../blocks/button/button
include ../../blocks/footer/footer
include ../../blocks/social-media-link/social-media-link
include ../../blocks/copyright/copyright
include ../../blocks/input/input
include ../../blocks/slider/slider
include ../../blocks/toggle/toggle
include ../../blocks/list/list
include ../../blocks/dropdown/dropdown
include ../../blocks/room-card/room-card
include ../../blocks/room-information/room-information
include ../../blocks/reviews-counter/reviews-counter
include ../../blocks/title/title
include ../../blocks/content-navigation/content-navigation
include ../../blocks/datepicker/datepicker
include ../../blocks/stars-rating/stars-rating
include ../../blocks/sidebar/sidebar
include ../../blocks/room-list/room-list
include ../../blocks/page-head/page-head
include ../../blocks/page-header/page-header
include ../../blocks/page-footer/page-footer
include ../../blocks/checkbox-button/checkbox-button
include ../../blocks/text-button/text-button
include ../../blocks/dropdown-input/dropdown-input
include ../../blocks/subscription-input/subscription-input

+page-head({title: "Search Room", description: "Search page of the hotel room website."})
  body
    div.search-room-page
      header.search-room-page__header.js-search-room-page__header
        +page-header()
      main.search-room-page__main
        div.search-room-page__content
          div.search-room-page__sidebar-wrapper.js-search-room-page__sidebar-wrapper
            +sidebar()
          article.search-room-page__rooms
            div.search-room-page__rooms-title
              +title({
                text: "Номера, которые мы для вас подобрали",
                fontSize: "large",
                teg: "h1"
              })
            div.search-room-page__rooms-wrapper
              +room-list()
            div.search-room-page__rooms-navigation.js-search-room-page__rooms-navigation
              +content-navigation({
                counter: "1 – 12 из 100+ вариантов аренды"
              })
      footer.search-room-page__footer
        +page-footer()