include ../../blocks/header/header.pug
include ../../blocks/logo/logo.pug
include ../../blocks/navigation/navigation.pug
include ../../blocks/button/button.pug
include ../../blocks/footer/footer.pug
include ../../blocks/social-media-link/social-media-link.pug
include ../../blocks/copyright/copyright.pug
include ../../blocks/input/input.pug
include ../../blocks/slider/slider.pug
include ../../blocks/toggle/toggle.pug
include ../../blocks/list/list.pug
include ../../blocks/dropdown/dropdown.pug
include ../../blocks/room-card/room-card.pug
include ../../blocks/room-information/room-information.pug
include ../../blocks/reviews-counter/reviews-counter.pug
include ../../blocks/title/title.pug
include ../../blocks/content-navigation/content-navigation.pug
include ../../blocks/datepicker/datepicker.pug
include ../../blocks/stars-rating/stars-rating.pug
include ../../overall/page-head.pug

+page-head({title: "Search Room", description: "Search page of the hotel room website."})
  body
    .search-room
      header.search-room__header
        +header({
          navigation: { 
            links: [
              {"text": "О нас"},
              {"text": "Услуги", "type": "expanded"},
              {"text": "Вакансии"},
              {"text": "Новости"},
              {"text": "Соглашения", "type": "expanded"}
            ],
            buttonJsClass: "js-header__navigation-button",
            navigationJsClass: "js-header__navigation"
          },
          mainJsClass: "js-header"
        })
      main.search-room__main 
        .search-room__sidebar-wrapper
          .search-room__sidebar-title
            +title({
              text: "Фильтры для поиска",
              type: "closed",
              jsClass: "js-search-room__sidebar-title",
              for: "sidebar"
            })
          aside.search-room__sidebar.js-search-room__sidebar
            .search-room__date-filter
              +datepicker({
                input: {
                  total: {
                    title: {text: "даты пребывания в отеле"},
                    input: {
                      attr: {
                        type: "text",
                        placeholder: "ДД.ММ.ГГГГ",
                        value: "19 авг - 23 авг",
                        readonly: "readonly"
                      },
                      length: "average",
                      type: "dropdown",
                      jsClass: "js-input__field_total"
                    }
                  }
                },
                main: {
                  jsClass: "js-datepicker",
                  dataYear: "2019",
                  dataMonth: "7",
                  dataCurrentDay: "2019, 8, 9",
                  dataFrom: "2019, 8, 19",
                  dataTo: "2019, 8, 23",
                },
                attr: {
                  "hidden": "hidden"
                },
                size: "small"
              })
            .search-room__guests
              +dropdown({
                inputSettings: {
                  title: {text: "Гости"},
                  input: {
                    attr: {
                      type: "text",
                      placeholder: "Text",
                      value: "3 гостя, 1 младенец",
                      readonly: "readonly",
                    },
                    length: "average",
                    type: "dropdown",
                    jsClass: "js-input__field"
                  }
                },
                control: {
                  jsClass: "js-dropdown__control",
                  attr: {"hidden": "hidden"}
                },
                lists: [
                  {text: "взрослые", dataTarget: "adult", output: "2"},
                  {text: "дети", dataTarget: "child", output: "1"},
                  {text: "младенцы", dataTarget: "baby", output: "1"}
                ],
                main: {
                  jsClass: "js-dropdown",
                  dataType: "guestsWithBaby",
                  outputType: "twoByOne"
                }
              })
            .search-room__slider
              +slider({
                title: { text: "диапазон цены" },
                output: { jsClass: "js-slider__output" },
                container: { jsClass: "js-slider__body" },
                description: { text: "Стоимость за сутки пребывания в номере" }
              })
            .search-room__additional-features
              .search-room__features-title
                +title({
                  text: "правила дома"
                })
              +toggle({
                controller: {
                  type: "checkbox",
                  attr: {
                    "type": "checkbox",
                    "hidden": "hidden"
                  }
                },
                text: {
                  text: "Можно курить"
                }
              })
              +toggle({
                controller: {
                  type: "checkbox",
                  attr: {
                    "type": "checkbox",
                    "hidden": "hidden",
                    "checked": "checked"
                  }
                },
                text: {
                  text: "Можно с питомцами"
                }
              })
              +toggle({
                controller: {
                  type: "checkbox",
                  attr: {
                    "type": "checkbox",
                    "hidden": "hidden",
                    "checked": "checked"
                  }
                },
                text: {
                  text: "Можно пригласить гостей (до 10 человек)",
                  length: "short"
                }
              })
            .search-room__availability
              +list({
                title: {
                  text: "доступность",
                },
                js: false,
                listCheckbox: [
                  {
                    controller: {
                      type: "checkbox",
                      attr: {
                        "type": "checkbox",
                        "hidden": "hidden"
                      },
                    },
                    text: {
                      text: "Ширина коридоров в номере не менее 91 см.",
                      richText: "Широкий коридор",
                      length: "short"
                    }
                  },
                  {
                    controller: {
                      type: "checkbox",
                      attr: {
                        "type": "checkbox",
                        "hidden": "hidden"
                      },
                    },
                    text: {
                      text: "На 1 этаже вас встретит специалист  и проводит до номера.",
                      richText: "Помощник для инвалидов",
                    }
                  },
                ],
                container: false
              })  
            .search-room__room-amenities
              +dropdown({
                inputSettings: {
                  title: {text: "удобства номера"},
                  input: {
                    attr: {
                      type: "text",
                      placeholder: "Text",
                      value: "2 спальни, 2 кровати...",
                      readonly: "readonly"
                    },
                    length: "average",
                    type: "dropdown",
                    jsClass: "js-input__field"
                  }
                },
                control: {
                  jsClass: "js-dropdown__control",
                  attr: {"hidden": "hidden"}
                },
                lists: [
                  {text: "спальни", dataTarget: "bedroom", output: "2"},
                  {text: "кровати", dataTarget: "bed", output: "2"},
                  {text: "ванные комнаты", dataTarget: "bathroom", output: "0"}
                ],
                main: {
                  jsClass: "js-dropdown",
                  dataType: "rooms",
                  outputType: "oneByOne"
                }
              })
            .search-room__additional-amenities
              +list({
                title: {
                  text: "дополнительные удобства",
                  type: "closed",
                },
                container: {
                  attr: {"hidden": "hidden"}
                },
                js: {
                  main: "js-list",
                  title: "js-title",
                  list: "js-list__container"
                },
                listCheckbox: [
                  {
                    controller: {
                      type: "checkbox",
                      attr: {
                        "type": "checkbox",
                        "hidden": "hidden"
                      },
                    },
                    text: {
                      text: "Завтрак",
                    }
                  },
                  {
                    controller: {
                      type: "checkbox",
                      attr: {
                        "type": "checkbox",
                        "hidden": "hidden",
                        "checked": "checked"
                      },
                    },
                    text: {
                      text: "Письменный стол",
                    }
                  },
                  {
                    controller: {
                      type: "checkbox",
                      attr: {
                        "type": "checkbox",
                        "hidden": "hidden",
                        "checked": "checked"
                      },
                    },
                    text: {
                      text: "Стул для кормления",
                    }
                  },
                  {
                    controller: {
                      type: "checkbox",
                      attr: {
                        "type": "checkbox",
                        "hidden": "hidden",
                        "checked": "checked"
                      },
                    },
                    text: {
                      text: "Кроватка",
                    }
                  },
                  {
                    controller: {
                      type: "checkbox",
                      attr: {
                        "type": "checkbox",
                        "hidden": "hidden"
                      },
                    },
                    text: {
                      text: "Телевизор",
                    }
                  },
                  {
                    controller: {
                      type: "checkbox",
                      attr: {
                        "type": "checkbox",
                        "hidden": "hidden",
                      },
                    },
                    text: {
                      text: "Шампунь",
                    }
                  },
                ]
              })
        article.search-room__rooms
          .search-room__rooms-title
            +title({
              text: "Номера, которые мы для вас подобрали",
              type: "size_large",
              teg: "h1"
            })
          .search-room__rooms-wrapper
            include ../search-room-cards/search-room-cards.pug
          .search-room__rooms-navigation
            +content-navigation({
              title: false,
              jsClass: "js-content-navigation",
              counter: {text: "1 – 12 из 100+ вариантов аренды"}
            })
      footer.search-room__footer
        +footer({
          description: {
            text: "Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные взгляды»"
          },
          lists: [
            [
              {"title": "навигация"}, 
              {"text": "О нас"},
              {"text": "Новости"},
              {"text": "Служба поддержки"},
              {"text": "Услуги"}
            ],
            [
              {"title": "о нас"},
              {"text": "О сервисе"},
              {"text": "Наша команда"},
              {"text": "Вакансии"},
              {"text": "Инвесторы"}
            ],
            [
              {"title": "Служба поддержки"}, 
              {"text": "Соглашения"},
              {"text": "Сообщества"},
              {"text": "Связь с нами"}
            ]
          ],
          subscribe: {
            title: "Подписка",
            text: "Получайте специальные предложения и новости сервиса"
          },
          footer: false,
          copyright: false
        })
        +copyright({
          text: "Copyright © 2018 Toxin отель. Все права защищены.",
          links: [
            {
              "name": "twitter",
              "iconSrc": "img/twitter.svg"
            },
            {
              "name": "facebook",
              "iconSrc": "img/facebook.svg"
            },
            {
              "name": "instagram",
              "iconSrc": "img/instagram.svg"
            }
          ]
        })