@import '../../overall/variables.scss';
@import '../../fonts/fonts.scss';
@import '../../blocks/header/header.scss';
@import '../../blocks/logo/logo.scss';
@import '../../blocks/navigation/navigation.scss';
@import '../../blocks/button/button.scss';
@import '../../blocks/footer/footer.scss';
@import '../../blocks/social-media-link/social-media-link.scss';
@import '../../blocks/copyright/copyright.scss';
@import '../../blocks/input/input.scss';
@import '../../blocks/slider/slider.scss';
@import '../../blocks/toggle/toggle.scss';
@import '../../blocks/list/list.scss';
@import '../../blocks/dropdown/dropdown.scss';
@import '../../blocks/room-card/room-card.scss';
@import '../../blocks/room-information/room-information.scss';
@import '../../blocks/reviews-counter/reviews-counter.scss';
@import '../../blocks/title/title.scss';
@import '../../blocks/content-navigation/content-navigation.scss';
@import '../../blocks/datepicker/datepicker.scss';
@import '../../blocks/stars-rating/stars-rating.scss';

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body {
  margin: 0;
  height: 100%;
  min-width: 320px;
}

.search-room {
  margin: 0;
  background: #f4f4f6;
  min-width: 320px;
  display: flex;
  flex-direction: column;
  min-height: 100%;

  &__sidebar {
    max-width: 266px;
    text-align: initial;
    vertical-align: top;
    float: left;

    @media screen and (max-width: 680px) {
      float: none;
      display: inline-block;
    }
  }

  &__sidebar-wrapper {
    @media screen and (max-width: 680px) {
      text-align: center;
      margin-bottom: 20px;
    }
  }

  &__main {
    background-color: #ffffff;
    padding: 30px 126px 72px 140px;
    min-height: 930px;
    flex: 1 0 auto;

    @media screen and (max-width: 900px) {
      padding: 40px 40px;
    }

    @media screen and (max-width: 350px) {
      padding: 40px 20px;
    }
  }

  &__rooms {
    text-align: initial;
    vertical-align: top;
    max-width: 1700px;
    padding-left: 326px;

    @media screen and (max-width: 900px) {
      padding-left: 300px;
    }

    @media screen and (max-width: 680px) {
      padding-left: 0;
    }
  }

  &__rooms-wrapper {
    @media screen and (max-width: 680px) {
      text-align: center;
    }
  }

  &__rooms-title {
    margin-bottom: 22px;
  }

  &__rooms-navigation {
    width: calc(100% - 29px);
    text-align: center;
    margin-top: 20px;

    @media screen and (max-width: 1160px) {
      width: 100%;
    }
  }

  &__date-filter {
    margin-bottom: 20px;
  }

  &__availability {
    margin-bottom: 28px;
  }

  &__slider {
    margin-bottom: 29px;
  }

  &__guests {
    margin-bottom: 27px;
  }

  &__additional-features {
    margin-bottom: 30px;
  }

  &__features-title {
    margin-bottom: 17px;
  }

  &__room-amenities {
    margin-bottom: 29px;
  }

  &__footer {
    border-top: 1px solid $dark25;
    flex: 0 0 auto;
  }
}

.room-card {
  display: inline-block;
  margin: 0 12px 20px 0;
}

.title {
  &_for-sidebar {
    @media screen and (max-width: 680px) {
      display: block;
      text-align: left;
      margin-bottom: 20px;
    }
  }
}