@import '../../blocks/header/header.scss';
@import '../../blocks/nav/nav.scss';
@import '../../blocks/footer/footer.scss';
@import '../../blocks/copyright/copyright.scss';

.headers-footers {
  width: 1440px;
  padding: 140px 0;
  position: relative;
  box-sizing: border-box;
  margin: auto;
  background-color: #E5E5E5;
  &__header_authorized {
    margin-bottom: 40px;
  }
  &__header_unauthorized {
    margin-bottom: 40px;
  }
  &__footer_big {
    margin-bottom: 40px;
  }
}