@import '../../common/mixins.scss';
@import '../../common/variables';

.text-button {
  @include text_type($font-main, 12px, 700, 15px, $color-interactive-main);
  background: none;
  display: inline-block;
  text-transform: uppercase;
  outline: none;
  cursor: pointer;
  user-select: none;
  border: none;
  padding: 0;

  &_color {
    &_dark {
      color: $color-main-light;
    }
  }

  &:hover {
    color: $color-main-light;
  }
}