// Slider Range Rules
#range-slider-body {
  margin-top: 23px;
}
.ui-slider{
  height: 6px;
  box-sizing: border-box;
  .ui-slider-handle {
    height: 12px; width: 12px;
    border: 2px solid white;
    border-radius: 50%;
    box-sizing: content-box;
    background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
  }
}
.ui-corner-all {
  border-radius: 3px;
}
.ui-widget.ui-widget-content {
  border: 1px solid $dark25;
}
.ui-slider-horizontal .ui-slider-handle {
  top: -6px;
  margin-left: -6px;
}
.ui-widget-header {
  height: 4px;
  outline: none;
  background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
}
.ui-slider-horizontal .ui-slider-range {
  top: -1px;
  height: 6px;
}
#amount-slider-price {
  border: 0;
  font-weight: normal;
  color: $dark50;
  outline:none;
  text-align: right;
  width: 40%;
} 
.range-slider-title {
  width: 60%;
  display: inline-block;
}
.ui-state-focus {
  outline: none;
}
// Buttons
%buttons-simple-rules {
  width: auto;
  height: 44px;
  border-radius: 22px;
  margin: 0 20px 30px 0;
  color: white;
  border: none;
  outline: none
}
.buttons-types-body {
  width: 240px;
  margin-top: 43px;
}
.simple-button {
  @extend %buttons-simple-rules;
  background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
  padding: 0 19px 0;
  &:active {
    opacity: 0.5;
  }
}
.border-button-body {
  display: inline-block;
  position: relative;
  width: 119px;
}
.border-button {
  @extend %buttons-simple-rules;
  position: relative;
  z-index: 1;
  width: 101px;
  padding: 0;
  background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
  &:active {
    opacity: 0.5;
  }
}
.border-button-label {
  background-color: white;
  width: auto;
  color: $purple;
  height: 40px;
  border-radius: 20px;
  position: absolute;
  padding: 0 18px 0;
  z-index: 2;
  left: 2px; top: 2px;
  text-align: center;
  line-height: 40px;
  outline: none;
  -webkit-user-select: none;
  -moz-user-select: none;  
}
.text-button, .text-button-dark {
  border: none;
  background: none;
  color: $purple;
  margin: 0 20px 30px 0;
  outline: none;
  &:active {
    color: $dark50;
  }
}
.text-button-dark {
  color: $dark50;
}
.big-button-body {
  position: relative;
  width: 320px;
}
.big-simple-button {
  @extend %buttons-simple-rules;
  width: 320px;
  background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
}
.big-button-arrow {
  position: absolute;
  right: 13px;
}
// pagination
.pagination-pages {
  list-style-type: none;
  display: flex;
  padding: 0;
}
.pagination-pages__page-body {
  height: 40px; 
  width: 40px;
  line-height: 40px;
  position: relative;
  text-align: center;
}
.pagination-pages__page {
  text-decoration: none;
  font-weight: normal;
  position: relative;
  z-index: 2;
}
.pagination-pages__page_selected {
  color: white;
  &::after{
    content: '';
    height: 40px;
    width: 40px;
    display: block;
    position: relative; top: -40px;
    background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
    border-radius: 50%;
    z-index: 1;
  }
}
.pagination-pages__page_last {
  &::after{
    content: url("./img/arrow_white.svg");
    height: 40px;
    width: 40px;
    display: block;
    position: relative;
    line-height: 49px;
    background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
    border-radius: 50%;
    z-index: 1;
  }
}
.range-slider-prompt {
  font-size: 12px;
}