include pagination-pages__page.pug

ul.pagination-pages
  +pagination-pages__page('1', 'selected')
  +pagination-pages__page('2')
  +pagination-pages__page('3')
  +pagination-pages__page('…')
  +pagination-pages__page('15')
  +pagination-pages__page('', 'last')