mixin range-slider(title, type)
  if type == 'ru'
    form(action="/for-change" class="price-range-form")
      div
        label.range-slider-title.type-h3(for='amount-slider-price')= title
        input.amount-slider-price.type-h3(readonly)
      div(class="range-slider-body")
      p.range-slider-prompt.type-simple-text= 'Стоимость за сутки пребывания в номере'
  else if type == 'en'
    form(action="/for-change" class="price-range-form")
      div
        label.range-slider-title.type-h3(for='amount-slider-price')= title
        input.amount-slider-price.type-h3(readonly)
      div(class="range-slider-body")