mixin range-slider(title)
  form(action="#" id="price-range-form")
    div
      label.range-slider-title.type-h3(for='amount-slider-price')= title
      input#amount-slider-price.type-h3(readonly)
    div(id="range-slider-body")

