include palette__color-block
include palette__color-sign

div.palette-body
  div.color-block
    +color-block("dark-100")
    +color-sign("Dark Shade 100%", "#1F2041")
  div.color-block
    +color-block("dark-75")
    +color-sign("Dark Shade 75%", "#1F2041")
  div.color-block
    +color-block("dark-50")
    +color-sign("Dark Shade 50%", "#1F2041")
  div.color-block
    +color-block("dark-25")
    +color-sign("Dark Shade 25%", "#1F2041")
  div.color-block
    +color-block("dark-5")
    +color-sign("Dark Shade 5%", "#1F2041")
  div.color-block
    +color-block("purple")
    +color-sign("Purple", "#BC9CFF")
  div.color-block
    +color-block("green")
    +color-sign("Green", "#6FCF97")