mixin room-info(settings)
  - let number = ""
  - let price = ""
  - let type = ""
  - if (settings) {
  -   settings.hasOwnProperty("number") ? number = settings.number : number = ""
  -   settings.hasOwnProperty("price") ? price = `${settings.price}₽ ` : price = ""
  -   settings.hasOwnProperty("type") ? type = `room-info__number_${settings.type}` : type = ""
  - };
  div.room-info
    span(class="room-info__number" class=type)=number
    span.room-info__price-wrapper
      em.room-info__price=price 
      ="в сутки"
