.expandable-checkbox-list_title-body {
  width: 266px;
  position: relative;
  height: 44px;
  line-height: 44px;
}
.expandable-checkbox-list_title {
  display: inline-block;
}
.opportunities-text {
  width: auto;
}
.expandable-checkbox-list_list-body {
  width: 266px;
}
.expandable-checkbox-list_title-button {
  transform: rotate(180deg);
}