mixin expandable-checkbox-list_title(title, buttonID)
  div.expandable-checkbox-list_title-body
    h3.type-h3.expandable-checkbox-list_title= title
    button.dropdown-rooms-button-arrow(id = buttonID)
