@import '../../common/mixins.scss';
@import '../../common/variables';

.input {
  &__title {
    line-height: 15px;
    margin-bottom: 5px;
  }

  &__field {
    width: 100%;
    max-width: 320px;
    height: 44px;
    border: 1px solid $dark25;
    border-radius: 4px;
    padding: 11px 14px 12px;
    outline: none;
    @include text_type($mont, 14px, 400, 18px, $dark75);

    &::placeholder {
      color: $dark25;
    }

    @media screen and (max-width: 380px) {
      width: 266px;
    }

    &_border {
      &_dark {
        border: 1px solid $dark50;
        color: $dark75;
      }
    }

    &:hover,
    &:focus {
      border-color: $dark50;
    }
  }
}
