mixin input(settings)
  - const {
  -   titleText = "",
  -   titleState = "",
  -   attrs = {},
  -   isDarkBorder = false,
  -   isDateMask = false,
  - } = settings
  - const borderClass = isDarkBorder ? "input__field_border_dark" : ""
  - const inputJsClass = isDateMask ? 'js-input__field' : ''
  div.input
    if titleText
      div.input__title
        +title({
          text: titleText,
          state: titleState,
        })
    input(class=["input__field", borderClass, inputJsClass] type="text")&attributes(attrs)