mixin page-header(settings)
  - const {
  -   headerClass = "",
  - } = settings
  - const links = [
  -   { "text": "О нас"},
  -   { "text": "Услуги", "type": "type_expandable" },
  -   { "text": "Вакансии" },
  -   { "text": "Новости" },
  -   { "text": "Соглашения", "type": "type_expandable" }
  - ]
  header(class=headerClass)
    +header({
      navigationLinks: links,
    })