include ../header/header

mixin page-header()
  - const links = [
  -   { text: "О нас"},
  -   { text: "Услуги", isExpandable: true },
  -   { text: "Вакансии" },
  -   { text: "Новости" },
  -   { text: "Соглашения", isExpandable: true }
  - ]
  +header({
    navigationLinks: links,
  })