@import '../../../overall/mixins.scss';

.slider__title {
  line-height: 15px;
  @include text_type($mont, 14px, 400, 20px, $dark75);
  .title {
    width: 50%;
    display: inline-block;
  }
  margin: 0 0 23px;
}