include dropdown-rooms__expanded-stroke.pug
include dropdown-rooms__expanded-stroke_calc.pug

div.rooms-expanded-strokes_body#uiRoomsExpendedBody
  div.rooms-expanded-strokes_stroke-body
    +rooms-expanded-stroke('спальни')
    +rooms-expanded-stroke-calc('ui-bedroom-calc-minus-button', 'ui-bedroom-calc-plus-button', 'ui-output-bedroom', '2')
  div.rooms-expanded-strokes_stroke-body
    +rooms-expanded-stroke('кровати')
    +rooms-expanded-stroke-calc('ui-beds-calc-minus-button', 'ui-beds-calc-plus-button', 'ui-output-beds', '2')
  div.rooms-expanded-strokes_stroke-body
    +rooms-expanded-stroke('ванные комнаты')
    +rooms-expanded-stroke-calc('ui-bathroom-calc-minus-button', 'ui-bathroom-calc-plus-button', 'ui-output-bathroom', '0', '10')
    