mixin rooms-expanded-stroke-calc(minusID, plusID, outputID, outputDefault)
  div.rooms-expanded-strokes_stroke-body__calc-body
    button(id= minusID).rooms-calc-button.rooms-calc-minus-buttton= "-"
    label.type-h3.rooms-calc-output(id= outputID)= '2'
    button(id= plusID).rooms-calc-button.rooms-calc-plus-buttton= "+"