include dropdown-rooms-input.pug

+dropdown-rooms-closed("2 спальни, 2 кровати..", "", "dropdown", "default-label")
+dropdown-rooms-closed("2 спальни, 2 кровати..", "ui-dropdown-rooms-button", "dropdown", "expanded-label ")
include dropdown-rooms__expanded.pug
