include dropdown-rooms-input.pug
include dropdown-rooms-input_example.pug

+dropdown-rooms-closed_example("2 спальни, 2 кровати..", "dropdown", "default-label")
+dropdown-rooms-closed("ui-dropdown-rooms-button", "dropdown", "expanded-label")
include dropdown-rooms__expanded.pug
