@import '../../common/mixins.scss';
@import '../../common/variables';

.submit-button {
  @include text_type($main-font, 12px, 700, 15px, white);
  background: linear-gradient(180deg, $main-interactive-color 0%, #8ba4f9 100%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 15px;
  width: 100%;
  min-height: 44px;
  border-radius: 22px;
  outline: none;
  cursor: pointer;
  user-select: none;
  border: none;
  padding: 0 14px 0 44px;

  &__text {
    text-transform: uppercase;
    flex-grow: 1;
  }

  &__arrow {
    content: url('../../img/arrow-forward-white.svg');
    width: 16px;
    height: 16px;
  }

  &:hover {
    opacity: 0.5;
  }
}