mixin user-comment__info(settings)
  - let name = ""
  - let daysHavePassed = ""
  - if (settings) {
  -   settings.hasOwnProperty("name") ? name = settings.name : name = ""
  -   settings.hasOwnProperty("daysHavePassed") ? daysHavePassed = settings.daysHavePassed : daysHavePassed = ""
  - }
  .user-comment__info
    p.user-comment__name=name
    p.user-comment__age=daysHavePassed