.search-room__period {
  position: relative;
  .datepicker {
    position: absolute;
    margin-top: 6px;
    z-index: 2;
  }
  .input {
    display: inline-block;
    &:first-of-type {
      margin-right: 20px;
    }
  }
}