.title {
  &_closed, &_expanded {
    width: 100%;
    cursor: pointer;
    &:after {
      content: '';
      width: 44px;
      height: 15px;
      display: inline-block;
      background-image: url('img/input-dropdown.svg');
      background-repeat: no-repeat;
      vertical-align: top;
      background-position-y: 3px;
      background-position-x: 16px;
      float: right;
      cursor: pointer;
    } 
  }
  &_expanded {
    &::after {
      transform: rotate(180deg);
    }
  }
}