mixin nav(settings)
  - let links = [
  -   {"text": "For change", "type": "bold"},
  -   {"text": "For change"},
  -   {"text": "For change"},
  -   {"text": "For change"}
  - ]
  - if(settings) {
  -   if(settings.hasOwnProperty("links")) links = settings.links
  - }
  nav.nav
    each link in links
      - let href = "./for-change"
      - let type = ""
      - let text = ""
      - if(link) {
      -   if(link.hasOwnProperty("href")) href = link.href
      -   if(link.hasOwnProperty("type")) type = `nav__link_${link.type}`
      -   if(link.hasOwnProperty("text")) text = link.text
      - }
      a(class="nav__link",  href=href, class=type)= text