mixin nav(settings)
  - let {
  -   links = [
  -     {"text": "For change", "type": "bold"},
  -     {"text": "For change"},
  -     {"text": "For change"},
  -     {"text": "For change"}
  -   ]
  - } = settings
  nav.nav
    each link in links
      - let {
      -   href: linkHref = "./for-change",
      -   text: linkText = "For change",
      -   type: linkType= "",
      -   jsClass: linkJs = false,
      -   expandedLinks = [
      -     {text: "For change", href: "./for-change"},
      -     {text: "For change", href: "./for-change"},
      -     {text: "For change", href: "./for-change"},
      -   ]
      - } = link
      .nav__link-wrapp
        if linkType === "expanded" && expandedLinks
          span(class="nav__link-title", class=linkJs)= linkText
          .nav__expanded-container
            each expLink in expandedLinks
              - let {
              -   href: expLinkHref,
              -   text: expLinkText,
              - } = expLink
              a(class="nav__link nav__link_expanded",  href=expLinkHref)= expLinkText
        else
          a(class="nav__link",  href=linkHref, class=linkType)= linkText