
div.rooms-form__room-img
  img(src= "./img/room-840.svg")
div.rooms-form__room-img__nav
  label.rooms-form__room-img__nav-button_first
  label.rooms-form__room-img__nav-button
  label.rooms-form__room-img__nav-button
  label.rooms-form__room-img__nav-button
div.rooms-form__room-number
  +reservation-form__room-number("840", false, "9 990")
div.rooms-form__border-line
div.rooms-form__rate-buttons
  +rate-button("./img/star.svg", "./img/star.svg", "./img/star.svg", "./img/star.svg", "./img/star_border.svg")
  +rooms-form__reviews-counter('65')