.room-888-form-body, .room-840-form-body {
  width: 270px;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  height: 257px;
  position: relative;
  z-index: 2;
}
.rooms-form__room-number {
  position: relative;
  width: 234px;
  height: 24px;
  margin-left: 15px;
  margin-top: 10px;
}
.rooms-form__room-img {
  img {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
  }
}
.rooms-form__border-line {
  width: 230px;
  margin: 10px 0 8px 20px;
  border: 1px solid rgba(31, 32, 65, 0.1);
}
.rooms-form__rate-buttons {
  margin: 0 20px 0;
  position: relative;
}
.rate-button-body {
  height: 24px;
}
.rooms-form__reviews-counter {
  color: $dark50;
  height: 24px;
  display: inline-block;
  position: absolute;
  top: 0; right: 0;
  &::after {
    content: " Отзывов";
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
  }
}
.rooms-form__room-img__nav {
  position: absolute;
  right: 15px;
  top: 120px;
}
.rooms-form__room-img__nav-button, .rooms-form__room-img__nav-button_first {
  margin-left: 4px;
  background: none;
  border: 1px solid #FFFFFF;
  width: 8px; 
  height: 8px;
  box-sizing: border-box;
  border-radius: 50%;
  display: inline-block;
}
.rooms-form__room-img__nav-button_first {
  background: #FFFFFF;
}