include __title/login__title.pug
include __inputs/login__inputs.pug
include __confirm-button/login__confirm-button.pug
include __registration/login__registration.pug
include __text/login__text.pug

mixin login(settings)
  - let action = ""
  - if (settings) {
  -   settings.hasOwnProperty("action") ? action = settings.action : action = ""
  - };
  form(action=action).login
    block