mixin login(settings)
  - const {
  -   action = "./for-change",
  -   loginLink = "./for-change"
  - } = settings
  form(action=action).login
    div.login__title
      +title({
        text: "Войти",
        fontSize: "large"
      })
    div.login__inputs
      div.login__email-input
        +input({
          title: {},
          input: {
            attr: {
              "type": "email",
              "placeholder": "Email"
            },
            length: "long",
            type: "regular"
          }
        })
      div.login__password-input
        +input({
          title: {},
          input: {
            attr: {
              "type": "password",
              "placeholder": "Пароль"
            },
            length: "long",
            type: "regular"
          }
        })
    div.login__confirm-button
      +confirm-button({
        text: "войти",
      })
    div.login__registration
      p.login__text="Нет аккаунта на Toxin?"
      a(href=loginLink).login__link
        +button({
          text: "создать",
          isBorder: true,
        })