mixin login(settings)
  - let {
  -   action = "./for-change",
  -   title: { text: titleText = "For change" },
  -   confirm: { text: confirmText = "For change" },
  -   loginLink = "./for-change"
  - } = settings
  form(action=action).login
    .login__title
      +title({
        text: titleText,
        type: "size_large"
      })
    .login__inputs
      .login__email-input
        +input({
          title: {},
          input: {
            attr: {
              "type": "email",
              "placeholder": "Email"
            },
            length: "long",
            type: "regular"
          }
        })
      .login__password-input
        +input({
          title: {},
          input: {
            attr: {
              "type": "password",
              "placeholder": "Пароль"
            },
            length: "long",
            type: "regular"
          }
        })
    .login__confirm-button
      +button({
        type: "confirm",
        text: confirmText,
        attr: {"type": "submit"}
      })
    .login__registration
      p.login__text="Нет аккаунта на Toxin?"
      a(class="login__link" href=loginLink)
        +button({
          type: "border",
          text: "создать",
          attr: {"type": "button"}
        })