mixin login(settings)
  - const {
  -   action = "./for-change",
  -   loginLink = "./for-change"
  - } = settings
  form(action=action).login
    div.login__title
      +title({
        text: "Войти",
        fontSize: "large"
      })
    div.login__inputs
      div.login__email-input
        +input({
          attrs: {
            placeholder: "Email",
            type: "email",
            required: "required",
          },
        })
      div.login__password-input
        +input({
          attrs: {
            placeholder: "Пароль",
            type: "password",
            required: "required",
          },
        })
    div.login__confirm-button
      +confirm-button({
        text: "войти",
      })
    div.login__registration
      p.login__text="Нет аккаунта на Toxin?"
      a(href=loginLink).login__link
        +button({
          text: "создать",
          isBorder: true,
        })