@import '__registration-question/login__registration-question.scss';

.login {
  padding: 40px 30px 30px;
  background-color: white;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  max-width: 380px;
  box-sizing: border-box;
  .form-title {
    margin-bottom: 20px;
  }
  .login__password-input {
    margin-bottom: 20px;
  }
  .login__email-input {
    margin-bottom: 10px;
  }
  .login__login-button {
    margin-bottom: 30px;
  }
  .login__registration-button {
    .button-border {
      display: inline-block;
      width: 99px;
      height: 44px;
      float: right;
    }
  }
}