mixin login(settings)
  - const {
  -   action = "./for-change",
  -   title = "For change",
  -   confirm = "For change" ,
  -   loginLink = "./for-change"
  - } = settings
  form(action=action).login
    .login__title
      +title({
        text: title,
        type: "size_large"
      })
    .login__inputs
      .login__email-input
        +input({
          title: {},
          input: {
            attr: {
              "type": "email",
              "placeholder": "Email"
            },
            length: "long",
            type: "regular"
          }
        })
      .login__password-input
        +input({
          title: {},
          input: {
            attr: {
              "type": "password",
              "placeholder": "Пароль"
            },
            length: "long",
            type: "regular"
          }
        })
    .login__confirm-button
      +button({
        type: "confirm",
        text: confirm,
        attrType: "submit",
      })
    .login__registration
      p.login__text="Нет аккаунта на Toxin?"
      a(class="login__link" href=loginLink)
        +button({
          type: "border",
          text: "создать",
        })