@import '__inputs/login__inputs.scss';
@import '__text/login__text.scss';
@import '__registration/login__registration.scss';

.login {
  padding: 40px 30px 30px;
  background-color: white;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  max-width: 380px;
  box-sizing: border-box;
  &__title {
    margin-bottom: 20px;
  }
  &__inputs {
    margin-bottom: 20px;
  }
  &__confirm-button {
    margin-bottom: 30px;
  }
}