@import '../../common/mixins.scss';
@import '../../common/variables';

.login {
  display: flex;
  flex-direction: column;
  padding: 39px 29px 31px 29px;
  background-color: white;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  width: 380px;

  &__title {
    margin-bottom: 20px;
  }

  &__inputs {
    margin-bottom: 20px;
  }

  &__email-input {
    margin-bottom: 10px;
  }

  &__registration {
    display: flex;
    justify-content: space-between;
  }

  &__confirm-button {
    margin-bottom: 30px;
  }

  &__text {
    @include text_type($font-main, 14px, 400, 42px, #000000);
    margin: 0;

    @media screen and (max-width: 420px) {
      max-width: 140px;
      line-height: 22px;
    }
  }

  &__link {
    width: 99px;
  }

  @media screen and (max-width: 420px) {
    width: 300px;
    padding: 20px 16px 20px;
  }
}