@import '../../overall/mixins.scss';

.title {
  @include text_type($mont, 12px, 700, 15px, $dark100);
  text-transform: uppercase;
  margin: 0;
  vertical-align: bottom;
  user-select: none;

  &_size_large {
    font-size: 24px;
    line-height: 29.26px;
    text-transform: none;
  }

  &_size_regular {
    font-size: 19px;
    line-height: 24px;
    text-transform: none;
  }

  &_length_half {
    width: 50%;
    display: inline-block;
  }

  &_closed,
  &_expanded {
    width: 100%;
    cursor: pointer;

    &:after {
      content: '';
      width: 44px;
      height: 15px;
      display: inline-block;
      background-image: url('../../img/input-dropdown.svg');
      background-repeat: no-repeat;
      vertical-align: top;
      background-position-y: 3px;
      background-position-x: 16px;
      float: right;
      cursor: pointer;
    }
  }

  &_expanded {
    &::after {
      transform: rotate(180deg);
    }
  }

  &_for-sidebar {
    max-width: 280px;
    text-transform: none;
    vertical-align: 24px;
    font-size: 19px;
    display: none;
  }
}