mixin title(settings)
  - const {
  -   text = "For change",
  -   state = "",
  -   teg = "p",
  -   fontSize = "",
  -   length = "",
  - } = settings
  - const fontSizeClass = fontSize ? `title__text_size_${fontSize}` : ""
  - const lengthClass = length ? `title__text_length_${length}` : ""
  div.title
    #{teg}(class=["title__text", fontSizeClass, lengthClass])=text
    if state
      span.title__state=state