mixin title(settings)
  - const {
  -   text = "For change",
  -   teg = "p",
  -   fontSize = "",
  -   length = ""
  - } = settings
  - const fontSizeClass = fontSize ? `title_size_${fontSize}` : ""
  - const lengthClass = length ? `title_length_${length}` : ""
  #{teg}(class=["title", fontSizeClass, lengthClass])=text