mixin title(settings)
  - const {
  -   text = "For change",
  -   teg = "p",
  -   jsClass = false,
  - } = settings
  - let {
  -   type = false,
  -   targetClass = false,
  -   length = false
  - } = settings
  - if (type) type = `title_${type}`
  - if (targetClass) targetClass = `title_for-${targetClass}`
  - if (length) length = `title_length_${length}`
  #{teg}(class=["title", type, targetClass, jsClass, length])=text