@import '../../common/mixins.scss';
@import '../../common/variables';

.title {
  &__text {
    @include text_type($mont, 12px, 700, 15px, $dark100);
    display: inline-block;
    text-transform: uppercase;
    margin: 0;
    vertical-align: bottom;
    user-select: none;

    &_size {
      &_large {
        font-size: 24px;
        line-height: 29.26px;
        text-transform: none;
      }

      &_regular {
        font-size: 19px;
        line-height: 24px;
        text-transform: none;
      }
    }

    &_length {
      &_half {
        width: 50%;
        display: inline-block;
      }
    }
  }

  &__state {
    @include text_type($mont, 12px, 400, 15px, $dark50);
    display: inline-block;
    width: 40%;
    text-align: right;
    float: right;
    text-transform: uppercase;
  }

  &__state + &__text {
    width: 60%;
  }
}