include ../../blocks/page-head/page-head.pug
include ../../blocks/logo/logo.pug
include ../../blocks/input/input.pug
include ../../blocks/toggle/toggle.pug
include ../../blocks/slider/slider.pug
include ../../blocks/button/button.pug
include ../../blocks/dropdown/dropdown.pug
include ../../blocks/list/list.pug
include ../../blocks/positive-feature/positive-feature.pug
include ../../blocks/title/title.pug
include ../../blocks/user-comment/user-comment.pug
include ../../blocks/content-navigation/content-navigation.pug
include ../../blocks/datepicker/datepicker.pug
include ../../blocks/stars-rating/stars-rating.pug
include ../../blocks/like-button/like-button.pug

+page-head({title: "Form-Elements", description: "Form Elements from UI-Kit"})
  body.body
    div.form-elements
      +logo({
        imgSrc: "logo.svg",
        isInCorner: true
      })
      div.form-elements__content
        div.form-elements__input-types
          div.form-elements__text-input
            +input({
              title: { text: "text field", type: "with-state", state: "default" },
              input: {
                attr: {
                  "type": "email",
                  "placeholder": "Email"
                },
                length: "long",
                type: "regular"
              }
            })
          div.form-elements__text-input
            +input({
              title: { text: "text field", type: "with-state", state: "hover / focus" },
              input: {
                attr: {
                  "type": "text",
                  "placeholder": "Text",
                  "value": "This is pretty awesome"
                },
                length: "long",
                type: "regular",
                isDarkBorder: true
              }
            })
          div.form-elements__dropdown.js-form-elements__dropdown
            +dropdown({
              inputSettings: {
                title: {text: "dropdown"},
                input: {
                  attr: {
                    type: "text",
                    placeholder: "Text",
                    value: "Сколько гостей",
                    readonly: "readonly"
                  },
                  length: "long",
                  type: "dropdown",
                }
              },
              isClosed: true,
              lists: [
                {text: "взрослые", dataTarget: "adult", output: "0"},
                {text: "дети", dataTarget: "child", output: "0"},
                {text: "младенцы", dataTarget: "baby", output: "0"}
              ],
            })
          div.form-elements__masked-input.js-form-elements__masked-input
            +input({
              title: { text: "masked text field" },
              input: {
                attr: {
                  type: "text",
                  placeholder: "ДД.ММ.ГГГГ"
                },
                length: "long",
                type: "date"
              }
            })
          div.form-elements__date-dropdowns.js-form-elements__date-dropdowns
            +datepicker({
              inputType: 'double',
              inputSettings: {
                from: {
                  title: {text: "date Dropdown"},
                  input: {
                    attr: {
                      type: "text",
                      placeholder: "ДД.ММ.ГГГГ",
                      value: "ДД.ММ.ГГГГ",
                      readonly: "readonly"
                    },
                    length: "short",
                    type: "dropdown",
                  }
                },
                to: {
                  title: {text: "date Dropdown"},
                  input: {
                    attr: {
                      type: "text",
                      placeholder: "ДД.ММ.ГГГГ",
                      value: "19.08.2019",
                      readonly: "readonly"
                    },
                    length: "short",
                    type: "dropdown",
                  }
                }
              },
              isCalendarClosed: true,
            })
          div.form-elements__filter-dropdown.js-form-elements__filter-dropdown
            +datepicker({
              inputType: 'total',
              inputSettings: {
                total: {
                  title: {text: "filter date dropdown"},
                  input: {
                    attr: {
                      type: "text",
                      placeholder: "ДД.ММ.ГГГГ",
                      value: "19 авг - 23 авг",
                      readonly: "readonly"
                    },
                    length: "average",
                    type: "dropdown",
                  }
                }
              },
              isCalendarClosed: true,
              isSmall: true,
            })
          div.form-elements__subscription-input
            form(action="./for-change").form-elements__subscription-form
              +input({
                title: { text: "subscription text field" },
                input: {
                  attr: {
                    type: "email",
                    placeholder: "Email"
                  },
                  length: "average",
                  type: "submit"
                }
              })
        div.form-elements__toggle-types
          div.form-elements__checkboxes
            div.form-elements__checkboxes-title
              +title({
                text: "Checkbox Buttons"
              })
            +toggle({
              type: "checkbox",
              attrs: {
                "type": "checkbox",
                "hidden": "hidden"
              },
              text: {
                text: "Можно курить"
              }
            })
            +toggle({
              type: "checkbox",
              attrs: {
                "type": "checkbox",
                "hidden": "hidden",
                "checked": "checked"
              },
              text: {
                text: "Можно с питомцами"
              }
            })
            +toggle({
              type: "checkbox",
              attrs: {
                "type": "checkbox",
                "hidden": "hidden",
                "checked": "checked"
              },
              text: {
                text: "Можно пригласить гостей (до 10 человек)",
                length: "short"
              }
            })
          div.form-elements__radios
            div.form-elements__radios-title
              +title({
                text: "Radio Buttons"
              })
            div.form-elements__radio
              +toggle({
                type: "radio",
                attrs: {
                  "type": "radio",
                  "hidden": "hidden",
                  "name": "gender",
                  "value": "male",
                  "checked": "checked"
                },
                text: {
                  text: "Мужчина"
                }
              })
            div.form-elements__radio
              +toggle({
                type: "radio",
                attrs: {
                  "type": "radio",
                  "hidden": "hidden",
                  "name": "gender",
                  "value": "female"
                },
                text: {
                  text: "Женщина"
                }
              })
          div.form-elements__toggles
            div.form-elements__toggles-title
              +title({
                text: "Toggle"
              })
            +toggle({
              type: "toggle",
              attrs: {
                "type": "checkbox",
                "hidden": "hidden",
                "value": "female",
                "checked": "checked"
              },
              text: {
                text: "Получать спецпредложения"
              }
            })
            +toggle({
              type: "toggle",
              attrs: {
                "type": "checkbox",
                "hidden": "hidden",
              },
              text: {
                text: "Получать спецпредложения"
              }
            })
          div.form-elements__likes
            div.form-elements__likes-title
              +title({
                text: "like button"
              })
            div.form-elements__like.form-elements__like_unchecked.js-form-elements__like_unchecked
              +like-button({
                counter: "2",
                isChecked: false,
              })
            div.form-elements__like.form-elements__like_checked.js-form-elements__like_checked
              +like-button({
                counter: "12",
                isChecked: true,
              })
          div.form-elements__ratings
            div.form-elements__rating-title
              +title({
                text: "rate button"
              })
            div.form-elements__rating.js-form-elements__rating_number_1
              +stars-rating({rating: "4"})
            div.form-elements__rating.js-form-elements__rating_number_2
              +stars-rating({rating: "5"})
        div.form-elements__button-types
          div.form-elements__slider.js-form-elements__slider
            +slider({
              title: "range slider",
            })
          div.form-elements__buttons
            div.form-elements__buttons-title
              +title({text: "buttons"})
            div.form-elements__simple-buttons
              div.form-elements__button-wrapp
                +button({
                  type: "regular",
                  text: "click me",
                })
              div.form-elements__button-wrapp
                +button({
                  type: "regular",
                  text: "click me",
                  isTransparent: true,
                })
            div.form-elements__border-buttons
              div.form-elements__button-wrapp
                +button({
                  type: "border",
                  text: "click me",
                })
              div.form-elements__button-wrapp
                +button({
                  type: "border",
                  text: "click me",
                  isTransparent: true,
                })
            div.form-elements__text-buttons
              div.form-elements__button-wrapp
                +button({
                  type: "text",
                  text: "click me",
                })
              div.form-elements__button-wrapp
                +button({
                  type: "text",
                  text: "click me",
                  isTransparent: true,
                })
            div.form-elements__big-button
              +button({
                type: "confirm",
                text: "перейти к оплате",
              })
          div.form-elements__pagination.js-form-elements__pagination
            +content-navigation({
              title: "pagination",
              counter: "1 - 12 из 100+ вариантов аренды"
            })
        div.form-elements__dropdown-types
          div.form-elements__fittings-dropdown
            div.form-elements__closed-dropdown.js-form-elements__closed-dropdown
              +dropdown({
                inputSettings: {
                  title: {text: "dropdown", type: "with-state", state: "default"},
                  input: {
                    attr: {
                      type: "text",
                      placeholder: "Text",
                      value: "2 спальни, 2 кровати...",
                      readonly: "readonly"
                    },
                    length: "average",
                    type: "dropdown",
                  }
                },
                isClosed: true,
                lists: [
                  {text: "спальни", dataTarget: "bedroom", output: "2"},
                  {text: "кровати", dataTarget: "bed", output: "2"},
                  {text: "ванные комнаты", dataTarget: "bathroom", output: "0"}
                ],
                main: {
                  dataType: "rooms",
                  outputType: "oneByOne"
                }
              })
            div.form-elements__expanded-dropdown.js-form-elements__expanded-dropdown
              +dropdown({
                inputSettings: {
                  title: {text: "dropdown", type: "with-state", state: "expanded"},
                  input: {
                    attr: {
                      type: "text",
                      placeholder: "Text",
                      value: "2 спальни, 2 кровати...",
                      readonly: "readonly",
                    },
                    length: "average",
                    type: "dropdown",
                  }
                },
                lists: [
                  {text: "спальни", dataTarget: "bedroom", output: "2"},
                  {text: "кровати", dataTarget: "bed", output: "2"},
                  {text: "ванные комнаты", dataTarget: "bathroom", output: "0"}
                ],
                main: {
                  dataType: "rooms",
                  outputType: "oneByOne"
                }
              })
          div.form-elements__guests-dropdown.js-form-elements__guests-dropdown_counter_0
            +dropdown({
              inputSettings: {
                title: {text: "dropdown"},
                input: {
                  attr: {
                    type: "text",
                    placeholder: "Text",
                    value: "Сколько гостей",
                    readonly: "readonly",
                  },
                  length: "long",
                  type: "dropdown",
                }
              },
              lists: [
                {text: "взрослые", dataTarget: "adult", output: "0"},
                {text: "дети", dataTarget: "child", output: "0"},
                {text: "младенцы", dataTarget: "baby", output: "0"}
              ],
              main: {
                dataType: "guests",
                outputType: "sum"
              }
            })
          div.form-elements__guests-dropdown.js-form-elements__guests-dropdown_counter_3
            +dropdown({
              inputSettings: {
                title: {text: "dropdown"},
                input: {
                  attr: {
                    type: "text",
                    placeholder: "Text",
                    value: "3 гостя",
                    readonly: "readonly",
                  },
                  length: "long",
                  type: "dropdown",
                }
              },
              lists: [
                {text: "взрослые", dataTarget: "adult", output: "2"},
                {text: "дети", dataTarget: "child", output: "1"},
                {text: "младенцы", dataTarget: "baby", output: "0"}
              ],
              main: {
                dataType: "guests",
                outputType: "sum"
              }
            })
        div.form-elements__list-types
          div.form-elements__expandable-lists
            div.form-elements__closed-list.js-form-elements__closed-list
              +list({
                title: {
                  text: "expandable checkbox list",
                },
                isExpandable: true,
                opennessState: "closed",
                listType: "toggles",
                itemList: [
                  {
                    type: "checkbox",
                    attrs: {
                      "type": "checkbox",
                      "hidden": "hidden"
                    },
                    text: {
                      text: "Завтрак",
                    }
                  },
                  {
                    type: "checkbox",
                    attrs: {
                      "type": "checkbox",
                      "hidden": "hidden",
                      "checked": "checked"
                    },
                    text: {
                      text: "Письменный стол",
                    }
                  },
                  {
                    type: "checkbox",
                    attrs: {
                      "type": "checkbox",
                      "hidden": "hidden",
                      "checked": "checked"
                    },
                    text: {
                      text: "Стул для кормления",
                    }
                  },
                  {
                    type: "checkbox",
                    attrs: {
                      "type": "checkbox",
                      "hidden": "hidden",
                      "checked": "checked"
                    },
                    text: {
                      text: "Кроватка",
                    }
                  },
                  {
                    type: "checkbox",
                    attrs: {
                      "type": "checkbox",
                      "hidden": "hidden"
                    },
                    text: {
                      text: "Телевизор",
                    }
                  },
                  {
                    type: "checkbox",
                    attrs: {
                      "type": "checkbox",
                      "hidden": "hidden",
                    },
                    text: {
                      text: "Шампунь",
                    }
                  },
                ]
              })
            div.form-elements__expanded-list.js-form-elements__expanded-list
              +list({
                title: {
                  text: "expandable checkbox list",
                },
                isExpandable: true,
                opennessState: "expanded",
                listType: "toggles",
                itemList: [
                  {
                    type: "checkbox",
                    attrs: {
                      "type": "checkbox",
                      "hidden": "hidden"
                    },
                    text: {
                      text: "Завтрак",
                    }
                  },
                  {
                    type: "checkbox",
                    attrs: {
                      "type": "checkbox",
                      "hidden": "hidden",
                      "checked": "checked"
                    },
                    text: {
                      text: "Письменный стол",
                    }
                  },
                  {
                    type: "checkbox",
                    attrs: {
                      "type": "checkbox",
                      "hidden": "hidden",
                      "checked": "checked"
                    },
                    text: {
                      text: "Стул для кормления",
                    }
                  },
                  {
                    type: "checkbox",
                    attrs: {
                      "type": "checkbox",
                      "hidden": "hidden",
                      "checked": "checked"
                    },
                    text: {
                      text: "Кроватка",
                    }
                  },
                  {
                    type: "checkbox",
                    attrs: {
                      "type": "checkbox",
                      "hidden": "hidden"
                    },
                    text: {
                      text: "Телевизор",
                    }
                  },
                  {
                    type: "checkbox",
                    attrs: {
                      "type": "checkbox",
                      "hidden": "hidden",
                    },
                    text: {
                      text: "Шампунь",
                    }
                  },
                ]
              })
          div.form-elements__rich-list
            +list({
              title: {
                text: "rich Checkbox Buttons",
              },
              listType: "toggles",
              itemList: [
                {
                  type: "checkbox",
                  attrs: {
                    "type": "checkbox",
                    "hidden": "hidden"
                  },
                  text: {
                    title: "Широкий коридор",
                    text: "Ширина коридоров в номере не менее 91 см.",
                    isShort: true,
                  }
                },
                {
                  type: "checkbox",
                  attrs: {
                    "type": "checkbox",
                    "hidden": "hidden"
                  },
                  text: {
                    title: "Помощник для инвалидов",
                    text: "На 1 этаже вас встретит специалист  и проводит до номера.",
                  }
                },
              ],
              container: false,
            })
          div.form-elements__bullet-list
            +list({
              title: {
                text: "bullet list",
              },
              listType: "text",
              itemList: [
                "Нельзя с питомцами", "Без вечеринок и мероприятий", "Время прибытия — после 13:00, а выезд до 12:00"
              ]
            })
        div.form-elements__additions
          div.form-elements__positive-features
            +positive-feature({
              imgAttrs: {
                alt: "Abstract image of a modern house",
                src: "smile.svg"
              },
              title: "Комфорт",
              description: "Шумопоглощающие стены",
              isWithBorder: true,
            })
            +positive-feature({
              imgAttrs: {
                alt: "Abstract image of a modern house",
                src: "house.svg"
              },
              title: "Удобство",
              description: "Окно в каждой из спален",
              isWithBorder: true,
            })
          div.form-elements__user-comment.js-form-elements__user-comment
            +user-comment({
              title: {
                imgSrc: "user.jpg",
                userName: "Мурад Сарафанов",
                userAge: "5 дней назад"
              },
              main: {
                isLiked: true,
                likeCounter: "12",
                commentText: "Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей."
              }
            })