div.footers__big-footer__fishtext
  img(src="./img/color-logo.svg", alt="logo")
  div.footers__big-footer__fishtext__text.type-simple-text= 'Lorem ipsum dolor sit amet consectetur adipiscing elit aliquam eget nullam pellentesque aliquam curabitur cociis.'