include footers__big-footer__links-table.pug
include footers__big-footer__fishtext.pug
include footers-big-footer-subscribe.pug
include footers__big-footer__copyright-block.pug

div.footers__big-footer
  +footers__big-footer__fishtext('en')
  +footers__big-footer__links-table('en')
  +footers-big-footer-subscribe('en')
+footers__big-footer__copyright-block('en')
