.footers__big-footer {
  width: 1440px;
  background: #FFFFFF;
  box-shadow: 0px 1px 0px rgba(31, 32, 65, 0.1);
  padding: 104px 140px 100px;
  box-sizing: border-box;
}
.footers__big-footer__fishtext__text {
  margin-top: 20px;
  width: 260px;
}
.footers__big-footer__fishtext {
  display: inline-block;
  margin-right: 25px;
}
.footers__big-footer__links-table-body {
  display: inline-block;
}
.footers__big-footer__links-table {
  display: inline-block;
  vertical-align: top;
  padding: 0;
  margin: 0;
  width: 200px;
  li {
    text-align: left;
    cursor: default;
    list-style: none;
    padding-bottom: 20px;
    a {
      text-decoration: none;
      color: $dark50;
    }
  }
  .footers__big-footer__links-table__last {
    padding-right: 0px;
  }
}
.footers-big-footer-subscribe {
  display: inline-block;
  vertical-align: top;
  h3 {
    margin-bottom: 20px;
  }
  .arrow-block {

  }
}
.footers-big-footer-subscribe__text {
  width: 196px;
  margin-bottom: 20px;
}
.footers__big-footer__copyright-block {
  background: #FFFFFF;
  box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
  margin-top: 1px;
  height: 70px;
  box-sizing: border-box;
  padding-right: 140px;
  padding-left: 140px;
  div {
    padding-top: 26px;
    display: inline-block;
  }
}
.footers__big-footer__copyright-block__media-links {
  float: right;
  img {
    display: inline-block;
  }
}
.footers__small-footer {
  background: #FFFFFF;
  box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
  padding: 100px 0 110px 0;
}
.footers__small-footer__body {
  margin: auto;
  width: 560px;
  text-align: center;
  img {
    margin-bottom: 20px;
  }
}
.footers__small-footer__media {
  img{
    margin-bottom: 0;
    margin-top: 25px;
  }
}
.footers__big-footer__media-block__middle {
  margin: 0 20px 0;
}