include ../../form-elements/fields-toggles-buttons/fields/text-field-subscription.pug
mixin footers-big-footer-subscribe(option)
  if option == 'en'
    div.footers-big-footer-subscribe
      h3.type-h3= 'Subscribe to our newsletter'
      div.type-simple-text.footers-big-footer-subscribe__text= 'Receive our latest news and promotions in your inbox!'
      +textfield-subscription('Your email address')
  else if option == 'ru'
    div.footers-big-footer-subscribe
        h3.type-h3= 'Подписка'
        div.type-simple-text.footers-big-footer-subscribe__text= 'Получайте специальные предложения и новости сервиса'
        +textfield-subscription('Email')
