div.footers__small-footer
  div.footers__small-footer__body
    img(src="./img/color-logo.svg", alt="logo")
    div.type-simple-text= 'Lorem ipsum dolor sit amet consectetur adipiscing elit aliquam eget nullam pellentesque aliquam curabitur cociis.'
    div.footers__small-footer__media
      include footers__big-footer__media-block.pug