a(href="for-change" target="_blank" rel="noopener noreferrer")
  img(src="./img/twitter-logo.svg", alt="")
a(href="for-change" target="_blank" rel="noopener noreferrer")
  img.footers__big-footer__media-block__middle(src="./img/facebook-logo.svg", alt="")
a(href="for-change" target="_blank" rel="noopener noreferrer")
  img(src="./img/instagram-logo.svg", alt="")