.list__item_bullet {
  &:before {
    content: '';
    display: inline-block;
    width: 10px; height: 10px;
    background-color: $dark25;
    margin-right: 10px;
    border-radius: 100%;
    vertical-align: top;
    margin-top: 7px;  
  }
}