@import '../../common/mixins.scss';
@import '../../common/variables';

.radio-button {
  @include text_type($main-font, 14px, 400, 20px, $color-main-light);
  cursor: pointer;
  display: flex;
  column-gap: 10px;

  &__border {
    height: 20px;
    width: 20px;
    cursor: pointer;
    border: 1px solid $color-main-lighter;
    border-radius: 50%;
  }

  &__controller:checked + &__border {
    padding: 3px;
    border-color: $main-interactive-color;

    &::before {
      content: '';
      display: block;
      width: 12px;
      height: 12px;
      background: linear-gradient(180deg, $main-interactive-color 0%, #8ba4f9 100%);
      border-radius: 50%;
    }
  }

  &__controller:checked ~ &__text-wrapper &__text {
    color: $color-main-dark;
  }

  &:hover &__border {
    box-shadow: 0 0 4px 1px $main-interactive-color;
  }
}