@font-face {
  font-family: 'Quicksand';
  src: url(../fonts/Quicksand-Regular.woff2), url(../fonts/Quicksand-Regular.woff);
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Quicksand';
  src: url(../fonts/Quicksand-Bold.woff2), url(../fonts/Quicksand-Bold.woff);
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: 'Montserrat';
  src: url(../fonts/Montserrat-Regular.woff2), url(../fonts/Montserrat-Regular.woff);
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Montserrat';
  src: url(../fonts/Montserrat-Bold.woff2), url(../fonts/Montserrat-Bold.woff);
  font-weight: 700;
  font-style: normal; }

.logo_position_in-corner {
  position: absolute;
  top: 30px;
  left: 30px; }

.color-description {
  font-family: Montserrat, Arial, sans-serif;
  font-size: 19px;
  font-weight: 400;
  line-height: 28px;
  color: #1f2041;
  max-height: 70px; }
  .color-description:not(:last-child) {
    margin-bottom: 20px; }
  .color-description__sample {
    height: 70px;
    width: 70px;
    border-radius: 6px;
    display: inline-block; }
    .color-description__sample_color_dark-100 {
      background-color: #1f2041; }
    .color-description__sample_color_dark-75 {
      background-color: rgba(31, 32, 65, 0.75); }
    .color-description__sample_color_dark-50 {
      background-color: rgba(31, 32, 65, 0.5); }
    .color-description__sample_color_dark-25 {
      background-color: rgba(31, 32, 65, 0.25); }
    .color-description__sample_color_dark-5 {
      background-color: rgba(31, 32, 65, 0.05); }
    .color-description__sample_color_purple {
      background-color: #bc9cff; }
    .color-description__sample_color_green {
      background-color: #6fcf97; }
  .color-description__text {
    display: inline-block;
    line-height: 28px;
    padding: 7px 0;
    vertical-align: top;
    margin-left: 40px; }
  .color-description__name {
    font-weight: 700;
    margin: 0; }
  .color-description__index {
    margin: 0;
    font-weight: 400; }

.text-sample:not(:last-child) {
  margin-bottom: 50px; }

.text-sample__description {
  margin: 0 0 0 30px;
  display: inline-block;
  max-width: 369px;
  vertical-align: top; }
  .text-sample__description_type_h1 {
    font-family: Montserrat, Arial, sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 29px;
    color: #1f2041; }
  .text-sample__description_type_h2 {
    font-family: Montserrat, Arial, sans-serif;
    font-size: 19px;
    font-weight: 700;
    line-height: 23px;
    color: #1f2041; }
  .text-sample__description_type_h3 {
    font-family: Montserrat, Arial, sans-serif;
    font-size: 12px;
    font-weight: 700;
    line-height: 14px;
    color: #1f2041;
    text-transform: uppercase; }
  .text-sample__description_type_regular {
    font-family: Montserrat, Arial, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    color: rgba(31, 32, 65, 0.75); }

.text-sample__teg {
  vertical-align: top;
  font-weight: 400;
  display: inline-block;
  margin: 0;
  min-width: 40px;
  text-align: right; }
  .text-sample__teg_type_h1 {
    font-family: Montserrat, Arial, sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 29px;
    color: rgba(31, 32, 65, 0.25); }
  .text-sample__teg_type_h2 {
    font-family: Montserrat, Arial, sans-serif;
    font-size: 19px;
    font-weight: 400;
    line-height: 23px;
    color: rgba(31, 32, 65, 0.25); }
  .text-sample__teg_type_h3 {
    font-family: Montserrat, Arial, sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    color: rgba(31, 32, 65, 0.25); }
  .text-sample__teg_type_regular {
    font-family: Montserrat, Arial, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    color: rgba(31, 32, 65, 0.25); }

.text-sample:last-child .text-sample__description {
  max-width: 301px; }

html {
  box-sizing: border-box; }

*,
*::before,
*::after {
  box-sizing: inherit; }

.body {
  margin: 0; }

.content-types {
  width: 1440px;
  padding: 145px 158px 145px 149px;
  position: relative;
  margin: auto; }
  .content-types__colors, .content-types__text {
    display: inline-block; }
  .content-types__text {
    vertical-align: top;
    float: right; }

