.content-types {
  width: 1440px;
  padding: 145px 158px 145px 149px;
  position: relative;
  margin: auto; }
  .content-types__colors, .content-types__text {
    display: inline-block; }
  .content-types__text {
    vertical-align: top;
    float: right; }

