@font-face {
  font-family: 'Quicksand';
  src: url(../fonts/Quicksand-Regular.woff2), url(../fonts/Quicksand-Regular.woff);
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Quicksand';
  src: url(../fonts/Quicksand-Bold.woff2), url(../fonts/Quicksand-Bold.woff);
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: 'Montserrat';
  src: url(../fonts/Montserrat-Regular.woff2), url(../fonts/Montserrat-Regular.woff);
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Montserrat';
  src: url(../fonts/Montserrat-Bold.woff2), url(../fonts/Montserrat-Bold.woff);
  font-weight: 700;
  font-style: normal; }

.logo_position_in-corner {
  position: absolute;
  top: 30px;
  left: 30px; }

.input {
  font-family: Montserrat, Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: rgba(31, 32, 65, 0.25); }
  .input__field {
    height: 44px;
    border: 1px solid rgba(31, 32, 65, 0.25);
    border-radius: 4px;
    padding: 11px 14px 12px;
    outline: none;
    font-family: Montserrat, Arial, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    color: rgba(31, 32, 65, 0.75); }
    .input__field::placeholder {
      color: rgba(31, 32, 65, 0.25); }
    .input__field_expanded {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
      border: 1px solid rgba(31, 32, 65, 0.5); }
    .input__field_border_dark {
      border-color: rgba(31, 32, 65, 0.5); }
    .input__field_length_long {
      width: 320px; }
      @media screen and (max-width: 380px) {
        .input__field_length_long {
          width: 266px; } }
    .input__field_length_average {
      width: 266px; }
    .input__field_length_adaptive {
      width: 100%; }
    .input__field_length_short {
      width: 150px;
      display: inline-block;
      padding: 10px 14px 13px; }
      @media screen and (max-width: 380px) {
        .input__field_length_short {
          width: 266px; } }
    .input__field_type_regular:hover, .input__field_type_regular:focus {
      border-color: rgba(31, 32, 65, 0.5); }
    .input__field_focused {
      border: 1px solid rgba(31, 32, 65, 0.5);
      color: rgba(31, 32, 65, 0.75); }
    .input__field_type_dropdown {
      cursor: pointer;
      position: relative;
      vertical-align: top; }
      .input__field_type_dropdown:hover {
        border-color: rgba(31, 32, 65, 0.5); }
    .input__field_type_date:hover, .input__field_type_date:focus {
      border-color: rgba(31, 32, 65, 0.5); }
    .input__field_type_submit {
      position: relative;
      display: inline-block; }
      .input__field_type_submit:hover, .input__field_type_submit:focus {
        border-color: rgba(31, 32, 65, 0.5); }
  .input__state {
    width: 35%;
    font-size: 12px;
    line-height: 15px;
    color: rgba(31, 32, 65, 0.5);
    vertical-align: bottom;
    text-align: right;
    text-transform: uppercase;
    display: inline-block;
    margin: 0; }
  .input__submit-button {
    background-image: url(../img/arrow-forward.svg);
    content: '';
    cursor: pointer;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    right: 1px;
    top: 1px;
    width: 42px;
    height: 42px;
    text-align: center;
    background-color: white;
    border: none;
    outline: none;
    border-radius: 4px; }
  .input__title {
    line-height: 15px;
    margin-bottom: 5px;
    text-align: initial; }
  .input__wrapper {
    display: inline-block;
    position: relative;
    cursor: pointer; }
    .input__wrapper_type_dropdown::after {
      content: '';
      background-image: url(../img/input-dropdown.svg);
      background-repeat: no-repeat;
      background-position-x: 16px;
      background-position-y: 18px;
      position: absolute;
      right: 0;
      top: 1px;
      width: 44px;
      height: 42px;
      text-align: center; }
    .input__wrapper_length_long {
      width: 320px; }
      @media screen and (max-width: 380px) {
        .input__wrapper_length_long {
          width: 266px; } }
    .input__wrapper_length_average {
      width: 266px; }
    .input__wrapper_length_adaptive {
      width: 100%; }
  .input__title-text {
    display: inline-block; }
    .input__title-text_with-state {
      width: 65%; }

.toggle {
  display: block;
  min-height: 20px;
  font-family: Montserrat, Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: rgba(31, 32, 65, 0.75); }
  .toggle:not(:last-of-type) {
    margin-bottom: 10px; }
  .toggle__wrapper {
    display: inline-block;
    min-height: 20px;
    position: relative; }
    .toggle__wrapper:not(:last-of-type) {
      margin-right: 20px; }
  .toggle__text-wrapper {
    margin-left: 10px; }
  .toggle__mimic {
    height: 20px;
    display: inline-block;
    cursor: pointer;
    border: 1px solid rgba(31, 32, 65, 0.25);
    vertical-align: top; }
    .toggle__mimic_type_checkbox {
      width: 20px;
      border-radius: 4px; }
    .toggle__mimic_type_radio {
      width: 20px;
      border-radius: 50%; }
    .toggle__mimic_type_toggle {
      width: 40px;
      border-radius: 10px;
      padding: 3px; }
      .toggle__mimic_type_toggle::before {
        content: '';
        display: block;
        width: 12px;
        height: 12px;
        background: rgba(31, 32, 65, 0.25);
        border-radius: 50%; }
    .toggle__mimic_type_like {
      min-width: 40px;
      border-radius: 10px;
      padding: 0 5px 0 16px;
      position: relative; }
      .toggle__mimic_type_like .toggle__text {
        min-width: 15px;
        text-align: center;
        font-size: 10px;
        line-height: 18px;
        color: rgba(31, 32, 65, 0.25);
        vertical-align: top;
        margin: 0; }
      .toggle__mimic_type_like::before {
        content: '';
        background-image: url(../img/favorite-border.svg);
        background-repeat: no-repeat;
        background-position-y: center;
        background-position-x: center;
        display: inline-block;
        position: absolute;
        left: 0;
        height: 18px;
        width: 18px; }
  .toggle__text {
    cursor: pointer;
    user-select: none;
    display: inline-block;
    margin: 0;
    line-height: 18px;
    max-width: 230px; }
    .toggle__text_length_short {
      max-width: 192px; }
  .toggle__text-title {
    font-family: Montserrat, Arial, sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 18px;
    color: rgba(31, 32, 65, 0.75);
    display: block;
    margin: 1px 0 0; }
  .toggle__text-title ~ .toggle__text {
    display: block;
    font-size: 12px;
    line-height: 14px;
    padding: 5px 0 0 0;
    color: rgba(31, 32, 65, 0.5); }
  .toggle__text-wrapper {
    display: inline-block; }
  .toggle__title {
    margin: 0 0 17px;
    line-height: 15px; }
  .toggle__controller_type_checkbox:checked + .toggle__mimic_type_checkbox {
    content: url(../img/check-arrow.jpg);
    padding: 3px 4px 5px;
    border-color: #bc9cff; }
  .toggle__controller_type_radio:checked + .toggle__mimic_type_radio {
    padding: 3px;
    border-color: #bc9cff; }
    .toggle__controller_type_radio:checked + .toggle__mimic_type_radio::before {
      content: '';
      display: block;
      width: 12px;
      height: 12px;
      background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
      border-radius: 50%; }
  .toggle__controller_type_radio ~ .toggle__text-wrapper .toggle__text {
    color: rgba(31, 32, 65, 0.5); }
  .toggle__controller_type_radio:checked ~ .toggle__text-wrapper .toggle__text {
    color: rgba(31, 32, 65, 0.75); }
  .toggle__controller_type_toggle:checked + .toggle__mimic_type_toggle {
    border-color: #bc9cff; }
    .toggle__controller_type_toggle:checked + .toggle__mimic_type_toggle::before {
      float: right;
      background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%); }
  .toggle__controller_type_like:checked + .toggle__mimic_type_like {
    border-color: #bc9cff; }
    .toggle__controller_type_like:checked + .toggle__mimic_type_like::before {
      background-image: url(../img/favorite.svg); }
    .toggle__controller_type_like:checked + .toggle__mimic_type_like .toggle__text {
      color: #bc9cff; }

.slider__body {
  height: 6px;
  border-radius: 3px;
  border: 1px solid rgba(31, 32, 65, 0.25); }

.slider__description {
  margin: 14px 0 0;
  font-family: Montserrat, Arial, sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
  color: rgba(31, 32, 65, 0.5); }

.slider__output {
  display: inline-block;
  line-height: 15px;
  width: 50%;
  font-weight: 400;
  color: rgba(31, 32, 65, 0.5);
  text-align: right;
  font-size: 13px;
  letter-spacing: -0.5px; }

.slider__title {
  line-height: 15px;
  margin: 0 0 21px;
  font-family: Montserrat, Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: rgba(31, 32, 65, 0.75); }

.slider__title-text {
  width: 50%;
  display: inline-block; }

.ui-slider .ui-slider-handle {
  box-sizing: initial;
  outline: none;
  top: -6px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: 2px solid white;
  background: linear-gradient(180deg, #6fcf97 0%, #66d2ea 100%); }

.ui-slider .ui-slider-range {
  box-sizing: initial;
  height: 6px;
  top: -1px;
  background: linear-gradient(180deg, #6fcf97 0%, #66d2ea 100%); }

.button {
  display: inline-block; }
  .button__control {
    font-family: Montserrat, Arial, sans-serif;
    font-size: 12px;
    font-weight: 700;
    line-height: 15px;
    color: white;
    text-transform: uppercase;
    outline: none;
    cursor: pointer;
    user-select: none;
    border: none; }
    .button__control_type_regular {
      color: white;
      background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
      border-radius: 22px;
      padding: 14px 19px 15px; }
      .button__control_type_regular:hover {
        opacity: 0.5; }
    .button__control_type_border {
      width: calc(100% - 4px);
      padding: 12px 16px 13px;
      background-color: white;
      color: #bc9cff;
      margin: 2px;
      border-radius: 22px; }
    .button__control_type_text {
      background: none;
      padding: 0;
      color: #bc9cff; }
      .button__control_type_text:hover {
        color: rgba(31, 32, 65, 0.5); }
    .button__control_type_confirm {
      width: 100%;
      min-height: 44px;
      background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
      border-radius: 22px;
      position: relative; }
      .button__control_type_confirm::after {
        content: url(../img/arrow-forward-white.svg);
        padding: 13px 0 14px;
        height: 100%;
        width: 44px;
        position: absolute;
        right: 0;
        top: 0; }
    .button__control_type_pagination {
      width: 40px;
      height: 40px;
      background: none;
      color: rgba(31, 32, 65, 0.5);
      vertical-align: top;
      border-radius: 50%;
      padding: 0;
      font-weight: 400; }
      .button__control_type_pagination:hover {
        opacity: 0.5; }
      @media screen and (max-width: 400px) {
        .button__control_type_pagination {
          width: 30px;
          height: 30px; } }
    .button__control_transparent {
      opacity: 0.5; }
    .button__control_color_black {
      color: rgba(31, 32, 65, 0.5); }
    .button__control_color_purple {
      background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
      color: white;
      font-weight: 700; }
    .button__control_arrow_back, .button__control_arrow_forward {
      background: linear-gradient(180deg, #6fcf97 0%, #66d2ea 100%); }
      .button__control_arrow_back:after, .button__control_arrow_forward:after {
        content: url(../img/arrow-forward-white.svg);
        height: 40px;
        width: 40px;
        display: inline-block;
        padding: 11px 0;
        vertical-align: top; }
        @media screen and (max-width: 400px) {
          .button__control_arrow_back:after, .button__control_arrow_forward:after {
            width: 30px;
            height: 30px;
            padding: 6px 0; } }
    .button__control_arrow_back {
      transform: rotateY(180deg); }
    .button__control_border_small {
      padding: 7px 18px 8px; }
    .button__control_size_small {
      padding: 9px 21px 10px 19px; }
  .button__title {
    margin-bottom: 16px; }
  .button__border-mimic {
    background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
    border-radius: 22px;
    display: inline-block;
    min-width: 99px; }
    .button__border-mimic:hover {
      background: linear-gradient(180deg, #deceff 0%, #c5d2fc 100%); }
    .button__border-mimic_transparent {
      background: linear-gradient(180deg, #deceff 0%, #c5d2fc 100%); }
    .button__border-mimic_size_small {
      min-width: 87px; }
  .button_type_confirm {
    display: block;
    width: 100%; }
    .button_type_confirm:hover {
      opacity: 0.5; }

.dropdown {
  font-family: Montserrat, Arial, sans-serif;
  font-size: 12px;
  font-weight: 700;
  line-height: 15px;
  color: #1f2041;
  text-transform: uppercase;
  display: inline-block;
  position: relative; }
  .dropdown__button {
    min-width: 30px;
    min-height: 30px;
    border-radius: 50%;
    background: none;
    border: 1px solid rgba(31, 32, 65, 0.25);
    padding: 0;
    font-size: 18px;
    color: rgba(31, 32, 65, 0.5);
    outline: none;
    cursor: pointer; }
    .dropdown__button_transparent {
      opacity: 0.25; }
    .dropdown__button:hover {
      border: 1px solid rgba(31, 32, 65, 0.5); }
  .dropdown__calc {
    display: inline-block;
    float: right; }
  .dropdown__control {
    border: 1px solid rgba(31, 32, 65, 0.5);
    border-top: none;
    padding: 7px 7px 12px 15px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    background-color: white;
    position: absolute;
    z-index: 4;
    width: 100%; }
    .dropdown__control_z-index_6 {
      z-index: 6; }
  .dropdown__submit-buttons {
    height: 15px;
    margin-top: 19px; }
  .dropdown__clear-button {
    display: inline-block; }
  .dropdown__submit-button {
    display: inline-block;
    float: right; }
  .dropdown__list {
    margin: 0;
    padding: 0; }
  .dropdown__list-element {
    list-style-type: none;
    min-height: 30px; }
    .dropdown__list-element:not(:last-child) {
      margin-bottom: 7px; }
  .dropdown__output {
    min-width: 30px;
    min-height: 30px;
    display: inline-block;
    text-align: center;
    vertical-align: top;
    padding-top: 6px;
    user-select: none;
    cursor: default; }
  .dropdown__text {
    display: inline-block;
    vertical-align: top;
    padding-top: 6px; }

.button {
  display: inline-block; }
  .button__control {
    font-family: Montserrat, Arial, sans-serif;
    font-size: 12px;
    font-weight: 700;
    line-height: 15px;
    color: white;
    text-transform: uppercase;
    outline: none;
    cursor: pointer;
    user-select: none;
    border: none; }
    .button__control_type_regular {
      color: white;
      background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
      border-radius: 22px;
      padding: 14px 19px 15px; }
      .button__control_type_regular:hover {
        opacity: 0.5; }
    .button__control_type_border {
      width: calc(100% - 4px);
      padding: 12px 16px 13px;
      background-color: white;
      color: #bc9cff;
      margin: 2px;
      border-radius: 22px; }
    .button__control_type_text {
      background: none;
      padding: 0;
      color: #bc9cff; }
      .button__control_type_text:hover {
        color: rgba(31, 32, 65, 0.5); }
    .button__control_type_confirm {
      width: 100%;
      min-height: 44px;
      background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
      border-radius: 22px;
      position: relative; }
      .button__control_type_confirm::after {
        content: url(../img/arrow-forward-white.svg);
        padding: 13px 0 14px;
        height: 100%;
        width: 44px;
        position: absolute;
        right: 0;
        top: 0; }
    .button__control_type_pagination {
      width: 40px;
      height: 40px;
      background: none;
      color: rgba(31, 32, 65, 0.5);
      vertical-align: top;
      border-radius: 50%;
      padding: 0;
      font-weight: 400; }
      .button__control_type_pagination:hover {
        opacity: 0.5; }
      @media screen and (max-width: 400px) {
        .button__control_type_pagination {
          width: 30px;
          height: 30px; } }
    .button__control_transparent {
      opacity: 0.5; }
    .button__control_color_black {
      color: rgba(31, 32, 65, 0.5); }
    .button__control_color_purple {
      background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
      color: white;
      font-weight: 700; }
    .button__control_arrow_back, .button__control_arrow_forward {
      background: linear-gradient(180deg, #6fcf97 0%, #66d2ea 100%); }
      .button__control_arrow_back:after, .button__control_arrow_forward:after {
        content: url(../img/arrow-forward-white.svg);
        height: 40px;
        width: 40px;
        display: inline-block;
        padding: 11px 0;
        vertical-align: top; }
        @media screen and (max-width: 400px) {
          .button__control_arrow_back:after, .button__control_arrow_forward:after {
            width: 30px;
            height: 30px;
            padding: 6px 0; } }
    .button__control_arrow_back {
      transform: rotateY(180deg); }
    .button__control_border_small {
      padding: 7px 18px 8px; }
    .button__control_size_small {
      padding: 9px 21px 10px 19px; }
  .button__title {
    margin-bottom: 16px; }
  .button__border-mimic {
    background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
    border-radius: 22px;
    display: inline-block;
    min-width: 99px; }
    .button__border-mimic:hover {
      background: linear-gradient(180deg, #deceff 0%, #c5d2fc 100%); }
    .button__border-mimic_transparent {
      background: linear-gradient(180deg, #deceff 0%, #c5d2fc 100%); }
    .button__border-mimic_size_small {
      min-width: 87px; }
  .button_type_confirm {
    display: block;
    width: 100%; }
    .button_type_confirm:hover {
      opacity: 0.5; }

.datepicker {
  width: 320px; }
  .datepicker__from, .datepicker__to {
    display: inline-block; }
    @media screen and (max-width: 380px) {
      .datepicker__from, .datepicker__to {
        display: block; } }
  .datepicker__from {
    display: inline-block; }
  .datepicker__to {
    display: inline-block;
    float: right; }
    @media screen and (max-width: 380px) {
      .datepicker__to {
        float: none;
        margin-top: 10px; } }
  .datepicker__inputs {
    margin-bottom: 6px; }
  .datepicker__calendar-wrapper {
    background: #ffffff;
    border: 1px solid rgba(31, 32, 65, 0.25);
    box-shadow: 0 10px 20px rgba(31, 32, 65, 0.05);
    border-radius: 4px;
    padding: 19px 18px 19px 19px;
    width: 320px;
    position: absolute;
    z-index: 5; }
    .datepicker__calendar-wrapper_size_small {
      width: 266px;
      padding: 9px 10px 10px 9px; }
    @media screen and (max-width: 380px) {
      .datepicker__calendar-wrapper {
        width: 266px;
        padding: 9px 10px 10px 9px; } }
  .datepicker__scroll-button {
    background-image: url(../img/arrow-forward.svg);
    background-repeat: no-repeat;
    background-position: center;
    border: 0;
    width: 24px;
    height: 24px;
    background-color: white;
    padding: 0;
    cursor: pointer;
    display: inline-block;
    vertical-align: top;
    outline: none; }
    .datepicker__scroll-button_arrow_back {
      transform: rotate(180deg); }
  .datepicker__selected-month {
    display: inline-block;
    min-width: 230px;
    margin: 0 0 0 1px;
    text-align: center;
    font-family: Montserrat, Arial, sans-serif;
    font-size: 19px;
    font-weight: 700;
    line-height: 24px;
    color: #1f2041; }
    .datepicker__selected-month_size_small {
      min-width: 196px; }
    @media screen and (max-width: 380px) {
      .datepicker__selected-month {
        min-width: 196px; } }
  .datepicker__calendar {
    margin: 30px 0 19px 1px;
    border-collapse: collapse;
    font-family: Montserrat, Arial, sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 15px;
    color: rgba(31, 32, 65, 0.5); }
  .datepicker__calendar-cell {
    width: 39.88px;
    height: 40px;
    padding: 0;
    display: inline-block;
    line-height: 40px;
    text-align: center;
    user-select: none;
    cursor: pointer; }
    .datepicker__calendar-cell_size_small {
      width: 34px;
      height: 34px;
      line-height: 34px; }
    .datepicker__calendar-cell_font_bold {
      color: #bc9cff;
      font-weight: 700;
      cursor: default; }
    .datepicker__calendar-cell_transparent {
      color: rgba(31, 32, 65, 0.25); }
    .datepicker__calendar-cell_color_green, .datepicker__calendar-cell_color_purple {
      border-radius: 50%;
      color: white;
      font-weight: 700; }
    .datepicker__calendar-cell_color_purple {
      background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%); }
    .datepicker__calendar-cell_color_green {
      background: linear-gradient(180deg, #6fcf97 0%, #66d2ea 100%); }
    .datepicker__calendar-cell_shaded, .datepicker__calendar-cell_right-half_shaded, .datepicker__calendar-cell_left-half_shaded {
      position: relative;
      z-index: 2; }
      .datepicker__calendar-cell_shaded::before, .datepicker__calendar-cell_right-half_shaded::before, .datepicker__calendar-cell_left-half_shaded::before {
        content: '';
        display: inline-block;
        background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
        opacity: 0.25;
        position: absolute;
        z-index: -1; }
    .datepicker__calendar-cell_right-half_shaded::before {
      left: 20px;
      right: 0;
      top: 0;
      bottom: 0; }
    .datepicker__calendar-cell_left-half_shaded::before {
      left: 0;
      right: 20px;
      top: 0;
      bottom: 0; }
    .datepicker__calendar-cell_shaded::before {
      left: 0;
      right: 0;
      top: 0;
      bottom: 0; }
    @media screen and (max-width: 380px) {
      .datepicker__calendar-cell {
        width: 34px;
        height: 34px;
        line-height: 34px; } }
  .datepicker__confirmation-buttons {
    line-height: 15px; }
  .datepicker__clear-button {
    display: inline-block; }
  .datepicker__apply-button {
    display: inline-block;
    float: right;
    vertical-align: top; }
  .datepicker_size_small {
    width: 266px; }
  .datepicker_without-margin {
    margin-top: 0; }
  @media screen and (max-width: 380px) {
    .datepicker {
      width: 266px; } }

.list__container {
  list-style-type: none;
  padding: 0;
  margin: 0; }

.list__item {
  list-style: none; }
  .list__item:not(:last-child) {
    margin-bottom: 9.5px; }
  .list__item_with-bullet:before {
    content: '';
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: rgba(31, 32, 65, 0.25);
    margin-right: 11px;
    border-radius: 100%;
    vertical-align: top;
    margin-top: 7px; }

.list__text {
  font-family: Montserrat, Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: rgba(31, 32, 65, 0.75);
  margin: 0;
  max-width: 240px;
  display: inline-block;
  vertical-align: top; }

.list__title {
  margin: 0 0 17px 0;
  line-height: 15px; }
  .list__title_with-bullet {
    margin-bottom: 17px; }
  .list__title_with-margin {
    margin-left: 21px; }

.positive-feature {
  padding: 20px 0 16px; }
  .positive-feature__description {
    font-family: Montserrat, Arial, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    color: rgba(31, 32, 65, 0.75);
    margin: 0; }
  .positive-feature__img {
    width: 48px;
    height: 48px;
    padding: 4px;
    margin-right: 10px; }
  .positive-feature__text-wrapper {
    font-family: Montserrat, Arial, sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    color: rgba(31, 32, 65, 0.75);
    display: inline-block;
    vertical-align: top; }
  .positive-feature__title {
    margin: 0;
    font-weight: 700; }
  .positive-feature_with-border {
    border-bottom: 1px solid rgba(31, 32, 65, 0.1); }

.user-comment__avatar {
  width: 48px;
  height: 48px;
  box-shadow: 0 10px 20px 0 rgba(31, 32, 65, 0.1);
  border-radius: 100%;
  border: 2px solid white;
  display: inline-block;
  margin-right: 10px; }

.user-comment__info {
  font-family: Montserrat, Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: rgba(31, 32, 65, 0.75);
  display: inline-block;
  vertical-align: top; }

.user-comment__name, .user-comment__age {
  margin: 0; }

.user-comment__name {
  font-weight: 700; }

.user-comment__like {
  display: inline-block;
  margin: 2px 14px 0 0;
  vertical-align: top; }

.user-comment__main {
  margin: 6px 0 0 4px; }

.user-comment__text {
  font-family: Montserrat, Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: rgba(31, 32, 65, 0.75);
  display: inline-block;
  margin: 0;
  max-width: 653px; }

.title {
  font-family: Montserrat, Arial, sans-serif;
  font-size: 12px;
  font-weight: 700;
  line-height: 15px;
  color: #1f2041;
  text-transform: uppercase;
  margin: 0;
  vertical-align: bottom;
  user-select: none; }
  .title_size_large {
    font-size: 24px;
    line-height: 29.26px;
    text-transform: none; }
  .title_size_regular {
    font-size: 19px;
    line-height: 24px;
    text-transform: none; }
  .title_length_half {
    width: 50%;
    display: inline-block; }
  .title_closed, .title_expanded {
    width: 100%;
    cursor: pointer; }
    .title_closed:after, .title_expanded:after {
      content: '';
      width: 44px;
      height: 15px;
      display: inline-block;
      background-image: url(../img/input-dropdown.svg);
      background-repeat: no-repeat;
      vertical-align: top;
      background-position-y: 3px;
      background-position-x: 16px;
      float: right;
      cursor: pointer; }
  .title_expanded::after {
    transform: rotate(180deg); }
  .title_for-sidebar {
    max-width: 280px;
    text-transform: none;
    vertical-align: 24px;
    font-size: 19px;
    display: none; }
    @media screen and (max-width: 680px) {
      .title_for-sidebar {
        display: block;
        text-align: left;
        margin-bottom: 20px; } }

.content-navigation {
  display: inline-block; }
  .content-navigation__decorative-button, .content-navigation__button {
    display: inline-block; }
  .content-navigation__buttons {
    margin: 0;
    padding: 0; }
  .content-navigation__counter {
    font-family: Montserrat, Arial, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    color: rgba(31, 32, 65, 0.75);
    margin: 9px 0 0;
    text-align: center; }
  .content-navigation__title {
    margin-bottom: 20px; }

.stars-rating__star {
  cursor: pointer;
  display: inline-block;
  width: 19px;
  height: 19px;
  background-image: url(../img/star-border.jpg); }
  .stars-rating__star:hover {
    transform: scale(1.2); }
  .stars-rating__star:not(:last-of-type) {
    margin-right: 5px; }
  .stars-rating__star_color_purple {
    background-image: url(../img/star.jpg); }

.social-media-link {
  display: inline-block;
  height: 24px;
  width: 24px;
  line-height: 24px; }
  .social-media-link__icon {
    vertical-align: top; }
    .social-media-link__icon_position_center {
      padding-top: 1px; }
  .social-media-link_to-facebook {
    margin: 0 20px 0 21px; }

html {
  box-sizing: border-box; }

*,
*::before,
*::after {
  box-sizing: inherit; }

.body {
  margin: 0; }

.form-elements {
  width: 1440px;
  padding: 140px 0 130px 140px;
  position: relative;
  margin: auto; }
  .form-elements__input-types, .form-elements__toggle-types, .form-elements__button-types {
    display: inline-block;
    vertical-align: top; }
  .form-elements__input-types {
    min-width: 320px; }
  .form-elements__text-input {
    margin-bottom: 20px; }
  .form-elements__dropdown {
    margin-bottom: 20px; }
  .form-elements__masked-input {
    margin-bottom: 40px; }
  .form-elements__date-dropdowns {
    margin-bottom: 40px; }
  .form-elements__date-from {
    margin-right: 20px; }
  .form-elements__date-from, .form-elements__date-to {
    display: inline-block; }
  .form-elements__filter-dropdown {
    margin-bottom: 40px; }
  .form-elements__toggle-types {
    max-width: 260px;
    margin-left: 126px; }
  .form-elements__checkboxes {
    margin-bottom: 40px; }
  .form-elements__checkboxes-title {
    margin-bottom: 16px; }
  .form-elements__radios {
    margin-bottom: 40px; }
  .form-elements__radios-title {
    margin-bottom: 16px; }
  .form-elements__toggles {
    margin-bottom: 44px; }
  .form-elements__toggles-title {
    margin-bottom: 16px; }
  .form-elements__likes {
    margin-bottom: 40px; }
  .form-elements__radio {
    display: inline-block; }
    .form-elements__radio:not(:last-child) {
      margin-right: 20px; }
  .form-elements__like {
    display: inline-block; }
    .form-elements__like:not(:last-child) {
      margin-right: 10px; }
  .form-elements__likes-title {
    margin-bottom: 16px; }
  .form-elements__rating-title {
    margin-bottom: 16px; }
  .form-elements__rating {
    display: inline-block; }
    .form-elements__rating:not(:last-of-type) {
      margin-right: 20px; }
  .form-elements__button-types {
    margin-left: 132px;
    min-width: 266px; }
  .form-elements__slider {
    margin-bottom: 44px;
    max-width: 266px; }
  .form-elements__buttons {
    width: 320px; }
  .form-elements__buttons-title {
    margin-bottom: 16px; }
  .form-elements__simple-buttons, .form-elements__border-buttons, .form-elements__text-buttons {
    margin-bottom: 30px; }
  .form-elements__button-wrapp {
    display: inline-block; }
    .form-elements__button-wrapp:not(:last-child) {
      margin-right: 20px; }
  .form-elements__big-button {
    margin-bottom: 40px; }
  .form-elements__dropdown-types {
    margin-top: 100px;
    min-height: 306px; }
  .form-elements__fittings-dropdown {
    display: inline-block;
    margin-right: 181px; }
  .form-elements__closed-dropdown {
    margin-bottom: 20px; }
  .form-elements__guests-dropdown {
    display: inline-block;
    vertical-align: top; }
    .form-elements__guests-dropdown:last-child {
      margin-left: 72px; }
  .form-elements__list-types {
    margin-top: 54px;
    min-height: 267px; }
  .form-elements__expandable-lists {
    width: 266px;
    display: inline-block; }
  .form-elements__closed-list {
    margin-bottom: 49px; }
  .form-elements__rich-list {
    display: inline-block;
    vertical-align: top;
    margin-left: 180px; }
  .form-elements__bullet-list {
    display: inline-block;
    vertical-align: top;
    margin-left: 132px; }
  .form-elements__additions {
    margin-top: 100px; }
  .form-elements__positive-features {
    max-width: 280px;
    display: inline-block; }
  .form-elements__user-comment {
    margin-left: 156px;
    display: inline-block;
    vertical-align: top; }

