.form-elements {
  width: 1440px;
  padding: 140px 0 130px 140px;
  position: relative;
  margin: auto; }
  .form-elements__input-types, .form-elements__toggle-types, .form-elements__button-types {
    display: inline-block;
    vertical-align: top; }
  .form-elements__input-types {
    min-width: 320px; }
  .form-elements__text-input {
    margin-bottom: 20px; }
  .form-elements__dropdown {
    margin-bottom: 20px; }
  .form-elements__masked-input {
    margin-bottom: 40px; }
  .form-elements__date-dropdowns {
    margin-bottom: 40px;
    z-index: 4; }
  .form-elements__date-from {
    margin-right: 20px; }
  .form-elements__date-from, .form-elements__date-to {
    display: inline-block; }
  .form-elements__filter-dropdown {
    margin-bottom: 40px;
    position: relative;
    z-index: 3; }
  .form-elements__toggle-types {
    max-width: 260px;
    margin-left: 126px; }
  .form-elements__checkboxes {
    margin-bottom: 40px; }
  .form-elements__checkboxes-title {
    margin-bottom: 16px; }
  .form-elements__radios {
    margin-bottom: 40px; }
  .form-elements__radios-title {
    margin-bottom: 16px; }
  .form-elements__toggles {
    margin-bottom: 44px; }
  .form-elements__toggles-title {
    margin-bottom: 16px; }
  .form-elements__likes {
    margin-bottom: 40px; }
  .form-elements__radio {
    display: inline-block; }
    .form-elements__radio:not(:last-child) {
      margin-right: 20px; }
  .form-elements__like {
    display: inline-block; }
    .form-elements__like:not(:last-child) {
      margin-right: 10px; }
  .form-elements__likes-title {
    margin-bottom: 16px; }
  .form-elements__rating-title {
    margin-bottom: 16px; }
  .form-elements__rating {
    display: inline-block; }
    .form-elements__rating:not(:last-of-type) {
      margin-right: 20px; }
  .form-elements__button-types {
    margin-left: 132px;
    min-width: 266px; }
  .form-elements__slider {
    margin-bottom: 44px;
    max-width: 266px; }
  .form-elements__buttons {
    width: 320px; }
  .form-elements__buttons-title {
    margin-bottom: 16px; }
  .form-elements__simple-buttons, .form-elements__border-buttons, .form-elements__text-buttons {
    margin-bottom: 30px; }
  .form-elements__button-wrapp {
    display: inline-block; }
    .form-elements__button-wrapp:not(:last-child) {
      margin-right: 20px; }
  .form-elements__big-button {
    margin-bottom: 40px; }
  .form-elements__dropdown-types {
    margin-top: 100px;
    min-height: 306px; }
  .form-elements__fittings-dropdown {
    display: inline-block;
    margin-right: 181px; }
  .form-elements__closed-dropdown {
    margin-bottom: 20px;
    z-index: 2;
    position: relative; }
  .form-elements__guests-dropdown {
    display: inline-block;
    vertical-align: top; }
    .form-elements__guests-dropdown:last-child {
      margin-left: 72px; }
  .form-elements__list-types {
    margin-top: 54px;
    min-height: 267px; }
  .form-elements__expandable-lists {
    width: 266px;
    display: inline-block; }
  .form-elements__closed-list {
    margin-bottom: 49px; }
  .form-elements__rich-list {
    display: inline-block;
    vertical-align: top;
    margin-left: 180px; }
  .form-elements__bullet-list {
    display: inline-block;
    vertical-align: top;
    margin-left: 132px; }
  .form-elements__additions {
    margin-top: 100px; }
  .form-elements__positive-features {
    max-width: 280px;
    display: inline-block; }
  .form-elements__user-comment {
    margin-left: 156px;
    display: inline-block;
    vertical-align: top; }

