.headers-footers {
  width: 1440px;
  padding: 140px 0;
  position: relative;
  margin: auto;
  background-color: #e5e5e5; }
  .headers-footers__header {
    margin-bottom: 40px; }
  .headers-footers__footer_size_large {
    margin-bottom: 40px; }

