@font-face {
  font-family: 'Quicksand';
  src: url(../fonts/Quicksand-Regular.woff2), url(../fonts/Quicksand-Regular.woff), url(../fonts/Quicksand-Regular.ttf), url(../img/Quicksand-Regular.svg);
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Quicksand';
  src: url(../fonts/Quicksand-Bold.woff2), url(../fonts/Quicksand-Bold.woff), url(../fonts/Quicksand-Bold.ttf), url(../img/Quicksand-Bold.svg);
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: 'Montserrat';
  src: url(../fonts/Montserrat-Regular.woff2), url(../fonts/Montserrat-Regular.woff), url(../fonts/Montserrat-Regular.ttf), url(../img/Montserrat-Regular.svg);
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Montserrat';
  src: url(../fonts/Montserrat-Bold.woff2), url(../fonts/Montserrat-Bold.woff), url(../fonts/Montserrat-Bold.ttf), url(../img/Montserrat-Bold.svg);
  font-weight: 700;
  font-style: normal; }

.header {
  width: 100%;
  padding: 15px 140px;
  background: white;
  box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
  box-sizing: border-box;
  text-align: right;
  position: relative; }
  .header__authorized {
    font-family: Montserrat, Arial, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 40px;
    color: rgba(31, 32, 65, 0.5);
    display: inline-block;
    margin: 0px; }
    .header__authorized::before {
      content: '';
      width: 1px;
      height: 30px;
      line-height: 40px;
      background-color: rgba(31, 32, 65, 0.1);
      display: inline-block;
      margin: 0 20px;
      vertical-align: top;
      padding: 5px 0; }
  .header__buttons {
    display: inline-block;
    text-align: initial;
    margin-left: 20px;
    margin-top: 3px; }
    @media screen and (max-width: 400px) {
      .header__buttons {
        text-align: center;
        margin: 0;
        width: 100%; } }
  .header__login-button, .header__registration-button {
    display: inline-block;
    height: 34px; }
    @media screen and (max-width: 400px) {
      .header__login-button, .header__registration-button {
        display: block; } }
  .header__login-button {
    margin-right: 20px; }
    @media screen and (max-width: 400px) {
      .header__login-button {
        margin-bottom: 10px;
        margin-right: 0; } }
  .header__logo {
    float: left;
    vertical-align: top; }
    @media screen and (max-width: 650px) {
      .header__logo {
        display: block;
        text-align: center;
        float: none; } }
    @media screen and (max-width: 350px) {
      .header__logo {
        display: inline-block;
        float: left; } }
  .header__navigation {
    display: inline-block;
    line-height: 40px;
    vertical-align: top; }
    @media screen and (max-width: 650px) {
      .header__navigation {
        max-width: 310px;
        margin: 20px 0;
        text-align: right; } }
    @media screen and (max-width: 350px) {
      .header__navigation {
        display: block;
        margin: 0 0 20px; } }
  @media screen and (max-width: 350px) {
    .header__navigation-wrapper {
      text-align: center;
      display: none; } }
  .header__navigation-button {
    display: none;
    height: 25px;
    line-height: 3px;
    border: 0;
    background: none;
    cursor: pointer; }
    @media screen and (max-width: 350px) {
      .header__navigation-button {
        display: inline-block; } }
  .header__navigation-button:hover > .header__hamburger {
    background-color: rgba(31, 32, 65, 0.75); }
    .header__navigation-button:hover > .header__hamburger::before, .header__navigation-button:hover > .header__hamburger::after {
      background-color: rgba(31, 32, 65, 0.75); }
  .header__hamburger {
    background-color: rgba(31, 32, 65, 0.5);
    height: 3px;
    width: 40px;
    display: inline-block;
    position: relative;
    border-radius: 3px;
    vertical-align: top; }
    .header__hamburger::before, .header__hamburger::after {
      content: '';
      background-color: rgba(31, 32, 65, 0.5);
      border-radius: 3px;
      height: 3px;
      width: 40px;
      display: inline-block;
      line-height: 2px;
      position: absolute; }
    .header__hamburger::after {
      vertical-align: top;
      left: 0;
      top: 8px; }
    .header__hamburger::before {
      vertical-align: bottom;
      left: 0;
      top: -8px; }
    .header__hamburger_expanded {
      height: 0px; }
      .header__hamburger_expanded::after, .header__hamburger_expanded::before {
        transform: rotate(45deg);
        left: 0;
        top: 0; }
      .header__hamburger_expanded::before {
        transform: rotate(-45deg); }
  @media screen and (max-width: 880px) {
    .header {
      padding: 15px 30px; } }
  @media screen and (max-width: 650px) {
    .header {
      text-align: center; } }

.logo_position_in-corner {
  position: absolute;
  top: 30px;
  left: 30px; }

.navigation {
  font-family: Montserrat, Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  color: rgba(31, 32, 65, 0.5);
  line-height: 40px; }
  .navigation__link {
    color: rgba(31, 32, 65, 0.5);
    text-decoration: none; }
    .navigation__link:hover {
      color: rgba(31, 32, 65, 0.75); }
    .navigation__link_text_bold {
      font-weight: 700;
      color: rgba(31, 32, 65, 0.75); }
    .navigation__link_expanded {
      display: block; }
    @media screen and (max-width: 650px) {
      .navigation__link {
        margin: 0 0 0 20px; }
        .navigation__link:not(:last-child) {
          margin-right: 0; } }
  .navigation__link-wrapper {
    display: inline-block;
    position: relative; }
    .navigation__link-wrapper:not(:last-child) {
      margin-right: 20.5px; }
  .navigation__link-title {
    cursor: pointer; }
    .navigation__link-title::after {
      content: url(../img/dropdown-nav.svg);
      display: inline-block;
      width: 24px;
      height: 17px;
      line-height: 100%;
      text-align: center;
      margin-left: 1px; }
    .navigation__link-title:hover {
      color: rgba(31, 32, 65, 0.75); }
  .navigation__expanded-container {
    display: none;
    position: absolute;
    right: 0px;
    left: 0px;
    top: 40px;
    z-index: 3;
    background-color: white;
    padding: 0 4px 4px;
    box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
    text-align: center; }

.button {
  display: inline-block; }
  .button__control {
    font-family: Montserrat, Arial, sans-serif;
    font-size: 12px;
    font-weight: 700;
    line-height: 15px;
    color: white;
    text-transform: uppercase;
    outline: none;
    cursor: pointer;
    user-select: none;
    border: none; }
    .button__control_type_regular {
      height: 100%;
      color: white;
      background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
      border-radius: 22px;
      padding: 14px 19px 15px; }
      .button__control_type_regular:hover {
        opacity: 0.5; }
    .button__control_type_border {
      box-sizing: border-box;
      width: calc(100% - 4px);
      padding: 12px 16px 13px;
      background-color: white;
      color: #bc9cff;
      margin: 2px;
      border-radius: 22px; }
    .button__control_type_text {
      background: none;
      padding: 0;
      color: #bc9cff; }
      .button__control_type_text:hover {
        color: rgba(31, 32, 65, 0.5); }
    .button__control_type_confirm {
      width: 100%;
      height: 100%;
      min-height: 44px;
      background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
      border-radius: 22px;
      position: relative; }
      .button__control_type_confirm::after {
        content: url(../img/arrow-forward-white.svg);
        padding: 13px 0 14px;
        height: 100%;
        width: 44px;
        box-sizing: border-box;
        position: absolute;
        right: 0;
        top: 0; }
    .button__control_type_pagination {
      width: 40px;
      height: 40px;
      background: none;
      color: rgba(31, 32, 65, 0.5);
      vertical-align: top;
      border-radius: 50%;
      padding: 0;
      font-weight: 400; }
      .button__control_type_pagination:hover {
        opacity: 0.5; }
      @media screen and (max-width: 400px) {
        .button__control_type_pagination {
          width: 30px;
          height: 30px; } }
    .button__control_transparent {
      opacity: 0.5; }
    .button__control_color_black {
      color: rgba(31, 32, 65, 0.5); }
    .button__control_color_purple {
      background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
      color: white;
      font-weight: 700; }
    .button__control_arrow_back, .button__control_arrow_forward {
      background: linear-gradient(180deg, #6fcf97 0%, #66d2ea 100%); }
      .button__control_arrow_back:after, .button__control_arrow_forward:after {
        content: url(../img/arrow-forward-white.svg);
        height: 40px;
        width: 40px;
        box-sizing: border-box;
        display: inline-block;
        padding: 11px 0;
        vertical-align: top; }
        @media screen and (max-width: 400px) {
          .button__control_arrow_back:after, .button__control_arrow_forward:after {
            width: 30px;
            height: 30px;
            padding: 6px 0; } }
    .button__control_arrow_back {
      transform: rotateY(180deg); }
    .button__control_border_small {
      padding: 7px 18px 8px; }
    .button__control_size_small {
      padding: 9px 21px 10px 19px; }
  .button__title {
    margin-bottom: 16px; }
  .button__border-mimic {
    background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
    border-radius: 22px;
    display: inline-block;
    min-width: 99px; }
    .button__border-mimic:hover {
      background: linear-gradient(180deg, #deceff 0%, #c5d2fc 100%); }
    .button__border-mimic_transparent {
      background: linear-gradient(180deg, #deceff 0%, #c5d2fc 100%); }
    .button__border-mimic_size_small {
      min-width: 87px; }
  .button_type_confirm {
    display: block;
    width: 100%; }
    .button_type_confirm:hover {
      opacity: 0.5; }

.footer {
  font-family: Montserrat, Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: rgba(31, 32, 65, 0.75);
  width: 100%;
  padding: 100px 140px;
  background: #ffffff;
  box-sizing: border-box;
  box-shadow: 0px 1px 0px rgba(31, 32, 65, 0.1);
  text-align: center; }
  .footer__navigation-wrapper {
    margin: 4px 51px 0 40px;
    display: inline-block;
    vertical-align: top;
    text-align: initial; }
    @media screen and (max-width: 1260px) {
      .footer__navigation-wrapper {
        display: block;
        margin: 40px 0; } }
    @media screen and (max-width: 768px) {
      .footer__navigation-wrapper {
        display: none; } }
  .footer__wrapper {
    display: inline-block;
    text-align: initial; }
    .footer__wrapper_size_small {
      width: 100%;
      text-align: center; }
    @media screen and (max-width: 1260px) {
      .footer__wrapper {
        text-align: center; } }
  .footer__description {
    display: inline-block; }
    .footer__description_size_small {
      width: 100%;
      text-align: center; }
    @media screen and (max-width: 768px) {
      .footer__description {
        margin-bottom: 11px; } }
  .footer__text {
    font-family: Montserrat, Arial, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    color: rgba(31, 32, 65, 0.75);
    margin: 11px 0 0;
    max-width: 260px; }
    .footer__text_size_small {
      max-width: 100%; }
    @media screen and (max-width: 768px) {
      .footer__text {
        display: none; } }
  @media screen and (max-width: 768px) {
    .footer__logo-description {
      display: none; } }
  .footer__navigation {
    display: inline-block;
    vertical-align: top; }
    .footer__navigation:first-child {
      margin-right: 58px; }
    .footer__navigation:last-child {
      margin-left: 93px; }
    @media screen and (max-width: 625px) {
      .footer__navigation {
        display: block; }
        .footer__navigation:first-child {
          margin-right: 0;
          margin-bottom: 40px; }
        .footer__navigation:last-child {
          margin-left: 0;
          margin-top: 40px; } }
  .footer__link-title {
    width: 100%;
    font-family: Montserrat, Arial, sans-serif;
    font-size: 12px;
    font-weight: 700;
    line-height: 15px;
    color: #1f2041;
    text-transform: uppercase;
    margin-bottom: 21px;
    display: inline-block;
    cursor: default;
    vertical-align: top; }
  .footer__navigation-link {
    text-decoration: none;
    color: rgba(31, 32, 65, 0.5);
    line-height: 18px;
    display: block; }
    .footer__navigation-link:not(:last-child) {
      margin-bottom: 20px; }
    .footer__navigation-link:hover {
      color: rgba(31, 32, 65, 0.75); }
  .footer__logo-description {
    max-width: 260px;
    margin: 10px 0 0; }
  .footer__subscribe-text {
    margin: 18px 0 0; }
  .footer__subscribe {
    display: inline-block;
    vertical-align: top;
    max-width: 260px;
    text-align: initial;
    margin-top: 4px; }
    @media screen and (max-width: 768px) {
      .footer__subscribe {
        display: none; } }
  .footer__subscribe-form {
    margin-top: 23px; }
  .footer__title, .footer__text {
    box-sizing: border-box; }
  .footer__title {
    max-width: 260px;
    margin-bottom: 18px;
    font-weight: 700;
    text-transform: uppercase;
    color: #1f2041;
    font-size: 12px;
    line-height: 15px;
    margin: 0; }
  .footer__social-media_size_small {
    margin-top: 18px; }
  .footer_size_small {
    padding: 120px 0;
    background: #ffffff;
    box-shadow: 0px 10px 20px 0px rgba(31, 32, 65, 0.05);
    max-width: 768px;
    margin: auto;
    text-align: center; }
  .footer__small-copyright {
    margin: 0 0 20px 0; }
  @media screen and (max-width: 1460px) {
    .footer {
      padding: 100px 30px; } }
  @media screen and (max-width: 1260px) {
    .footer {
      padding: 100px 30px; } }
  @media screen and (max-width: 768px) {
    .footer {
      padding: 120px 0 0; } }

.social-media-link {
  display: inline-block;
  height: 24px;
  width: 24px;
  line-height: 24px; }
  .social-media-link__icon {
    vertical-align: top; }
    .social-media-link__icon_position_center {
      padding-top: 1px; }
  .social-media-link_to-facebook {
    margin: 0 20px 0 21px; }

.copyright {
  font-family: Montserrat, Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  color: rgba(31, 32, 65, 0.75);
  background: #ffffff;
  box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
  padding: 24px 140px 24px 139px;
  margin-top: 1px;
  min-height: 70px;
  box-sizing: border-box; }
  .copyright__text {
    margin: 0px;
    padding-top: 2px;
    display: inline-block; }
    @media screen and (max-width: 820px) {
      .copyright__text {
        max-width: 230px;
        line-height: 24px; } }
    @media screen and (max-width: 768px) {
      .copyright__text {
        display: inline; } }
    @media screen and (max-width: 400px) {
      .copyright__text {
        display: inline-block;
        max-width: 230px; } }
  .copyright__social-media {
    display: inline-block;
    float: right; }
    @media screen and (max-width: 820px) {
      .copyright__social-media {
        margin-top: 13px; } }
    @media screen and (max-width: 768px) {
      .copyright__social-media {
        display: block;
        float: none;
        margin-top: 22px; } }
  @media screen and (max-width: 820px) {
    .copyright {
      padding: 23px 30px; } }
  @media screen and (max-width: 768px) {
    .copyright {
      margin-top: -1px;
      padding: 0 0 120px;
      text-align: center; } }

.input {
  font-family: Montserrat, Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: rgba(31, 32, 65, 0.25); }
  .input__field {
    height: 44px;
    border: 1px solid rgba(31, 32, 65, 0.25);
    border-radius: 4px;
    box-sizing: border-box;
    padding: 11px 14px 12px;
    outline: none;
    font-family: Montserrat, Arial, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    color: rgba(31, 32, 65, 0.75); }
    .input__field::placeholder {
      color: rgba(31, 32, 65, 0.25); }
    .input__field_expanded {
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
      border: 1px solid rgba(31, 32, 65, 0.5); }
    .input__field_border_dark {
      border-color: rgba(31, 32, 65, 0.5); }
    .input__field_length_long {
      width: 320px;
      box-sizing: border-box; }
      @media screen and (max-width: 380px) {
        .input__field_length_long {
          width: 266px; } }
    .input__field_length_average {
      width: 266px;
      box-sizing: border-box; }
    .input__field_length_adaptive {
      width: 100%; }
    .input__field_length_short {
      width: 150px;
      box-sizing: border-box;
      display: inline-block;
      padding: 10px 14px 13px; }
      @media screen and (max-width: 380px) {
        .input__field_length_short {
          width: 266px; } }
    .input__field_type_regular:hover, .input__field_type_regular:focus {
      border-color: rgba(31, 32, 65, 0.5); }
    .input__field_focused {
      border: 1px solid rgba(31, 32, 65, 0.5);
      color: rgba(31, 32, 65, 0.75); }
    .input__field_type_dropdown {
      cursor: pointer;
      position: relative;
      vertical-align: top; }
      .input__field_type_dropdown:hover {
        border-color: rgba(31, 32, 65, 0.5); }
    .input__field_type_date:hover, .input__field_type_date:focus {
      border-color: rgba(31, 32, 65, 0.5); }
    .input__field_type_submit {
      position: relative;
      display: inline-block; }
      .input__field_type_submit:hover, .input__field_type_submit:focus {
        border-color: rgba(31, 32, 65, 0.5); }
  .input__state {
    width: 35%;
    font-size: 12px;
    line-height: 15px;
    color: rgba(31, 32, 65, 0.5);
    vertical-align: bottom;
    text-align: right;
    text-transform: uppercase;
    display: inline-block;
    margin: 0; }
  .input__submit-button {
    background-image: url(../img/arrow-forward.svg);
    content: '';
    cursor: pointer;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    right: 1px;
    top: 1px;
    width: 42px;
    height: 42px;
    text-align: center;
    box-sizing: border-box;
    background-color: white;
    border: none;
    outline: none;
    border-radius: 4px; }
  .input__title {
    line-height: 15px;
    margin-bottom: 5px;
    text-align: initial; }
  .input__wrapper {
    display: inline-block;
    position: relative;
    cursor: pointer; }
    .input__wrapper_type_dropdown::after {
      content: '';
      background-image: url(../img/input-dropdown.svg);
      background-repeat: no-repeat;
      background-position-x: 16px;
      background-position-y: 18px;
      position: absolute;
      right: 0px;
      top: 1px;
      width: 44px;
      height: 42px;
      text-align: center;
      box-sizing: border-box; }
    .input__wrapper_length_long {
      width: 320px;
      box-sizing: border-box; }
      @media screen and (max-width: 380px) {
        .input__wrapper_length_long {
          width: 266px; } }
    .input__wrapper_length_average {
      width: 266px;
      box-sizing: border-box; }
    .input__wrapper_length_adaptive {
      width: 100%; }
  .input__title-text {
    display: inline-block; }
    .input__title-text_with-state {
      width: 65%; }

.search-room {
  padding: 39px 29px 29px;
  background-color: white;
  box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  max-width: 380px;
  box-sizing: border-box;
  text-align: initial; }
  .search-room__title {
    margin-bottom: 22px; }
  .search-room__period {
    margin-bottom: 20.56px;
    position: relative; }
  .search-room__guests {
    margin-bottom: 31px;
    position: relative; }
  @media screen and (max-width: 380px) {
    .search-room {
      max-width: 320px;
      padding: 40px 26px 30px; } }

.dropdown {
  font-family: Montserrat, Arial, sans-serif;
  font-size: 12px;
  font-weight: 700;
  line-height: 15px;
  color: #1f2041;
  text-transform: uppercase;
  display: inline-block;
  position: relative; }
  .dropdown__button {
    min-width: 30px;
    min-height: 30px;
    box-sizing: border-box;
    border-radius: 50%;
    background: none;
    border: 1px solid rgba(31, 32, 65, 0.25);
    padding: 0px;
    font-size: 18px;
    color: rgba(31, 32, 65, 0.5);
    outline: none;
    cursor: pointer; }
    .dropdown__button_transparent {
      opacity: 0.25; }
    .dropdown__button:hover {
      border: 1px solid rgba(31, 32, 65, 0.5); }
  .dropdown__calc {
    display: inline-block;
    float: right; }
  .dropdown__control {
    border: 1px solid rgba(31, 32, 65, 0.5);
    border-top: none;
    padding: 7px 7px 12px 15px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    background-color: white;
    box-sizing: border-box;
    position: absolute;
    z-index: 4;
    width: 100%; }
    .dropdown__control_z-index_6 {
      z-index: 6; }
  .dropdown__submit-buttons {
    height: 15px;
    margin-top: 19px; }
  .dropdown__clear-button {
    display: inline-block; }
  .dropdown__submit-button {
    display: inline-block;
    float: right; }
  .dropdown__list {
    margin: 0;
    padding: 0; }
  .dropdown__list-element {
    list-style-type: none;
    min-height: 30px; }
    .dropdown__list-element:not(:last-child) {
      margin-bottom: 7px; }
  .dropdown__output {
    min-width: 30px;
    min-height: 30px;
    display: inline-block;
    text-align: center;
    vertical-align: top;
    padding-top: 6px;
    box-sizing: border-box;
    user-select: none;
    cursor: default; }
  .dropdown__text {
    display: inline-block;
    vertical-align: top;
    padding-top: 6px; }

.button {
  display: inline-block; }
  .button__control {
    font-family: Montserrat, Arial, sans-serif;
    font-size: 12px;
    font-weight: 700;
    line-height: 15px;
    color: white;
    text-transform: uppercase;
    outline: none;
    cursor: pointer;
    user-select: none;
    border: none; }
    .button__control_type_regular {
      height: 100%;
      color: white;
      background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
      border-radius: 22px;
      padding: 14px 19px 15px; }
      .button__control_type_regular:hover {
        opacity: 0.5; }
    .button__control_type_border {
      box-sizing: border-box;
      width: calc(100% - 4px);
      padding: 12px 16px 13px;
      background-color: white;
      color: #bc9cff;
      margin: 2px;
      border-radius: 22px; }
    .button__control_type_text {
      background: none;
      padding: 0;
      color: #bc9cff; }
      .button__control_type_text:hover {
        color: rgba(31, 32, 65, 0.5); }
    .button__control_type_confirm {
      width: 100%;
      height: 100%;
      min-height: 44px;
      background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
      border-radius: 22px;
      position: relative; }
      .button__control_type_confirm::after {
        content: url(../img/arrow-forward-white.svg);
        padding: 13px 0 14px;
        height: 100%;
        width: 44px;
        box-sizing: border-box;
        position: absolute;
        right: 0;
        top: 0; }
    .button__control_type_pagination {
      width: 40px;
      height: 40px;
      background: none;
      color: rgba(31, 32, 65, 0.5);
      vertical-align: top;
      border-radius: 50%;
      padding: 0;
      font-weight: 400; }
      .button__control_type_pagination:hover {
        opacity: 0.5; }
      @media screen and (max-width: 400px) {
        .button__control_type_pagination {
          width: 30px;
          height: 30px; } }
    .button__control_transparent {
      opacity: 0.5; }
    .button__control_color_black {
      color: rgba(31, 32, 65, 0.5); }
    .button__control_color_purple {
      background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
      color: white;
      font-weight: 700; }
    .button__control_arrow_back, .button__control_arrow_forward {
      background: linear-gradient(180deg, #6fcf97 0%, #66d2ea 100%); }
      .button__control_arrow_back:after, .button__control_arrow_forward:after {
        content: url(../img/arrow-forward-white.svg);
        height: 40px;
        width: 40px;
        box-sizing: border-box;
        display: inline-block;
        padding: 11px 0;
        vertical-align: top; }
        @media screen and (max-width: 400px) {
          .button__control_arrow_back:after, .button__control_arrow_forward:after {
            width: 30px;
            height: 30px;
            padding: 6px 0; } }
    .button__control_arrow_back {
      transform: rotateY(180deg); }
    .button__control_border_small {
      padding: 7px 18px 8px; }
    .button__control_size_small {
      padding: 9px 21px 10px 19px; }
  .button__title {
    margin-bottom: 16px; }
  .button__border-mimic {
    background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
    border-radius: 22px;
    display: inline-block;
    min-width: 99px; }
    .button__border-mimic:hover {
      background: linear-gradient(180deg, #deceff 0%, #c5d2fc 100%); }
    .button__border-mimic_transparent {
      background: linear-gradient(180deg, #deceff 0%, #c5d2fc 100%); }
    .button__border-mimic_size_small {
      min-width: 87px; }
  .button_type_confirm {
    display: block;
    width: 100%; }
    .button_type_confirm:hover {
      opacity: 0.5; }

.datepicker {
  width: 320px;
  box-sizing: border-box; }
  .datepicker__from, .datepicker__to {
    display: inline-block; }
    @media screen and (max-width: 380px) {
      .datepicker__from, .datepicker__to {
        display: block; } }
  .datepicker__from {
    display: inline-block; }
  .datepicker__to {
    display: inline-block;
    float: right; }
    @media screen and (max-width: 380px) {
      .datepicker__to {
        float: none;
        margin-top: 10px; } }
  .datepicker__inputs {
    margin-bottom: 6px; }
  .datepicker__calendar-wrapper {
    background: #ffffff;
    border: 1px solid rgba(31, 32, 65, 0.25);
    box-sizing: border-box;
    box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
    border-radius: 4px;
    padding: 19px 18px 19px 19px;
    width: 320px;
    position: absolute;
    z-index: 5; }
    .datepicker__calendar-wrapper_size_small {
      width: 266px;
      padding: 9px 10px 10px 9px; }
    @media screen and (max-width: 380px) {
      .datepicker__calendar-wrapper {
        width: 266px;
        padding: 9px 10px 10px 9px; } }
  .datepicker__scroll-button {
    background-image: url(../img/arrow-forward.svg);
    background-repeat: no-repeat;
    background-position: center;
    border: 0px;
    width: 24px;
    height: 24px;
    background-color: white;
    padding: 0px;
    cursor: pointer;
    display: inline-block;
    vertical-align: top;
    outline: none; }
    .datepicker__scroll-button_arrow_back {
      transform: rotate(180deg); }
  .datepicker__selected-month {
    display: inline-block;
    min-width: 230px;
    margin: 0px;
    margin-left: 1px;
    text-align: center;
    font-family: Montserrat, Arial, sans-serif;
    font-size: 19px;
    font-weight: 700;
    line-height: 24px;
    color: #1f2041; }
    .datepicker__selected-month_size_small {
      min-width: 196px; }
    @media screen and (max-width: 380px) {
      .datepicker__selected-month {
        min-width: 196px; } }
  .datepicker__calendar {
    margin: 30px 0 19px 1px;
    border-collapse: collapse;
    font-family: Montserrat, Arial, sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 15px;
    color: rgba(31, 32, 65, 0.5); }
  .datepicker__calendar-cell {
    width: 39.88px;
    height: 40px;
    box-sizing: border-box;
    padding: 0px;
    display: inline-block;
    line-height: 40px;
    text-align: center;
    user-select: none;
    cursor: pointer; }
    .datepicker__calendar-cell_size_small {
      width: 34px;
      height: 34px;
      line-height: 34px; }
    .datepicker__calendar-cell_font_bold {
      color: #bc9cff;
      font-weight: 700;
      cursor: default; }
    .datepicker__calendar-cell_transparent {
      color: rgba(31, 32, 65, 0.25); }
    .datepicker__calendar-cell_color_green, .datepicker__calendar-cell_color_purple {
      border-radius: 50%;
      color: white;
      font-weight: 700; }
    .datepicker__calendar-cell_color_purple {
      background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%); }
    .datepicker__calendar-cell_color_green {
      background: linear-gradient(180deg, #6fcf97 0%, #66d2ea 100%); }
    .datepicker__calendar-cell_shaded, .datepicker__calendar-cell_right-half_shaded, .datepicker__calendar-cell_left-half_shaded {
      position: relative;
      z-index: 2; }
      .datepicker__calendar-cell_shaded::before, .datepicker__calendar-cell_right-half_shaded::before, .datepicker__calendar-cell_left-half_shaded::before {
        content: '';
        display: inline-block;
        background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
        opacity: 0.25;
        position: absolute;
        z-index: -1; }
    .datepicker__calendar-cell_right-half_shaded::before {
      left: 20px;
      right: 0;
      top: 0;
      bottom: 0; }
    .datepicker__calendar-cell_left-half_shaded::before {
      left: 0;
      right: 20px;
      top: 0;
      bottom: 0; }
    .datepicker__calendar-cell_shaded::before {
      left: 0;
      right: 0;
      top: 0;
      bottom: 0; }
    @media screen and (max-width: 380px) {
      .datepicker__calendar-cell {
        width: 34px;
        height: 34px;
        line-height: 34px; } }
  .datepicker__confirmation-buttons {
    line-height: 15px; }
  .datepicker__clear-button {
    display: inline-block; }
  .datepicker__apply-button {
    display: inline-block;
    float: right;
    vertical-align: top; }
  .datepicker_size_small {
    width: 266px; }
  .datepicker_without-margin {
    margin-top: 0; }
  @media screen and (max-width: 380px) {
    .datepicker {
      width: 266px; } }

.title {
  font-family: Montserrat, Arial, sans-serif;
  font-size: 12px;
  font-weight: 700;
  line-height: 15px;
  color: #1f2041;
  text-transform: uppercase;
  margin: 0;
  vertical-align: bottom;
  user-select: none; }
  .title_size_large {
    font-size: 24px;
    line-height: 29.26px;
    text-transform: none; }
  .title_size_regular {
    font-size: 19px;
    line-height: 24px;
    text-transform: none; }
  .title_length_half {
    width: 50%;
    display: inline-block; }
  .title_closed, .title_expanded {
    width: 100%;
    cursor: pointer; }
    .title_closed:after, .title_expanded:after {
      content: '';
      width: 44px;
      height: 15px;
      display: inline-block;
      background-image: url(../img/input-dropdown.svg);
      background-repeat: no-repeat;
      vertical-align: top;
      background-position-y: 3px;
      background-position-x: 16px;
      float: right;
      cursor: pointer; }
  .title_expanded::after {
    transform: rotate(180deg); }
  .title_for-sidebar {
    max-width: 280px;
    text-transform: none;
    vertical-align: 24px;
    font-size: 19px;
    display: none; }

html,
body {
  margin: 0;
  min-width: 320px;
  height: 100%; }

.landing-page {
  margin: 0;
  background: #f4f4f6;
  min-width: 320px;
  display: flex;
  flex-direction: column;
  min-height: 100%; }
  .landing-page__main {
    background: url(../img/landing-main.jpg);
    flex: 1 0 auto;
    background-position-y: -70px;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 70px 140px;
    box-sizing: border-box;
    min-height: 830px;
    position: relative; }
    @media screen and (max-width: 700px) {
      .landing-page__main {
        padding: 70px 50px; } }
    @media screen and (max-width: 500px) {
      .landing-page__main {
        padding: 70px 0 90px;
        text-align: center;
        min-height: auto; } }
    @media screen and (max-width: 1439px) {
      .landing-page__main {
        background-position: center; } }
    @media screen and (min-height: 1355px) {
      .landing-page__main {
        background-position: center; } }
  .landing-page__main-text {
    font-family: Montserrat, Arial, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    color: rgba(31, 32, 65, 0.75);
    text-align: right;
    position: absolute;
    bottom: 7px;
    right: 0;
    max-width: 297px;
    margin-right: 134px; }
    @media screen and (max-width: 500px) {
      .landing-page__main-text {
        margin-right: 30px; } }
  .landing-page__footer {
    flex: 0 0 auto; }

@media screen and (max-width: 500px) {
  .search-room {
    display: inline-block; } }

