.landing-page {
  margin: 0;
  background: #f4f4f6;
  min-width: 320px;
  display: flex;
  flex-direction: column;
  min-height: 100%; }
  .landing-page__main {
    flex: 1 0 auto;
    background: url(../img/landing-main.jpg) no-repeat;
    background-size: cover;
    background-position-y: -70px;
    padding: 70px 140px;
    min-height: 830px;
    position: relative; }
    @media screen and (max-width: 700px) {
      .landing-page__main {
        padding: 70px 50px; } }
    @media screen and (max-width: 500px) {
      .landing-page__main {
        padding: 70px 0 90px;
        text-align: center;
        min-height: auto; } }
    @media screen and (max-width: 1439px) {
      .landing-page__main {
        background-position: center; } }
    @media screen and (min-height: 1355px) {
      .landing-page__main {
        background-position: center; } }
  .landing-page__search-room {
    display: inline-block; }
  .landing-page__main-text {
    font-family: Montserrat, Arial, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    color: rgba(31, 32, 65, 0.75);
    text-align: right;
    position: absolute;
    bottom: 7px;
    right: 0;
    max-width: 297px;
    margin-right: 134px; }
    @media screen and (max-width: 500px) {
      .landing-page__main-text {
        margin-right: 30px; } }
  .landing-page__footer {
    flex: 0 0 auto; }

@media screen and (max-width: 500px) {
  .search-room {
    display: inline-block; } }

