.room-details {
  margin: 0;
  background: #f4f4f6;
  min-width: 320px;
  display: flex;
  flex-direction: column;
  min-height: 100%; }
  .room-details__main {
    flex: 1 0 auto;
    background-color: white; }
  .room-details__photos {
    position: relative; }
  .room-details__details {
    padding: 70px 138px 72px 137px;
    text-align: center; }
    @media screen and (max-width: 1430px) {
      .room-details__details {
        padding: 40px 35px; } }
    @media screen and (max-width: 500px) {
      .room-details__details {
        padding: 20px 10px; } }
    @media screen and (max-width: 380px) {
      .room-details__details {
        padding: 30px 0; } }
  .room-details__details-wrapper {
    text-align: initial;
    display: inline-block; }
  .room-details__content-wrapper {
    display: inline-block;
    max-width: 711px; }
    @media screen and (max-width: 1220px) {
      .room-details__content-wrapper {
        text-align: center; } }
  .room-details__final-booking {
    float: right;
    margin-left: 70px; }
    @media screen and (max-width: 1220px) {
      .room-details__final-booking {
        float: none;
        text-align: center;
        margin: 0 0 35px 0; } }
  .room-details__positive-features {
    display: inline-block;
    vertical-align: top;
    min-width: 280px;
    margin-right: 81px;
    text-align: initial;
    padding-left: 1px; }
    @media screen and (max-width: 750px) {
      .room-details__positive-features {
        margin: 0; } }
  .room-details__impressions {
    text-align: initial;
    display: inline-block; }
    @media screen and (max-width: 750px) {
      .room-details__impressions {
        display: block;
        max-width: 311px;
        margin: 30px auto 0; } }
  .room-details__impression-title {
    margin-bottom: 20px; }
  .room-details__rules {
    margin-top: 33px;
    display: inline-block;
    vertical-align: top;
    margin-right: 101px;
    text-align: initial; }
    @media screen and (max-width: 380px) {
      .room-details__rules {
        margin-right: 0;
        width: 100%;
        padding: 0 5px; } }
  .room-details__cancellation {
    display: inline-block;
    max-width: 341px;
    margin-top: 30px;
    vertical-align: top;
    text-align: initial; }
    @media screen and (max-width: 380px) {
      .room-details__cancellation {
        width: 100%;
        padding: 0 5px; } }
  .room-details__photos-wrapper {
    display: inline-block;
    position: absolute;
    right: 0;
    max-width: 31.88%;
    height: 100%; }
  .room-details__comments-counter {
    font-family: Montserrat, Arial, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 19px;
    color: rgba(31, 32, 65, 0.5);
    display: inline-block;
    vertical-align: bottom;
    text-align: right;
    width: 50%; }
  .room-details__comments {
    margin-top: 13px;
    text-align: initial; }
  .room-details__comments-title {
    margin-bottom: 20px; }
    @media screen and (max-width: 380px) {
      .room-details__comments-title {
        padding: 0 5px; } }
  .room-details__comment:not(:last-of-type) {
    margin-bottom: 23px; }
  @media screen and (max-width: 380px) {
    .room-details__comment {
      padding: 0 5px; } }
  .room-details__footer {
    flex: 0 0 auto;
    border-top: 1px solid rgba(31, 32, 65, 0.25); }

.room-photo {
  height: 50%;
  vertical-align: top; }
  .room-photo_size_large {
    width: 68.13%;
    display: inline-block;
    vertical-align: top; }
  .room-photo_corner_top-right, .room-photo_corner_bottom-right {
    width: 100%; }

.cancellation__title {
  margin: 3px 0 17px; }

.cancellation__text {
  margin: 0;
  font-family: Montserrat, Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: rgba(31, 32, 65, 0.75); }

