.search-room-page {
  margin: 0;
  background: #f4f4f6;
  min-width: 320px;
  display: flex;
  flex-direction: column;
  min-height: 100%; }
  @media screen and (max-width: 680px) {
    .search-room-page__sidebar-wrapper {
      text-align: center;
      margin-bottom: 20px; } }
  .search-room-page__main {
    background-color: #ffffff;
    padding: 30px 126px 72px 140px;
    min-height: 930px;
    flex: 1 0 auto;
    text-align: center; }
    @media screen and (max-width: 900px) {
      .search-room-page__main {
        padding: 40px 40px; } }
    @media screen and (max-width: 350px) {
      .search-room-page__main {
        padding: 40px 20px; } }
  .search-room-page__content {
    display: inline-block;
    text-align: initial; }
  .search-room-page__rooms {
    text-align: initial;
    vertical-align: top;
    max-width: 1700px;
    padding-left: 326px; }
    @media screen and (max-width: 900px) {
      .search-room-page__rooms {
        padding-left: 300px; } }
    @media screen and (max-width: 680px) {
      .search-room-page__rooms {
        padding-left: 0; } }
  @media screen and (max-width: 680px) {
    .search-room-page__rooms-wrapper {
      text-align: center; } }
  .search-room-page__rooms-title {
    margin-bottom: 22px; }
  .search-room-page__rooms-navigation {
    width: calc(100% - 29px);
    text-align: center;
    margin-top: 20px; }
    @media screen and (max-width: 1160px) {
      .search-room-page__rooms-navigation {
        width: 100%; } }
  .search-room-page__date-filter {
    margin-bottom: 20px; }
  .search-room-page__availability {
    margin-bottom: 28px; }
  .search-room-page__slider {
    margin-bottom: 29px; }
  .search-room-page__guests {
    margin-bottom: 27px; }
  .search-room-page__additional-features {
    margin-bottom: 30px; }
  .search-room-page__features-title {
    margin-bottom: 17px; }
  .search-room-page__room-amenities {
    margin-bottom: 29px; }
  .search-room-page__footer {
    border-top: 1px solid rgba(31, 32, 65, 0.25);
    flex: 0 0 auto; }

.room-card {
  display: inline-block;
  margin: 0 12px 20px 0; }

