include ../../blocks/logo/logo.pug
include ../../blocks/color-sample/color-sample.pug
include ../../blocks/text-sample/text-sample.pug

.colors-types
  +logo({
    src: "img/logo.svg",
    type: "corner_top-left"
  })
  .colors-types__wrapper
    .colors-samples
      +color-sample()
        +color-sample__palette({colorType: "color_shade100"})
        +color-sample__text({title: "Dark Shade 100%", rgb: "#1F2041"})
      +color-sample()
        +color-sample__palette({colorType: "color_shade75"})
        +color-sample__text({title: "Dark Shade 75%", rgb: "#1F2041"})
      +color-sample()
        +color-sample__palette({colorType: "color_shade50"})
        +color-sample__text({title: "Dark Shade 50%", rgb: "#1F2041"})
      +color-sample()
        +color-sample__palette({colorType: "color_shade25"})
        +color-sample__text({title: "Dark Shade 25%", rgb: "#1F2041"})
      +color-sample()
        +color-sample__palette({colorType: "color_shade5"})
        +color-sample__text({title: "Dark Shade 5%", rgb: "#1F2041"})
      +color-sample()
        +color-sample__palette({colorType: "color_purple"})
        +color-sample__text({title: "Purple", rgb: "#BC9CFF"})
      +color-sample()
        +color-sample__palette({colorType: "color_green"})
        +color-sample__text({title: "Green", rgb: "#6FCF97"})
    .text-samples
      +text-sample()
        +text-sample__teg({
          textType: "h1",
          text: "H1"
        })
        +text-sample__description({
          textType: "h1",
          text: "This one is the sub-section or widget title"
        })
      +text-sample()
        +text-sample__teg({
          textType: "h2",
          text: "H2"
        })
        +text-sample__description({
          textType: "h2",
          text: "Next one is the item title inside widgets"
        })
      +text-sample()
        +text-sample__teg({
          textType: "h3",
          text: "H3"
        })
        +text-sample__description({
          textType: "h3",
          text: "This is a label or CTA text"
        })
      +text-sample()
        +text-sample__teg({
          textType: "simple",
          text: "Body"
        })
        +text-sample__description({
          textType: "simple",
          text: "This is the body text which is used for most of the design, like paragraphs, lists, etc."
        })
