mixin page-head(settings)
  - const {
  -   title = "For change",
  -   description = "For change"
  - } = settings
  doctype html
  html
    head
      meta(charset="utf-8")
      meta(name="description" content=description)
      meta(name="keywords" content="HTML, CSS, JavaScript")
      meta(name="viewport" content="initial-scale=1.0, width=device-width")
      link(rel='apple-touch-icon' sizes='180x180' href='img/apple-touch-icon.png')
      link(rel='icon' type='image/png' sizes='32x32' href='img/favicon-32x32.png')
      title=title 
    block