mixin room-list(settings)
   - const cards = [
   -   {
   -     number: "888",
   -     price: "9 990",
   -     type: "luxury",
   -     rating: "5",
   -     reviewsCounter: "145"
   -   },
   -   {
   -     number: "840",
   -     price: "9 900",
   -     rating: "4",
   -     reviewsCounter: "65"
   -   },
   -   {
   -     number: "980",
   -     price: "8 500",
   -     type: "luxury",
   -     rating: "3",
   -     reviewsCounter: "35"
   -   },
   -   {
   -     number: "856",
   -     price: "7 300",
   -     rating: "5",
   -     reviewsCounter: "19"
   -   },
   -   {
   -     number: "740",
   -     price: "6 000",
   -     rating: "4",
   -     reviewsCounter: "44"
   -   },
   -   {
   -     number: "982",
   -     price: "5 800",
   -     rating: "3",
   -     reviewsCounter: "56"
   -   },
   -   {
   -     number: "678",
   -     price: "5 500",
   -     rating: "5",
   -     reviewsCounter: "45"
   -   },
   -   {
   -     number: "450",
   -     price: "5 300",
   -     rating: "4",
   -     reviewsCounter: "39"
   -   },
   -   {
   -     number: "350",
   -     price: "5 000",
   -     rating: "3",
   -     reviewsCounter: "77"
   -   },
   -   {
   -     number: "666",
   -     price: "5 000",
   -     rating: "5",
   -     reviewsCounter: "25"
   -   },
   -   {
   -     number: "444",
   -     price: "5 000",
   -     rating: "3",
   -     reviewsCounter: "15"
   -   },
   -   {
   -     number: "352",
   -     price: "5 000",
   -     rating: "3",
   -     reviewsCounter: "55"
   -   },
   - ]
   each card in cards
     +room-card({
       imagesSources: [
         `../img/${card.number}.jpg`,
         "../img/room-slider.jpg",
         `../img/${card.number}.jpg`,
         "../img/room-slider.jpg",
       ],
       roomInformation: {
         number: card.number,
         price: card.price,
         type: card.type
       },
       starsRating: card.rating,
       reviewsCounter: card.reviewsCounter,
     })