include ../../blocks/header/header.pug
include ../../blocks/logo/logo.pug
include ../../blocks/navigation/navigation.pug
include ../../blocks/button/button.pug
include ../../blocks/footer/footer.pug
include ../../blocks/social-media-link/social-media-link.pug
include ../../blocks/copyright/copyright.pug
include ../../blocks/input/input.pug
include ../../blocks/registration/registration.pug
include ../../blocks/button/button.pug
include ../../blocks/toggle/toggle.pug
include ../../blocks/title/title.pug
include ../../blocks/page-head/page-head
include ../../blocks/page-header/page-header
include ../../blocks/page-footer/page-footer

+page-head({title: "Registration Page", description: "Registation page of the hotel room website."})
  body
    .registration-page
      +page-header({headerClass: "registration-page__header", boldLink: 1})
      main.registration-page__main 
        .registration-page__form
          +registration({
            title: "Регистрация аккаунта"
          })
      +page-footer({footerClass: "registration-page__footer"})