@import '../../overall/variables.scss';
@import '../../fonts/fonts.scss';
@import '../../blocks/header/header.scss';
@import '../../blocks/logo/logo.scss';
@import '../../blocks/navigation/navigation.scss';
@import '../../blocks/button/button.scss';
@import '../../blocks/footer/footer.scss';
@import '../../blocks/social-media-link/social-media-link.scss';
@import '../../blocks/copyright/copyright.scss';
@import '../../blocks/input/input.scss';
@import '../../blocks/registration/registration.scss';
@import '../../blocks/button/button.scss';
@import '../../blocks/toggle/toggle.scss';
@import '../../blocks/title/title.scss';

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body {
  margin: 0;
  height: 100%;
  min-width: 320px;
}

.registration-page {
  margin: 0;
  background: #f4f4f6;
  min-width: 320px;
  display: flex;
  flex-direction: column;
  min-height: 100%;

  &__main {
    flex: 1 0 auto;
    background-image: url('../../img/room-background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: -70px;
    min-height: 683px;
    text-align: center;

    @media screen and (max-width: 1439px) {
      background-position: center;
    }

    @media screen and (min-height: 1197px) {
      background-position: center;
    }
  }

  &__form {
    display: inline-block;
    margin-top: 19px;
    margin-left: 5px;

    @media screen and (max-width: 350px) {
      margin-left: 0;
    }

    @media screen and (max-width: 380px) {
      margin: 19px 0;
    }
  }

  &__footer {
    flex: 0 0 auto;
    padding-top: 1px;
  }
}
