include ../../blocks/header/header.pug
include ../../blocks/logo/logo.pug
include ../../blocks/nav/nav.pug
include ../../blocks/button/button.pug
include ../../blocks/footer/footer.pug
include ../../blocks/social-media-link/social-media-link.pug
include ../../blocks/copyright/copyright.pug
include ../../blocks/input/input.pug
include ../../blocks/registration/registration.pug
include ../../blocks/button/button.pug
include ../../blocks/toggle/toggle.pug
include ../../blocks/title/title.pug
include ../../overall/page-head.pug

+page-head({title: "Registration Page", desc: "Registation page of the hotel room website."})
  body
    .registration-page
      header.registration-page__header
        +header({
          nav: { 
            links: [
              {"text": "О нас"},
              {"text": "Услуги", "type": "expanded"},
              {"text": "Вакансии"},
              {"text": "Новости"},
              {"text": "Соглашения", "type": "expanded"}
            ],
            buttonJsClass: "js-header-nav-button",
            navJsClass: "js-header-nav"
          }
        })
      main.registration-page__main 
        .registration-page__form
          +registration({
            title: { text:"Регистрация аккаунта" }
          })
      footer.registration-page__footer
        +footer({
          description: {
            text: "Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные взгляды»"
          },
          lists: [
            [
              {"text": "навигация"}, 
              {"text": "О нас"},
              {"text": "Новости"},
              {"text": "Служба поддержки"},
              {"text": "Услуги"}
            ],
            [
              {"text": "о нас"},
              {"text": "О сервисе"},
              {"text": "Наша команда"},
              {"text": "Вакансии"},
              {"text": "Инвесторы"}
            ],
            [
              {"text": "Служба поддержки"}, 
              {"text": "Соглашения"},
              {"text": "Сообщества"},
              {"text": "Связь с нами"}
            ]
          ],
          subscribe: {
            title: "Подписка",
            text: "Получайте специальные предложения и новости сервиса"
          }
        })
        +copyright({
          text: "Copyright © 2018 Toxin отель. Все права защищены.",
          links: [
            {
              "name": "twitter",
              "iconSrc": "img/twitter.svg"
            },
            {
              "name": "facebook",
              "iconSrc": "img/facebook.svg"
            },
            {
              "name": "instagram",
              "iconSrc": "img/instagram.svg"
            }
          ]
        })