include ../../blocks/header/header
include ../../blocks/logo/logo
include ../../blocks/navigation/navigation
include ../../blocks/button/button
include ../../blocks/footer/footer
include ../../blocks/social-media-link/social-media-link
include ../../blocks/copyright/copyright
include ../../blocks/input/input
include ../../blocks/registration/registration
include ../../blocks/button/button
include ../../blocks/toggle/toggle
include ../../blocks/title/title
include ../../blocks/page-head/page-head
include ../../blocks/page-header/page-header
include ../../blocks/page-footer/page-footer
include ../../blocks/radio-button/radio-button

+page-head({title: "Registration Page", description: "Registration page of the hotel room website."})
  body
    .registration-page
      header.registration-page__header.js-registration-page__header
        +page-header()
      main.registration-page__main 
        .registration-page__form.js-registration-page__form
          +registration({})
      footer.registration-page__footer
        +page-footer()