mixin user-comment(settings)
  - let {
  -   title: {
  -     imgAttr = {
  -       alt: "For Change",
  -       src: "img/forChange.jpg"
  -     },
  -     name: titleName = "Name",
  -     age: titleAge = "Age"
  -   },
  -   main: {
  -     toggle: {
  -       checked: toggleChecked = false,
  -       text: toggleText = "0"
  -     },
  -     text: mainText = "Text for change"
  -   }
  - } = settings
  .user-comment
    .user-comment__title
      img(class="user-comment__avatar")&attributes(imgAttr)
      .user-comment__info
        p.user-comment__name=titleName
        p.user-comment__age=titleAge
    .user-comment__main
      .user-comment__like
        +toggle({
          controller: {
            type: "like",
            attr: {
              "type": "checkbox",
              "hidden": "hidden",
              "checked": toggleChecked
            }
          },
          text: {
            text: toggleText
          }
        })
      p.user-comment__text=mainText