mixin user-comment(settings)
  - let title = {
  -   imgAttr: {
  -     alt: "For Change",
  -     src: "img/forChange.jpg"
  -   },
  -   name: "Name",
  -   age: "Age"
  - }
  - let main = {
  -   toggle: {
  -     checked: false,
  -     text: "0"
  -   },
  -   text: "Text for change"
  - }
  - if(settings){
  -   if(settings.title) {
  -     if(settings.title.hasOwnProperty("imgAttr")) title.imgAttr = settings.title.imgAttr
  -     if(settings.title.hasOwnProperty("name")) title.name = settings.title.name
  -     if(settings.title.hasOwnProperty("age")) title.age = settings.title.age
  -   }
  -   if(settings.main) {
  -     if(settings.main.hasOwnProperty("toggle")) {
  -       if(settings.main.toggle.hasOwnProperty("checked")) main.toggle.checked = settings.main.toggle.checked
  -       if(settings.main.toggle.hasOwnProperty("text")) main.toggle.text = settings.main.toggle.text
  -     }
  -     if(settings.main.hasOwnProperty("text")) main.text = settings.main.text
  -   }
  - }
  .user-comment
    .user-comment__title
      img(class="user-comment__avatar")&attributes(title.imgAttr)
      .user-comment__info
        p.user-comment__name=title.name
        p.user-comment__age=title.age
    .user-comment__main
      .user-comment__like
        +toggle({
          controller: {
            type: "like",
            attr: {
              "type": "checkbox",
              "hidden": "hidden",
              "checked": main.toggle.checked
            }
          },
          text: {
            text: main.toggle.text
          }
        })
      p.user-comment__text=main.text