@import '../../common/mixins.scss';
@import '../../common/variables';

.user-comment {
  &__avatar {
    width: 48px;
    height: 48px;
    box-shadow: 0 10px 20px 0 $dark10;
    border-radius: 100%;
    border: 2px solid white;
    display: inline-block;
    margin-right: 10px;
  }

  &__info {
    @include text_type($mont, 14px, 400, 24px, $dark75);
    display: inline-block;
    vertical-align: top;
  }

  &__name,
  &__age {
    margin: 0;
  }

  &__name {
    font-weight: 700;
  }

  &__like {
    display: inline-block;
    margin: 2px 14px 0 0;
    vertical-align: top;
  }

  &__main {
    margin: 6px 0 0 4px;
  }

  &__text {
    @include text_type($mont, 14px, 400, 24px, $dark75);
    display: inline-block;
    margin: 0;
    max-width: 653px;
  }
}
