mixin user-comment(settings)
  - const {
  -   title: {
  -     imgSrc = "img/forChange.jpg",
  -     userName = "Name",
  -     userAge = "Age"
  -   },
  -   main: {
  -     isLiked = false,
  -     likeCounter = "0",
  -     commentText = "Text for change"
  -   }
  - } = settings
  .user-comment
    .user-comment__title
      img(class="user-comment__avatar", alt="Profile picture", src=imgSrc)
      .user-comment__info
        p.user-comment__name=userName
        p.user-comment__age=userAge
    .user-comment__main
      .user-comment__like
        +toggle({
          type: "like",
          attrs: {
            "type": "checkbox",
            "hidden": "hidden",
            "checked": isLiked
          },
          text: {
            text: likeCounter
          }
        })
      p.user-comment__text=commentText