include __main/user-comment__main.pug
include __title/user-comment__title.pug
include __avatar/user-comment__avatar.pug
include __info/user-comment__info.pug
include __text/user-comment__text.pug
include __like/user-comment__like.pug

mixin user-comment()
  .user-comment
    block