mixin user-comment(settings)
  - const {
  -   title: {
  -     imgAttr = {
  -       alt: "For Change",
  -       src: "img/forChange.jpg"
  -     },
  -     name = "Name",
  -     age = "Age"
  -   },
  -   main: {
  -     toggle: {
  -       checked = false,
  -       text: toggleText = "0"
  -     },
  -     text: mainText = "Text for change"
  -   }
  - } = settings
  .user-comment
    .user-comment__title
      img(class="user-comment__avatar")&attributes(imgAttr)
      .user-comment__info
        p.user-comment__name=name
        p.user-comment__age=age
    .user-comment__main
      .user-comment__like
        +toggle({
          controller: {
            type: "like",
            attr: {
              "type": "checkbox",
              "hidden": "hidden",
              "checked": checked
            }
          },
          text: {
            text: toggleText
          }
        })
      p.user-comment__text=mainText