@import '../../common/mixins.scss';
@import '../../common/variables';

.user-comment {
  display: flex;
  flex-direction: column;
  row-gap: 10px;

  &__avatar {
    width: 48px;
    height: 48px;
    box-shadow: 0 10px 20px 0 $color-secondary-light;
    border-radius: 100%;
    border: 2px solid white;
    display: inline-block;
    user-select: none;
  }

  &__title {
    display: flex;
    column-gap: 9px;
  }

  &__main {
    display: flex;
    column-gap: 14px;
  }

  &__info {
    @include text_type($font-main, 14px, 400, 24px, $color-main-dark);
  }

  &__name,
  &__age {
    margin: 0;
  }

  &__name {
    font-weight: 700;
  }

  &__like {
    padding: 2px 0 0 3px;
  }

  &__text {
    @include text_type($font-main, 14px, 400, 24px, $color-main-dark);
    margin: 0;
  }
}
