include ../../form-elements/fields-toggles-buttons/fields/dropdown-date.pug
include ../../form-elements/fields-toggles-buttons/fields/dropdown-guests.pug
include ../../form-elements/fields-toggles-buttons/buttons/buttons-types.pug

h1.type-h1.rooms-search__main-title= 'Найдём номера под ваши пожелания'
div.rooms-search__dropdown-date
  +dropdown-date("ДД.ММ.ГГГГ","Прибытие", 'dropdown-date-label-start')
  +dropdown-date("ДД.ММ.ГГГГ","Выезд", 'dropdown-date-label-end')
  include dropdown-datepicker.pug
div.rooms-search__dropdown-guests
  include ../../form-elements\dropdown\dropdown-quests\dropdown-guests-landing-page.pug
div.rooms-search__accept-button
  div.big-button-body
    +buttons-types("big-simple-button", "Подобрать номер", '10')
