%different-forms-main-rools {
  width: 380px;
  box-sizing: border-box;
  border: 1px solid rgba(0, 0, 0, 0.12);
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 40px 0px 30px 30px;
}

.rooms-search-body {
  @extend %different-forms-main-rools;
  height: 374px;
  h1 {
    width: 300px;
  }
}
.rooms-search__accept-button {
  margin-top: 30px;
  z-index: 1;
  position: relative;
}
.rooms-search__dropdown-date {
  .dropdown-date-body {
    margin-top: 20px;
    h3 {
      margin-top: 0;
    }
  }
}
.dropdown-datepicker-body {
  width: 320px;
  height: 369px;
  border: 1px solid rgba(31, 32, 65, 0.25);
  box-sizing: border-box;
  box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
  border-radius: 4px;
  position: absolute;
  margin-top: 5px;
  z-index: 5;
  background: #FFFFFF;
  display: block;
  padding: 20px;
}
.dropdown-datepicker__month-button {
  display: inline-block;
  width: 24px; height: 24px;
  border: none;
  padding: 0;
  background: none;
  outline: none;
  &::after {
    content: url(img/arrow-purple.svg);;
    width: 24px; height: 24px;
  } 
}
#dropdown-datepicker__monce-year {
  display: inline-block;
  width: 230px;
  text-align: center;
}
#dropdown-datepicker__minus-button {
  transform: rotate(180deg);
}
.dropdown-datepicker__datepicker-body {
  margin-top: 30px;
  margin-left: 1px;
  tr {
    td {
      padding: 0;
      width: 40px;
      height: 40px;
      text-align: center;
      font-family: 'Montserrat', sans-serif;
      font-style: normal;
      font-size: 12px;
      line-height: 15px;
    }
  }
}
.dropdown-datepicker__datepicker_week-days {
  color: $purple;
  font-weight: bold;
}
.dropdown-datepicker__datepicker_days {
  color: $dark50;
}