// Quicksand
@font-face {
  font-family: 'Quicksand';
  src: url('../../fonts/fonts/Quicksand-Regular.ttf') format('truetype'),
       url('../../fonts/fonts/Quicksand-Regular.woff') format('woff'),
       url('../../fonts/fonts/Quicksand-Regular.svg') format('svg');
  font-weight: normal;
  font-style: normal;
};
@font-face {
  font-family: 'Quicksand';
  src: url('../../fonts/fonts/Quicksand-Light.ttf') format('truetype'),
       url('../../fonts/fonts/Quicksand-Light.woff') format('woff'),
       url('../../fonts/fonts/Quicksand-Light.svg') format('svg');
  font-weight: 300;
  font-style: normal;
};
@font-face {
  font-family: 'Quicksand';
  src: url('../../fonts/fonts/Quicksand-Medium.ttf') format('truetype'),
       url('../../fonts/fonts/Quicksand-Medium.woff') format('woff'),
       url('../../fonts/fonts/Quicksand-Medium.svg') format('svg');
  font-weight: 500;
  font-style: normal;
};
@font-face {
  font-family: 'Quicksand';
  src: url('../../fonts/fonts/Quicksand-SemiBold.ttf') format('truetype'),
       url('../../fonts/fonts/Quicksand-SemiBold.woff') format('woff'),
       url('../../fonts/fonts/Quicksand-SemiBold.svg') format('svg');
  font-weight: 600;
  font-style: normal;
};
@font-face {
  font-family: 'Quicksand';
  src: url('../../fonts/fonts/Quicksand-Bold.ttf') format('truetype'),
       url('../../fonts/fonts/Quicksand-Bold.woff') format('woff'),
       url('../../fonts/fonts/Quicksand-Bold.svg') format('svg');
  font-weight: 700;
  font-style: normal;
};
// -------------------

// Montserrat
@font-face {
  font-family: 'Montserrat';
  src: url('../../fonts/fonts/Montserrat-Regular.ttf') format('truetype'),
       url('../../fonts/fonts/Montserrat-Regular.woff') format('woff'),
       url('../../fonts/fonts/Montserrat-Regular.svg') format('svg');
  font-weight: normal;
  font-style: normal;
};
@font-face {
  font-family: 'Montserrat';
  src: url('../../fonts/fonts/Montserrat-Light.ttf') format('truetype'),
       url('../../fonts/fonts/Montserrat-Light.woff') format('woff'),
       url('../../fonts/fonts/Montserrat-Light.svg') format('svg');
  font-weight: 300;
  font-style: normal;
};
@font-face {
  font-family: 'Montserrat';
  src: url('../../fonts/fonts/Montserrat-Medium.ttf') format('truetype'),
       url('../../fonts/fonts/Montserrat-Medium.woff') format('woff'),
       url('../../fonts/fonts/Montserrat-Medium.svg') format('svg');
  font-weight: 500;
  font-style: normal;
};
@font-face {
  font-family: 'Montserrat';
  src: url('../../fonts/fonts/Montserrat-SemiBold.ttf') format('truetype'),
       url('../../fonts/fonts/Montserrat-SemiBold.woff') format('woff'),
       url('../../fonts/fonts/Montserrat-SemiBold.svg') format('svg');
  font-weight: 600;
  font-style: normal;
};
@font-face {
  font-family: 'Montserrat';
  src: url('../../fonts/fonts/Montserrat-Bold.ttf') format('truetype'),
       url('../../fonts/fonts/Montserrat-Bold.woff') format('woff'),
       url('../../fonts/fonts/Montserrat-Bold.svg') format('svg');
  font-weight: 700;
  font-style: normal;
};

$quick: Quicksand, Arial, sans-serif;
$mont: Montserrat, Arial, sans-serif;