@font-face {
	font-family: 'Quicksand';
	src: url('fonts/fonts/Quicksand-Regular.eot');
	src: local('☺'), url('fonts/fonts/Quicksand-Regular.woff') format('woff'), url('fonts/fonts/Quicksand-Regular.ttf') format('truetype'), url('fonts/fonts/Quicksand-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Quicksand';
	src: url('fonts/fonts/Quicksand-Bold.eot');
	src: local('☺'), url('fonts/fonts/Quicksand-Bold.woff') format('woff'), url('fonts/fonts/Quicksand-Bold.ttf') format('truetype'), url('fonts/fonts/Quicksand-Bold.svg') format('svg');
	font-weight: bold;
	font-style: normal;
};
@font-face {
	font-family: 'Montserrat';
	src: url('fonts/fonts/Montserrat-Regular.eot');
	src: local('☺'), url('fonts/fonts/Montserrat-Regular.woff') format('woff'), url('fonts/fonts/Montserrat-Regular.ttf') format('truetype'), url('fonts/fonts/Montserrat-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
};
@font-face {
	font-family: 'Montserrat';
	src: url('fonts/fonts/Montserrat-Bold.eot');
	src: local('☺'), url('fonts/fonts/Montserrat-Bold.woff') format('woff'), url('fonts/fonts/Montserrat-Bold.ttf') format('truetype'), url('fonts/fonts/Montserrat-Bold.svg') format('svg');
	font-weight: bold;
	font-style: normal;
};