// Quicksand ----------------------------------------------
@font-face {
  font-family: 'Quicksand';
  src: url('../../fonts/fonts/Quicksand-Regular.woff2'),
       url('../../fonts/fonts/Quicksand-Regular.woff'),
       url('../../fonts/fonts/Quicksand-Regular.ttf'),
       url('../../fonts/fonts/Quicksand-Regular.svg');
  font-weight: normal;
  font-style: normal;
};
@font-face {
  font-family: 'Quicksand';
  src: url('../../fonts/fonts/Quicksand-Bold.woff2'),
       url('../../fonts/fonts/Quicksand-Bold.woff'),
       url('../../fonts/fonts/Quicksand-Bold.ttf'),
       url('../../fonts/fonts/Quicksand-Bold.svg');
  font-weight: 700;
  font-style: normal;
};
// ---------------------------------------------------------

// Montserrat-----------------------------------------------
@font-face {
  font-family: 'Montserrat';
  src: url('../../fonts/fonts/Montserrat-Regular.woff2'),
       url('../../fonts/fonts/Montserrat-Regular.woff'),
       url('../../fonts/fonts/Montserrat-Regular.ttf'),
       url('../../fonts/fonts/Montserrat-Regular.svg');
  font-weight: normal;
  font-style: normal;
};
@font-face {
  font-family: 'Montserrat';
  src: url('../../fonts/fonts/Montserrat-Bold.woff2'),
       url('../../fonts/fonts/Montserrat-Bold.woff'),
       url('../../fonts/fonts/Montserrat-Bold.ttf'),
       url('../../fonts/fonts/Montserrat-Bold.svg');
  font-weight: 700;
  font-style: normal;
};
// ----------------------------------------------------------

$quick: Quicksand, Arial, sans-serif;
$mont: Montserrat, Arial, sans-serif;