.stars-rating {
  display: flex;
  column-gap: 5px;

  &__star {
    cursor: pointer;
    display: inline-block;
    width: 19px;
    height: 19px;
    background-image: url('../../img/star-border.svg');

    &:hover {
      transform: scale(1.2);
    }

    &_color {
      &_purple {
        background-image: url('../../img/star.svg');
      }
    }
  }
}
