.stars-rating {
  &__star {
    cursor: pointer;
    display: inline-block;
    width: 19px;
    height: 19px;
    background-image: url('../../img/star-border.jpg');

    &:hover {
      transform: scale(1.2);
    }

    &:not(:last-of-type) {
      margin-right: 5px;
    }

    &_color_purple {
      background-image: url('../../img/star.jpg');
    }
  }
}
