@import '../../../overall/mixins.scss';

.toggle__text {
  cursor: pointer;
  user-select: none;
  display: inline-block;
  margin: 0;
  line-height: 20px;
}
.toggle__text-wrapper {
  display: inline-block;
}