@import '../../common/variables.scss';
@import '../../common/mixins.scss';

.body {
  background-color: $color-main-light;
}

.gh-pages {
  margin: 70px auto 0;
  background-color: white;
  width: 380px;
  border: 1px solid rgba(0, 0, 0, 0.12);
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 30px 25px;

  &__list-wrapper:not(:last-child) {
    margin-bottom: 35px;
  }

  &__title {
    @include text_type($font-main, 30px, 700, 32px, $color-main-darker);
    text-align: center;
    cursor: default;
    user-select: none;
    margin: 0 0 35px;

    &_size {
      &_small {
        font-size: 24px;
        line-height: 24px;
        width: 70%;
        margin: 0 auto 10px;
        padding-bottom: 10px;
        border-bottom: 2px dotted $color-main-lighter;
      }
    }
  }

  &__link {
    @include text_type($font-main, 16px, 700, 24px, $color-interactive-main);
    text-align: center;
    text-decoration-line: none;
    user-select: none;

    &:hover {
      color: $color-main-dark;
    }
  }

  &__links-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__link-wrapper {
    display: flex;
    justify-content: center;
    width: 70%;
    padding: 0 0 10px;

    &:not(:last-child) {
      border-bottom: 1px solid $color-main-lighter;
    }
  }
}
