@import '../../common/variables.scss';
@import '../../common/mixins.scss';

.body {
  background-color: $dark50;
}

.gh-pages {
  margin: 70px auto 0;
  background-color: white;
  width: 380px;
  border: 1px solid rgba(0, 0, 0, 0.12);
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 30px 25px;
  text-align: center;

  &__list-wrapper:not(:last-child) {
    margin-bottom: 35px;
  }

  &__title {
    @include text_type($mont, 30px, 700, 32px, $dark100);
    text-align: center;
    cursor: default;
    user-select: none;
    margin: 0 0 35px;

    &_size_small {
      font-size: 24px;
      line-height: 24px;
      width: 70%;
      margin: 0 auto 10px;
      padding-bottom: 10px;
      border-bottom: 2px dotted $dark25;
    }
  }

  &__link {
    @include text_type($mont, 16px, 700, 24px, $purple);
    text-align: center;
    text-decoration-line: none;
    user-select: none;

    &:hover {
      color: $dark75;
    }
  }

  &__links-list {
    margin: 0;
    padding: 0;
  }

  &__link-wrapper {
    list-style: none;
    width: 70%;
    margin: auto;

    &:not(:last-child) {
      border-bottom: 1px solid $dark25;
      margin-bottom: 10px;
      padding-bottom: 10px;
    }
  }
}
