@import '../button/button.scss';
@import '../../common/mixins.scss';
@import '../../common/variables';

.datepicker {
  width: 320px;

  &__inputs {
    display: flex;
    justify-content: space-between;
    row-gap: 20px;

    @media screen and (max-width: 420px) {
      flex-direction: column;
    }
  }

  &__total,
  &__from,
  &__to {
    display: flex;
    flex-direction: column;
  }

  &__navigation {
    display: flex;
  }

  &__calendar-wrapper {
    background: #ffffff;
    border: 1px solid $color-main-lighter;
    box-shadow: 0 10px 20px $color-secondary-light;
    border-radius: 4px;
    padding: 19px 18px 19px 19px;
    width: 320px;
    position: absolute;
    z-index: 5;
    margin-top: 5px;

    &_size {
      &_small {
        width: 266px;
        padding: 9px 10px 10px 9px;
      }
    }

    @media screen and (max-width: 420px) {
      width: 266px;
      padding: 9px 10px 10px 9px;
    }
  }

  &__scroll-button {
    background-image: url('../../img/arrow-forward.svg');
    background-repeat: no-repeat;
    background-position: center;
    border: 0;
    width: 24px;
    height: 24px;
    background-color: white;
    padding: 0;
    cursor: pointer;
    outline: none;

    &_arrow {
      &_back {
        transform: rotate(180deg);
      }
    }
  }

  &__selected-month {
    @include text_type($main-font, 19px, 700, 24px, $color-main-darker);
    text-align: center;
    flex-grow: 1;
    margin: 0 0 0 1px;

    &_size {
      &_small {
        min-width: 196px;
      }
    }

    @media screen and (max-width: 420px) {
      min-width: 196px;
    }
  }

  &__week-days {
    display: flex;
    justify-content: stretch;
  }

  &__week-day,
  &__dates {
    text-align: center;
    line-height: 40px;
    user-select: none;
  }

  &__week-day {
    font-weight: 700;
    color: $main-interactive-color;
    flex-grow: 1;
  }

  &__dates {
    display: grid;
    grid-template: repeat(5, 1fr) / repeat(7 , 1fr);
  }

  &__calendar {
    margin: 30px 0 19px;
    border-collapse: collapse;
    @include text_type($main-font, 12px, 400, 15px, $color-main-light);
  }


  &__date {
    user-select: none;
    cursor: pointer;

    &_transparent {
      color: $color-main-lighter;
    }

    &_color {
      &_green,
      &_purple {
        border-radius: 50%;
        color: white;
        font-weight: 700;
      }

      &_purple {
        background: linear-gradient(180deg, $main-interactive-color 0%, #8ba4f9 100%);
      }

      &_green {
        background: linear-gradient(180deg, $secondary-interactive-color 0%, #66d2ea 100%);
      }
    }

    &_shading_purple,
    &_left-half_purple {
      position: relative;

      &::before {
        content: '';
        display: inline-block;
        background: linear-gradient(180deg, $main-interactive-color 0%, #8ba4f9 100%);
        opacity: 0.25;
        position: absolute;
        z-index: -1;
      }
    }

    &_right-half {
      &_purple {
        position: relative;

        &::after {
          content: '';
          display: inline-block;
          background: linear-gradient(180deg, $main-interactive-color 0%, #8ba4f9 100%);
          opacity: 0.25;
          position: absolute;
          z-index: -1;
          left: 20px;
          right: 0;
          top: 0;
          bottom: 0;
        }
      }
    }

    &_left-half {
      &_purple {
        &::before {
          left: 0;
          right: 20px;
          top: 0;
          bottom: 0;
        }
      }
    }

    &_shading {
      &_purple {
        &::before {
          left: 0;
          right: 0;
          top: 0;
          bottom: 0;
        }
      }
    }
  }

  &__confirmation-buttons {
    display: flex;
    justify-content: space-between;
    line-height: 15px;
  }

  &__clear-button,
  &__apply-button {
    display: flex;
  }

  &_size {
    &_small {
      width: 266px;
    }
  }

  &_without-margin {
    margin-top: 0;
  }

  @media screen and (max-width: 420px) {
    width: 266px;
  }
}
