include ../button/button.pug

mixin datepicker(settings)
  - const days = ["Пн", "Вт", "Ср", "Чт", "Пт", "Сб", "Вс"]
  - const {
  -   inputType = "",
  -   inputSettings = {},
  -   isCalendarClosed =  false,
  -   isSmall = false,
  - } = settings
  - const sizeClass = isSmall ? "datepicker_size_small" : ""
  - const calendarSizeClass = isSmall ? "datepicker__calendar-wrapper_size_small" : ""
  - const monthSizeClass = isSmall ? "datepicker__selected-month_size_small" : ""
  - const attr = isCalendarClosed ? { "hidden": "hidden" } : {}
  div(class=["datepicker", "js-datepicker", sizeClass])
    if inputType === "total"
      div.datepicker__inputs
        div.datepicker__total.js-datepicker__total
          +input(inputSettings.total)
    else if inputType === "double"
      div.datepicker__inputs
        div.datepicker__from.js-datepicker__from
          +input(inputSettings.from)
        div.datepicker__to.js-datepicker__to
          +input(inputSettings.to)
    div(class=["datepicker__calendar-wrapper", calendarSizeClass])&attributes(attr)
      button(type="button").datepicker__scroll-button.datepicker__scroll-button_arrow_back.js-datepicker__scroll-button_arrow_back
      p(class=["datepicker__selected-month", "js-datepicker__selected-month", monthSizeClass])
      button(type="button").datepicker__scroll-button.datepicker__scroll-button_arrow_forward.js-datepicker__scroll-button_arrow_forward
      table.datepicker__calendar.js-datepicker__calendar
        tr.datepicker__calendar-line
          each day in days
            - const cellSize = isSmall ? "datepicker__calendar-cell_size_small" : ""
            th(class=["datepicker__calendar-cell", "datepicker__calendar-cell_font_bold", "datepicker__calendar-cell_value_week-day", cellSize])= day
        - let i = 0;
        while (i++ < 6)
          tr.datepicker__calendar-line.js-datepicker__calendar-line
      div.datepicker__confirmation-buttons
        div.datepicker__clear-button.js-datepicker__clear-button
          +button({
            type: "text",
            text: "очистить",
          })
        div.datepicker__apply-button.js-datepicker__apply-button
          +button({
            type: "text",
            text: "применить",
          })
      