.dropdown__output {
  min-width: 30px;
  min-height: 30px;
  display: inline-block;
  text-align: center;
  vertical-align: top;
  padding-top: 6px;
  box-sizing: border-box;
  user-select: none;
  cursor: default;
}