include __title/search-room__title.pug
include __period/search-room__period.pug
include __guests/search-room__guests.pug
include __confirm-button/search-room__confirm-button.pug

mixin search-room(settings)
  - let action = ""
  - if (settings) {
  -   settings.hasOwnProperty("action") ? action = settings.action : action = ""
  - };
  form(action=action).search-room
    block