mixin search-room(settings)
  - let action = ""
  - if (settings) {
  -   settings.hasOwnProperty("action") ? action = settings.action : action = ""
  - };
  form(action=action).search-room
    block

mixin search-room__confirm-button()
  .search-room__confirm-button
    block

mixin search-room__guests()
  .search-room__guests
    block

mixin search-room__period()
  .search-room__period
    block

mixin search-room__from()
  .search-room__from
    block

mixin search-room__to()
  .search-room__to
    block

mixin search-room__title(settings)
  - let text = ""
  - if (settings) { 
  -   settings.hasOwnProperty("text") ? text = settings.text : text = ""
  - }
  .search-room__title
    +title({
      text: text,
      type: "big"
    })