mixin search-room(settings)
  - const {
  -   action = "./for-change",
  -   dropdownList = [
  -     { text: "взрослые", dataTarget: "adult", output: "0" },
  -     { text: "дети", dataTarget: "child", output: "0" },
  -     { text: "младенцы", dataTarget: "baby", output: "0" }
  -   ],
  - } = settings
  form(action=action).search-room
    .search-room__title
      +title({
        text: "Найдём номера под ваши пожелания",
        fontSize: "large"
      })
    .search-room__period
      +datepicker({
        inputType: 'double',
        inputSettings: {
          from: {
            title: {text: "прибытие"},
            input: {
              attr: {
                type: "text",
                placeholder: "ДД.ММ.ГГГГ",
                value: "ДД.ММ.ГГГГ",
                readonly: "readonly"
              },
              length: "short",
              type: "dropdown",
              jsClass: "js-input__field_from"
            }
          },
          to: {
            title: {text: "выезд"},
            input: {
              attr: {
                type: "text",
                placeholder: "ДД.ММ.ГГГГ",
                value: "ДД.ММ.ГГГГ",
                readonly: "readonly"
              },
              length: "short",
              type: "dropdown",
              jsClass: "js-input__field_to"
            }
          }
        },
        isCalendarClosed: true,
        main: {},
      })
    .search-room__guests
      +dropdown({
        inputSettings: {
          title: {text: "гости"},
          input: {
            attr: {
              type: "text",
              placeholder: "Text",
              value: "guestsInputValue",
              readonly: "readonly",
            },
            length: "long",
            type: "dropdown",
            jsClass: "js-input__field"
          }
        },
        isClosed: true,
        lists: dropdownList,
        main: {
          dataType: "guests",
          outputType: "sum"
        }
      })
    .search-room__confirm-button
      +button({
        type: "confirm",
        text: "подобрать номер",
        attrType: "submit",
      })