.search-room {
  padding: 39px 29px 29px;
  background-color: white;
  box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  max-width: 380px;
  text-align: initial;

  &__title {
    margin-bottom: 22px;
  }

  &__period {
    margin-bottom: 20.56px;
    position: relative;
  }

  &__guests {
    margin-bottom: 31px;
    position: relative;
  }

  @media screen and (max-width: 380px) {
    max-width: 320px;
    padding: 40px 26px 30px;
  }
}
