.search-room {
  padding: 40px 29px 30px;
  background-color: white;
  box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  max-width: 380px;
  box-sizing: border-box;

  &__title {
    margin-bottom: 20px;
  }

  &__period {
    margin-bottom: 20px;
    position: relative;
  }

  &__guests {
    margin-bottom: 30px;
    position: relative;
  }

  &__from,
  &__to {
    display: inline-block;
  }
  
  &__to {
    float: right;
  }
}
