mixin search-room(settings)
  - const {
  -   action = "./for-change",
  -   dropdownList = [
  -     { text: "взрослые", dataTarget: "adult", output: "0" },
  -     { text: "дети", dataTarget: "child", output: "0" },
  -     { text: "младенцы", dataTarget: "baby", output: "0" }
  -   ],
  - } = settings
  form(action=action).search-room
    div.search-room__title
      +title({
        text: "Найдём номера под ваши пожелания",
        fontSize: "large"
      })
    div.search-room__period
      +datepicker({
        inputType: 'double',
        inputSettings: {
          from: {
            title: {text: "прибытие"},
            input: {
              attr: {
                type: "text",
                placeholder: "ДД.ММ.ГГГГ",
                value: "ДД.ММ.ГГГГ",
                readonly: "readonly"
              },
              length: "short",
              type: "dropdown",
            }
          },
          to: {
            title: {text: "выезд"},
            input: {
              attr: {
                type: "text",
                placeholder: "ДД.ММ.ГГГГ",
                value: "ДД.ММ.ГГГГ",
                readonly: "readonly"
              },
              length: "short",
              type: "dropdown",
            }
          }
        },
        isCalendarClosed: true,
      })
    div.search-room__guests
      +dropdown({
        inputSettings: {
          title: {text: "гости"},
          input: {
            attr: {
              type: "text",
              placeholder: "Text",
              value: "Сколько гостей",
              readonly: "readonly",
            },
            length: "long",
            type: "dropdown",
          }
        },
        isClosed: true,
        lists: dropdownList,
      })
    div.search-room__confirm-button
      +confirm-button({
        text: "подобрать номер",
      })