@import '__period/search-room__period.scss';
@import '__guests/search-room__guests.scss';

.search-room {
  padding: 40px 29px 30px;
  background-color: white;
  box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  max-width: 380px;
  box-sizing: border-box;
  &__title {
    margin-bottom: 20px;
  }
  &__period {
    margin-bottom: 20px;
  }
  &__guests {
    margin-bottom: 30px;
  }
}