mixin search-room(settings)
  - let {
  -   action = "./for-change",
  -   title: {
  -     text: titleText = "For change"
  -   },
  -   period: {
  -     from: {
  -       title: fromTitle = "For change",
  -       value: fromValue = "ДД.ММ.ГГГГ",
  -       jsClass: fromJs = "js-for-change"
  -     },
  -     to: {
  -       title: toTitle = "For change",
  -       value: toValue = "ДД.ММ.ГГГГ",
  -       jsClass: toJs = "js-for-change"
  -     },
  -     jsDatepicker = "js-for-change"
  -   },
  -   guests: {
  -     title: { text: guestsTitle = "For change" },
  -     input: {
  -       value: guestsInputValue = "For Change",
  -       jsClass: guestsInputJs = "js-for-change"
  -     },
  -     control: { jsClass: guestsControlJs = "js-for-change" },
  -     lists = [
  -       {text: "For change 1", dataTarget: "for-change-1", output: "0"},
  -       {text: "For change 2", dataTarget: "for-change-2", output: "0"},
  -       {text: "For change 3", dataTarget: "for-change-3", output: "0"}
  -     ]
  -   },
  -   confirm: { text: confirmText = "For Change" }
  - } = settings
  form(action=action).search-room
    .search-room__title
      +title({
        text: titleText,
        type: "big"
      })
    .search-room__period
      .search-room__from
        +input({
          title: {text: fromTitle},
          input: {
            attr: {
              type: "text",
              placeholder: "ДД.ММ.ГГГГ",
              value: fromValue,
              readonly: "readonly"
            },
            length: "s",
            type: "dropdown",
            jsClass: fromJs
          }
        })
      .search-room__to
        +input({
          title: {text: toTitle},
          input: {
            attr: {
              type: "text",
              placeholder: "ДД.ММ.ГГГГ",
              value: toValue,
              readonly: "readonly"
            },
            length: "s",
            type: "dropdown",
            jsClass: toJs
          }
        })
      +datepicker({
        jsClass: jsDatepicker,
        attr: {
          "hidden": "hidden"
        }
      })
    .search-room__guests
      +dropdown({
        inputSettings: {
          title: {text: guestsTitle},
          input: {
            attr: {
              type: "text",
              placeholder: "Text",
              value: guestsInputValue,
              readonly: "readonly",
            },
            length: "l",
            type: "dropdown",
            jsClass: guestsInputJs
          }
        },
        control: {
          jsClass: guestsControlJs,
          attr: {"hidden": "hidden"}
        },
        lists: lists
      })
    .search-room__confirm-button
      +button({
        type: "big",
        text: confirmText,
        attr: {"type": "submit"}
      })