mixin search-room(settings)
  - const {
  -   action = "./for-change",
  -   dropdownList = [
  -     { text: "взрослые", dataTarget: "adult", output: "0" },
  -     { text: "дети", dataTarget: "child", output: "0" },
  -     { text: "младенцы", dataTarget: "baby", output: "0" }
  -   ],
  - } = settings
  form(action=action).search-room
    div.search-room__title
      +title({
        text: "Найдём номера под ваши пожелания",
        fontSize: "large"
      })
    div.search-room__period
      +datepicker({
        inputType: 'double',
        inputSettings: {
          from: {
            titleText: "прибытие",
            attrs: {
              value: "ДД.ММ.ГГГГ",
            },
            length: "short",
          },
          to: {
            titleText: "выезд",
            attrs: {
              value: "ДД.ММ.ГГГГ",
            },
            length: "short",
          }
        },
        isCalendarClosed: true,
      })
    div.search-room__guests
      +dropdown({
        inputSettings: {
          titleText: "гости",
          length: "long",
        },
        isClosed: true,
        lists: dropdownList,
      })
    div.search-room__confirm-button
      +confirm-button({
        text: "подобрать номер",
      })