@import '../../common/mixins';
@import '../../common/variables';

.footer {
  @include text_type($main-font, 14px, 400, 24px, $color-main-dark);
  display: flex;
  width: 100%;
  padding: 100px 140px;
  background: #ffffff;
  box-shadow: 0 1px 0 $color-secondary-light;

  &__navigation-wrapper {
  }

  //&__wrapper {
  //  display: inline-block;
  //  text-align: initial;
  //
  //  &_size {
  //    &_small {
  //      width: 100%;
  //      text-align: center;
  //    }
  //  }
  //}

  &__description {
    &_size {
      &_small {
        width: 100%;
      }
    }
  }

  &__text {
    @include text_type($main-font, 14px, 400, 24px, $color-main-dark);
    max-width: 260px;

    &_size {
      &_small {
        max-width: 100%;
      }
    }

    @media screen and (max-width: 768px) {
      display: none;
    }
  }

  &__logo-description {
    @media screen and (max-width: 768px) {
      display: none;
    }
  }

  &__navigation-wrapper {
    padding-top: 4px;
    display: flex;
    flex-grow: 2;
    justify-content: end;
    margin-right: 51px;
  }

  &__navigation {
    display: flex;
    flex-direction: column;

    &:nth-child(2) {
      margin: 0 94px 0 57px;
    }
  }

  &__link-title {
    @include text_type($main-font, 12px, 700, 15px, $color-main-darker);
    text-transform: uppercase;
    margin-bottom: 21px;
    cursor: default;
  }

  &__navigation-link {
    text-decoration: none;
    color: $color-main-light;
    line-height: 18px;
    display: block;

    &:not(:last-child) {
      margin-bottom: 20px;
    }

    &:hover {
      color: $color-main-dark;
    }
  }

  &__logo-description {
    line-height: 24px;
    max-width: 260px;
    margin: 18px 0 0;
  }

  &__subscribe-text {
    margin: 18px 0 0;
  }

  &__subscribe {
    max-width: 260px;
    padding-top: 4px;

    @media screen and (max-width: 768px) {
      display: none;
    }
  }

  &__subscribe-form {
    margin-top: 23px;
  }

  &__title {
    @include text_type($main-font, 12px, 700, 15px, $color-main-darker);
    max-width: 260px;
    margin: 0 0 18px 0;
    text-transform: uppercase;
  }

  &__social-media {
    &_size {
      &_small {
        margin-top: 18px;
      }
    }
  }

  &_size {
    &_small {
      margin: 0 auto;
      flex-direction: column;
      align-items: center;
      padding: 120px 0;
      background: #ffffff;
      box-shadow: 0 10px 20px 0 $color-secondary-light;
      max-width: 768px;
    }
  }

  &__small-copyright {
    margin: 0 0 20px 0;
  }

  &_size_small &__media-links {
    display: flex;
    justify-content: center;
  }

  @media screen and (max-width: 768px) {
    padding: 120px 0 0;
  }
}
