@import '../../common/mixins';
@import '../../common/variables';

.footer {
  @include text_type($mont, 14px, 400, 24px, $dark75);
  width: 100%;
  padding: 100px 140px;
  background: #ffffff;
  box-shadow: 0 1px 0 rgba(31, 32, 65, 0.1);
  text-align: center;

  &__navigation-wrapper {
    margin: 4px 52px 0 40px;
    display: inline-block;
    vertical-align: top;
    text-align: initial;

    @media screen and (max-width: 1260px) {
      display: block;
      margin: 40px 0;
    }

    @media screen and (max-width: 768px) {
      display: none;
    }
  }

  &__wrapper {
    display: inline-block;
    text-align: initial;

    &_size_small {
      width: 100%;
      text-align: center;
    }

    @media screen and (max-width: 1260px) {
      text-align: center;
    }
  }

  &__description {
    display: inline-block;

    &_size_small {
      width: 100%;
      text-align: center;
    }

    @media screen and (max-width: 768px) {
      margin-bottom: 11px;
    }
  }

  &__text {
    @include text_type($mont, 14px, 400, 24px, $dark75);
    margin: 11px 0 0;
    max-width: 260px;

    &_size_small {
      max-width: 100%;
    }

    @media screen and (max-width: 768px) {
      display: none;
    }
  }

  &__logo-description {
    @media screen and (max-width: 768px) {
      display: none;
    }
  }

  &__navigation {
    display: inline-block;
    vertical-align: top;

    &:first-child {
      margin-right: 58px;
    }

    &:last-child {
      margin-left: 92px;
    }

    @media screen and (max-width: 625px) {
      display: block;

      &:first-child {
        margin-right: 0;
        margin-bottom: 40px;
      }

      &:last-child {
        margin-left: 0;
        margin-top: 40px;
      }
    }
  }

  &__link-title {
    width: 100%;
    @include text_type($mont, 12px, 700, 15px, $dark100);
    text-transform: uppercase;
    margin-bottom: 21px;
    display: inline-block;
    cursor: default;
    vertical-align: top;
  }

  &__navigation-link {
    text-decoration: none;
    color: $dark50;
    line-height: 18px;
    display: block;

    &:not(:last-child) {
      margin-bottom: 20px;
    }

    &:hover {
      color: $dark75;
    }
  }

  &__logo-description {
    max-width: 260px;
    margin: 10px 0 0;
  }

  &__subscribe-text {
    margin: 18px 0 0;
  }

  &__subscribe {
    display: inline-block;
    vertical-align: top;
    max-width: 260px;
    text-align: initial;
    margin-top: 4px;

    @media screen and (max-width: 768px) {
      display: none;
    }
  }

  &__subscribe-form {
    margin-top: 23px;
  }

  &__title {
    max-width: 260px;
    margin: 0 0 18px 0;
    font-weight: 700;
    text-transform: uppercase;
    color: $dark100;
    font-size: 12px;
    line-height: 15px;
  }

  &__social-media {
    &_size_small {
      margin-top: 18px;
    }
  }

  &_size_small {
    padding: 120px 0;
    background: #ffffff;
    box-shadow: 0 10px 20px 0 rgba(31, 32, 65, 0.05);
    max-width: 768px;
    margin: auto;
    text-align: center;
  }

  &__small-copyright {
    margin: 0 0 20px 0;
  }

  @media screen and (max-width: 1460px) {
    padding: 100px 30px;
  }

  @media screen and (max-width: 1260px) {
    padding: 100px 30px;
  }

  @media screen and (max-width: 768px) {
    padding: 120px 0 0;
  }
}
