@import '../../common/mixins';
@import '../../common/variables';

.footer {
  @include text_type($font-main, 14px, 400, 24px, $color-main-dark);
  width: 100%;
  padding: 100px 140px;
  background: #ffffff;
  box-shadow: 0 1px 0 $color-secondary-light;

  &__wrapper {
    display: flex;
    justify-content: center;
    align-content: space-between;
    row-gap: 30px;
    flex-wrap: wrap;
    max-width: 1160px;
    margin: 0 auto;
  }

  &__description {
    display: flex;
    width: 260px;
    flex-direction: column;
    row-gap: 17px;

    &_size {
      &_small {
        width: 100%;
      }
    }

    @media screen and (max-width: 768px) {
      width: auto;
    }
  }

  &__text {
    @include text_type($font-main, 14px, 400, 24px, $color-main-dark);

    &_size {
      &_small {
        max-width: 100%;
      }
    }

    @media screen and (max-width: 768px) {
      display: none;
    }
  }

  &__logo-description {
    margin: 0;

    @media screen and (max-width: 768px) {
      display: none;
    }
  }

  &__navigation-wrapper {
    padding-top: 4px;
    display: flex;
    flex-grow: 2;
    column-gap: 49.5px;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 51px 0 40px;

    @media screen and (max-width: 1439px) {
      margin: 0 10px;
    }

    @media screen and (max-width: 850px) {
      column-gap: 9px;
    }

    @media screen and (max-width: 768px) {
      display: none;
    }
  }

  &__navigation {
    min-width: 150px;
    display: flex;
    row-gap: 22px;
    flex-direction: column;
  }

  &__link-title {
    @include text_type($font-main, 12px, 700, 15px, $color-main-darker);
    text-transform: uppercase;
    cursor: default;
  }

  &__navigation-link {
    line-height: 16px;
    text-decoration: none;
    color: $color-main-light;
    display: block;

    &:hover {
      color: $color-main-dark;
    }
  }

  &__logo-description {
    line-height: 24px;
  }

  &__subscribe-text {
    margin: 0;
  }

  &__subscribe {
    display: flex;
    flex-direction: column;
    row-gap: 21px;
    flex-basis: 260px;
    padding-top: 4px;

    @media screen and (max-width: 768px) {
      display: none;
    }
  }

  &__title {
    @include text_type($font-main, 12px, 700, 13px, $color-main-darker);
    margin: 0;
    text-transform: uppercase;
  }

  &__social-media {
    &_size {
      &_small {
        display: flex;
        flex-direction: column;
        row-gap: 20px;
      }
    }
  }

  &_size {
    &_small {
      padding: 120px 0;
      background: #ffffff;
      box-shadow: 0 10px 20px 0 $color-secondary-light;
      max-width: 768px;
    }
  }

  &__small-copyright {
    margin: 0;
  }

  &_size_small &__media-links {
    display: flex;
    justify-content: center;
  }

  &_size_small &__description {
    width: 106px;
    margin: 0 auto;
  }

  &_size_small &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
  }

  @media screen and (max-width: 1439px) {
    justify-items: center;
  }

  @media screen and (max-width: 768px) {
    padding: 120px 0 0;
  }
}
