.header__unauthorized {
  display: inline-block;
  text-align: initial;
  margin-left: 20px;
  .header__login {
    margin-right: 20px;
  }
  .header__login, .header__registration {
    display: inline-block;
    height: 34px;
  }
}