.header__nav { 
  display: inline-block;
  line-height: 40px;
  vertical-align: top;
  .nav {
  line-height: 40px;
    .nav__link {
      &:not(:last-child) {
        margin-right: 20px;
      }
    }
  }
}

