.reviews__user-body {
  position: relative;
}
.review__user__icon {
position: absolute;
top: 0; left: -34px;
}
.reviews__user-body {
  padding-left: 43px
}
.review__user__name, .review__user__time-passed {
  margin: 0;
  line-height: 24px;
}
.review__user__name {
  padding-top: 10px;
}
.reviews__comment-body {
}
.review__comment__like-button {
  width: 40px;
  position: relative;
  left: -10px; 
  margin-top: 9px;
  margin-right: 2px;
  display: inline-block;
  vertical-align: top;
}
.review__comment__text {
  display: inline-block;
  width: 653px;
  margin: 0;
  margin-top: 10px;
}
.reviews__main-user-body-1, .reviews__main-user-body-2 {
  margin-left: 15px;
  margin-top: 15px;
}
.reviews__user__title {
  position: relative;
  width: 711px;
  &::after {
    content: '2 отзыва';
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 14px;
    color: $dark50;
    float: right;
  }
}