include review__user__icon.pug
include review__user__name.pug
include ../../fields-toggles-buttons/toggles/like-button.pug

h2.type-h2.reviews__user__title= "Отзывы посетителей номера"
div.reviews__main-user-body-1
  div.reviews__user-body
    +review__user__icon("./img/user.svg")
    +review__user__name("Мурад Сарафанов", "5 дней назад")
  div.reviews__comment-body
    form.review__comment__like-button
      +like-button("12", "10")
    p.type-simple-text.review__comment__text= 'Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей.'
div.reviews__main-user-body-2
  div.reviews__user-body
    +review__user__icon("./img/user-2.svg")
    +review__user__name("Патрисия стёклышкова", "Неделю назад")
  div.reviews__comment-body
    form.review__comment__like-button
      +like-button("2", "1")
    p.type-simple-text.review__comment__text= 'Обслуживание на высоте! Всё аккуратно, чисто. Завтраки в номер советую заказать, каждый день новое блюдо и десерт как комплимент'
