mixin social-networks(settings)
  - let socialLinks = []
  - if (settings) { 
  -   settings.hasOwnProperty("socialLinks") ? socialLinks = settings.socialLinks : twitterLink = []
  - }
  .social-networks
    each socialLink in socialLinks
      - let name = ""
      - let link = ""
      - let iconSrc = ""
      - if (socialLink) { 
      -   socialLink.hasOwnProperty("name") ? name = `social-networks__${socialLink.name}` : name = ""
      -   socialLink.hasOwnProperty("link") ? link = socialLink.link : link = "./for-change"
      -   socialLink.hasOwnProperty("iconSrc") ? iconSrc = socialLink.iconSrc : iconSrc = ""
      - }
      a(target="_blank" rel="noopener noreferrer" class="social-networks__link" class=name, href=link)
        img(class="social-networks__icon", src=iconSrc)