mixin dropdown(settings)
  - const {
  -   inputSettings = {
  -     length: "average",
  -     type: "regular",
  -     attr: { placeholder: "For-change" },
  -     state: "",
  -   },
  -   isClosed = false,
  -   lists = [
  -     { text: "For Change", dataTarget: "forChange1", output: "0", isMinusTransparent: false, isPlusTransparent: false },
  -     { text: "For Change", dataTarget: "forChange2", output: "0", isMinusTransparent: false, isPlusTransparent: false },
  -     { text: "For Change", dataTarget: "forChange3", output: "0", isMinusTransparent: false, isPlusTransparent: false },
  -   ]
  - } = settings
  - const attr = isClosed ? { "hidden": "hidden" } : {}
  - if (lists) {
  -   lists.forEach((list) => {
  -     if(list.output == "0") list.isMinusTransparent = true
  -     if(list.output == "10") list.isPlusTransparent = true
  -   })
  - }
  div.dropdown.js-dropdown
    div.dropdown__input.js-dropdown__input
      +input(inputSettings)
    div.dropdown__control.js-dropdown__control&attributes(attr)
      ul.dropdown__list
        each list in lists
          - const minusTransparentClass = list.isMinusTransparent ? "dropdown__button_transparent" : ""
          - const plusTransparentClass = list.isPlusTransparent ? "dropdown__button_transparent" : ""
          li.dropdown__list-element
            span.dropdown__text=list.text
            div.dropdown__calc
              button(class=["dropdown__button", "dropdown__button_type_minus", minusTransparentClass] type="button"  data-target=list.dataTarget data-action="minus")="-"
              output(data-target=list.dataTarget).dropdown__output=list.output
              button(class=["dropdown__button", "dropdown__button_type_plus" , plusTransparentClass] type="button"  data-target=list.dataTarget data-action="plus")="+"
      div.dropdown__submit-buttons
        div.dropdown__clear-button
          +button({
            type: "text",
            text: "очистить",
          })
        div.dropdown__submit-button
          +button({
            type: "text",
            text: "применить",
          })