@import '../../overall/mixins.scss';

.dropdown {
  @include text_type($mont, 12px, 700, 15px, $dark100);
  text-transform: uppercase;
  display: inline-block;
  position: relative;

  &__button {
    min-width: 30px;
    min-height: 30px;
    border-radius: 50%;
    background: none;
    border: 1px solid $dark25;
    padding: 0;
    font-size: 18px;
    color: $dark50;
    outline: none;
    cursor: pointer;

    &_transparent {
      opacity: 0.25;
    }

    &:hover {
      border: 1px solid $dark50;
    }
  }

  &__calc {
    display: inline-block;
    float: right;
  }

  &__control {
    border: 1px solid $dark50;
    border-top: none;
    padding: 7px 7px 12px 15px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    background-color: white;
    position: absolute;
    z-index: 4;
    width: 100%;

    &_z-index_6 {
      z-index: 6;
    }
  }

  &__submit-buttons {
    height: 15px;
    margin-top: 19px;
  }

  &__clear-button {
    display: inline-block;
  }

  &__submit-button {
    display: inline-block;
    float: right;
  }

  &__list {
    margin: 0;
    padding: 0;
  }

  &__list-element {
    list-style-type: none;
    min-height: 30px;

    &:not(:last-child) {
      margin-bottom: 7px;
    }
  }

  &__output {
    min-width: 30px;
    min-height: 30px;
    display: inline-block;
    text-align: center;
    vertical-align: top;
    padding-top: 6px;
    user-select: none;
    cursor: default;
  }

  &__text {
    display: inline-block;
    vertical-align: top;
    padding-top: 6px;
  }
}
