include __list/dropdown__list.pug
include __list-element/dropdown__list-element.pug
include __text/dropdown__text.pug
include __calc/dropdown__calc.pug
include __output/dropdown__output.pug
include __button/dropdown__button.pug
include __input/dropdown__input.pug
include __control/dropdown__control.pug
include __submit-buttons/dropdown__submit-buttons.pug

mixin dropdown(settings)
  div.dropdown
    block