@import '__list/dropdown__list.scss';
@import '__list-element/dropdown__list-element.scss';
@import '__text/dropdown__text.scss';
@import '__calc/dropdown__calc.scss';
@import '__output/dropdown__output.scss';
@import '__button/dropdown__button.scss';
@import '__control/dropdown__control.scss';
@import '_transparent/dropdown_transparent.scss';
@import '_expanded/dropdown__input_expanded.scss';
@import '../../overall/mixins.scss';

.dropdown {
  @include text_type($mont, 12px, 700, 15px, $dark100);
  text-transform: uppercase;
  display: inline-block;
  position: relative;
}