include virtues__image.pug
include virtues__text.pug

div.virtues__room-details__body
  h2.type-h2= 'Сведения о номере'
  div.virtues_block
    +virtues__image("./img/smile.svg")
    div.virtues__text-body
      +virtues__text("Комфорт", "Шумопоглощающие стены")
  div.virtues_block
    +virtues__image("./img/house.svg")
    div.virtues__text-body
      +virtues__text("Удобство", "Окно в каждой из спален")
  div.virtues_block.virtues-block-last
    +virtues__image("./img/fire.svg")
    div.virtues__text-body
      +virtues__text("Удобство", "Окно в каждой из спален")
