.virtues__image, .virtues__text-body {
  display: inline-block;
  margin: 0;
}
.virtues_block {
  position: relative;
  padding: 20px 0 20px 0;
  border-bottom: 1px solid rgba(31, 32, 65, 0.1);
  width: 280px;
}
.virtues__image {
  height: 40px;
  width: 40px;
  padding: 4px;
  position: relative;
  margin-right: 10px;
  vertical-align: middle;
}
.virtues__text-body {
  vertical-align: middle;
}
.virtues__title, .virtues__text {
 margin: 0;
 line-height: 24px;
}
.virtues__statistics-reviews__body {
  display: inline-block;
  margin-left: 80px;
}
.virtues__room-details__body {
  display: inline-block;
  vertical-align: top;
}
.virtues__statistics-reviews__text-body {
  height: 120px;
  width: 120px;
  position: relative;
  margin-top: 21px;
  display: inline-block;
}
.virtues__statistics-reviews__yellow {
  position: absolute;
  left: 0px;
  top: 0px;
}
.virtues__statistics-reviews__purple {
  position: absolute;
  right: 0px;
  top: 0px;
}
.virtues__statistics-reviews__green {
  position: absolute;
  right: 0px;
  bottom: 0px;
}
.virtues__statistics-reviews__h1 {
  text-align: center;
  padding-top: 35px;
  color: $purple;
}
.virtues__statistics-reviews__h3 {
  text-align: center;
  color: $purple;
}
.virtues__statistics-reviews__description-body {
  display: inline-block;
  margin: 0px;
  padding: 0px;
  position: relative;
  top: 38px;
  margin-left: 30px;
  li {
    list-style-type: none;
  }
  .line-yellow {
    &::before {
      content: '';
      display: inline-block;
      width: 10px;
      height: 10px;
      margin-right: 5px;
      border-radius: 50%;
      background: linear-gradient(180deg, #FFE39C 0%, #FFBA9C 100%);
    } 
  }
  .line-green {
    &::before {
      content: '';
      display: inline-block;
      width: 10px;
      height: 10px;
      margin-right: 5px;
      border-radius: 50%;
      background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
    }
  }
  .line-purple {
    &::before {
      content: '';
      display: inline-block;
      width: 10px;
      height: 10px;
      margin-right: 5px;
      border-radius: 50%;
      background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
    }
  }
  .line-black {
    &::before {
      content: '';
      display: inline-block;
      width: 10px;
      height: 10px;
      margin-right: 5px;
      border-radius: 50%;
      background: linear-gradient(180deg, #919191 0%, #3D4975 100%);
    }
  } 
}