+room-card()
  +room-card__image({
    src: "img/888.jpg",
    alt: "Photo of the room"
  })
  +room-card__room-info()
    +room-info({
      number: "888",
      price: "9 990",
      type: "luxury"
    })
    +room-card__rate()
      +toggle()
        +toggle__controller({
          type: "rate",
          attr: {
            name: "rate1",
            rate: 5
          }
        })
        +rate-counter({
          value: "145"
        })
+room-card()
  +room-card__image({
    src: "img/840.jpg",
    alt: "Photo of the room"
  })
  +room-card__room-info()
    +room-info({
      number: "840",
      price: "9 900"
    })
    +room-card__rate()
      +toggle()
        +toggle__controller({
          type: "rate",
          attr: {
            name: "rate2",
            rate: 4
          }
        })
        +rate-counter({
          value: "65"
        })
+room-card()
  +room-card__image({
    src: "img/980.jpg",
    alt: "Photo of the room"
  })
  +room-card__room-info()
    +room-info({
      number: "980",
      price: "8 500"
    })
    +room-card__rate()
      +toggle()
        +toggle__controller({
          type: "rate",
          attr: {
            name: "rate3",
            rate: 3
          }
        })
        +rate-counter({
          value: "35"
        })
+room-card()
  +room-card__image({
    src: "img/856.jpg",
    alt: "Photo of the room"
  })
  +room-card__room-info()
    +room-info({
      number: "856",
      price: "7 300"
    })
    +room-card__rate()
      +toggle()
        +toggle__controller({
          type: "rate",
          attr: {
            name: "rate4",
            rate: 5
          }
        })
        +rate-counter({
          value: "19"
        })
+room-card()
  +room-card__image({
    src: "img/740.jpg",
    alt: "Photo of the room"
  })
  +room-card__room-info()
    +room-info({
      number: "740",
      price: "6 000"
    })
    +room-card__rate()
      +toggle()
        +toggle__controller({
          type: "rate",
          attr: {
            name: "rate5",
            rate: 4
          }
        })
        +rate-counter({
          value: "44"
        })
+room-card()
  +room-card__image({
    src: "img/982.jpg",
    alt: "Photo of the room"
  })
  +room-card__room-info()
    +room-info({
      number: "982",
      price: "5 800"
    })
    +room-card__rate()
      +toggle()
        +toggle__controller({
          type: "rate",
          attr: {
            name: "rate6",
            rate: 3
          }
        })
        +rate-counter({
          value: "56"
        })
+room-card()
  +room-card__image({
    src: "img/678.jpg",
    alt: "Photo of the room"
  })
  +room-card__room-info()
    +room-info({
      number: "678",
      price: "5 500"
    })
    +room-card__rate()
      +toggle()
        +toggle__controller({
          type: "rate",
          attr: {
            name: "rate7",
            rate: 5
          }
        })
        +rate-counter({
          value: "45"
        })
+room-card()
  +room-card__image({
    src: "img/450.jpg",
    alt: "Photo of the room"
  })
  +room-card__room-info()
    +room-info({
      number: "450",
      price: "5 300"
    })
    +room-card__rate()
      +toggle()
        +toggle__controller({
          type: "rate",
          attr: {
            name: "rate8",
            rate: 4
          }
        })
        +rate-counter({
          value: "39"
        })
+room-card()
  +room-card__image({
    src: "img/350.jpg",
    alt: "Photo of the room"
  })
  +room-card__room-info()
    +room-info({
      number: "350",
      price: "5 000"
    })
    +room-card__rate()
      +toggle()
        +toggle__controller({
          type: "rate",
          attr: {
            name: "rate9",
            rate: 3
          }
        })
        +rate-counter({
          value: "77"
        })
+room-card()
  +room-card__image({
    src: "img/666.jpg",
    alt: "Photo of the room"
  })
  +room-card__room-info()
    +room-info({
      number: "666",
      price: "5 000"
    })
    +room-card__rate()
      +toggle()
        +toggle__controller({
          type: "rate",
          attr: {
            name: "rate10",
            rate: 5
          }
        })
        +rate-counter({
          value: "25"
        })
+room-card()
  +room-card__image({
    src: "img/444.jpg",
    alt: "Photo of the room"
  })
  +room-card__room-info()
    +room-info({
      number: "444",
      price: "5 000"
    })
    +room-card__rate()
      +toggle()
        +toggle__controller({
          type: "rate",
          attr: {
            name: "rate11",
            rate: 3
          }
        })
        +rate-counter({
          value: "15"
        })
+room-card()
  +room-card__image({
    src: "img/352.jpg",
    alt: "Photo of the room"
  })
  +room-card__room-info()
    +room-info({
      number: "352",
      price: "5 000"
    })
    +room-card__rate()
      +toggle()
        +toggle__controller({
          type: "rate",
          attr: {
            name: "rate12",
            rate: 3
          }
        })
        +rate-counter({
          value: "55"
        })
        