mixin logo(settings)
  - const { src = "./for-change" } = settings
  - let { position = false } = settings
  - if( position ) position = `logo_position_${position}`
  div.logo
    a(class="logo__link-wrapper" href="./landing-page.html")
      img(class=["logo__image", position] alt="logo" src=src)