mixin logo(settings)
  - const { imgSrc = "./for-change" } = settings
  - let { position = "" } = settings
  - const positionClass = position ? `logo_position_${position}` : ""
  div.logo
    a(class="logo__link-wrapper" href="./landing-page.html")
      img(class=["logo__image", positionClass] alt="logo" src=imgSrc)