mixin logo(settings)
  - const {
  -   imgSrc = "./for-change",
  -   isInCorner = false,
  - } = settings
  - const positionClass = isInCorner ? "logo_position_in-corner" : ""
  div.logo
    a(href="./landing-page.html").logo__link-wrapper
      img(class=["logo__image", positionClass] alt="logo" src=require(`@images/${imgSrc}`).default)