mixin logo(settings)
  - let {
  -   position = false,
  -   src = false
  - } = settings
  - if(position) position = `logo_position_${position}`
  img(class="logo" alt="logo" class=position, src=src)