mixin toggle__controller(settings)
  - let type = ""
  - let mimicType = ""
  - let attr = ""
  - let text = ""
  - let richText = ""
  - let n = 5
  - if (settings) {
  -   settings.hasOwnProperty("attr") ? attr = settings.attr : attr = ""
  -   if  (settings.hasOwnProperty("type")) {
  -     type = `toggle__controller_type_${settings.type}`
  -     mimicType=settings.type
  -   }
  -   settings.hasOwnProperty("text") ? text = settings.text : text = "";
  -   settings.hasOwnProperty("richText") ? richText = settings.richText : richText = "";
  - };
  label(class="toggle__wrapper")
    input(class = `toggle____controller ${type}`)&attributes(attr)
    if settings.type === "like" && settings.text
      +toggle__mimic({type: mimicType})
        if settings.richText
          +toggle__text({text: richText, type: "rich"})
        +toggle__text({text: text})
    else if settings.text
      +toggle__mimic({type: mimicType})
      .toggle__text-wrapper
        if settings.richText
          +toggle__text({text: richText, type: "rich"})
        +toggle__text({text: text})
    else if !settings.type === "rate"
      +toggle__mimic({type: mimicType})