include ../footer/footer
include ../copyright/copyright

mixin page-footer()
  +footer({
    descriptionText: "Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные взгляды»",
    lists: [
      [
        {
          "text": "навигация",
          "teg": "span",
          isTitle: true
        },
        {"text": "О нас"},
        {"text": "Новости"},
        {"text": "Служба поддержки"},
        {"text": "Услуги"}
      ],
      [
        {
          "text": "о нас",
          "teg": "span",
          isTitle: true
        },
        {"text": "О сервисе"},
        {"text": "Наша команда"},
        {"text": "Вакансии"},
        {"text": "Инвесторы"}
      ],
      [
        {
          "text": "Служба поддержки",
          "teg": "span",
          isTitle: true
        },
        {"text": "Соглашения"},
        {"text": "Сообщества"},
        {"text": "Связь с нами"}
      ]
    ],
    subscribe: {
      title: "Подписка",
      text: "Получайте специальные предложения и новости сервиса"
    }
  })
  +copyright({
    text: "Copyright © 2018 Toxin отель. Все права защищены.",
    linksSettings: [
      {
        "iconSrc": "twitter.svg",
      },
      {
        "iconSrc": "facebook.svg"
      },
      {
        "iconSrc": "instagram.svg"
      }
    ]
  })