mixin page-footer(settings)
  - const { footerClass = "" } = settings
    footer(class=footerClass)
      +footer({
        descriptionText: "Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные взгляды»",
        lists: [
          [
            {
              "text": "навигация",
              "teg": "span",
              "linkType": "link-title"
            },
            {"text": "О нас"},
            {"text": "Новости"},
            {"text": "Служба поддержки"},
            {"text": "Услуги"}
          ],
          [
            {
              "text": "о нас",
              "teg": "span",
              "linkType": "link-title"
            },
            {"text": "О сервисе"},
            {"text": "Наша команда"},
            {"text": "Вакансии"},
            {"text": "Инвесторы"}
          ],
          [
            {
              "text": "Служба поддержки",
              "teg": "span",
              "linkType": "link-title"
            },
            {"text": "Соглашения"},
            {"text": "Сообщества"},
            {"text": "Связь с нами"}
          ]
        ],
        subscribe: {
          title: "Подписка",
          text: "Получайте специальные предложения и новости сервиса"
        }
      })
      +copyright({
        text: "Copyright © 2018 Toxin отель. Все права защищены.",
        linksSettings: [
          {
            "iconSrc": "../img/twitter.svg",
          },
          {
            "iconSrc": "../img/facebook.svg"
          },
          {
            "iconSrc": "../img/instagram.svg"
          }
        ]
      })