include bullet-list__title.pug
include bullet-list__list.pug

h2.type-h2= 'Правила'
+bullet-list__list("Нельзя с питомцами", "Без вечеринок и мероприятий", "Время прибытия — после 13:00, а выезд до 12:00")