mixin bullet-list__list(first, second, third)
  ul.bullet-list__list-body
    li.bullet-list__list-circle
    li.bullet-list__list-line.type-simple-text= first
    li.bullet-list__list-circle
    li.bullet-list__list-line.type-simple-text= second
    li.bullet-list__list-circle    
    li.bullet-list__list-line.type-simple-text= third