mixin text-sample(settings)
  - let teg = {
  -   text: "for-change",
  -   type: "normal"
  - }
  - let description = {
  -   text: "for-change",
  -   type: "normal"
  - }
  - if(settings) {
  -   if(settings.teg) {
  -     if(settings.teg.hasOwnProperty("text")) teg.text = settings.teg.text
  -     if(settings.teg.hasOwnProperty("type")) teg.type = `text-sample__teg_type_${settings.teg.type}`
  -   }
  -   if(settings.description) {
  -     if(settings.description.hasOwnProperty("text")) description.text = settings.description.text
  -     if(settings.description.hasOwnProperty("type")) description.type = `text-sample__description_type_${settings.description.type}`
  -   }
  - }
  .text-sample
    p(class="text-sample__teg", class=teg.type)=teg.text
    p(class="text-sample__description", class=description.type)=description.text