@import '../../common/mixins.scss';
@import '../../common/variables';

.text-sample {
  &:not(:last-child) {
    margin-bottom: 50px;
  }

  &__description {
    margin: 0 0 0 30px;
    display: inline-block;
    max-width: 369px;
    vertical-align: top;

    &_type {
      &_h1 {
        @include text_type($main-font, 24px, 700, 29px, $color-main-darker);
      }

      &_h2 {
        @include text_type($main-font, 19px, 700, 23px, $color-main-darker);
      }

      &_h3 {
        @include text_type($main-font, 12px, 700, 14px, $color-main-darker);
        text-transform: uppercase;
      }

      &_regular {
        @include text_type($main-font, 14px, 400, 24px, $color-main-dark);
      }
    }
  }

  &__teg {
    vertical-align: top;
    font-weight: 400;
    display: inline-block;
    margin: 0;
    min-width: 40px;
    text-align: right;

    &_type {
      &_h1 {
        @include text_type($main-font, 24px, 400, 29px, $color-main-lighter);
      }

      &_h2 {
        @include text_type($main-font, 19px, 400, 23px, $color-main-lighter);
      }

      &_h3 {
        @include text_type($main-font, 12px, 400, 14px, $color-main-lighter);
      }

      &_regular {
        @include text_type($main-font, 14px, 400, 24px, $color-main-lighter);
      }
    }
  }

  &:last-child .text-sample__description {
    max-width: 301px;
  }
}
