mixin text-sample(settings)
  - let {
  -   teg: {
  -     text: tegText = "for-change",
  -     type: tegType = "regular"
  -   },
  -   description: {
  -     text: descriptionText = "for-change",
  -     type: descriptionType = "regular"
  -   }
  - } = settings
  - if(tegType) tegType = `text-sample__teg_type_${tegType}`
  - if(descriptionType) descriptionType = `text-sample__description_type_${descriptionType}`
  .text-sample
    p(class="text-sample__teg", class=tegType)=tegText
    p(class="text-sample__description", class=descriptionType)=descriptionText