mixin text-sample(settings)
  - const {
  -   tegName = "for-change",
  -   description = "for-change",
  -   type = "regular",
  - } = settings
  - const typeClass = `text-sample__teg_type_${type}`
  - const descriptionClass = `text-sample__description_type_${type}`
  .text-sample
    p(class=["text-sample__teg", typeClass])=tegName
    p(class=["text-sample__description", descriptionClass])=description