.social-media-link {
  display: flex;
  justify-content: center;
  column-gap: 22px;
  height: 24px;

  &__icon {
    align-self: center;
  }

  &__wrapper {
    display: flex;
    align-self: center;
  }
}