mixin social-media-link(settings)
  - const {
  -   socialLinks = [
  -     {
  -       "link": "./for-change",
  -       "iconSrc": "for-change.svg"
  -     },
  -     {
  -       "link": "./for-change",
  -       "iconSrc": "for-change.svg"
  -     },
  -     {
  -       "link": "./for-change",
  -       "iconSrc": "for-change.svg"
  -     }
  -   ]
  - } = settings
  each linkSettings in socialLinks
    - const {
    -   link = "./for-change",
    -   iconSrc = "for-change",
    - } = linkSettings
    a(href=link target="_blank" rel="noopener noreferrer").social-media-link
      img(alt="Social link icon", src=require(`@images/${iconSrc}`).default).social-media-link__icon