.social-media-link {
  display: inline-flex;
  justify-content: center;
  height: 24px;
  width: 24px;
  line-height: 24px;

  &__icon {
    align-self: center;
  }

  &:not( :last-child ) {
    margin-right: 20px;
  }
}