mixin social-media-link(settings)
  - const {
  -   socialLinks = [
  -     {
  -       "link": "./for-change",
  -       "iconSrc": "img/for-change.svg"
  -     },
  -     {
  -       "link": "./for-change",
  -       "iconSrc": "img/for-change.svg"
  -     },
  -     {
  -       "link": "./for-change",
  -       "iconSrc": "img/for-change.svg"
  -     }
  -   ]
  - } = settings
  each linkSettings in socialLinks
    - const {
    -   link = "./for-change",
    -   iconSrc = "./for-change",
    - } = linkSettings
    a(class="social-media-link" href=link target="_blank" rel="noopener noreferrer")
      img(class="social-media-link__icon", alt="Social link icon", src=iconSrc)