mixin rich-checkbox-button__button(opportunities, text)
  label.opportunities-label
      input.opportunities-checkbox(type="checkbox")
      span.opportunities-checkbox-imitation
      div.rich-checkbox-button__button__title-text
        h3.opportunities-text.type-simple-text-bold.rich-checkbox-button__button__title= opportunities
        p.type-simple-text.opportunities-text.rich-checkbox-button__button__text= text