.type-simple-text-bold {
  color: $dark75;
}
.rich-checkbox-button__button__title-text {
  display: inline-block;
  width: 236px;
}
.rich-checkbox-button__button__text {
  width: 230px;
  font-size: 12px;
}