include rich-checkbox-button__title.pug
include rich-checkbox-button__button.pug

+rich-checkbox-button__title("rich checkbox buttons")
+rich-checkbox-button__button("Широкий коридор", `Ширина коридоров в номере не менее 91 см.`)
+rich-checkbox-button__button("Помощник для инвалидов", "На 1 этаже вас встретит специалист  и проводит до номера.")
