include rooms-form/rooms-form__reviews-counter.pug
include reservation-form/reservation-form__room-number.pug
include ../form-elements\fields-toggles-buttons\toggles\rate.pug
include ../form-elements/fields-toggles-buttons/buttons/pagination__count-title.pug

div.search-room__rooms-card-body
  div.rooms-form__room-img
    img(src= "./img/room-888.svg")
  div.rooms-form__room-img__nav
    label.rooms-form__room-img__nav-button_first
    label.rooms-form__room-img__nav-button
    label.rooms-form__room-img__nav-button
    label.rooms-form__room-img__nav-button
  div.rooms-form__room-number
    +reservation-form__room-number("888", true, "9 990")
  div.rooms-form__border-line
  div.rooms-form__rate-buttons
    +rate-button("./img/star.svg", "./img/star.svg", "./img/star.svg", "./img/star.svg", "./img/star.svg")
    +rooms-form__reviews-counter('145')
div.search-room__rooms-card-body
  div.rooms-form__room-img
    img(src= "./img/room-888.svg")
  div.rooms-form__room-img__nav
    label.rooms-form__room-img__nav-button_first
    label.rooms-form__room-img__nav-button
    label.rooms-form__room-img__nav-button
    label.rooms-form__room-img__nav-button
  div.rooms-form__room-number
    +reservation-form__room-number("888", true, "9 990")
  div.rooms-form__border-line
  div.rooms-form__rate-buttons
    +rate-button("./img/star.svg", "./img/star.svg", "./img/star.svg", "./img/star.svg", "./img/star.svg")
    +rooms-form__reviews-counter('145')
div.search-room__rooms-card-body
  div.rooms-form__room-img
    img(src= "./img/room-888.svg")
  div.rooms-form__room-img__nav
    label.rooms-form__room-img__nav-button_first
    label.rooms-form__room-img__nav-button
    label.rooms-form__room-img__nav-button
    label.rooms-form__room-img__nav-button
  div.rooms-form__room-number
    +reservation-form__room-number("888", true, "9 990")
  div.rooms-form__border-line
  div.rooms-form__rate-buttons
    +rate-button("./img/star.svg", "./img/star.svg", "./img/star.svg", "./img/star.svg", "./img/star.svg")
    +rooms-form__reviews-counter('145')
div.search-room__rooms-card-body
  div.rooms-form__room-img
    img(src= "./img/room-888.svg")
  div.rooms-form__room-img__nav
    label.rooms-form__room-img__nav-button_first
    label.rooms-form__room-img__nav-button
    label.rooms-form__room-img__nav-button
    label.rooms-form__room-img__nav-button
  div.rooms-form__room-number
    +reservation-form__room-number("888", true, "9 990")
  div.rooms-form__border-line
  div.rooms-form__rate-buttons
    +rate-button("./img/star.svg", "./img/star.svg", "./img/star.svg", "./img/star.svg", "./img/star.svg")
    +rooms-form__reviews-counter('145')
div.search-room__rooms-card-body
  div.rooms-form__room-img
    img(src= "./img/room-888.svg")
  div.rooms-form__room-img__nav
    label.rooms-form__room-img__nav-button_first
    label.rooms-form__room-img__nav-button
    label.rooms-form__room-img__nav-button
    label.rooms-form__room-img__nav-button
  div.rooms-form__room-number
    +reservation-form__room-number("888", true, "9 990")
  div.rooms-form__border-line
  div.rooms-form__rate-buttons
    +rate-button("./img/star.svg", "./img/star.svg", "./img/star.svg", "./img/star.svg", "./img/star.svg")
    +rooms-form__reviews-counter('145')
div.search-room__rooms-card-body
  div.rooms-form__room-img
    img(src= "./img/room-888.svg")
  div.rooms-form__room-img__nav
    label.rooms-form__room-img__nav-button_first
    label.rooms-form__room-img__nav-button
    label.rooms-form__room-img__nav-button
    label.rooms-form__room-img__nav-button
  div.rooms-form__room-number
    +reservation-form__room-number("888", true, "9 990")
  div.rooms-form__border-line
  div.rooms-form__rate-buttons
    +rate-button("./img/star.svg", "./img/star.svg", "./img/star.svg", "./img/star.svg", "./img/star.svg")
    +rooms-form__reviews-counter('145')
div.search-room__rooms-card-body
  div.rooms-form__room-img
    img(src= "./img/room-888.svg")
  div.rooms-form__room-img__nav
    label.rooms-form__room-img__nav-button_first
    label.rooms-form__room-img__nav-button
    label.rooms-form__room-img__nav-button
    label.rooms-form__room-img__nav-button
  div.rooms-form__room-number
    +reservation-form__room-number("888", true, "9 990")
  div.rooms-form__border-line
  div.rooms-form__rate-buttons
    +rate-button("./img/star.svg", "./img/star.svg", "./img/star.svg", "./img/star.svg", "./img/star.svg")
    +rooms-form__reviews-counter('145')
div.search-room__rooms-card-body
  div.rooms-form__room-img
    img(src= "./img/room-888.svg")
  div.rooms-form__room-img__nav
    label.rooms-form__room-img__nav-button_first
    label.rooms-form__room-img__nav-button
    label.rooms-form__room-img__nav-button
    label.rooms-form__room-img__nav-button
  div.rooms-form__room-number
    +reservation-form__room-number("888", true, "9 990")
  div.rooms-form__border-line
  div.rooms-form__rate-buttons
    +rate-button("./img/star.svg", "./img/star.svg", "./img/star.svg", "./img/star.svg", "./img/star.svg")
    +rooms-form__reviews-counter('145')
div.search-room__rooms-card-body
  div.rooms-form__room-img
    img(src= "./img/room-888.svg")
  div.rooms-form__room-img__nav
    label.rooms-form__room-img__nav-button_first
    label.rooms-form__room-img__nav-button
    label.rooms-form__room-img__nav-button
    label.rooms-form__room-img__nav-button
  div.rooms-form__room-number
    +reservation-form__room-number("888", true, "9 990")
  div.rooms-form__border-line
  div.rooms-form__rate-buttons
    +rate-button("./img/star.svg", "./img/star.svg", "./img/star.svg", "./img/star.svg", "./img/star.svg")
    +rooms-form__reviews-counter('145')
div.search-room__rooms-card-body
  div.rooms-form__room-img
    img(src= "./img/room-888.svg")
  div.rooms-form__room-img__nav
    label.rooms-form__room-img__nav-button_first
    label.rooms-form__room-img__nav-button
    label.rooms-form__room-img__nav-button
    label.rooms-form__room-img__nav-button
  div.rooms-form__room-number
    +reservation-form__room-number("888", true, "9 990")
  div.rooms-form__border-line
  div.rooms-form__rate-buttons
    +rate-button("./img/star.svg", "./img/star.svg", "./img/star.svg", "./img/star.svg", "./img/star.svg")
    +rooms-form__reviews-counter('145')
div.search-room__rooms-card-body
  div.rooms-form__room-img
    img(src= "./img/room-888.svg")
  div.rooms-form__room-img__nav
    label.rooms-form__room-img__nav-button_first
    label.rooms-form__room-img__nav-button
    label.rooms-form__room-img__nav-button
    label.rooms-form__room-img__nav-button
  div.rooms-form__room-number
    +reservation-form__room-number("888", true, "9 990")
  div.rooms-form__border-line
  div.rooms-form__rate-buttons
    +rate-button("./img/star.svg", "./img/star.svg", "./img/star.svg", "./img/star.svg", "./img/star.svg")
    +rooms-form__reviews-counter('145')
div.search-room__rooms-card-body
  div.rooms-form__room-img
    img(src= "./img/room-888.svg")
  div.rooms-form__room-img__nav
    label.rooms-form__room-img__nav-button_first
    label.rooms-form__room-img__nav-button
    label.rooms-form__room-img__nav-button
    label.rooms-form__room-img__nav-button
  div.rooms-form__room-number
    +reservation-form__room-number("888", true, "9 990")
  div.rooms-form__border-line
  div.rooms-form__rate-buttons
    +rate-button("./img/star.svg", "./img/star.svg", "./img/star.svg", "./img/star.svg", "./img/star.svg")
    +rooms-form__reviews-counter('145')
div.search-room__rooms-cards__nav
  include ../form-elements/fields-toggles-buttons/buttons/pagination-pages.pug
  +pagination__count-title('1 – 12 из 100+ вариантов аренды')