mixin content-nav__button(settings)
  - let type = ""
  - let attr = ""
  - let current = ""
  - if(settings) {
  -   settings.hasOwnProperty("type") ? type = `content-nav__button_${settings.type}` : type = ""
  -   settings.hasOwnProperty("attr") ? attr = settings.attr : attr = ""
  -   settings.hasOwnProperty("current") && settings.current == true ? current = "content-nav__button_current" : current = ""
  - }
  li(class="content-nav__button" class=type, class=current)&attributes(attr)
    block