include ../../blocks/input/input.pug
include ../../blocks/toggle/toggle.pug
include ../../blocks/slider/slider.pug
include ../../blocks/button/button.pug
include ../../blocks/dropdown/dropdown.pug
include ../../blocks/list/list.pug
include ../../blocks/positive-feature/positive-feature.pug
include ../../blocks/title/title.pug
include ../../blocks/comment/comment.pug

.form-elements
  +logo({
    src: "img/logo.svg",
    type: "in-corner"
  })
  .form-elements__content
    .form-elements__inputs
      .form-elements__input-wrapper
        +input()
          +input__title()
            +title({text: "text field"})
            +input__state({text: "default"})
          +input__field({
            attr: {
              "type": "email",
              "placeholder": "Email"
            },
            length: "l",
            type: "simple"
          })
      .form-elements__input-wrapper
        +input()
          +input__title()
            +title({text: "text field"})
            +input__state({text: "hover / focus"})
          +input__field({
            attr: {
              "type": "text",
              "placeholder": "Text",
              "value": "This is pretty awesome"
            },
            length: "l",
            type: "focus"
          })
      .form-elements__input-wrapper
        +input()
          +input__title()
            +title({text: "dropdown"})
          +input__field({
            attr: {
              "type": "text",
              "placeholder": "Text",
              "value": "Сколько гостей",
              "readonly": "readonly"
            },
            length: "l",
            type: "dropdown"
          })
      .form-elements__input-wrapper
        +input()
          +input__title()
            +title({text: "masked text field"})
          +input__field({
            attr: {
              "type": "date",
              "placeholder": "ДД.ММ.ГГ",
            },
            length: "l",
            type: "date"
          })
      .form-elements__double-input
        .form-elements__input-wrapper
          +input()
            +input__title()
              +title({text: "date Dropdown"})
            +input__field({
              attr: {
                "type": "text",
                "placeholder": "ДД.ММ.ГГГГ",
                "value": "ДД.ММ.ГГГГ",
                "readonly": "readonly"
              },
              length: "s",
              type: "dropdown"
              })
        .form-elements__input-wrapper
          +input()
            +input__title()
              +title({text: "date Dropdown"})
            +input__field({
              attr: {
                "type": "text",
                "placeholder": "ДД.ММ.ГГ",
                "value": "19.08.2019",
                "readonly": "readonly"
              },
              length: "s",
              type: "dropdown"
            })
      .form-elements__input-wrapper
        +input()
          +input__title()
            +title({text: "filter date dropdown"})
          +input__field({
            attr: {
              "type": "text",
              "placeholder": "ДД.ММ.ГГ",
              "value": "19 авг - 23 авг",
              "readonly": "readonly"
            },
            length: "m",
            type: "dropdown"
            })
      .form-elements__input-wrapper
        +input()
          +input__title()
            +title({text: "subscription text field"})
          +input__field({
            attr: {
              "type": "email",
              "placeholder": "Email"
            },
            length: "m",
            type: "submit"
          })
    .form-elements__toggles
      .form-elements__toggle-wrapper 
        +toggle__title({text: "Checkbox Buttons"})
        +toggle({
          type: "checkbox",
          attr: {
            "type": "checkbox",
            "hidden": "hidden"
          }
        })
        +toggle__mimic({type: "checkbox"})
        +toggle__text({text: "Можно курить"})
        +toggle({
          type: "checkbox",
          attr: {
            "type": "checkbox",
            "hidden": "hidden",
            "checked": "checked"
          }
        })
        +toggle__mimic({type: "checkbox"})
        +toggle__text({text: "Можно с питомцами"})
        +toggle({
          type: "checkbox",
          attr: {
            "type": "checkbox",
            "hidden": "hidden",
            "checked": "checked"
          }
        })
        +toggle__mimic({type: "checkbox"})
        +toggle__text({text: "Можно пригласить гостей (до 10 человек)"})
      .form-elements__toggle-wrapper 
        +toggle__title({text: "Radio Buttons"})
        +toggle({
          type: "radio",
          attr: {
            "type": "radio",
            "hidden": "hidden",
            "name": "gender",
            "value": "male",
            "checked": "checked"
          }
        })
        +toggle__mimic({type: "radio"})
        +toggle__text({text: "Мужчина"})
        +toggle({
          type: "radio",
          attr: {
            "type": "radio",
            "hidden": "hidden",
            "name": "gender",
            "value": "female"
          }
        })
        +toggle__mimic({type: "radio"})
        +toggle__text({text: "Женщина"})
      .form-elements__toggle-wrapper 
        +toggle__title({text: "Toggle"})
        +toggle({
          type: "toggle",
          attr: {
            "type": "checkbox",
            "hidden": "hidden",
            "checked": "checked"
          }
        })
        +toggle__mimic({type: "toggle"})
        +toggle__text({text: "Получать спецпредложения"})
        +toggle({
          type: "toggle",
          attr: {
            "type": "checkbox",
            "hidden": "hidden" 
          }
        })
        +toggle__mimic({type: "toggle"})
        +toggle__text({text: "Получать спецпредложения"})
      .form-elements__toggle-wrapper 
        +toggle__title({text: "like button"})
        +toggle({
          type: "like",
          attr: {
            "type": "checkbox",
            "hidden": "hidden"
          }
        })
        +toggle__mimic({type: "like"})
          +toggle__text({text: "2", type: "like"})
        +toggle({
          type: "like",
          attr: {
            "type": "checkbox",
            "hidden": "hidden",
            "checked": "checked"
          }
        })
        +toggle__mimic({type: "like"})
          +toggle__text({text: "12", type: "like"})
      .form-elements__toggle-wrapper
        +toggle__title({text: "rate button"})
        .toggle__5rate-wrapper
          +toggle({
            type: "rate",
            attr: {
              "type": "radio",
              "name": "rate",
              "value": "5"
            }
          })
          +toggle({
            type: "rate",
            attr: {
              "type": "radio",
              "name": "rate",
              "value": "4",
              "checked": "checked"
            }
          })
          +toggle({
            type: "rate",
            attr: {
              "type": "radio",
              "name": "rate",
              "value": "3"
            }
          })
          +toggle({
            type: "rate",
            attr: {
              "type": "radio",
              "name": "rate",
              "value": "2"
            }
          })
          +toggle({
            type: "rate",
            attr: {
              "type": "radio",
              "name": "rate",
              "value": "1"
            }
          })
        .toggle__5rate-wrapper
          +toggle({
            type: "rate",
            attr: {
              "type": "radio",
              "name": "rate2",
              "value": "5",
              "checked": "checked"
            }
          })
          +toggle({
            type: "rate",
            attr: {
              "type": "radio",
              "name": "rate2",
              "value": "4"
            }
          })
          +toggle({
            type: "rate",
            attr: {
              "type": "radio",
              "name": "rate2",
              "value": "3"
            }
          })
          +toggle({
            type: "rate",
            attr: {
              "type": "radio",
              "name": "rate2",
              "value": "2"
            }
          })
          +toggle({
            type: "rate",
            attr: {
              "type": "radio",
              "name": "rate2",
              "value": "1"
            }
          })
    .buttons
      .slider__wrapper
        +slider__title({text: "range slider"})
        +slider__output({jsClass: "js-slider__output"})
        +slider({jsClass: "js-slider"})
      .buttons__wrapper
        +button__title({text: "buttons"})
        .button__wrapper
          +button({
            type: "simple",
            text: "click me",
            attr: {"type": "button"}
          })
        .button__wrapper
          +button({
            type: "simple",
            text: "click me",
            attr: {"type": "button"}
          })
        .button__wrapper
          +button({
            type: "border",
            text: "click me",
            attr: {"type": "button"}
          })
        .button__wrapper
          +button({
            type: "border",
            text: "click me",
            attr: {"type": "button"}
          })
        .text-button__wrapper
          +button({
            type: "text",
            text: "click me",
            attr: {"type": "button"}
          })
        .text-button__wrapper
          +button({
            type: "text",
            text: "click me",
            attr: {"type": "button"}
          })
        .button__wrapper
          +button({
            type: "big",
            text: "перейти к оплате",
            attr: {"type": "button"}
          })
      .pagination__wrapper 
        +button__title({text: "pagination"})
        .pagination
          +button({
            type: "pagination",
            text: "1",
            attr: {"type": "button"}
          })
          +button({
            type: "pagination",
            text: "2",
            attr: {"type": "button"}
          })
          +button({
            type: "pagination",
            text: "3",
            attr: {"type": "button"}
          })
          +button({
            type: "pagination",
            text: "...",
            attr: {"type": "button"}
          })
          +button({
            type: "pagination",
            text: "15",
            attr: {"type": "button"}
          })
          +button({
            type: "pagination",
            text: "",
            attr: {"type": "button"}
          })
        +button__description({text: "1 – 15 из 100+ вариантов аренды"})
    .dropdowns
      .dropdown__wrapper
        +title({text: "dropdown"})
        +input__state({text: "default"})
        +input({
          attr: {
            "type": "text",
            "placeholder": "Text",
            "value": "2 спальни, 2 кровати...",
            "readonly": "readonly"
          },
          length: "middle",
          type: "dropdown"
          })
        +title({text: "dropdown"})
        +input__state({text: "expanded"})
        +input({
          attr: {
            "type": "text",
            "placeholder": "Text",
            "value": "2 спальни, 2 кровати...",
            "readonly": "readonly",
            "class": "dropdown_type_uncovered"
          },
          length: "middle",
          type: "dropdown",
          jsClass: "js-dropdown-input"
          })
        +dropdown({jsClass: "js-dropdown"})
          +dropdown__list-body()
            +dropdown__list-element()
              +dropdown__text({text: "спальни"})
              +dropdown__calc()
                +dropdown__button({
                  text: "-",
                  type: "minus",
                  attr: {
                    "data-target": "bedroom",
                    "data-action": "minus"
                  }
                })
                +dropdown__output({
                  text: "2",
                  attr: {
                    "data-target": "bedroom"
                  }
                })
                +dropdown__button({
                  text: "+",
                  type: "plus",
                  attr: {
                    "data-target": "bedroom",
                    "data-action": "plus"
                  }
                })
            +dropdown__list-element()
              +dropdown__text({text: "кровати"})
              +dropdown__calc()
                +dropdown__button({
                  text: "-",
                  type: "minus",
                  attr: {
                    "data-target": "bed",
                    "data-action": "minus"
                  }
                })
                +dropdown__output({
                  text: "2",
                  attr: {
                    "data-target": "bed"
                  }
                })
                +dropdown__button({
                  text: "+",
                  type: "plus",
                  attr: {
                    "data-target": "bed",
                    "data-action": "plus"
                  }
                })
            +dropdown__list-element()
              +dropdown__text({text: "ванные комнаты"})
              +dropdown__calc()
                +dropdown__button({
                  text: "-",
                  type: "minus",
                  attr: {
                    "data-target": "bathroom",
                    "data-action": "minus",
                    "class": "dropdown__button_type_transparent"
                  }
                })
                +dropdown__output({
                  text: "0",
                  attr: {
                    "data-target": "bathroom"
                  }
                })
                +dropdown__button({
                  text: "+",
                  type: "plus",
                  attr: {
                    "data-target": "bathroom",
                    "data-action": "plus"
                  }
                })
      .dropdown__wrapper
        +title({text: "dropdown"})
        +input({
          attr: {
            "type": "text",
            "placeholder": "Text",
            "value": "Сколько гостей",
            "readonly": "readonly",
            "class": "dropdown_type_uncovered"
          },
          length: "long",
          type: "dropdown",
          jsClass: "js-dropdown-input2"
          })
        +dropdown({jsClass: "js-dropdown2"})
          +dropdown__list-body()
            +dropdown__list-element()
              +dropdown__text({text: "взрослые"})
              +dropdown__calc()
                +dropdown__button({
                  text: "-",
                  type: "minus",
                  attr: {
                    "data-target": "adult",
                    "data-action": "minus",
                    "class": "dropdown__button_type_transparent"
                  }
                })
                +dropdown__output({
                  text: "0",
                  attr: {
                    "data-target": "adult"
                  }
                })
                +dropdown__button({
                  text: "+",
                  type: "plus",
                  attr: {
                    "data-target": "adult",
                    "data-action": "plus"
                  }
                })
            +dropdown__list-element()
              +dropdown__text({text: "дети"})
              +dropdown__calc()
                +dropdown__button({
                  text: "-",
                  type: "minus",
                  attr: {
                    "data-target": "child",
                    "data-action": "minus",
                    "class": "dropdown__button_type_transparent"
                  }
                })
                +dropdown__output({
                  text: "0",
                  attr: {
                    "data-target": "child"
                  }
                })
                +dropdown__button({
                  text: "+",
                  type: "plus",
                  attr: {
                    "data-target": "child",
                    "data-action": "plus"
                  }
                })
            +dropdown__list-element()
              +dropdown__text({text: "младенцы"})
              +dropdown__calc()
                +dropdown__button({
                  text: "-",
                  type: "minus",
                  attr: {
                    "data-target": "baby",
                    "data-action": "minus",
                    "class": "dropdown__button_type_transparent"
                  }
                })
                +dropdown__output({
                  text: "0",
                  attr: {
                    "data-target": "baby"
                  }
                })
                +dropdown__button({
                  text: "+",
                  type: "plus",
                  attr: {
                    "data-target": "baby",
                    "data-action": "plus"
                  }
                })
          .dropdown__submit-buttons
              +button({
                type: "text",
                text: "очистить",
                attr: {
                  "type": "button",
                  "data-target": "clear",
                  "hidden": "hidden"
                }
              }) 
              +button({
                type: "text",
                text: "применить",
                attr: {
                  "type": "button",
                  "data-target": "submit",
                }
              }) 
      .dropdown__wrapper
        +title({text: "dropdown"})
        +input({
          attr: {
            "type": "text",
            "placeholder": "Text",
            "value": "3 гостя",
            "readonly": "readonly",
            "class": "dropdown_type_uncovered"
          },
          length: "long",
          type: "dropdown",
          jsClass: "js-dropdown-input3"
          })
        +dropdown({jsClass: "js-dropdown3"})
          +dropdown__list-body()
            +dropdown__list-element()
              +dropdown__text({text: "взрослые"})
              +dropdown__calc()
                +dropdown__button({
                  text: "-",
                  type: "minus",
                  attr: {
                    "data-target": "adult",
                    "data-action": "minus"
                  }
                })
                +dropdown__output({
                  text: "2",
                  attr: {
                    "data-target": "adult"
                  }
                })
                +dropdown__button({
                  text: "+",
                  type: "plus",
                  attr: {
                    "data-target": "adult",
                    "data-action": "plus"
                  }
                })
            +dropdown__list-element()
              +dropdown__text({text: "дети"})
              +dropdown__calc()
                +dropdown__button({
                  text: "-",
                  type: "minus",
                  attr: {
                    "data-target": "child",
                    "data-action": "minus"
                  }
                })
                +dropdown__output({
                  text: "1",
                  attr: {
                    "data-target": "child"
                  }
                })
                +dropdown__button({
                  text: "+",
                  type: "plus",
                  attr: {
                    "data-target": "child",
                    "data-action": "plus"
                  }
                })
            +dropdown__list-element()
              +dropdown__text({text: "младенцы"})
              +dropdown__calc()
                +dropdown__button({
                  text: "-",
                  type: "minus",
                  attr: {
                    "data-target": "baby",
                    "data-action": "minus",
                    "class": "dropdown__button_type_transparent"
                  }
                })
                +dropdown__output({
                  text: "0",
                  attr: {
                    "data-target": "baby"
                  }
                })
                +dropdown__button({
                  text: "+",
                  type: "plus",
                  attr: {
                    "data-target": "baby",
                    "data-action": "plus"
                  }
                })
          .dropdown__submit-buttons
              +button({
                type: "text",
                text: "очистить",
                attr: {
                  "type": "button",
                  "data-target": "clear",
                  "hidden": "hidden"
                }
              }) 
              +button({
                type: "text",
                text: "применить",
                attr: {
                  "type": "button",
                  "data-target": "submit",
                }
              }) 
    .lists
      .list__wrapper
        +list__title({
            text: "expandable checkbox list",
            type: "arrow-down",
          }) 
        +list__title({
          text: "expandable checkbox list",
          type: "arrow-up",
          jsClass: "js-list__title"
        })   
        +list({jsClass: "js-list"})
          +list__item()
            +toggle({
              type: "checkbox",
              attr: {
                "type": "checkbox",
                "hidden": "hidden"
              }
            })
            +toggle__mimic({type: "checkbox"})
            +toggle__text({text: "Завтрак"})
          +list__item()
            +toggle({
              type: "checkbox",
              attr: {
                "type": "checkbox",
                "hidden": "hidden",
                "checked": "checked"
              }
            })
            +toggle__mimic({type: "checkbox"})
            +toggle__text({text: "Письменный стол"})
          +list__item()
            +toggle({
              type: "checkbox",
              attr: {
                "type": "checkbox",
                "hidden": "hidden",
                "checked": "checked"
              }
            })
            +toggle__mimic({type: "checkbox"})
            +toggle__text({text: "Стул для кормления"})
          +list__item()
            +toggle({
              type: "checkbox",
              attr: {
                "type": "checkbox",
                "hidden": "hidden",
                "checked": "checked"
              }
            })
            +toggle__mimic({type: "checkbox"})
            +toggle__text({text: "Кроватка"})
          +list__item()
            +toggle({
              type: "checkbox",
              attr: {
                "type": "checkbox",
                "hidden": "hidden"
              }
            })
            +toggle__mimic({type: "checkbox"})
            +toggle__text({text: "Телевизор"})
          +list__item()
            +toggle({
              type: "checkbox",
              attr: {
                "type": "checkbox",
                "hidden": "hidden"
              }
            })
            +toggle__mimic({type: "checkbox"})
            +toggle__text({text: "Шампунь"})
      .list__wrapper
        +list__title({
          text: "rich Checkbox Buttons"
        })
        +list()
          +list__item()
            +toggle({
              type: "checkbox",
              attr: {
                "type": "checkbox",
                "hidden": "hidden"
              }
            })
            +toggle__mimic({type: "checkbox"})
            .toggle__text-wrapper
              +toggle__text({text: "Широкий коридор", type: "rich"})
              +toggle__text({text: "Ширина коридоров в номере не менее 91 см.", type: "little"})
          +list__item()
            +toggle({
              type: "checkbox",
              attr: {
                "type": "checkbox",
                "hidden": "hidden"
              }
            })
            +toggle__mimic({type: "checkbox"})
            .toggle__text-wrapper
              +toggle__text({text: "Помощник для инвалидов", type: "rich"})
              +toggle__text({text: "На 1 этаже вас встретит специалист  и проводит до номера.", type: "little"})
      .list__wrapper
        +list__title({
          text: "bullet list"
        })
        +list()
          +list__item({mark: "dot"})
            +list__text({text: "Нельзя с питомцами"})
          +list__item({mark: "dot"})
            +list__text({text: "Без вечеринок и мероприятий"})
          +list__item({mark: "dot"})
            +list__text({text: "Время прибытия — после 13:00, а выезд до 12:00"})
    .additions
      .addition__wrapper 
        +positive-feature()
          +positive-feature__img({
            attr: {
              "alt": "Feeling comfortable",
              "src": "img/smile.svg"
            }
          })
          +positive-feature__text({
            textTitle: "Комфорт",
            text: "Шумопоглощающие стены"
          })
        +positive-feature()
          +positive-feature__img({
            attr: {
              "alt": "Abstract image of a modern house",
              "src": "img/house.svg"
            }
          })
          +positive-feature__text({
            textTitle: "Удобство",
            text: "Окно в каждой из спален"
          })
      .addition__wrapper
        +comment()
          +comment__info-wrapper()
            +comment__profile-pic({
              attr: {
                "alt": "Profile picture",
                "src": "img/user.jpg"
              }
            })
            +comment__info({
              name: "Мурад Сарафанов",
              daysHavePassed: "5 дней назад"
            })
          +comment__main()
            +comment__like()
              +toggle({
                type: "like",
                attr: {
                  "type": "checkbox",
                  "hidden": "hidden",
                  "checked": "checked"
                }
              })
              +toggle__mimic({type: "like"})
                +toggle__text({text: "12", type: "like"})
            +comment__text({
              text: "Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей."
            })
            