@import '../../blocks/input/input.scss';
@import '../../blocks/toggle/toggle.scss';
@import '../../blocks/slider/slider.scss';
@import '../../blocks/button/button.scss';
@import '../../blocks/dropdown/dropdown.scss';
@import '../../blocks/list/list.scss';
@import '../../blocks/positive-feature/positive-feature.scss';
@import '../../blocks/user-comment/user-comment.scss';
@import '../../blocks/title/title.scss';
@import '../../blocks/content-nav/content-nav.scss';

.form-elements {
  width: 1440px;
  padding: 140px  140px 130px;
  position: relative;
  box-sizing: border-box;
  margin: auto;
  &__input-types, &__toggle-types, &__button-types {
    display: inline-block;
    vertical-align: top;
  }
  &__input-types {
    min-width: 320px;
    .form-elements {
      &__text-input {
        margin-bottom: 20px;
      }
      &__dropdown {
        margin-bottom: 20px;
      }
      &__masked-input {
        margin-bottom: 40px;
      }
      &__date-dropdowns {
        margin-bottom: 40px;
        .form-elements__input-wrapper {
          display: inline-block;
          &:not(:last-child) {
            margin-right: 20px;
          }
        }
      }
      &__filter-dropdown {
        margin-bottom: 40px;
      }
    }
  }
  &__toggle-types {
    max-width: 260px;
    margin-left: 126px;
    .form-elements {
      &__checkboxes {
        margin-bottom: 40px;
        .title {
          margin-bottom: 16px;
        }
        .toggle {
          margin-bottom: 10px;
          &__text {
            max-width: 192px;
          }
        }
      }
      &__radios {
        margin-bottom: 40px;
        .title {
          margin-bottom: 16px;
        }
        .toggle__wrapper {
          margin-right: 20px;
        }
      }
      &__toggles {
        margin-bottom: 44px;
        .title {
          margin-bottom: 16px;
        }
        .toggle:not(:last-child) {
          margin-bottom: 14px;
        }
      }
      &__likes {
        margin-bottom: 40px;
        .title {
          margin-bottom: 16px;
        }
        .toggle {
          display: inline-block;
        }
        .toggle:not(:last-child) {
          margin-right: 10px;
        } 
      }
      &__rates {
        .title {
          margin-bottom: 16px;
        }
        .toggle{
          display: inline-block;
          &:not(:last-child) {
            margin-right: 20px;
          }
        }
      }
    }
  }
  &__button-types {
    margin-left: 132px;
    width: 320px;
    .form-elements {
      &__slider {
        margin-bottom: 44px;
        max-width: 266px;
      }
      &__buttons {
        .title {
          margin-bottom: 16px;
        }
      }
      &__simple-buttons, &__border-buttons, &__text-buttons {
        margin-bottom: 30px;
        .button:not(:last-child) {
          margin-right: 20px;
        }
      }
      &__big-button {
        margin-bottom: 40px;
      }
    }
  }
  &__dropdown-types {
    margin-top: 100px;
    .form-elements {
      &__fittings-dropdown {
        display: inline-block;
        margin-right: 181px;
      }
      &__closed-dropdown {
        margin-bottom: 20px;
      }
      &__guests-dropdown {
        display: inline-block;
        vertical-align: top;
        &:last-child {
          margin-left: 72px;
        }
      }
    }
  }
  &__list-types {
    margin-top: 54px;
    .form-elements {
      &__expandable-lists {
        max-width: 266px;
        display: inline-block;
      }
      &__closed-list {
        margin-bottom: 49px;
      }
      &__rich-list {
        display: inline-block;
        vertical-align: top;
        margin-left: 180px;
      }
      &__bullet-list {
        display: inline-block;
        vertical-align: top;
        margin-left: 132px;
      }
    }
  }
  &__additions {
    margin-top: 100px;
    .form-elements {
      &__positive-features {
        max-width: 280px;
        display: inline-block;
      }
      &__user-comment {
        margin-left: 156px;
        display: inline-block;
        vertical-align: top;
      }
    }
  }
}

