include ../../blocks/page-head/page-head
include ../../blocks/logo/logo
include ../../blocks/header/header
include ../../blocks/button/button
include ../../blocks/input/input
include ../../blocks/navigation/navigation
include ../../blocks/footer/footer
include ../../blocks/copyright/copyright
include ../../blocks/subscription-input/subscription-input

+page-head({title: "Headers-Footers", description: "Headers and Footers from UI-Kit"})
  body.body
    div.headers-footers
      +logo({
        imgSrc: "logo.svg",
        isInCorner: true
      })
      div.headers-footers__content
        div.headers-footers__header.js-headers-footers__header
          +header({
            navigationLinks: [
              {text: "О нас", isBold: true},
              {text: "Услуги", isExpandable: true},
              {text: "Вакансии"},
              {text: "Новости"},
              {text: "Соглашения", isExpandable: true},
            ]
          })
        div.headers-footers__header.headers-footers__header_authorized.js-headers-footers__header_authorized
          +header({
            navigationLinks: [
              { text: "О нас", isBold: true },
              { text: "Услуги", isExpandable: true },
              { text: "Вакансии" },
              { text: "Новости" },
              { text: "Соглашения", isExpandable: true },
            ],
            authorizedUserName: "Юлий Цезарь"
          })
        div.headers-footers__footer_size_large
          +footer({
            descriptionText: "Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные взгляды»",
            lists: [
              [
                {
                  "text": "навигация",
                  "teg": "span",
                  isTitle: true
                },
                {"text": "О нас"},
                {"text": "Новости"},
                {"text": "Служба поддержки"},
                {"text": "Услуги"}
              ],
              [
                {
                  "text": "о нас",
                  "teg": "span",
                  isTitle: true
                },
                {"text": "О сервисе"},
                {"text": "Наша команда"},
                {"text": "Вакансии"},
                {"text": "Инвесторы"}
              ],
              [
                {
                  "text": "Служба поддержки",
                  "teg": "span",
                  isTitle: true
                },
                {"text": "Соглашения"},
                {"text": "Сообщества"},
                {"text": "Связь с нами"}
              ]
            ],
            subscribe: {
              title: "Подписка",
              text: "Получайте специальные предложения и новости сервиса"
            }
          })
          +copyright({
            text: "Copyright © 2018 Toxin отель. Все права защищены.",
            linksSettings: [
              {
                iconSrc: "twitter.svg"
              },
              {
                iconSrc: "facebook.svg",
              },
              {
                iconSrc: "instagram.svg"
              }
            ]
          })
        div.headers-footers__footer_small
          +footer({
            isSmall: true,
            copyrightText: "Copyright © 2018 Toxin отель. Все права защищены.",
            links: [
              {
                "name": "twitter",
                "iconSrc": "twitter.svg"
              },
              {
                "name": "facebook",
                "iconSrc": "facebook.svg"
              },
              {
                "name": "instagram",
                "iconSrc": "instagram.svg"
              }
            ],
            subscribe: {}
          })