.headers-footers {
  width: 1440px;
  padding: 140px 0;
  position: relative;
  margin: auto;
  background-color: #e5e5e5;

  &__header {
    margin-bottom: 40px;
  }

  &__footer {
    &_size {
      &_large {
        margin-bottom: 40px;
      }

      &_small {
        max-width: 768px;
        margin: 0 auto;
      }
    }
  }
}