include ../../blocks/page-head/page-head
include ../../blocks/logo/logo.pug
include ../../blocks/header/header.pug
include ../../blocks/button/button.pug
include ../../blocks/input/input.pug
include ../../blocks/navigation/navigation.pug
include ../../blocks/footer/footer.pug
include ../../blocks/copyright/copyright.pug

+page-head({title: "Headers-Footers", desc: "Headers and Footers from UI-Kit"})
  body.body
    .headers-footers
      +logo({
        imgSrc: "../img/logo.svg",
        position: "in-corner"
      })
      .headers-footers__content
        .headers-footers__header
          +header({
            navigationLinks: [
              {"text": "О нас", "type": "text_bold"},
              {"text": "Услуги", "type": "type_expandable"},
              {"text": "Вакансии"},
              {"text": "Новости"},
              {"text": "Соглашения", "type": "type_expandable"},
            ]
          })
        .headers-footers__header
          +header({
            navigationLinks: [
              {"text": "О нас", "type": "text_bold"},
              {"text": "Услуги", "type": "type_expandable"},
              {"text": "Вакансии"},
              {"text": "Новости"},
              {"text": "Соглашения", "type": "type_expandable"},
            ],
            authorizedUserName: "Юлий Цезарь"
          })
        .headers-footers__footer_size_large
          +footer({
            descriptionText: "Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные взгляды»",
            lists: [
              [
                {
                  "text": "навигация",
                  "teg": "span",
                  "linkType": "link-title"
                },
                {"text": "О нас"},
                {"text": "Новости"},
                {"text": "Служба поддержки"},
                {"text": "Услуги"}
              ],
              [
                {
                  "text": "о нас",
                  "teg": "span",
                  "linkType": "link-title"
                },
                {"text": "О сервисе"},
                {"text": "Наша команда"},
                {"text": "Вакансии"},
                {"text": "Инвесторы"}
              ],
              [
                {
                  "text": "Служба поддержки",
                  "teg": "span",
                  "linkType": "link-title"
                },
                {"text": "Соглашения"},
                {"text": "Сообщества"},
                {"text": "Связь с нами"}
              ]
            ],
            subscribe: {
              title: "Подписка",
              text: "Получайте специальные предложения и новости сервиса"
            }
          })
          +copyright({
            text: "Copyright © 2018 Toxin отель. Все права защищены.",
            linksSettings: [
              {
                iconSrc: "../img/twitter.svg"
              },
              {
                iconSrc: "../img/facebook.svg",
              },
              {
                iconSrc: "../img/instagram.svg"
              }
            ]
          })
        .headers-footers__footer_small
          +footer({
            footerSize: "small",
            copyrightText: "Copyright © 2018 Toxin отель. Все права защищены.",
            links: [
              {
                "name": "twitter",
                "iconSrc": "../img/twitter.svg"
              },
              {
                "name": "facebook",
                "iconSrc": "../img/facebook.svg"
              },
              {
                "name": "instagram",
                "iconSrc": "../img/instagram.svg"
              }
            ],
            subscribe: {}
          })