mixin textfield(hint, appointment, state)
  if state !=null
    div.text-field-body   
      h3.margin20.type-h3(class= state)= appointment
      input.text-field.type-simple-text(placeholder= hint)
  else if appointment != null
    div.text-field-body  
      h3.margin20.type-h3= appointment
      input.text-field.type-simple-text(placeholder= hint)
  else
    div.text-field-body  
      input.text-field.type-simple-text(placeholder= hint)