.dropdown-guests-body-extended {
  display: inline-block;
  width: 720px;
  margin-left: 180px;
}
.uiGuestsExpendedBody {
  width: 320px;
  height: 160px;
}
.dropdown-guests_input, .dropdown-guests_input_2 {
  border-radius: 0;
  border-bottom: none;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-color: rgba(31, 32, 65, 0.5);
  position: relative;
}
.dropdown-quests_extended, .dropdown-quests_extended_2{
  @extend %dropwond-generalrules
}
.ui-guests-confirmed-button__confirmed, .ui-guests-confirmed-button__clear {
  margin: 0;
  padding: 0;
}
.ui-guests-confirmed-button {
  height: 28px;
  position: absolute;
  bottom: 0;
  width: 100%;
}
.ui-guests-confirmed-button__confirmed {
  position: absolute;
  right: 0;
  padding-right: 7px;
}
.ui-guests-confirmed-button__clear{
  padding-left: 14px;
  display: none;
}
.dropdown-guests-body-extended_2, .dropdown-guests-body-extended_1 { 
  display: inline-block;
  vertical-align: top;
}
.dropdown-guests-body-extended_2 {
  margin-left: 72px;
}
.uiGuestsExpendedBody_2 {
  height: 160px;
  width: 320px;
}
.ui-first-guests-clear-button_2 {
  display: inline-block;
}