include ../dropdown-rooms/dropdown-rooms__expanded-stroke.pug
include ../dropdown-rooms/dropdown-rooms__expanded-stroke_calc.pug
include dropdown-guests__Clear-Confirmed.pug

div.rooms-expanded-strokes_body#uiGuestsExpendedBody_2
  div.rooms-expanded-strokes_stroke-body
    +rooms-expanded-stroke('взрослые')
    +rooms-expanded-stroke-calc('ui-adult-calc-minus-button_2', 'ui-adult-calc-plus-button_2', 'ui-output-adult_2', '2')
  div.rooms-expanded-strokes_stroke-body
    +rooms-expanded-stroke('дети')
    +rooms-expanded-stroke-calc('ui-children-calc-minus-button_2', 'ui-children-calc-plus-button_2', 'ui-output-children_2', '1')
  div.rooms-expanded-strokes_stroke-body
    +rooms-expanded-stroke('младенцы')
    +rooms-expanded-stroke-calc('ui-baby-calc-minus-button_2', 'ui-baby-calc-plus-button_2', 'ui-output-baby_2', '0', '10')
  div.ui-guests-confirmed-button
    +ui-dropdown-guests-clear-and-confirmed-buttons('ui-first-guests-clear-button_2')