mixin ui-dropdown-guests-clear-and-confirmed-buttons(clearID)
  button.text-button-dark.type-h3.ui-guests-confirmed-button__clear(id = clearID)= 'очистить'
  button.text-button.type-h3.ui-guests-confirmed-button__confirmed= 'применить'