include dropdown-guests__input.pug
div.dropdown-guests-body-extended_1
  +dropdown-guests("ui-dropdown-guests-button", 'dropdown-guests_input', 'dropdown-quests_extended',"", "dropdown")
  include dropdown-guests__expanded.pug
div.dropdown-guests-body-extended_2
  +dropdown-guests("ui-dropdown-guests-button_2", 'dropdown-guests_input_2', 'dropdown-quests_extended_2',"", "dropdown")
  include dropdown-guests__expanded-2.pug