include dropdown-guests__input.pug

div.dropdown-guests-body-extended
  +dropdown-guests("ui-dropdown-guests-button", 'dropdown-guests_input', 'dropdown-quests_extended',"", "гости", 'margin20')
  include dropdown-guests__expanded.pug