include ../dropdown-rooms/dropdown-rooms__expanded-stroke.pug
include ../dropdown-rooms/dropdown-rooms__expanded-stroke_calc.pug
include dropdown-guests__Clear-Confirmed.pug

div.rooms-expanded-strokes_body#uiGuestsExpendedBody
  div.rooms-expanded-strokes_stroke-body
    +rooms-expanded-stroke('взрослые')
    +rooms-expanded-stroke-calc('ui-adult-calc-minus-button', 'ui-adult-calc-plus-button', 'ui-output-adult', '0', '10')
  div.rooms-expanded-strokes_stroke-body
    +rooms-expanded-stroke('дети')
    +rooms-expanded-stroke-calc('ui-children-calc-minus-button', 'ui-children-calc-plus-button', 'ui-output-children', '0', '10')
  div.rooms-expanded-strokes_stroke-body
    +rooms-expanded-stroke('младенцы')
    +rooms-expanded-stroke-calc('ui-baby-calc-minus-button', 'ui-baby-calc-plus-button', 'ui-output-baby', '0', '10')
  div.ui-guests-confirmed-button
    +ui-dropdown-guests-clear-and-confirmed-buttons('ui-first-guests-clear-button')