@import '../../common/mixins';
@import '../../common/variables';

.final-booking {
  padding: 39px 29px 30px 29px;
  background-color: white;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  max-width: 380px;
  display: inline-block;
  text-align: initial;

  &__room-information {
    margin-bottom: 17px;
  }

  &__period {
    margin-bottom: 20px;
  }

  &__guests {
    margin-bottom: 18px;
  }

  &__service {
    &:not(:last-child) {
      margin-bottom: 10px;
    }

    &_text {
      &_bold {
        margin-top: 30px;
      }
    }
  }

  &__service-wrapper {
    display: inline-block;
    width: 239px;
    position: relative;

    &_text {
      &_bold {
        display: inline-block;
        max-width: 60px;
      }
    }

    @media screen and (max-width: 420px) {
      width: 180px;
    }
  }

  &__service-sign {
    font-size: 12px;
    font-weight: 700;
    display: inline-block;
    width: 20px;
    height: 20px;
    color: $color-main-lighter;
    border: 1px solid $color-main-lighter;
    border-radius: 50%;
    text-align: center;
    line-height: 20px;
    vertical-align: top;
    margin-left: 5px;
  }

  &__service-title {
    display: inline-block;
    max-width: 214px;
    line-height: 18px;

    &_text {
      &_bold {
        font-weight: 700;
        font-size: 19px;
        color: $color-main-darker;
        width: 18%;
      }
    }

    @media screen and (max-width: 420px) {
      width: 86%;
    }
  }

  &__service-price {
    display: inline-block;
    width: 80px;
    vertical-align: top;
    text-align: right;

    @media screen and (max-width: 420px) {
      width: 85px;
    }

    &_text {
      &_bold {
        display: inline-block;
        font-size: 19px;
        font-weight: 700;
        color: $color-main-darker;
        width: 81%;
        vertical-align: top;

        &::before {
          content: '';
          display: inline-block;
          border-bottom: 1px dotted $color-main-lighter;
          margin: 0 4px;
          width: 67%;

          @media screen and (max-width: 420px) {
            width: 58%;
          }
        }

        @media screen and (max-width: 420px) {
          width: 77%;
        }
      }
    }
  }

  &__service-list {
    @include text_type($main-font, 14px, 400, 24px, $color-main-dark);
    list-style: none;
    margin: 0 0 19px 0;
    padding: 0 0 0 1px;
  }

  &__from,
  &__to {
    display: inline-block;
  }

  &__to {
    float: right;

    @media screen and (max-width: 420px) {
      float: none;
      margin-top: 10px;
    }
  }

  @media screen and (max-width: 420px) {
    max-width: 300px;
    padding: 20px 16px 20px;
  }
}
