include __service-list/final-booking__service-list.pug
include __service/final-booking__service.pug
include __room-info/final-booking__room-info.pug
include __period/final-booking__period.pug
include __guests/final-booking__guests.pug
include __confirm-button/final-booking__confirm-button.pug

mixin final-booking(settings)
  - let action = ""
  - if (settings) {
  -   settings.hasOwnProperty("action") ? action = settings.action : action = ""
  - };
  form(action=action).final-booking
    block