mixin header__buttons()
  .header__buttons
    .header__login-button
      +button({
        type: "border",
        text: "войти",
        attr: {"type": "button"}
      })
    .header__registration-button
      +button({
        type: "simple",
        text: "зарегистрироваться",
        attr: {"type": "button"}
      })