include __main/comment__main.pug
include __info-wrapper/comment__info-wrapper.pug
include __profile-pic/comment__profile-pic.pug
include __info/comment__info.pug
include __text/comment__text.pug
include __like/comment__like.pug

mixin comment()
  .comment
    block