mixin positive-feature__img(settings)
  - let attr = ""
  - if (settings) {
  -   settings.hasOwnProperty("attr") ? attr=settings.attr : attr=""
  - };
  img(class="positive-feature__img")&attributes(attr)