@import '../../../overall/mixins.scss';

.input__state{
  font-size: 12px;
  line-height: 15px;
  color: $dark50;
  vertical-align: bottom;
  width: 35%;
  text-align: right;
  text-transform: uppercase;
  display: inline-block;
  margin: 0;
}