.footer__nav-wrapper {
  display: inline-block;
  vertical-align: top;
  padding-top: 3px;
  text-align: initial;
  .footer__nav {
    display: inline-block;
    vertical-align: top;
    &:first-child {
      margin-right: 57px;
    }
    &:last-child {
      margin-left: 92px;
    }
    .footer__nav-link {
      line-height: 18px;
      display: block;
      &:first-child {
        text-transform: uppercase;
        font-weight: 700;
        color: $dark100;
        font-size: 12px;
        line-height: 15px;
      }
      &:not(:last-child) {
        margin-bottom: 21px;
      }
    }
    .footer__nav-link {
      text-decoration: none;
      color: $dark50;
    }
  }
}