mixin footer__nav(settings)
  - let lists = []
  - if (settings) {
  -   settings.hasOwnProperty("lists") ? lists = settings.lists : lists = []  
  - }
  .footer__nav-wrapper
    each list in lists
      .footer__nav
        each link in list
          - let text = ""
          - let href = ""
          - if (settings) {
          -   link.hasOwnProperty("text") ? text = link.text : text = ""
          -   link.hasOwnProperty("href") ? href = link.href : href = "./for-change"
          - }
          a(class="footer__nav-link" href=href)= text