mixin user-comment__like(settings)
  - let text = ""
  - let checked = false
  - if (settings) {
  -   settings.hasOwnProperty("text") ? text = settings.text : text = ""
  -   settings.hasOwnProperty("checked") && settings.checked === true ? checked = settings.checked : checked = false
  - }
  .user-comment__like
    +toggle()
      if checked === true
        +toggle__controller({
          type: "like",
          attr: {
            "type": "checkbox",
            "hidden": "hidden",
            "checked": "checked"
          },
          text: text
        })
      else
        +toggle__controller({
          type: "like",
          attr: {
            "type": "checkbox",
            "hidden": "hidden"
          },
          text: text
        })