mixin page-head(settings)
  - let title = ""
  - let desc = ""
  - if(settings) {
  -   settings.hasOwnProperty("title") ? title = settings.title : title = ""
  -   settings.hasOwnProperty("desc") ? desc = settings.desc : desc = ""
  - }
  doctype html
  html
    head
      meta(charset="utf-8")
      meta(name="description" content=desc)
      meta(name="keywords" content="HTML, CSS, JavaScript")
      meta(name="viewport" content="initial-scale=1.0, width=device-width")
      title=title 
    block