mixin room-card(settings)
  - let {
  -   jsClass = "",
  -   images = [
  -     {
  -       src: "img/for-change.jpg",
  -       alt: "Alt for change"
  -     },
  -     {
  -       src: "img/for-change.jpg",
  -       alt: "Alt for change"
  -     },
  -     {
  -       src: "img/for-change.jpg",
  -       alt: "Alt for change"
  -     },
  -     {
  -       src: "img/for-change.jpg",
  -       alt: "Alt for change"
  -     }
  -   ],
  -   roomInfo: {
  -     number: roomNumber = "000",
  -     price: roomPrice = "000",
  -     type: roomType = false
  -   },
  -   starRate: { 
  -     rate: starsCounter = "5",
  -     jsClass: starJs = ""
  -   },
  -   rateCounter: { value: counterValue = "000"} 
  - } = settings
  div(class="room-card" class=jsClass)
    div.room-card__image-wrapper
      each image in images
        - let {img="", src=""} = image
        img(class="room-card__image" src=src, alt=alt)
      button(type="button" class="room-card__image-button room-card__image-button_previous")
      button(type="button" class="room-card__image-button room-card__image-button_next")
      .room-card__image-position-wrapper
        span.room-card__image-position.room-card__image-position_active
        span.room-card__image-position
        span.room-card__image-position
        span.room-card__image-position
    .room-card__room-info
      .room-card__price
        +room-info({
          number: roomNumber,
          price: roomPrice,
          type: roomTtype
        })
      .room-card__rate
        .room-card__stars
          +star-rate({rate: starsCounter, jsClass: starJs})
        .room-card__counter
          +rate-counter({value: counterValue})