mixin room-card(settings)
  - const {
  -   imagesSources = [
  -     "for-change.jpg",
  -     "for-change2.jpg",
  -   ],
  -   roomInformation: {
  -     number = "000",
  -     price = "000",
  -     type = ""
  -   },
  -   starsRating = "5",
  -   reviewsCounter = "0",
  - } = settings
  div.room-card.js-room-card
    div.room-card__image-wrapper
      each src in imagesSources
        img(src=require(`@images/${src}`).default, alt="Photo of the room").room-card__image
      button(type="button").room-card__image-button.room-card__image-button_side_left
      button(type="button").room-card__image-button.room-card__image-button_side_right
      div.room-card__image-position-wrapper
        span.room-card__image-position.room-card__image-position_selected
        span.room-card__image-position
        span.room-card__image-position
        span.room-card__image-position
    div.room-card__room-information
      div.room-card__price
        +room-information({
          number: number,
          price: price,
          type: type,
        })
      div.room-card__rating
        div.room-card__stars
          +stars-rating({rating: starsRating})
        div.room-card__counter
          +reviews-counter({value: reviewsCounter})