mixin room-card(settings)
  - const {
  -   jsClass = "",
  -   images = [
  -     {
  -       src: "img/for-change.jpg",
  -       alt: "Alt for change"
  -     },
  -     {
  -       src: "img/for-change.jpg",
  -       alt: "Alt for change"
  -     },
  -     {
  -       src: "img/for-change.jpg",
  -       alt: "Alt for change"
  -     },
  -     {
  -       src: "img/for-change.jpg",
  -       alt: "Alt for change"
  -     }
  -   ],
  -   roomInformation: {
  -     number = "000",
  -     price = "000",
  -     type = false
  -   },
  -   starsRating: { 
  -     rating = "5"
  -   },
  -   reviewsCounter: { value = "000"} 
  - } = settings
  div(class="room-card" class=jsClass)
    div.room-card__image-wrapper
      each image in images
        - const {
        -   img="",
        -   src=""
        - } = image
        img(class="room-card__image" src=src, alt=alt)
      button(type="button" class=["room-card__image-button", "room-card__image-button_side_left"])
      button(type="button" class=["room-card__image-button", "room-card__image-button_side_rigth"])
      .room-card__image-position-wrapper
        span(class=["room-card__image-position", "room-card__image-position_selected"])
        span.room-card__image-position
        span.room-card__image-position
        span.room-card__image-position
    .room-card__room-information
      .room-card__price
        +room-information({
          number: number,
          price: price,
          type: type,
          size: "small"
        })
      .room-card__rating
        .room-card__stars
          +stars-rating({rating: rating})
        .room-card__counter
          +reviews-counter({value: value})