mixin room-card(settings)
  - const {
  -   imagesSources = [
  -     "img/for-change.jpg",
  -     "img/for-change.jpg",
  -   ],
  -   roomInformation: {
  -     number = "000",
  -     price = "000",
  -     type = ""
  -   },
  -   starsRating = "5",
  -   reviewsCounter = "0",
  - } = settings
  div(class="room-card" class="js-room-card")
    div.room-card__image-wrapper
      each src in imagesSources
        img(class="room-card__image" src=src, alt="Photo of the room")
      button(type="button" class=["room-card__image-button", "room-card__image-button_side_left"])
      button(type="button" class=["room-card__image-button", "room-card__image-button_side_right"])
      .room-card__image-position-wrapper
        span(class=["room-card__image-position", "room-card__image-position_selected"])
        span.room-card__image-position
        span.room-card__image-position
        span.room-card__image-position
    .room-card__room-information
      .room-card__price
        +room-information({
          number: number,
          price: price,
          type: type,
        })
      .room-card__rating
        .room-card__stars
          +stars-rating({rating: starsRating})
        .room-card__counter
          +reviews-counter({value: reviewsCounter})