include __image/room-card__image.pug
include __room-info/room-card__room-info.pug
include __rate/room-card__rate.pug

mixin room-card(settings)
  - let jsClass = ""
  - if (settings) {
  -   settings.hasOwnProperty("jsClass") ? jsClass = settings.jsClass : jsClass = ""
  - }
  div(class="room-card" class=jsClass)
    block
