@import '../../common/mixins.scss';
@import '../../common/variables';

.checkbox-button {
  @include text_type($font-main, 14px, 400, 20px, $color-main-light);
  display: flex;
  column-gap: 10px;

  &__border {
    display: flex;
    flex-shrink: 0;
    user-select: none;
    height: 20px;
    width: 20px;
    border-radius: 4px;
    cursor: pointer;
    border: 1px solid $color-main-lighter;
  }

  &__text-wrapper {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
  }

  &__title {
    font-weight: 700;
    color: $color-main-dark;
  }

  &__text {
    cursor: pointer;
    user-select: none;
  }

  &__title ~ &__text {
    font-size: 12px;
    line-height: 14px;
    color: $color-main-light;
  }

  &__controller:checked + &__border {
    content: url('../../img/check-arrow.jpg');
    padding: 3px 4px 5px;
    border-color: $color-interactive-main;
  }

  &:hover &__border {
    box-shadow: 0 0 4px 1px $color-interactive-main;
  }
}