include text-styles__types

+text-type("type-h1", "h1", "This one is the sub-section or widget title")
+text-type("type-h2", "h2", "Next one is the item title inside widgets")
+text-type("type-h3", "h3", "This is a label or CTA text")
+text-type("type-simple-text", "body", "This is the body text which is used for most of the design, like paragraphs, lists, etc.")
  