$quick: 'Quicksand', sans-serif;
$mont: 'Montserrat', sans-serif;

@mixin fontshowing($family, $size, $line-height, $color) {
  font-family: $family;
  font-size: $size;
  line-height: $line-height;
  color: $color;
};

.type-h1, .type-h2, .type-h3 {
  font-weight: bold;
}
.type-h3 {
  text-transform: uppercase;
  font-weight: bolder;
}
.type-h1 {
  @include fontshowing ($quick, 24px, 30px, $dark100)
};
.type-h2 {
  @include fontshowing ($quick, 19px, 24px, $dark100)
};
.type-h3 { 
  @include fontshowing ($mont, 12px, 15px, $dark100)
};
.type-simple-text {
  @include fontshowing ($mont, 14px, 24px, $dark75)
};