// text type
.text-type {
  width: 410px;
  display: inline-block;
  position: absolute;
  right: 0; top:0;
}
.text-type-block {
  margin-bottom: 50px;
  .type {
    display: inline-block;
    margin-right: 30px;
    width: 40px;
    text-align: right;
    vertical-align: top;
    font-family: $mont;
    color: $dark25;
  };
  .description{
    display: inline-block;
  };
};
.type-h1, .type-h2, .type-h3 {
  .type{
    text-transform: uppercase;
    font-weight: normal;
  };
};
.type-h1 {
  .description {
    max-width: 336px;
  };
};
.type-h2 {
  .description {
    max-width: 282px;
  };
};
.type-h3 {
  .description {
    text-transform: uppercase;
  };
};
.type-simple-text {
  .description {
    width: 301px;
  };
};