.input__field {
  &_length_l {
    width: 320px;
    box-sizing: border-box;
  }
  &_length_m {
    width: 266px;
    box-sizing: border-box;
  }
  &_length_s {
    width: 150px;
    box-sizing: border-box;
    display: inline-block;
  }
}