@import '../../overall/mixins.scss';
@import '_type/toggle_type.scss';
@import '__mimic/toggle__mimic.scss';
@import '__text/toggle__text.scss';
@import '__title/toggle__title.scss';


.toggle__5rate-wrapper {
  display: inline-block;
  width: 120px;
  height: 19px;
}
.toggle-wrapper {
  display: block;
  min-height: 20px;
  .toggle {
    @include text_type($mont, 14px, 400, 24px, $dark75);
    cursor: pointer;
  }
}