@import '../../common/mixins.scss';
@import '../../common/variables';

.toggle {
  display: flex;
  column-gap: 10px;
  @include text_type($main-font, 14px, 400, 20px, $color-main-dark);

  &__border {
    display: flex;
    height: 20px;
    width: 40px;
    border-radius: 10px;
    cursor: pointer;
    border: 1px solid $color-main-lighter;
    padding: 3px;

    &::before {
      content: '';
      display: flex;
      width: 12px;
      height: 12px;
      background: $color-main-lighter;
      border-radius: 50%;
    }
  }

  &:hover &__border {
    box-shadow: 0 0 4px 1px $main-interactive-color;
  }

  &__text-wrapper {
  }

  &__text {
    cursor: pointer;
    user-select: none;
  }

  &__controller:checked + .toggle__border {
    border-color: $main-interactive-color;
    justify-content: end;

    &::before {
      background: linear-gradient(180deg, $main-interactive-color 0%, #8ba4f9 100%);
    }
  }
}
