mixin toggle(settings)
  - const {
  -   text = "For change",
  -   isChecked = false,
  - } = settings
  - const checkedAttr = isChecked ? { "checked": "checked" } : {}
  label.toggle
    input(type="checkbox", hidden).toggle__controller&attributes(checkedAttr)
    span.toggle__border
    span.toggle__text-wrapper
      span.toggle__text=text