@import '../../common/mixins.scss';
@import '../../common/variables';

.toggle {
  @include text_type($mont, 14px, 400, 20px, $dark75);
  display: block;

  &__border {
    height: 20px;
    width: 40px;
    border-radius: 10px;
    display: inline-block;
    cursor: pointer;
    border: 1px solid $dark25;
    padding: 3px;
    vertical-align: top;

    &::before {
      content: '';
      display: block;
      width: 12px;
      height: 12px;
      background: $dark25;
      border-radius: 50%;
    }
  }

  &:hover &__border {
    box-shadow: 0 0 4px 1px $purple;
  }

  &__text-wrapper {
    display: inline-block;
    margin-left: 10px;
    vertical-align: top;
  }

  &__text {
    cursor: pointer;
    user-select: none;
    display: inline-block;
  }

  &__controller:checked + .toggle__border {
    border-color: $purple;

    &::before {
      float: right;
      background: linear-gradient(180deg, $purple 0%, #8ba4f9 100%);
    }
  }

  &:not(:last-of-type) {
    margin-bottom: 10px;
  }
}
