include ../../blocks/search-room/search-room.pug
include ../../blocks/registration/registration.pug
include ../../blocks/final-booking/final-booking.pug
include ../../blocks/room-info/room-info.pug
include ../../blocks/login/login.pug
include ../../blocks/datepicker/datepicker.pug
include ../../blocks/room-card/room-card.pug
include ../../blocks/rate-counter/rate-counter.pug

.cards
  +logo({
    src: "img/logo.svg",
    type: "in-corner"
  })
  .cards__content
    .cards__column
      .cards__search-room
        +search-room({
          action: "./for-change"
        })
          +search-room__title({
            text: "Найдём номера под ваши пожелания"
          })
          +search-room__period({})
            +input()
              +input__title()
                +title({
                  text: "прибытие"
                })
              +input__field({
                attr: {
                  "type": "text",
                  "placeholder": "ДД.ММ.ГГГГ",
                  "value": "ДД.ММ.ГГГГ",
                  "readonly": "readonly"
                },
                length: "s",
                type: "dropdown"
                })
            +input()
              +input__title()
                +title({
                  text: "выезд"
                })
              +input__field({
                attr: {
                  "type": "text",
                  "placeholder": "ДД.ММ.ГГГГ",
                  "value": "ДД.ММ.ГГГГ",
                  "readonly": "readonly"
                },
                length: "s",
                type: "dropdown"
              })
          +search-room__guests()
            +input()
              +input__title({type: "with-state"})
                +title({
                  text: "гости"
                })
              +input__field({
                attr: {
                  "type": "text",
                  "placeholder": "Text",
                  "value": "Сколько гостей",
                  "readonly": "readonly"
                },
                length: "l",
                type: "dropdown",
              })
          +search-room__confirm-button()
            +button({
              type: "big",
              text: "подобрать номер",
              attr: {"type": "submit"}
            })
      .cards__registration
        +registration({action: "./for-change"})
          +registration__title({text: "Регистрация аккаунта"})
          +registration__personal-data()
            +input()
              +input__field({
                attr: {
                  "type": "text",
                  "placeholder": "Имя"
                },
                length: "l",
                type: "simple"
              })
            +input()
              +input__field({
                attr: {
                  "type": "text",
                  "placeholder": "Фамилия"
                },
                length: "l",
                type: "simple"
              })
            +registration__gender()
              +toggle()
                +toggle__controller({
                  type: "radio",
                  attr: {
                    "type": "radio",
                    "hidden": "hidden",
                    "name": "gender",
                    "value": "male",
                    "checked": "checked"
                  },
                  text: "Мужчина"
                })
                +toggle__controller({
                  type: "radio",
                  attr: {
                    "type": "radio",
                    "hidden": "hidden",
                    "name": "gender",
                    "value": "female",
                  },
                  text: "Женщина"
                })
          +registration__birthday()
            +input()
              +input__title()
                +title({
                  text: "дата рождения"
                })
              +input__field({
                attr: {
                  "type": "date",
                  "placeholder": "ДД.ММ.ГГ",
                },
                length: "l",
                type: "date"
              })
          +registration__login-data
            +input()
              +input__title()
                +title({
                  text: "данные для входа в сервис"
                })
              +input__field({
                attr: {
                  "type": "email",
                  "placeholder": "Email"
                },
                length: "l",
                type: "simple"
              })
            +input()
              +input__field({
                attr: {
                  "type": "password",
                  "placeholder": "Пароль"
                },
                length: "l",
                type: "simple"
              })
            +toggle()
              +toggle__controller({
                type: "toggle",
                attr: {
                  "type": "checkbox",
                  "hidden": "hidden"
                },
                text: "Получать спецпредложения"
              })
          +registration__confirm-button()
            +button({
              type: "big",
              text: "перейти к оплате",
              attr: {"type": "submit"}
            })
          +registration__login()
            +registration__text({text: "Уже есть аккаунт на Toxin"})
            a(href="./for-change").registration__link 
              +button({
                type: "border",
                text: "войти",
                attr: {"type": "button"}
              })
    .cards__column
      .cards__final-booking
        +final-booking({
          action: "for-change"
        })
          +final-booking__room-info({
            number: "888",
            price: "9 990",
            type: "luxury"
          })
          +final-booking__period({})
            +input()
              +input__title()
                +title({
                  text: "прибытие"
                })
              +input__field({
                attr: {
                  "type": "text",
                  "placeholder": "ДД.ММ.ГГГГ",
                  "value": "ДД.ММ.ГГГГ",
                  "readonly": "readonly"
                },
                length: "s",
                type: "dropdown"
                })
            +input()
              +input__title()
                +title({
                  text: "выезд"
                })
              +input__field({
                attr: {
                  "type": "text",
                  "placeholder": "ДД.ММ.ГГГГ",
                  "value": "ДД.ММ.ГГГГ",
                  "readonly": "readonly"
                },
                length: "s",
                type: "dropdown"
              })
          +final-booking__guests()
            +input()
              +input__title({type: "with-state"})
                +title({
                  text: "гости"
                })
              +input__field({
                attr: {
                  "type": "text",
                  "placeholder": "Text",
                  "value": "Сколько гостей",
                  "readonly": "readonly"
                },
                length: "l",
                type: "dropdown",
              })
          +final-booking__service-list()
            +final-booking__service({
              title: "9 990₽ х 4 суток",
              price: "39 960₽"
            })
            +final-booking__service({
              title: "Сбор за услуги: скидка 2 179₽",
              price: "0₽",
              modifier: "with-sign"
            })
            +final-booking__service({
              title: "Сбор за дополнительные услуги",
              price: "300₽",
              modifier: "with-sign"
            })
            +final-booking__service({
              title: "Итого",
              price: "38 081₽",
              type: "total"
            })
          +final-booking__confirm-button()
            +button({
              type: "big",
              text: "забронировать",
              attr: {"type": "submit"}
            })
      .cards__login
        +login({
          action: "for-change"
        })
          +login__title({text: "Войти"})
          +login__inputs
            +input()
              +input__field({
                attr: {
                  "type": "email",
                  "placeholder": "Email"
                },
                length: "l",
                type: "simple"
              })
            +input()
              +input__field({
                attr: {
                  "type": "password",
                  "placeholder": "Пароль"
                },
                length: "l",
                type: "simple"
              })
          +login__confirm-button()
            +button({
              type: "big",
              text: "войти",
              attr: {"type": "submit"}
            })
          +login__registration()
            +login__text({text: "Нет аккаунта на Toxin?"})
            a(href="./for-change").login__link 
              +button({
                type: "border",
                text: "войти",
                attr: {"type": "button"}
              })
    .cards__column
      .cards__datepicker
        +datepicker({
          jsClass: "js-datepicker"
        })
      .cards__room  
        +room-card()
          +room-card__image({
            src: "img/888.jpg",
            alt: "Photo of the room"
          })
          +room-card__room-info()
            +room-info({
              number: "888",
              price: "9 990",
              type: "luxury"
            })
            +room-card__rate()
              +toggle()
                +toggle__controller({
                  type: "rate",
                  attr: {
                    name: "rate3",
                    rate: 5
                  }
                })
                +rate-counter({
                  value: "145"
                })
      .cards__room  
        +room-card()
          +room-card__image({
            src: "img/840.jpg",
            alt: "Photo of the room"
          })
          +room-card__room-info()
            +room-info({
              number: "840",
              price: "9 990"
            })
            +room-card__rate()
              +toggle()
                +toggle__controller({
                  type: "rate",
                  attr: {
                    name: "rate4",
                    rate: 4
                  }
                })
                +rate-counter({
                  value: "65"
                })