include ../../blocks/input/input.pug
include ../../blocks/toggle/toggle.pug
include ../../blocks/slider/slider.pug
include ../../blocks/button/button.pug
include ../../blocks/dropdown/dropdown.pug
include ../../blocks/list/list.pug
include ../../blocks/positive-feature/positive-feature.pug
include ../../blocks/title/title.pug
include ../../blocks/user-comment/user-comment.pug
include ../../blocks/content-nav/content-nav.pug
include ../../blocks/datepicker/datepicker.pug
include ../../blocks/star-rate/star-rate.pug

.form-elements
  +logo({
    src: "img/logo.svg",
    type: "in-corner"
  })
  .form-elements__content
    .form-elements__input-types
      .form-elements__text-input
        +input()
          +input__title()
            +input__title-text({
              text: "text field",
              type: "with-state"
            })
            +input__state({text: "default"})
          +input__field({
            attr: {
              "type": "email",
              "placeholder": "Email"
            },
            length: "l",
            type: "simple"
          })
      .form-elements__text-input
        +input()
          +input__title({type: "with-state"})
            +input__title-text({
              text: "text field",
              type: "with-state"
            })
            +input__state({text: "hover / focus"})
          +input__field({
            attr: {
              "type": "text",
              "placeholder": "Text",
              "value": "This is pretty awesome"
            },
            length: "l",
            type: "focus"
          })
      .form-elements__dropdown
        +dropdown()
          +dropdown__input({expanded: false})
            +input()
              +input__title()
                +title({
                  text: "dropdown"
                })
              +input__field({
                attr: {
                  "type": "text",
                  "placeholder": "Text",
                  "value": "Сколько гостей",
                  "readonly": "readonly"
                },
                length: "l",
                type: "dropdown",
                jsClass: "js-input__field_4"
              })
          +dropdown__control({
            jsClass: "js-dropdown__control_4",
            attr: {"hidden": "hidden"}
          })
            +dropdown__list({
              elements: [
                { 
                  text: "взрослые",
                  dataTarget: "adult",
                  output: "0"
                },
                { 
                  text: "дети",
                  dataTarget: "child",
                  output: "0"
                },
                { 
                  text: "младенцы",
                  dataTarget: "baby",
                  output: "0",
                },
              ]
            })
            +dropdown__submit-buttons({hidden: true})
      .form-elements__masked-input
        +input()
          +input__title()
            +title({
              text: "masked text field"
            })
          +input__field({
            attr: {
              "type": "text",
              "placeholder": "ДД.ММ.ГГГГ",
            },
            length: "l",
            type: "date"
          })
      .form-elements__date-dropdowns
        .form-elements__date-from
          +input()
            +input__title()
              +title({
                text: "date Dropdown"
              })
            +input__field({
              attr: {
                "type": "text",
                "placeholder": "ДД.ММ.ГГГГ",
                "value": "ДД.ММ.ГГГГ",
                "readonly": "readonly"
              },
              length: "s",
              type: "dropdown",
              jsClass: "js-input__field_from-2"
            })
        .form-elements__date-to    
          +input()
            +input__title()
              +title({
                text: "date Dropdown"
              })
            +input__field({
              attr: {
                "type": "text",
                "placeholder": "ДД.ММ.ГГ",
                "value": "19.08.2019",
                "readonly": "readonly"
              },
              length: "s",
              type: "dropdown",
              jsClass: "js-input__field_to-2"
            })
        +datepicker({
          jsClass: "js-datepicker-2",
          attr: {
            "hidden": "hidden"
          }
        })
      .form-elements__filter-dropdown
        +input()
          +input__title()
            +title({
              text: "filter date dropdown"
            })
          +input__field({
            attr: {
              "type": "text",
              "placeholder": "ДД.ММ.ГГ",
              "value": "19 авг - 23 авг",
              "readonly": "readonly"
            },
            length: "m",
            type: "dropdown",
            jsClass: "js-input__field_total-3"
          })
        +datepicker({
          jsClass: "js-datepicker-3",
          attr: {
            "hidden": "hidden"
          },
          size: "m"
        })
      .form-elements__subscription-input
        form(action="./for-change").form-elements__subscription-form
          +input()
            +input__title()
              +title({
                text: "subscription text field"
              })
            +input__field({
              attr: {
                "type": "email",
                "placeholder": "Email"
              },
              length: "m",
              type: "submit"
            })
    .form-elements__toggle-types
      .form-elements__checkboxes
        .form-elements__checkboxes-title
          +title({
            text: "Checkbox Buttons"
          })
        +toggle()
          +toggle__controller({
            type: "checkbox",
            attr: {
              "type": "checkbox",
              "hidden": "hidden"
            },
            text: "Можно курить"
          })
        +toggle()
          +toggle__controller({
            type: "checkbox",
            attr: {
              "type": "checkbox",
              "hidden": "hidden",
              "checked": "checked"
            },
            text: "Можно с питомцами"
          })
        +toggle()
          +toggle__controller({
            type: "checkbox",
            attr: {
              "type": "checkbox",
              "hidden": "hidden",
              "checked": "checked"
            },
            text: "Можно пригласить гостей (до 10 человек)",
            length: "s"
          })
      .form-elements__radios
        .form-elements__radios-title
          +title({
            text: "Radio Buttons"
          })
        +toggle()
          +toggle__controller({
            type: "radio",
            attr: {
              "type": "radio",
              "hidden": "hidden",
              "name": "gender",
              "value": "male",
              "checked": "checked"
            },
            text: "Мужчина"
          })
          +toggle__controller({
            type: "radio",
            attr: {
              "type": "radio",
              "hidden": "hidden",
              "name": "gender",
              "value": "female",
            },
            text: "Женщина"
          })
      .form-elements__toggles
        .form-elements__toggles-title
          +title({
            text: "Toggle"
          })
        +toggle()
          +toggle__controller({
            type: "toggle",
            attr: {
              "type": "checkbox",
              "hidden": "hidden",
              "checked": "checked"
            },
            text: "Получать спецпредложения"
          })
        +toggle()
          +toggle__controller({
            type: "toggle",
            attr: {
              "type": "checkbox",
              "hidden": "hidden"
            },
            text: "Получать спецпредложения"
          })
      .form-elements__likes
        .form-elements__likes-title
          +title({
            text: "like button"
          })
        .form-elements__like
          +toggle()
            +toggle__controller({
              type: "like",
              attr: {
                "type": "checkbox",
                "hidden": "hidden"
              },
              text: "2"
            })
        .form-elements__like
          +toggle()
            +toggle__controller({
              type: "like",
              attr: {
                "type": "checkbox",
                "hidden": "hidden",
                "checked": "checked"
              },
              text: "12"
            })
      .form-elements__rates
        .form-elements__rates-title
          +title({
            text: "rate button"
          })
        .form-elements__rate
          +star-rate({rate: "4"})
        .form-elements__rate
          +star-rate({rate: "5"})
    .form-elements__button-types
      .form-elements__slider
        +slider()
          +slider__title()
            +slider__title-text()
              +title({text: "range slider"})
            +slider__output({jsClass: "js-slider__output"})
          +slider__body({jsClass: "js-slider__body"})
      .form-elements__buttons
        .form-elements__buttons-title
          +title({text: 'buttons'})
        .form-elements__simple-buttons
          .form-elements__button-wrapp
            +button({
              type: "simple",
              text: "click me",
              attr: {"type": "button"}
            })
          .form-elements__button-wrapp
            +button({
              type: "simple",
              text: "click me",
              attr: {"type": "button"}
            })
        .form-elements__border-buttons
          .form-elements__button-wrapp
            +button({
              type: "border",
              text: "click me",
              attr: {"type": "button"}
            })
          .form-elements__button-wrapp
            +button({
              type: "border",
              text: "click me",
              attr: {"type": "button"}
            })
        .form-elements__text-buttons
          .form-elements__button-wrapp
            +button({
              type: "text",
              text: "click me",
              attr: {"type": "button"}
            })
          .form-elements__button-wrapp
            +button({
              type: "text",
              text: "click me",
              attr: {"type": "button"}
            })
        .form-elements__big-button
          +button({
            type: "big",
            text: "перейти к оплате",
            attr: {"type": "button"}
          })
      .form-elements__pagination
        +content-nav({jsClass: "js-content-nav"})
          +content-nav__title({
            text: "pagination"
          })
          +content-nav__buttons()
          +content-nav__counter({text: "1 – 12 из 100+ вариантов аренды"})
    .form-elements__dropdown-types
      .form-elements__fittings-dropdown
        .form-elements__closed-dropdown
          +dropdown()
            +dropdown__input({expanded: false})
              +input()
                +input__title({type: "with-state"})
                  +input__title-text({
                    text: "dropdown",
                    type: "with-state"
                  })
                  +input__state({text: "default"})
                +input__field({
                  attr: {
                    "type": "text",
                    "placeholder": "Text",
                    "value": "2 спальни, 2 кровати...",
                    "readonly": "readonly"
                  },
                  length: "m",
                  type: "dropdown",
                  jsClass: "js-input__field-5"
                })
            +dropdown__control({
              jsClass: "js-dropdown__control-5",
              attr: {"hidden": "hidden"},
              z: "6"
            })
              +dropdown__list({
                elements: [
                  { 
                    text: "спальни",
                    dataTarget: "bedroom",
                    output: "2"
                  },
                  { 
                    text: "кровати",
                    dataTarget: "bed",
                    output: "2"
                  },
                  { 
                    text: "ванные комнаты",
                    dataTarget: "bathroom",
                    output: "0",
                  },
                ]
              }) 
        .form-elements__expanded-dropdown
          +dropdown()
            +dropdown__input({expanded: true})
              +input()
                +input__title({type: "with-state"})
                  +input__title-text({
                    text: "dropdown",
                    type: "with-state"
                  })
                  +input__state({text: "expanded"})
                +input__field({
                  attr: {
                    "type": "text",
                    "placeholder": "Text",
                    "value": "2 спальни, 2 кровати...",
                    "readonly": "readonly"
                  },
                  length: "m",
                  type: "dropdown",
                  state: "expanded",
                  jsClass: "js-input__field"
                })
            +dropdown__control({jsClass: "js-dropdown__control"})
              +dropdown__list({
                elements: [
                  { 
                    text: "спальни",
                    dataTarget: "bedroom",
                    output: "2"
                  },
                  { 
                    text: "кровати",
                    dataTarget: "bed",
                    output: "2"
                  },
                  { 
                    text: "ванные комнаты",
                    dataTarget: "bathroom",
                    output: "0",
                  },
                ]
              })
      .form-elements__guests-dropdown
        +dropdown()
          +dropdown__input({expanded: true})
            +input()
              +input__title({type: "with-state"})
                +title({
                  text: "dropdown"
                })
              +input__field({
                attr: {
                  "type": "text",
                  "placeholder": "Text",
                  "value": "Сколько гостей",
                  "readonly": "readonly"
                },
                length: "l",
                type: "dropdown",
                state: "expanded",
                jsClass: "js-input__field_2"
              })
          +dropdown__control({jsClass: "js-dropdown__control_2"})
            +dropdown__list({
              elements: [
                { 
                  text: "взрослые",
                  dataTarget: "adult",
                  output: "0"
                },
                { 
                  text: "дети",
                  dataTarget: "child",
                  output: "0"
                },
                { 
                  text: "младенцы",
                  dataTarget: "baby",
                  output: "0",
                },
              ]
            })
            +dropdown__submit-buttons({hidden: true})
      .form-elements__guests-dropdown
        +dropdown()
          +dropdown__input({expanded: true})
            +input()
              +input__title({type: "with-state"})
                +title({
                  text: "dropdown"
                })
              +input__field({
                attr: {
                  "type": "text",
                  "placeholder": "Text",
                  "value": "3 гостя",
                  "readonly": "readonly"
                },
                length: "l",
                type: "dropdown",
                state: "expanded",
                jsClass: "js-input__field_3"
              })
          +dropdown__control({jsClass: "js-dropdown__control_3"})
            +dropdown__list({
              elements: [
                { 
                  text: "взрослые",
                  dataTarget: "adult",
                  output: "2"
                },
                { 
                  text: "дети",
                  dataTarget: "child",
                  output: "1"
                },
                { 
                  text: "младенцы",
                  dataTarget: "baby",
                  output: "0",
                },
              ]
            })
            +dropdown__submit-buttons({hidden: false})
    .form-elements__list-types
      .form-elements__expandable-lists 
        .form-elements__closed-list
          +list()
            +list__title({
              text: "expandable checkbox list",
              type: "closed",
              jsClass: "js-list__title-2"
            })
            +list__container({jsClass: "js-list__container-2", attr: {"hidden": "hidden"}})
              +list__item()
                +toggle()
                  +toggle__controller({
                    type: "checkbox",
                    attr: {
                      "type": "checkbox",
                      "hidden": "hidden"
                    },
                    text: "Завтрак"
                  })
              +list__item()
                +toggle()
                  +toggle__controller({
                    type: "checkbox",
                    attr: {
                      "type": "checkbox",
                      "hidden": "hidden",
                      "checked": "checked"
                    },
                    text: "Письменный стол"
                  })
              +list__item()
                +toggle()
                  +toggle__controller({
                    type: "checkbox",
                    attr: {
                      "type": "checkbox",
                      "hidden": "hidden",
                      "checked": "checked"
                    },
                    text: "Стул для кормления"
                  })
              +list__item()
                +toggle()
                  +toggle__controller({
                    type: "checkbox",
                    attr: {
                      "type": "checkbox",
                      "hidden": "hidden",
                      "checked": "checked"
                    },
                    text: "Кроватка"
                  })
              +list__item()
                +toggle()
                  +toggle__controller({
                    type: "checkbox",
                    attr: {
                      "type": "checkbox",
                      "hidden": "hidden"
                    },
                    text: "Телевизор"
                  })
              +list__item()
                +toggle()
                  +toggle__controller({
                    type: "checkbox",
                    attr: {
                      "type": "checkbox",
                      "hidden": "hidden"
                    },
                    text: "Шампунь"
                  })
        .form-elements__expanded-list
          +list()
            +list__title({
              text: "expandable checkbox list",
              type: "expanded",
              jsClass: "js-list__title"
            })
            +list__container({jsClass: "js-list__container"})
              +list__item()
                +toggle()
                  +toggle__controller({
                    type: "checkbox",
                    attr: {
                      "type": "checkbox",
                      "hidden": "hidden"
                    },
                    text: "Завтрак"
                  })
              +list__item()
                +toggle()
                  +toggle__controller({
                    type: "checkbox",
                    attr: {
                      "type": "checkbox",
                      "hidden": "hidden",
                      "checked": "checked"
                    },
                    text: "Письменный стол"
                  })
              +list__item()
                +toggle()
                  +toggle__controller({
                    type: "checkbox",
                    attr: {
                      "type": "checkbox",
                      "hidden": "hidden",
                      "checked": "checked"
                    },
                    text: "Стул для кормления"
                  })
              +list__item()
                +toggle()
                  +toggle__controller({
                    type: "checkbox",
                    attr: {
                      "type": "checkbox",
                      "hidden": "hidden",
                      "checked": "checked"
                    },
                    text: "Кроватка"
                  })
              +list__item()
                +toggle()
                  +toggle__controller({
                    type: "checkbox",
                    attr: {
                      "type": "checkbox",
                      "hidden": "hidden"
                    },
                    text: "Телевизор"
                  })
              +list__item()
                +toggle()
                  +toggle__controller({
                    type: "checkbox",
                    attr: {
                      "type": "checkbox",
                      "hidden": "hidden"
                    },
                    text: "Шампунь"
                  })
      .form-elements__rich-list
        +list()
          +list__title({
            text: "rich Checkbox Buttons"
          })
          +list__item()
            +toggle()
              +toggle__controller({
                type: "checkbox",
                attr: {
                  "type": "checkbox",
                  "hidden": "hidden"
                },
                richText: "Широкий коридор",
                text: "Ширина коридоров в номере не менее 91 см."
              })
          +list__item()
            +toggle()
              +toggle__controller({
                type: "checkbox",
                attr: {
                  "type": "checkbox",
                  "hidden": "hidden"
                },
                length: "short",
                richText: "Помощник для инвалидов",
                text: "На 1 этаже вас встретит специалист  и проводит до номера."
              })
      .form-elements__bullet-list
        +list()
          +list__title({
            text: "bullet list",
            bullet: true
          })
          +list__container()
            +list__item({type: "bullet"})
              +list__text({
                text: "Нельзя с питомцами"
              })
            +list__item({type: "bullet"})
              +list__text({
                text: "Без вечеринок и мероприятий"
              })
            +list__item({type: "bullet"})
              +list__text({
                text: "Время прибытия — после 13:00, а выезд до 12:00"
              })
    .form-elements__additions
      .form-elements__positive-features
        +positive-feature({border: "border_bottom"})
          +positive-feature__img({
            attr: {
              "alt": "Feeling comfortable",
              "src": "img/smile.svg"
            }
          })
          +positive-feature__text({
            titleText: "Комфорт",
            descText: "Шумопоглощающие стены"
          })
        +positive-feature({border: "border_bottom"})
          +positive-feature__img({
            attr: {
              "alt": "Abstract image of a modern house",
              "src": "img/house.svg"
            }
          })
          +positive-feature__text({
            titleText: "Удобство",
            descText: "Окно в каждой из спален"
          })
      .form-elements__user-comment
        +user-comment()
          +user-comment__title({
            avatarSettings: {
              attr: {
                "alt": "Profile picture",
                "src": "img/user.jpg"
              }
            },
            infoSettings: {
              name: "Мурад Сарафанов",
              daysHavePassed: "5 дней назад"
            }
          })
          +user-comment__main({
            likeSettings: {text: "12", checked: true},
            textSettings: {text: "Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей."},
          })