include ../../blocks/input/input.pug
include ../../blocks/toggle/toggle.pug
include ../../blocks/slider/slider.pug
include ../../blocks/button/button.pug
include ../../blocks/dropdown/dropdown.pug
include ../../blocks/list/list.pug
include ../../blocks/positive-feature/positive-feature.pug
include ../../blocks/title/title.pug
include ../../blocks/user-comment/user-comment.pug
include ../../blocks/content-nav/content-nav.pug
include ../../blocks/datepicker/datepicker.pug
include ../../blocks/star-rate/star-rate.pug

.form-elements
  +logo({
    src: "img/logo.svg",
    type: "in-corner"
  })
  .form-elements__content
    .form-elements__input-types
      .form-elements__text-input
        +input({
          title: {text: "text field", type: "with-state", state: "default"},
          input: {
            attr: {
              "type": "email",
              "placeholder": "Email"
            },
            length: "l",
            type: "simple"
          }
        })
      .form-elements__text-input
        +input({
          title: {text: "text field", type: "with-state", state: "hover / focus"},
          input: {
            attr: {
              "type": "text",
              "placeholder": "Text",
              "value": "This is pretty awesome"
            },
            length: "l",
            type: "focus"
          }
        })
      .form-elements__dropdown
        +dropdown({
          inputSettings: {
            title: {text: "dropdown"},
            input: {
              attr: {
                type: "text",
                placeholder: "Text",
                value: "Сколько гостей",
                readonly: "readonly"
              },
              length: "l",
              type: "dropdown",
              jsClass: "js-input__field-4"
            }
          },
          control: {
            jsClass: "js-dropdown__control-4",
            attr: {"hidden": "hidden"}
          },
          lists: [
            {text: "взрослые", dataTarget: "adult", output: "0"},
            {text: "дети", dataTarget: "child", output: "0"},
            {text: "младенцы", dataTarget: "baby", output: "0"}
          ]
        })
      .form-elements__masked-input
        +input({
          title: {text: "masked text field"},
          input: {
            attr: {
              type: "text",
              placeholder: "ДД.ММ.ГГГГ"
            },
            length: "l",
            type: "date"
          }
        })
      .form-elements__date-dropdowns
        .form-elements__date-from
          +input({
            title: {text: "date Dropdown"},
            input: {
              attr: {
                type: "text",
                placeholder: "ДД.ММ.ГГГГ",
                value: "ДД.ММ.ГГГГ",
                readonly: "readonly"
              },
              length: "s",
              type: "dropdown",
              jsClass: "js-input__field_from-2"
            }
          })
        .form-elements__date-to
          +input({
            title: {text: "date Dropdown"},
            input: {
              attr: {
                type: "text",
                placeholder: "ДД.ММ.ГГГГ",
                value: "19.08.2019",
                readonly: "readonly"
              },
              length: "s",
              type: "dropdown",
              jsClass: "js-input__field_to-2"
            }
          })  
        +datepicker({
          jsClass: "js-datepicker-2",
          attr: {
            "hidden": "hidden"
          }
        })
      .form-elements__filter-dropdown
        +input({
          title: {text: "filter date dropdown"},
          input: {
            attr: {
              type: "text",
              placeholder: "ДД.ММ.ГГГГ",
              value: "19 авг - 23 авг",
              readonly: "readonly"
            },
            length: "m",
            type: "dropdown",
            jsClass: "js-input__field_total-3"
          }
        })
        +datepicker({
          jsClass: "js-datepicker-3",
          attr: {
            "hidden": "hidden"
          },
          size: "m"
        })
      .form-elements__subscription-input
        form(action="./for-change").form-elements__subscription-form
          +input({
            title: {text: "subscription text field"},
            input: {
              attr: {
                type: "email",
                placeholder: "Email"
              },
              length: "m",
              type: "submit"
            }
          })
    .form-elements__toggle-types
      .form-elements__checkboxes
        .form-elements__checkboxes-title
          +title({
            text: "Checkbox Buttons"
          })
        +toggle({
          controller: {
            type: "checkbox",
            attr: {
              "type": "checkbox",
              "hidden": "hidden"
            }
          },
          text: {
            text: "Можно курить"
          }
        })
        +toggle({
          controller: {
            type: "checkbox",
            attr: {
              "type": "checkbox",
              "hidden": "hidden"
            }
          },
          text: {
            text: "Можно с питомцами"
          }
        })
        +toggle({
          controller: {
            type: "checkbox",
            attr: {
              "type": "checkbox",
              "hidden": "hidden"
            }
          },
          text: {
            text: "Можно пригласить гостей (до 10 человек)",
            length: "s"
          }
        })
      .form-elements__radios
        .form-elements__radios-title
          +title({
            text: "Radio Buttons"
          })
        .form-elements__radio
          +toggle({
            controller: {
              type: "radio",
              attr: {
                "type": "radio",
                "hidden": "hidden",
                "name": "gender",
                "value": "male",
                "checked": "checked"
              }
            },
            text: {
              text: "Мужчина"
            }
          })
        .form-elements__radio
          +toggle({
            controller: {
              type: "radio",
              attr: {
                "type": "radio",
                "hidden": "hidden",
                "name": "gender",
                "value": "female"
              }
            },
            text: {
              text: "Женщина"
            }
          })
      .form-elements__toggles
        .form-elements__toggles-title
          +title({
            text: "Toggle"
          })
        +toggle({
          controller: {
            type: "toggle",
            attr: {
              "type": "checkbox",
              "hidden": "hidden",
              "value": "female",
              "checked": "checked"
            }
          },
          text: {
            text: "Получать спецпредложения"
          }
        })
        +toggle({
          controller: {
            type: "toggle",
            attr: {
              "type": "checkbox",
              "hidden": "hidden",
            }
          },
          text: {
            text: "Получать спецпредложения"
          }
        })
      .form-elements__likes
        .form-elements__likes-title
          +title({
            text: "like button"
          })
        .form-elements__like
          +toggle({
            controller: {
              type: "like",
              attr: {
                "type": "checkbox",
                "hidden": "hidden",
              }
            },
            text: {
              text: "2"
            }
          })
        .form-elements__like
          +toggle({
            controller: {
              type: "like",
              attr: {
                "type": "checkbox",
                "hidden": "hidden",
                "checked": "checked"
              }
            },
            text: {
              text: "12"
            }
          })
      .form-elements__rates
        .form-elements__rates-title
          +title({
            text: "rate button"
          })
        .form-elements__rate
          +star-rate({rate: "4", jsClass: "js-star-rate"})
        .form-elements__rate
          +star-rate({rate: "5", jsClass: "js-star-rate-2"})
    .form-elements__button-types
      .form-elements__slider
        +slider({
          title: { text: "range slider" },
          output: { jsClass: "js-slider__output" },
          container: { jsClass: "js-slider__body" },
        })
      .form-elements__buttons
        .form-elements__buttons-title
          +title({text: 'buttons'})
        .form-elements__simple-buttons
          .form-elements__button-wrapp
            +button({
              type: "simple",
              text: "click me",
              attr: {"type": "button"}
            })
          .form-elements__button-wrapp
            +button({
              type: "simple",
              text: "click me",
              attr: {"type": "button"}
            })
        .form-elements__border-buttons
          .form-elements__button-wrapp
            +button({
              type: "border",
              text: "click me",
              attr: {"type": "button"}
            })
          .form-elements__button-wrapp
            +button({
              type: "border",
              text: "click me",
              attr: {"type": "button"}
            })
        .form-elements__text-buttons
          .form-elements__button-wrapp
            +button({
              type: "text",
              text: "click me",
              attr: {"type": "button"}
            })
          .form-elements__button-wrapp
            +button({
              type: "text",
              text: "click me",
              attr: {"type": "button"}
            })
        .form-elements__big-button
          +button({
            type: "big",
            text: "перейти к оплате",
            attr: {"type": "button"}
          })
      .form-elements__pagination
        +content-nav({
          jsClass: "js-content-nav",
          title: {text: "pagination"},
          counter: {text: "1  12 из 100+ вариантов аренды"}
        })
    .form-elements__dropdown-types
      .form-elements__fittings-dropdown
        .form-elements__closed-dropdown
          +dropdown({
            inputSettings: {
              title: {text: "dropdown", type: "with-state", state: "default"},
              input: {
                attr: {
                  type: "text",
                  placeholder: "Text",
                  value: "2 спальни, 2 кровати...",
                  readonly: "readonly"
                },
                length: "m",
                type: "dropdown",
                jsClass: "js-input__field-5"
              }
            },
            control: {
              jsClass: "js-dropdown__control-5",
              z: "6",
              attr: {"hidden": "hidden"}
            },
            lists: [
              {text: "спальни", dataTarget: "bedroom", output: "2"},
              {text: "кровати", dataTarget: "bed", output: "2"},
              {text: "ванные комнаты", dataTarget: "bathroom", output: "0"}
            ]
          })
        .form-elements__expanded-dropdown
          +dropdown({
            inputSettings: {
              title: {text: "dropdown", type: "with-state", state: "expanded"},
              input: {
                attr: {
                  type: "text",
                  placeholder: "Text",
                  value: "2 спальни, 2 кровати...",
                  readonly: "readonly",
                  class: "input__field_expanded"
                },
                length: "m",
                type: "dropdown",
                jsClass: "js-input__field"
              }
            },
            control: {
              jsClass: "js-dropdown__control",
            },
            lists: [
              {text: "спальни", dataTarget: "bedroom", output: "2"},
              {text: "кровати", dataTarget: "bed", output: "2"},
              {text: "ванные комнаты", dataTarget: "bathroom", output: "0"}
            ]
          })
      .form-elements__guests-dropdown
        +dropdown({
          inputSettings: {
            title: {text: "dropdown"},
            input: {
              attr: {
                type: "text",
                placeholder: "Text",
                value: "Сколько гостей",
                readonly: "readonly",
                class: "input__field_expanded"
              },
              length: "l",
              type: "dropdown",
              jsClass: "js-input__field-2"
            }
          },
          control: {
            jsClass: "js-dropdown__control-2",
          },
          lists: [
            {text: "взрослые", dataTarget: "adult", output: "0"},
            {text: "дети", dataTarget: "child", output: "0"},
            {text: "младенцы", dataTarget: "baby", output: "0"}
          ]
        })
      .form-elements__guests-dropdown
        +dropdown({
          inputSettings: {
            title: {text: "dropdown"},
            input: {
              attr: {
                type: "text",
                placeholder: "Text",
                value: "3 гостя",
                readonly: "readonly",
                class: "input__field_expanded"
              },
              length: "l",
              type: "dropdown",
              jsClass: "js-input__field-3"
            }
          },
          control: {
            jsClass: "js-dropdown__control-3",
          },
          lists: [
            {text: "взрослые", dataTarget: "adult", output: "2"},
            {text: "дети", dataTarget: "child", output: "1"},
            {text: "младенцы", dataTarget: "baby", output: "0"}
          ]
        })
    .form-elements__list-types
      .form-elements__expandable-lists 
        .form-elements__closed-list
          +list({
            title: {
              text: "expandable checkbox list",
              type: "closed",
              jsClass: "js-list__title"
            },
            container: {
              jsClass: "js-list__container", 
              attr: {"hidden": "hidden"}
            },
            list: [
              {
                type: "checkbox",
                attr: {
                  "type": "checkbox",
                  "hidden": "hidden"
                },
                text: "Завтрак"
              },
              {
                type: "checkbox",
                attr: {
                  "type": "checkbox",
                  "hidden": "hidden",
                  "checked": "checked"
                },
                text: "Письменный стол"
              },
              {
                type: "checkbox",
                attr: {
                  "type": "checkbox",
                  "hidden": "hidden",
                  "checked": "checked"
                },
                text: "Стул для кормления"
              },
              {
                type: "checkbox",
                attr: {
                  "type": "checkbox",
                  "hidden": "hidden",
                  "checked": "checked"
                },
                text: "Кроватка"
              },
              {
                type: "checkbox",
                attr: {
                  "type": "checkbox",
                  "hidden": "hidden"
                },
                text: "Телевизор"
              },
              {
                type: "checkbox",
                attr: {
                  "type": "checkbox",
                  "hidden": "hidden"
                },
                text: "Шампунь"
              }
            ],
          })
        .form-elements__expanded-list
          +list({
            title: {
              text: "expandable checkbox list",
              type: "expanded",
              jsClass: "js-list__title-2"
            },
            container: {
              jsClass: "js-list__container-2"
            },
            list: [
              {
                type: "checkbox",
                attr: {
                  "type": "checkbox",
                  "hidden": "hidden"
                },
                text: "Завтрак"
              },
              {
                type: "checkbox",
                attr: {
                  "type": "checkbox",
                  "hidden": "hidden",
                  "checked": "checked"
                },
                text: "Письменный стол"
              },
              {
                type: "checkbox",
                attr: {
                  "type": "checkbox",
                  "hidden": "hidden",
                  "checked": "checked"
                },
                text: "Стул для кормления"
              },
              {
                type: "checkbox",
                attr: {
                  "type": "checkbox",
                  "hidden": "hidden",
                  "checked": "checked"
                },
                text: "Кроватка"
              },
              {
                type: "checkbox",
                attr: {
                  "type": "checkbox",
                  "hidden": "hidden"
                },
                text: "Телевизор"
              },
              {
                type: "checkbox",
                attr: {
                  "type": "checkbox",
                  "hidden": "hidden"
                },
                text: "Шампунь"
              }
            ],
          })
      .form-elements__rich-list
        +list({
          title: {
            text: "rich checkbox buttons",
          },
          list: [
            {
              type: "checkbox",
              attr: {
                "type": "checkbox",
                "hidden": "hidden"
              },
              text: "Ширина коридоров в номере не менее 91 см.",
              richText: "Широкий коридор"
            },
            {
              type: "checkbox",
              attr: {
                "type": "checkbox",
                "hidden": "hidden"
              },
              length: "short",
              text: "На 1 этаже вас встретит специалист  и проводит до номера.",
              richText: "Помощник для инвалидов"
            }
          ]
        })
      .form-elements__bullet-list
        +list({
          title: {
            text: "bullet list",
            bullet: true
          },
          textList: [
            "Нельзя с питомцами", "Без вечеринок и мероприятий", "Время прибытия — после 13:00, а выезд до 12:00"
          ]
        })
    .form-elements__additions
      .form-elements__positive-features
        +positive-feature({
          border: "border_bottom",
          img: {
            attr: {
              "alt": "Abstract image of a modern house",
              "src": "img/house.svg"
            }
          },
          text: {
            title: "Комфорт",
            desc: "Шумопоглощающие стены"
          }
        })
        +positive-feature({
          border: "border_bottom",
          img: {
            attr: {
              "alt": "Abstract image of a modern house",
              "src": "img/house.svg"
            }
          },
          text: {
            title: "Удобство",
            desc: "Окно в каждой из спален"
          }
        })
      .form-elements__user-comment
        +user-comment({
          title: {
            imgAttr: {
              "alt": "Profile picture",
              "src": "img/user.jpg"
            },
            name: "Мурад Сарафанов",
            age: "5 дней назад"
          },
          main: {
            toggle: {
              checked: true,
              text: "12"
            },
            text: "Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей."
          }
        })