include __buttons/content-nav__buttons.pug
include __counter/content-nav__counter.pug
include __title/content-nav__title.pug
include __button/content-nav__button.pug

mixin content-nav(settings)
  - let jsClass = ""
  - if (settings) {
  -   settings.hasOwnProperty("jsClass") ? jsClass = settings.jsClass : jsClass = ""
  - }
  div(class="content-nav" class=jsClass) 
    block