mixin content-nav(settings)
  - let title = {
  -   text: false
  - }
  - let jsClass = "js-for-change"
  - let counter = {
  -   text: "For Change"
  - } 
  - if (settings) {
  -   if(settings.hasOwnProperty("jsClass")) jsClass = settings.jsClass
  -   if(settings.title && settings.title.hasOwnProperty("text")) title.text = settings.title.text
  -   if(settings.counter && settings.counter.hasOwnProperty("text")) counter.text = settings.counter.text
  - }
  div(class="content-nav" class=jsClass)
    if title.text 
      .content-nav__title
        +title({text: title.text})
    ul.content-nav__buttons
      li(class="content-nav__button content-nav__button_previous")
        +button({
          type: "pagination",
          text: "",
          attr: {"type": "button"},
          pagClass: "button__control_pagination_previous"
        })
      li(class="content-nav__button content-nav__button_current" )
        +button({
          type: "pagination",
          text: "1",
          attr: {"type": "button"},
          pagClass: "button__control_pagination_active"
        })
      li(class="content-nav__button content-nav__button_space")
        +button({
          type: "pagination",
          text: "...",
          attr: {"type": "button"}
        })
      li(class="content-nav__button")
        +button({
          type: "pagination",
          text: "2",
          attr: {"type": "button"}
        })
      li(class="content-nav__button")
        +button({
          type: "pagination",
          text: "3",
          attr: {"type": "button"}
        })
      li(class="content-nav__button")
        +button({
          type: "pagination",
          text: "4",
          attr: {"type": "button"}
        })
      li(class="content-nav__button")
        +button({
          type: "pagination",
          text: "...",
          attr: {"type": "button"}
        })
      li(class="content-nav__button")
        +button({
          type: "pagination",
          text: "15",
          attr: {"type": "button"}
        })
      li(class="content-nav__button")
        +button({
          type: "pagination",
          text: "",
          attr: {"type": "button"},
          pagClass: "button__control_pagination_next"
        })
    if counter.text
      p.content-nav__counter=counter.text