mixin content-nav(settings)
  - let {
  -   title: {
  -     text: contentNavTitle = false
  -   },
  -   jsClass: contentNavJs = "js-for-change",
  -   counter: {
  -     text: contentNavCounter = "For Change"
  -   }
  - } = settings 
  div(class="content-nav" class=contentNavJs)
    if contentNavTitle 
      .content-nav__title
        +title({text: contentNavTitle})
    ul.content-nav__buttons
      li(class="content-nav__button content-nav__button_previous")
        +button({
          type: "pagination",
          text: "",
          attr: {"type": "button"},
          pagClass: "button__control_pagination_previous"
        })
      li(class="content-nav__button content-nav__button_current" )
        +button({
          type: "pagination",
          text: "1",
          attr: {"type": "button"},
          pagClass: "button__control_pagination_active"
        })
      li(class="content-nav__button content-nav__button_space")
        +button({
          type: "pagination",
          text: "...",
          attr: {"type": "button"}
        })
      li(class="content-nav__button")
        +button({
          type: "pagination",
          text: "2",
          attr: {"type": "button"}
        })
      li(class="content-nav__button")
        +button({
          type: "pagination",
          text: "3",
          attr: {"type": "button"}
        })
      li(class="content-nav__button")
        +button({
          type: "pagination",
          text: "4",
          attr: {"type": "button"}
        })
      li(class="content-nav__button")
        +button({
          type: "pagination",
          text: "...",
          attr: {"type": "button"}
        })
      li(class="content-nav__button")
        +button({
          type: "pagination",
          text: "15",
          attr: {"type": "button"}
        })
      li(class="content-nav__button content-nav__button_next")
        +button({
          type: "pagination",
          text: "",
          attr: {"type": "button"},
          pagClass: "button__control_pagination_next"
        })
    if contentNavCounter
      p.content-nav__counter=contentNavCounter