mixin radio-special-button(description, checked, title)
  if checked == 10
    if title!=null 
      h3.margin16.type-h3= title
      div.switch
        label.type-simple-text
          input.special-toggle(type="checkbox" checked)
          span.special-toggle-imitation
          = description
    else 
      div.switch
        label.type-simple-text
          input.special-toggle(type="checkbox" checked)
          span.special-toggle-imitation
          = description
  else
    if title!=null 
      h3.margin16.type-h3= title
      div.switch
        label.type-simple-text
          input.special-toggle(type="checkbox")
          span.special-toggle-imitation
          = description
    else 
      div.switch
        label.type-simple-text
          input.special-toggle(type="checkbox")
          span.special-toggle-imitation
          = description