%buttons-general-rules {
  content: "";
  display: inline-block;
  width: 20px; 
  height: 20px;
  border: 1px solid $dark25;
  z-index: 1;
  text-align: center;
  vertical-align: middle;
  margin: 0 10px 3px 0;
}
%circle-for-buttons {
  content: "";
    display: block;
    height: 12px; width: 12px;
    box-sizing: border-box;
    border-radius: 50%;
    background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
    position: absolute;
    top: 3px; left: 3px;
}
/////////////////////////////////////
.opportunities-form {
  height: 130px;
  width: 400px;
  margin-bottom: 40px;
}
.gender-form {
  width: 250px;
  height: 55px;
  margin-bottom: 40px;
}
.margin16 {
  margin-bottom: 16px;
}
.opportunities-label {
  display: block;
  line-height: 18px;
  margin-bottom: 10px;
  cursor: pointer;
  user-select: none;
}
.opportunities-checkbox {
  display: none;
  &:checked + .opportunities-checkbox-imitation {
    border-color: #BC9CFF;
  }
  &:checked + .opportunities-checkbox-imitation::before {
    content: url(../src/img/checkbox_tick.svg);
    display: block;
    height: 100%;
    line-height: 18px;
  }
}
.opportunities-checkbox-imitation {
  @extend %buttons-general-rules;
  border-radius: 4px;
  vertical-align: top;
  margin: 0 10px 0 0;
  box-sizing: border-box;
}
.opportunities-text {
  margin: 0;
  display: inline-block;
  color: $dark50;
  width: 192px;
  line-height: 20px;
  vertical-align: top;
}
// Gender radio button
.gender-label {
  color: $dark50;
  user-select: none;
  cursor: pointer;
}
.gender-radio-button {
  display: none;
  &:checked + .radio-button-imitation {
    border-color: #BC9CFF;
  };
  &:checked + .radio-button-imitation::before {
    @extend %circle-for-buttons;
  };
  &:checked ~ .gender-text {
    color: $dark75;
  };
}
.radio-button-imitation {
  @extend %buttons-general-rules;
  border-radius: 50%;
  box-sizing: border-box;
  position: relative;
}
.gender-text {
  display: inline-block;
  margin: 0 20px 0 0;
}
// Special radio button
.switch {
  margin-bottom: 14px;
  user-select: none;
  label {
    cursor: pointer;
  }
}
.special-toggle {
  display: none;
  &:checked + .special-toggle-imitation {
    border-color: #BC9CFF;
  }
  &:checked + .special-toggle-imitation::before {
    background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
    left: 23px;
  }
}
.special-toggle-imitation {
  @extend %buttons-general-rules;
  width: 40px; 
  border-radius: 10px;
  box-sizing: border-box;
  position: relative;
  margin-bottom: 0;
  &::before {
    @extend %circle-for-buttons;
    background: $dark25;
  }
}
// Like button
.like-button-form {
  height: 51px;
  margin-top: 40px;
}
.like-count {
  display: inline-block;
  margin: 0;
  font-size: 10px;
  color: $dark25;
  height: 18px;
  line-height: 18px;
  text-align: left;
  position: absolute;
  left: 22px;
  -webkit-user-select: none;
}
.like-button-input {
  display: none;
  &:checked + .like-button-imitation {
    border-color: $purple;
  }
  &:checked + .like-button-imitation::before {
    content: url(../src/img/heart.svg);
  }
  &:checked + .like-button-imitation p {
    color: $purple;
  }
}
.like-button-imitation {
  @extend %buttons-general-rules;
  border-radius: 10px;
  margin: 0 10px 0 0; padding: 0;
  box-sizing: border-box;
  width: 40px;
  line-height: 12px;
  vertical-align: middle;
  position: relative;
  cursor: pointer;
  &::before {
    content: url(../src/img/heart_border.svg);
    display: inline-block;
    width: 18px; height: 18px;
    line-height: 18px;
    position: absolute;
    left: 0;
  }
}
// Rate Button
.rate-button-form {
  margin-top: 40px;
}
.rate-button-body {
  display: inline-block;
  margin-right: 20px;
  & img {
    padding: 2px;
  }
}