include checkbox-button.pug
include radio-gender-button.pug
include radio-special-button.pug
include like-button.pug
include rate.pug

form.opportunities-form(action="/for-change")
  +opportunities-checkbox-list("Можно курить", 'false',"Checkbox Buttons")
  +opportunities-checkbox-list("Можно с питомцами", true)
  +opportunities-checkbox-list("Можно пригласить гостей (до 10 человек)", true)
form.gender-form(action="/for-change")
  +radio-gender("radio buttons")
form.toggle-form(action="/for-change")
  +radio-special-button("Получать спецпредложения", "10", "toggle")
  +radio-special-button("Получать спецпредложения", "1")
form.like-button-form(action="/for-change")
  +like-button("2", '1', "like button")
  +like-button("12", '10')
form.rate-button-form(action="/for-change")
  +rate-button("./img/star.svg", "./img/star.svg", "./img/star.svg", "./img/star.svg", "./img/star_border.svg", "rate button")
  +rate-button("./img/star.svg", "./img/star.svg", "./img/star.svg", "./img/star.svg", "./img/star.svg")
  