mixin search-room__title(settings)
  - let text = ""
  - if (settings) { 
  -   settings.hasOwnProperty("text") ? text = settings.text : text = ""
  - }
  .search-room__title
    +title({
      text: text,
      type: "big"
    })