include ../../overall/page-head.pug

+page-head({title: "UI-Kit", desc: "UI-Kit page of the hotel room website."})
  body
    include ../content-types/content-types.pug
    include ../form-elements/form-elements.pug
    include ../cards/cards.pug
    include ../headers-footers/headers-footers.pug