mixin footer__description(settings)
  - let text = ""
  - if (settings) {
  -   settings.hasOwnProperty("text") ? text = settings.text : text = ""  
  - }
  .footer__description
    +logo({
      src: "img/logo-color.svg"
    })
    p.footer__text=text