include ../title/title
include ../checkbox-button/checkbox-button

mixin list(settings)
  - const {
  -   title: {
  -     text = "For Change",
  -     teg = "p",
  -     fontSize = "",
  -     isBullet = false,
  -     isWithMargin = false,
  -   },
  -   isExpandable = false,
  -   opennessState = "closed",
  -   listType = "",
  -   itemList = [{
  -     text: "for change",
  -     isChecked: false,
  -   }],
  - } = settings
  - const bulletClass = isBullet ? "list__title_with-bullet" : ""
  - const marginClass = isWithMargin ? "list__title_with-margin" : ""
  - const jsListClass = isExpandable ? "js-list" : ""
  - const jsTitleClass = isExpandable ? "js-list__title" : ""
  - const jsContainerWrapperClass = isExpandable ? "js-list__container-wrapper" : ""
  - const isNeedToBeHide = opennessState === "closed" && isExpandable
  - const attrs = isNeedToBeHide ? { "hidden": "hidden" } : {}
  - const titleExpandedClass = isExpandable ? `list__title_${opennessState}` : ""
  div(class=["list", jsListClass])
    div(class=["list__title", jsTitleClass, marginClass, bulletClass, titleExpandedClass])
      +title({
        text: text,
        teg: teg,
        fontSize,
      })
    div(class=["list__container-wrapper", jsContainerWrapperClass])&attributes(attrs)
      case listType
        when "toggles"
          ul.list__container
            each toggle in itemList
              li.list__item
                +checkbox-button(toggle)
        default
          ul.list__container.list__container_with-bullet
            each text in itemList
              li.list__item.list__item_with-bullet
                p.list__text=text