mixin list(settings)
  - const {
  -   title: {
  -     text = "For Change",
  -     type = false,
  -     teg = "p"
  -   },
  -   container: {
  -     attr = false
  -   },
  -   listType = false,
  -   listCheckbox = [
  -     {
  -       controller: {
  -         type: "checkbox",
  -         attr: {
  -           "type": "checkbox",
  -           "hidden": "hidden"
  -         },
  -       },
  -       text: {
  -          text: "For change 2",
  -          richText: false,
  -       }
  -     },
  -     {
  -       controller: {
  -         type: "checkbox",
  -         attr: {
  -           "type": "checkbox",
  -           "hidden": "hidden"
  -         },
  -       },
  -       text: {
  -          text: "For change 2",
  -          richText: false,
  -       }
  -     }
  -   ],
  -   textList = false,
  -   js: {
  -     main = false,
  -     title = false,
  -     list = false
  -   }
  - } = settings
  - let {
  -   title: {
  -     bullet = false,
  -     margin = false,
  -   }
  - } = settings
  - if(bullet) bullet = "list__title_with-bullet"
  - if(margin) margin = "list__title_with-margin"
  div(class=["list", main])
    div(class=["list__title", margin, bullet])
      +title({
        text: text,
        type: type,
        jsClass: title,
        teg: teg
      })
    ul(class=["list__container", list])&attributes(attr)
      if textList 
        each val in textList
          li(class=["list__item", "list__item_with-bullet"])
            p(class="list__text")=val
      else
        each val in listCheckbox
          li(class="list__item")
            +toggle(val)