mixin radio-special-button(description, title)
  h3.margin16.type-h3= title
  div.switch
    label.type-simple-text
      input.special-toggle(type="checkbox")
      span.special-toggle-imitation
      = description