include checkbox-button.pug
include radio-gender-button.pug
include radio-special-button.pug
include like-button.pug

form.opportunities-form(action="#")
  +opportunities-checkbox-list("Можно курить", "Checkbox Buttons")
  +opportunities-checkbox-list("Можно с питомцами")
  +opportunities-checkbox-list("Можно пригласить гостей (до 10 человек)")
form.gender-form(action="#")
  +radio-gender("radio buttons")
form.toggle-form(action="#")
  +radio-special-button("Получать спецпредложения", "toggle")
  +radio-special-button("Получать спецпредложения")
form.like-button-form(action="#")
  +like-button("like button")