mixin registration(settings)
  - const {
  -   action = "./for-change",
  -   loginLink = "./for-change"
  - } = settings
  form(action=action).registration
    div.registration__title
      +title({
        text: "Регистрация аккаунта",
        fontSize: "large"
      })
    div.registration__personal-data
      div.registration__name
        +input({
          title: {},
          input: {
            attr: {
              "type": "text",
              "placeholder": "Имя"
            },
            length: "long",
            type: "regular"
          }
        })
      div.registration__surname
        +input({
          title: {},
          input: {
            attr: {
              "type": "text",
              "placeholder": "Фамилия"
            },
            length: "long",
            type: "regular"
          }
        })
      div.registration__gender
        div.registration__male
          +radio-button({
            text: "Мужчина",
            name: "gender",
            value: "male",
            isChecked: true,
          })
        div.registration__female
          +radio-button({
            text: "Женщина",
            name: "gender",
            value: "female",
          })
    div.registration__birthday
      +input({
        title: { text: "дата рождения" },
        input: {
          attr: {
            type: "text",
            placeholder: "ДД.ММ.ГГГГ"
          },
          length: "long",
          type: "date"
        }
      })
    div.registration__login-data
      div.registration__login-title
        +title({text: "данные для входа в сервис"})
      div.registration__email
        +input({
          title: {},
          input: {
            attr: {
              "type": "email",
              "placeholder": "Email"
            },
            length: "long",
            type: "regular"
          }
        })
      div.registration__pass
        +input({
          title: {},
          input: {
            attr: {
              "type": "password",
              "placeholder": "Пароль"
            },
            length: "long",
            type: "regular"
          }
        })
      +toggle({
        text: "Получать спецпредложения",
      })
    div.registration__confirm-button
      +confirm-button({
        text: "зарегистрироваться",
      })
    div.registration__login
      p.registration__text="Уже есть аккаунт на Toxin"
      a(href=loginLink).registration__link
        +button({
          type: "border",
          text: "Войти",
        })
