mixin registration(settings)
  - let action = ""
  - if (settings) {
  -   settings.hasOwnProperty("action") ? action = settings.action : action = ""
  - };
  form(action=action).registration
    block

mixin registration__birthday()
  .registration__birthday
    block

mixin registration__confirm-button()
  .registration__confirm-button
    block

mixin registration__gender()
  .registration__gender
    block

mixin registration__login()
  .registration__login
    block

mixin registration__login-data()
  .registration__login-data
    block

mixin registration__personal-data()
  .registration__personal-data
    block

mixin registration__name()
  .registration__name
    block

mixin registration__surname()
  .registration__surname
    block

mixin registration__email()
  .registration__email
    block

mixin registration__pass()
  .registration__pass
    block


mixin registration__text(settings)
  - let text = ""
  - if (settings) { 
  -   settings.hasOwnProperty("text") ? text = settings.text : text = ""
  - };
  p.registration__text=text

mixin registration__title(settings)
  - let text = ""
  - if (settings) { 
  -   settings.hasOwnProperty("text") ? text = settings.text : text = ""
  - }
  .registration__title
    +title({
      text: text,
      type: "big"
    })