include __title/registration__title.pug
include __personal-data/registration__personal-data.pug
include __gender/registration__gender.pug
include __birthday/registration__birthday.pug
include __login-data/registration__login-data.pug
include __confirm-button/registration__confirm-button.pug
include __login/registration__login.pug
include __text/registration__text.pug

mixin registration(settings)
  - let action = ""
  - if (settings) {
  -   settings.hasOwnProperty("action") ? action = settings.action : action = ""
  - };
  form(action=action).registration
    block