@import '__gender/registration__gender.scss';
@import '__text/registration__text.scss';
@import '__login/registration__login.scss';

.registration {
  padding: 40px 30px 30px;
  background-color: white;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  max-width: 380px;
  box-sizing: border-box;
  &__title {
    margin-bottom: 20px;
  }
  &__personal-data {
    margin-bottom: 24px;
    .input {
      margin-bottom: 10px;
    }
  }
  &__birthday {
    margin-bottom: 20px;
  }
  &__login-data {
    margin-bottom: 24px;
    input {
      margin-bottom: 10px;
    }
  }
  &__confirm-button {
    margin-bottom: 30px;
  }
  &__gender {
    .toggle__wrapper:first-child {
      margin-right: 20px;
    }
  }
}