mixin registration(settings)
  - const {
  -   action = "./for-change",
  -   loginLink = "./for-change"
  - } = settings
  form(action=action).registration
    div.registration__title
      +title({
        text: "Регистрация аккаунта",
        fontSize: "large"
      })
    div.registration__personal-data
      div.registration__name
        +input({
          attrs: { placeholder: "Имя", },
        })
      div.registration__surname
        +input({
          attrs: { placeholder: "Фамилия", },
        })
      div.registration__gender
        div.registration__male
          +radio-button({
            text: "Мужчина",
            name: "gender",
            value: "male",
            isChecked: true,
          })
        div.registration__female
          +radio-button({
            text: "Женщина",
            name: "gender",
            value: "female",
          })
    div.registration__birthday
      +input({
        titleText: "дата рождения" ,
        isDateMask: true,
        attrs: { placeholder: "ДД.ММ.ГГГГ", },
      })
    div.registration__login-data
      div.registration__login-title
        +title({text: "данные для входа в сервис"})
      div.registration__login-data-inputs
        div.registration__email
          +input({
            attrs: {
              placeholder: "Email",
              type: "email",
              required: "required",
            },
          })
        div.registration__pass
          +input({
            attrs: {
              placeholder: "Пароль",
              type: "password",
              required: "required",
            },
          })
        +toggle({
          text: "Получать спецпредложения",
        })
    div.registration__confirm-button
      +confirm-button({
        text: "зарегистрироваться",
      })
    div.registration__login
      p.registration__text="Уже есть аккаунт на Toxin"
      a(href=loginLink).registration__link
        +button({
          text: "Войти",
          isBorder: true,
        })
