@import "variables.scss";
@import "fonts/fonts.scss";
// ---------------------------------------------
.dates-dropdown-body {
  width: 380px;
  height: 374px;
  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 40px 0 30px 30px;
  position: relative;
  margin: auto;
  margin-top: 70px;
}





// ---------------------------------------------
@import "ui-blocks/text-styles/text-styles__types.scss";
@import "ui-blocks/palette/palette.scss";
@import "ui-blocks/text-styles/text-styles.scss";
@import "ui-blocks/form-elements/fields-toggles-buttons/fields/fields.scss";
@import "ui-blocks/form-elements/fields-toggles-buttons/toggles/toggles.scss";
@import "ui-blocks/form-elements/fields-toggles-buttons/buttons/buttons.scss";
@import "ui-blocks/form-elements/dropdown/dropdown-rooms/dropdown-rooms.scss";
@import "ui-blocks/form-elements/dropdown/dropdown-quests/dropdown-guests.scss";
@import "ui-blocks/form-elements/checkboxes-buletes/expandable-checkbox-list/expandable-checkbox-list.scss";
@import "ui-blocks/form-elements/checkboxes-buletes/rich-checkbox-button/rich-checkbox-button.scss";
@import "ui-blocks/form-elements/checkboxes-buletes/bullet-list/bullet-list.scss";
@import "ui-blocks/form-elements/additional/virtues/virtues.scss";
@import "ui-blocks/form-elements/additional/review/review.scss";
@import "ui-blocks/cards/rooms-search/rooms-search.scss";
@import "ui-blocks/cards/registration-form/registration-form.scss";
@import "ui-blocks/cards/reservation-form/reservation-form.scss";
@import "ui-blocks/cards/login-form/login-form.scss";
@import "ui-blocks/cards/rooms-form/rooms-form.scss";
@import "ui-blocks/cards/datepicker/datepicker.scss"