include blocks/header/header.pug
include blocks/logo/logo.pug
include blocks/nav/nav.pug
include blocks/button/button.pug
include blocks/footer/footer.pug
include blocks/social-media-link/social-media-link.pug
include blocks/copyright/copyright.pug
include blocks/input/input.pug
include blocks/search-room/search-room.pug
include blocks/dropdown/dropdown.pug
include blocks/datepicker/datepicker.pug
include blocks/title/title.pug

doctype html
html
  head
    meta(charset="utf-8")
    meta(name="description" content="Landing page of the hotel room website.")
    meta(name="keywords" content="HTML, CSS, JavaScript")
    meta(name="viewport" content="initial-scale=1.0, width=device-width")
    title Landing Page
  body
    .landing-page
      header.landing-page__header
        +header()
          +header__logo()
            +logo({
              src: "img/logo-color.svg"
            })
          +header__nav()
            +nav()
              +nav__link({
                links: [
                  {"text": "О нас"},
                  {"text": "Услуги", "type": "expanded"},
                  {"text": "Вакансии"},
                  {"text": "Новости"},
                  {"text": "Соглашения", "type": "expanded"}
                ]
              })
          +header__buttons()
      main.landing-page__main 
        +search-room({
          action: "./for-change"
        })
          +search-room__title({
            text: "Найдём номера под ваши пожелания"
          })
          +search-room__period({})
            +input()
              +input__title()
                +title({
                  text: "прибытие"
                })
              +input__field({
                attr: {
                  "type": "text",
                  "placeholder": "ДД.ММ.ГГГГ",
                  "value": "ДД.ММ.ГГГГ",
                  "readonly": "readonly"
                },
                length: "s",
                type: "dropdown",
                jsClass: "js-input__field_from"
                })
            +input()
              +input__title()
                +title({
                  text: "выезд"
                })
              +input__field({
                attr: {
                  "type": "text",
                  "placeholder": "ДД.ММ.ГГГГ",
                  "value": "ДД.ММ.ГГГГ",
                  "readonly": "readonly"
                },
                length: "s",
                type: "dropdown",
                jsClass: "js-input__field_to"
              })
            +datepicker({
              jsClass: "js-datepicker",
              attr: {
                "hidden": "hidden"
              }
            })
          +search-room__guests()
            +dropdown()
              +dropdown__input({expanded: false})
                +input()
                  +input__title({type: "with-state"})
                    +title({
                      text: "гости"
                    })
                  +input__field({
                    attr: {
                      "type": "text",
                      "placeholder": "Text",
                      "value": "Сколько гостей",
                      "readonly": "readonly"
                    },
                    length: "l",
                    type: "dropdown",
                    jsClass: "js-input__field"
                  })
              +dropdown__control({
                jsClass: "js-dropdown__control",
                attr: {"hidden": "hidden"}
              })
                +dropdown__list({
                  elements: [
                    { 
                      text: "взрослые",
                      dataTarget: "adult",
                      output: "0"
                    },
                    { 
                      text: "дети",
                      dataTarget: "child",
                      output: "0"
                    },
                    { 
                      text: "младенцы",
                      dataTarget: "baby",
                      output: "0",
                    },
                  ]
                })
                +dropdown__submit-buttons({hidden: true})
          +search-room__confirm-button()
            +button({
              type: "big",
              text: "подобрать номер",
              attr: {"type": "submit"}
            })
      footer.landing-page__footer
        +footer()
          +footer__description({
            text: "Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные взгляды»"
          })
          +footer__nav({
            lists: [
              [
                {"text": "навигация"}, 
                {"text": "О нас"},
                {"text": "Новости"},
                {"text": "Служба поддержки"},
                {"text": "Услуги"}
              ],
              [
                {"text": "о нас"}, 
                {"text": "О сервисе"},
                {"text": "Наша команда"},
                {"text": "Вакансии"},
                {"text": "Инвесторы"}
              ],
              [
                {"text": "Служба поддержки"}, 
                {"text": "Соглашения"},
                {"text": "Сообщества"},
                {"text": "Связь с нами"}
              ]
            ]
          })
          +footer__subscribe({
            title: "Подписка",
            text: "Получайте специальные предложения и новости сервиса"
          })
        +copyright({
          text: "Copyright © 2018 Toxin отель. Все права защищены."
        })
          +copyright__social-media()
            +social-media-link({
              socialLinks: [
                {
                  "name": "twitter",
                  "iconSrc": "img/twitter.svg"
                },
                {
                  "name": "facebook",
                  "iconSrc": "img/facebook.svg"
                },
                {
                  "name": "instagram",
                  "iconSrc": "img/instagram.svg"
                }
              ]
            })