doctype html
html(lang=ru)
  head
    title Registation
  body
    header.registration__header
      include ui-blocks/headers-footers/headers/header__login-form-ru.pug
    main.registration__main
      div.registation__registration-body.registration-form-body
        include ./ui-blocks/cards/registration-form/registration-form.pug
    footer.registration__footer
      include /ui-blocks/headers-footers/footers/footers__big-footer-ru.pug