doctype html
html
  head
    title 
    meta(charset='utf-8')
    meta(name='description' content='Registation page of the hotel room website.')
    meta(name='keywords' content='HTML, CSS, JavaScript')
    meta(name='viewport' content='initial-scale=1.0, width=device-width')
  body
    header.registration__header
      include ui-blocks/headers-footers/headers/header__login-form-ru.pug
    main.registration__main
      div.registation__registration-body.registration-form-body
        include ./ui-blocks/cards/registration-form/registration-form.pug
    footer.registration__footer
      include /ui-blocks/headers-footers/footers/footers__big-footer-ru.pug