@import 'overall/variables.scss';
@import 'fonts/fonts.scss';
@import 'blocks/header/header.scss';
@import 'blocks/logo/logo.scss';
@import 'blocks/nav/nav.scss';
@import 'blocks/button/button.scss';
@import 'blocks/footer/footer.scss';
@import 'blocks/social-media-link/social-media-link.scss';
@import 'blocks/copyright/copyright.scss';
@import 'blocks/input/input.scss';
@import 'blocks/final-booking/final-booking.scss';
@import 'blocks/room-info/room-info.scss';
@import 'blocks/positive-feature/positive-feature.scss';
@import 'blocks/impressions-diagram/impressions-diagram.scss';
@import 'blocks/comment/comment.scss';
@import 'blocks/toggle/toggle.scss';
@import 'blocks/list/list.scss';

body {
  margin: 0;
  background: #F4F4F6;
}
.room-details__header {
  max-width: 1440px;
  min-width: 420px;
  margin: auto;
}
.room-details__footer {
  max-width: 1440px;
  min-width: 420px;
  margin: auto;
  position: relative;
  border-top: 1px solid $dark25 ;
  .footer-wrapper {
    .footer__nav-wrapper {
      .footer__nav:first-child {
        margin-right: 57px;
      }
      .footer__nav:last-child {
        margin-left: 92px;
      }
    }
    .footer__logo {
      max-width: 260px;
    }
    .footer__nav-wrapper {
      margin: 0 50px 0 40px;
    }
  }
  .copyright {
    margin-top: 1px;
  }
}
.room-details__main {
  max-width: 1440px;
  min-width: 420px;
  background-color: white;
  margin: auto;
  .room-details__room-photos  {
    position: relative;
    .room-photo_big {
      width: 68.13%;
      display: inline-block;
      vertical-align: top;
    }
    .room-details__small-photos-wrapper {
      display: inline-block;
      position: absolute;
      right: 0;
      max-width: 31.87%;
      height: 100%;
      .room-photo {
        height: 50%;
        vertical-align: top;
      }
    }
  }
  .room-details__details {
    padding: 70px 140px;
    .room-details__title {
      margin: 0 0 20px;
    }
    .final-booking {
      float: right;
      margin-left: 40px;
    }
    .room-information {
      max-width: 280px;
      margin-right: 106px;
      .positive-feature:last-child {
        padding: 17px 0 0;
        border-bottom: none;
      }
    }
    .room-impressions, .room-information {
      display: inline-block;
      vertical-align: top;
    }
    .rules {
      max-width: 269px;
      .list__item:not(:last-child) {
        margin-bottom: 10px;
      }
      .room-details__title {
        margin-left: 20px;
      }
      margin-right: 90px;
    }
    .rules, .cancellation {
      display: inline-block;
    }
    .cancellation {
      max-width: 341px;
    }
  }
  .visitor-reviews {
    max-width: 720px;
    margin: 30px 0;
    .visitor-reviews__title {
      display: inline-block;
    }
    .visitor-reviews__counter {
      display: inline-block;
      float: right;
      margin: 0;
    }
    .comment:last-child {
      margin-top: 23px;
    }
  }
}

@media screen and (max-width: 1440px) {
  .footer-wrapper {
    padding: 100px 50px;
  }
}
@media screen and (max-width: 1420px) {
  .room-details__main .room-details__details .room-impressions {
    display: block;
    margin-top: 30px;
  }
  .room-details__main .room-details__details .room-information {
    margin-right: 0;
  }
}
@media screen and (max-width: 1256px) {
  .footer__nav-wrapper {
    margin: 0 0 0 40px;
    float: right;
  }
  .footer__subscribe {
    margin-top: 50px;
  }
}
@media screen and (max-width: 1020px) {
  .room-details__main .room-details__details {
    padding: 70px;
  }
}
@media screen and (max-width: 1000px) {
  .footer-wrapper {
    padding: 100px 0 100px 200px;
  }
  .room-details__footer .footer-wrapper .footer__nav-wrapper {
    display: block;
    float: none;
    margin: 0;
    margin: 50px 0 0;
  }
  .footer__subscribe {
    margin-top: 0;
    position: absolute;
    left: 500px; top: 100px;
  }
}
@media screen and (max-width: 880px) {
  .room-details__main .room-details__details .final-booking {
    float: none;
    margin-left: 0;
    margin: 0 auto 30px;
  }
  .room-details__main .room-details__details .room-information {
    margin-right: 40px;
  }
  .room-details__main .room-details__details .room-impressions {
    margin: 0;
    display: inline-block;
  }
}
@media screen and (max-width: 850px) {
  .room-details__header {
    .nav {
      max-width: 290px;
      margin-bottom: 10px;
      .nav__link:nth-child(2) {
        margin-right: 0;
      }
    }
  }
  .footer-wrapper {
    padding: 60px 0px 60px 100px;
  }
  .footer__subscribe {
    left: 400px; top: 60px;
  }
  .copyright {
    .copyright__text, .social-networks {
      display: block;
      float: none;
      text-align: center;
    }
    .social-networks {
      margin-top: 20px;
    }
  }
  .room-details__main .room-details__details .rules {
    margin: auto;
    display: block;
  }
  .room-details__main .room-details__details .cancellation {
    display: block;
    margin: 30px auto 0;
  }
}
@media screen and (max-width: 750px) {
  .room-details__main .room-details__details .room-impressions {
    margin: 30px auto 0;
    display: block;
    max-width: 315px;
  }
  .room-details__main .room-details__details .room-information {
    margin-right: 0;
    margin: auto;
    display: block;
  }
}
@media screen and (max-width: 680px) {
  .header-wrapper {
    padding: 18px 60px;
  }
  .footer-wrapper {
    padding: 60px 0 60px 200px;
  }
  .room-details__main .search-room {
    left: 70px;
  }
  .footer__subscribe {
    position: static;
    margin-top: 40px;
  }
  .room-details__footer .footer-wrapper .footer__nav-wrapper .footer__nav:last-child {
    margin: 40px 0 0;
    display: block;
  }
  .copyright {
    padding: 23px 60px;
  }
}
@media screen and (max-width: 600px) {
  .footer-wrapper {
    padding: 60px 0 60px 60px;
  }
}
@media screen and (max-width: 570px) {
  .room-details__main .room-details__details {
      padding: 70px 20px;
  }
}
@media screen and (max-width: 480px) {
  .room-details__main .search-room {
    left: 30px;
  }
}
@media screen and (max-width: 440px) {
  .header-wrapper {
    .header__unauthorized {
      margin: 0;
    }
  }
}