include blocks/header/header.pug
include blocks/logo/logo.pug
include blocks/nav/nav.pug
include blocks/button/button.pug
include blocks/footer/footer.pug
include blocks/social-media-link/social-media-link.pug
include blocks/copyright/copyright.pug
include blocks/input/input.pug
include blocks/final-booking/final-booking.pug
include blocks/room-info/room-info.pug
include blocks/positive-feature/positive-feature.pug
include blocks/impressions-diagram/impressions-diagram.pug
include blocks/user-comment/user-comment.pug
include blocks/toggle/toggle.pug
include blocks/list/list.pug
include blocks/title/title.pug
include blocks/datepicker/datepicker.pug
include blocks/dropdown/dropdown.pug

doctype html
html
  head
    title Room Details
    meta(charset="utf-8")
    meta(name="description" content="Room Details page of the hotel room website.")
    meta(name="keywords" content="HTML, CSS, JavaScript")
    meta(name="viewport" content="initial-scale=1.0, width=device-width")
  body
    .room-details
      header.room-details__header
        +header()
          +header__logo()
            +logo({
              src: "img/logo-color.svg"
            })
          +header__nav()
            +nav()
              +nav__link({
                links: [
                  {"text": "О нас"},
                  {"text": "Услуги", "type": "expanded"},
                  {"text": "Вакансии"},
                  {"text": "Новости"},
                  {"text": "Соглашения", "type": "expanded"}
                ]
              })
          +header__buttons()
      main.room-details__main
        .room-details__photos 
          img(src="./img/room-photo-big.jpg", alt="Room photo"  class="room-photo room-photo_big")
          .room-details__photos-wrapper
            img(src="./img/room-photo-small1.jpg", alt="Room photo" class="room-photo room-photo_small_upper")
            img(src="./img/room-photo-small2.jpg", alt="Room photo" class="room-photo room-photo_small_lower")
        .room-details__details
          .room-details__details-wrapper
            .room-details__final-booking
              +final-booking({
                action: "for-change"
              })
                +final-booking__room-info({
                  number: "888",
                  price: "9 990",
                  type: "luxury"
                })
                +final-booking__period({})
                  +input()
                    +input__title()
                      +title({
                        text: "прибытие"
                      })
                    +input__field({
                      attr: {
                        "type": "text",
                        "placeholder": "ДД.ММ.ГГГГ",
                        "value": "19.08.2019",
                        "readonly": "readonly"
                      },
                      length: "s",
                      type: "dropdown",
                      jsClass: "js-input__field_from",
                      })
                  +input()
                    +input__title()
                      +title({
                        text: "выезд"
                      })
                    +input__field({
                      attr: {
                        "type": "text",
                        "placeholder": "ДД.ММ.ГГГГ",
                        "value": "23.08.2019",
                        "readonly": "readonly"
                      },
                      length: "s",
                      type: "dropdown",
                      jsClass: "js-input__field_to",
                    })
                  +datepicker({
                    jsClass: "js-datepicker",
                    attr: {
                      "hidden": "hidden"
                    }
                  })
                +final-booking__guests()
                  +dropdown()
                    +dropdown__input({expanded: false})
                      +input()
                        +input__title()
                          +title({
                            text: "гости"
                          })
                        +input__field({
                          attr: {
                            "type": "text",
                            "placeholder": "Сколько гостей",
                            "value": "3 гостя",
                            "readonly": "readonly"
                          },
                          length: "l",
                          type: "dropdown",
                          jsClass: "js-input__field"
                        })
                    +dropdown__control({
                      jsClass: "js-dropdown__control",
                      attr: {"hidden": "hidden"}
                    })
                      +dropdown__list({
                        elements: [
                          { 
                            text: "взрослые",
                            dataTarget: "adult",
                            output: "2"
                          },
                          { 
                            text: "дети",
                            dataTarget: "child",
                            output: "1"
                          },
                          { 
                            text: "младенцы",
                            dataTarget: "baby",
                            output: "0",
                          },
                        ]
                      })
                      +dropdown__submit-buttons({hidden: true})
                +final-booking__service-list()
                  +final-booking__service({
                    title: "9 990₽ х 4 суток",
                    price: "39 960₽"
                  })
                  +final-booking__service({
                    title: "Сбор за услуги: скидка 2 179₽",
                    price: "0₽",
                    modifier: "with-sign"
                  })
                  +final-booking__service({
                    title: "Сбор за дополнительные услуги",
                    price: "300₽",
                    modifier: "with-sign"
                  })
                  +final-booking__service({
                    title: "Итого",
                    price: "38 081₽",
                    type: "total"
                  })
                +final-booking__confirm-button()
                  +button({
                    type: "big",
                    text: "забронировать",
                    attr: {"type": "submit"}
                  })
            .room-details__float-wrapper
              .room-details__positive-features
                +title({
                  text: "Сведения о номере",
                  type: "middle",
                  teg: "h2"
                })
                +positive-feature({border: "border_bottom"})
                  +positive-feature__img({
                    attr: {
                      "alt": "Feeling comfortable",
                      "src": "img/smile.svg"
                    }
                  })
                  +positive-feature__text({
                    titleText: "Комфорт",
                    descText: "Шумопоглощающие стены"
                  })
                +positive-feature({border: "border_bottom"})
                  +positive-feature__img({
                    attr: {
                      "alt": "Abstract image of a modern house",
                      "src": "img/house.svg"
                    }
                  })
                  +positive-feature__text({
                    titleText: "Удобство",
                    descText: "Окно в каждой из спален"
                  })
                +positive-feature()
                  +positive-feature__img({
                    attr: {
                      "alt": "cozy flame",
                      "src": "img/flame.svg"
                    }
                  })
                  +positive-feature__text({
                    titleText: "Уют",
                    descText: "Номер оснащён камином"
                  })
              .room-details__impressions
                +title({
                  text: "Впечатления от номера",
                  type: "middle",
                  teg: "h2"
                })
                +impressions-diagram({
                  text: "",
                  lines: [
                    {text: "Великолепно", type: "perfectly"},
                    {text: "Хорошо", type: "good"},
                    {text: "Удовлетворительно", type: "satisfactorily"},
                    {text: "Разочарован", type: "disappointed"}
                  ]
                })
              .room-details__comments
                .room-details__comments-title
                  +title({
                    text: "Отзывы посетителей номера",
                    type: "middle",
                    teg: "h2"
                  })
                  span.room-details__comments-count="2 отзыва"
                +user-comment()
                  +user-comment__title({
                    avatarSettings: {
                      attr: {
                        "alt": "Profile picture",
                        "src": "img/user.jpg"
                      }
                    },
                    infoSettings: {
                      name: "Мурад Сарафанов",
                      daysHavePassed: "5 дней назад"
                    }
                  })
                  +user-comment__main({
                    likeSettings: {text: "12", checked: true},
                    textSettings: {text: "Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей."},
                  })
                +user-comment()
                  +user-comment__title({
                    avatarSettings: {
                      attr: {
                        "alt": "Profile picture",
                        "src": "img/user2.jpg"
                      }
                    },
                    infoSettings: {
                      name: "Патрисия Стёклышкова",
                      daysHavePassed: "Неделю назад"
                    }
                  })
                  +user-comment__main({
                    likeSettings: {text: "2", checked: false},
                    textSettings: {text: "Обслуживание на высоте! Всё аккуратно, чисто. Завтраки в номер советую заказать, каждый день новое блюдо и десерт как комплимент"},
                  })
              .room-details__rules
                +list()
                  +list__title({
                    text: "Правила",
                    type: "middle",
                    bullet: true,
                    teg: "h2"
                  })
                  +list__container()
                    +list__item({type: "bullet"})
                      +list__text({
                        text: "Нельзя с питомцами"
                      })
                    +list__item({type: "bullet"})
                      +list__text({
                        text: "Без вечеринок и мероприятий"
                      })
                    +list__item({type: "bullet"})
                      +list__text({
                        text: "Время прибытия — после 13:00, а выезд до 12:00"
                      })
              .room-details__cancellation
                .cancellation
                  .cancellation__title
                    +title({
                      text: "Отмена",
                      type: "middle",
                      teg: "h2"
                    })
                  p.cancellation__text="Бесплатная отмена в течение 48 ч. После этого при отмене не позднее чем за 5 дн. до прибытия вы получите полный возврат за вычетом сбора за услуги."
      footer.room-details__footer
        +footer()
          +footer__description({
            text: "Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные взгляды»"
          })
          +footer__nav({
            lists: [
              [
                {"text": "навигация"}, 
                {"text": "О нас"},
                {"text": "Новости"},
                {"text": "Служба поддержки"},
                {"text": "Услуги"}
              ],
              [
                {"text": "о нас"}, 
                {"text": "О сервисе"},
                {"text": "Наша команда"},
                {"text": "Вакансии"},
                {"text": "Инвесторы"}
              ],
              [
                {"text": "Служба поддержки"}, 
                {"text": "Соглашения"},
                {"text": "Сообщества"},
                {"text": "Связь с нами"}
              ]
            ]
          })
          +footer__subscribe({
            title: "Подписка",
            text: "Получайте специальные предложения и новости сервиса"
          })
        +copyright({
          text: "Copyright © 2018 Toxin отель. Все права защищены."
        })
          +copyright__social-media()
            +social-media-link({
              socialLinks: [
                {
                  "name": "twitter",
                  "iconSrc": "img/twitter.svg"
                },
                {
                  "name": "facebook",
                  "iconSrc": "img/facebook.svg"
                },
                {
                  "name": "instagram",
                  "iconSrc": "img/instagram.svg"
                }
              ]
            })