body {
  background: #E5E5E5;
  margin: 0px;
}
// ---------------------------------------------------------

// Imports -------------------------------------------------
@import "variables.scss";
@import "fonts/fonts.scss";
@import "ui-blocks/headers-footers/headers/header.scss";
@import "ui-blocks/form-elements/fields-toggles-buttons/fields/fields.scss";
@import "ui-blocks/text-styles/text-styles__types.scss";
@import "ui-blocks/form-elements/dropdown/dropdown-rooms/dropdown-rooms.scss";
@import "ui-blocks/form-elements/dropdown/dropdown-quests/dropdown-guests.scss";
@import "ui-blocks/palette/palette.scss";
@import "ui-blocks/text-styles/text-styles.scss";
@import 'ui-blocks/form-elements/fields-toggles-buttons/buttons/buttons.scss';
@import "ui-blocks/headers-footers/footers/footers.scss";
@import "ui-blocks/cards/rooms-search/rooms-search.scss";
@import "ui-blocks/form-elements/fields-toggles-buttons/toggles/toggles.scss";
@import "ui-blocks/form-elements/checkboxes-buletes/expandable-checkbox-list/expandable-checkbox-list.scss";
@import "ui-blocks/form-elements/checkboxes-buletes/rich-checkbox-button/rich-checkbox-button.scss";
@import "ui-blocks/cards/rooms-form/rooms-form.scss";
@import "ui-blocks/cards/reservation-form/reservation-form.scss";
// ----------------------------------------------------------

// Header ---------------------------------------------------
.search-room__header {
  background: #FFFFFF;
  box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
  padding: 15px 140px;
  max-width: 1440px;
  min-width: 588px;
  margin: auto;
  z-index: 2;
  position: relative;
  box-sizing: border-box;
}
.border-button-body, .border-button {
  width: 87px;
  height: 34px;
}
.border-button-label {
  box-sizing: border-box;
  width: 83px;
  height: 30px;
  line-height: 30px;
}
.header__login__login-body {
  top: -5px;
}
.simple-button {
  height: 34px;
}
.landin-page__header {
  height: 70px;
  box-sizing: border-box;
}
.border-button-body {
  .border-button {
    position: relative;
    top: -7px;
  }
}
.header__login__login-body {
  top: 4px;
}
// ------------------------------------------------

// Main -------------------------------------------
.search-room__main {
  padding: 30px 120px 30px 140px;
  margin: auto;
  max-width: 1440px;
  min-width: 588px;
  background: white;
  z-index: 1;
  position: relative;
  box-sizing: border-box;
}
.search-room__left-filter-list {
  width: 266px;
  box-sizing: border-box;
  display: inline-block;
  .margin40 {
    margin-bottom: 5px;
  }
  .margin20 {
    margin: 20px 0 5px
  }
  .dropdown-guests-field-body {
    width: 266px;
  }
  #price-range-form {
    margin-top: 30px;
  }
  h3 {
    width: 100%;
  }
}
.rich-checkbox-button__button__text {
  line-height: 14px;
}
.opportunities-text {
  margin-bottom: 5px;
  width: 203px;
}
.search-room__dropdown-rooms {
  margin-bottom: 15px;
}
.search-room__rooms-cards {
  display: inline-block;
  vertical-align: top;
  margin-left: 60px;
  width: 846px;
}
.search-room__rooms-card-body {
  width: 270px;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  height: 257px;
  position: relative;
  z-index: 2;
  display: inline-block;
  margin: 0 12px 20px 0;
  box-sizing: border-box;
  .rooms-form__room-img {
    img {
      width: 270px;
    }
  }
}
.margin20 {
  margin-bottom: 20px;
}
.opportunities-form, .dropdown-guests-body {
  width: 266px;
}
.search-room__rooms-cards__nav {
  width: 240px;
  text-align: center;
  margin-left: 295px;
}
.rooms-form__room-img {
  position: relative;
  .search-room__rooms-card-body__left-button {
    position: absolute;
    width: 42px;
    height: 151px;
    border-top-left-radius: 4px;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 99.99%, rgba(255, 255, 255, 0) 100%);
    &::after {
      content: url("./img/fllipe-buuton.svg");
      display: block;
      line-height: 44px;
      text-align: center;  
      height: 44px;
      width: 44px;
      position: absolute;
      top: 53px;
      transform: rotate(180deg);
    }    
  }
  .search-room__rooms-card-body__right-button {
    position: absolute;
    right: 0;
    width: 42px;
    height: 151px;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 99.99%, rgba(255, 255, 255, 0) 100%);
    transform: matrix(-1, 0, 0, 1, 0, 0);
    &::after {
      content: url("./img/fllipe-buuton.svg");
      display: block;
      line-height: 44px;
      text-align: center;
      height: 44px;
      width: 44px;
      position: relative;
      top: 53px;
      transform: rotate(180deg);
    }  
  }
}
// ----------------------------------------------------

// Dropdowns ------------------------------------------
.rooms-expanded-strokes_body {
  display: none;
}
#ui-dropdown-rooms-button_border {
  border-color: rgba(31, 32, 65, 0.25);
  border-bottom: 1px solid rgba(31, 32, 65, 0.25);
}
#expandable-checkbox-list_title-button {
  transform: rotate(0deg);
}
#ui-expandable-checkbox-list_list-body {
  display: none;
}
// ----------------------------------------------------

// Footer ---------------------------------------------
.search-room__footer {
  margin: auto;
  max-width: 1440px;
  min-width: 588px;
  border-top: 1px solid #E5E5E5;
  background-color: white;
  .footers__big-footer__copyright-block {
    max-width: 1440px;
    min-width: 588px;
    box-sizing: border-box;
  }
}
.footers__big-footer {
  width: 100%;
}
.footers__big-footer__links-table {
  tr {
    th {
      width: 200px;
      padding: 0 0 20px 0;
    }
    td {
      width: 200px;
      padding: 0 0 20px 0;
    }
  }
}
.footers-big-footer-subscribe__text {
  width: 260px;
}
.text-field-subscription-body {
  width: 260px;
}
.footers__big-footer__copyright-block {
  margin-top: 0px;
  border-top: 1px solid #E5E5E5;
}
@-moz-document url-prefix() {
  .header__login__login-body {
    top: -19px;
  }
}
// ------------------------------------------------
@media(max-width:1440px){
  .search-room__header {
    margin: 0px;
  }
  .search-room__main {
    margin: 0px;
    padding: 30px 60px;
  }
  .search-room__footer {
    margin: 0px;
  }
}
@media(max-width:1265px){
  .search-room__header {
    padding: 15px 30px;
  }
}
@media(max-width:1048px){
  .search-room__header {
    height: 110px;
  }
  .header__login-form__nav-body {
    float: right;
    display: block;
  }
  .header__login__login-body {
    position: absolute;
    top: 55px;
    right: 66px;
  }
}
@media(max-width:750px){
  .search-room__header {
    height: 110px;
  }
  .header__login-form__nav-body {
    float: right;
    display: block;
  }
  .header__login__color-logo {
    margin-right: 40px;
  }
  .header__login__login-body {
    position: absolute;
    top: 15px;
  }
  .header__login-form table {
    margin-left: 42px;
    margin: 0px;
  }
  .footers-big-footer-subscribe {
    position: relative;
    top: -410px;
    left: 230px;
  }
}
@media(max-width:604px){
  .header__login__login-body {
    right: none;
    left: 218px;
  }
}
@media(max-width:900px){
  .footers__big-footer__copyright-block {
    padding: 0px 40px;
  }
}
@media(max-width:1310px){
  .search-room__main {
    padding: 30px 30px;
  }
  .search-room__rooms-cards {
    margin-left: 30px;
  }
}
@media(max-width:1310px){
  .search-room__main-content {
    margin: auto;
    width: 890px;
  }
  .search-room__rooms-cards {
    width: 590px;
    .search-room__rooms-cards__nav {
      margin-left: 15px;
    }
  }
}
@media(max-width: 910px){
  .search-room__rooms-cards {
    width:290px;
  }
}
@media(max-width: 653px){
  .search-room__rooms-cards {
    margin-left: 15px;
    .search-room__rooms-card-body {
      margin: 0 0 20px 0;
    }
  }
  .search-room__main {
    padding: 30px 10px;
  }
  .search-room__main-content {
    width: 572px;
  }
}
// Media Footer
@media(max-width:1440px){
  .search-room__footer .footers__big-footer {
    padding: 100px 0px 100px;
    width: 1050px;
    margin: auto;
  }
  .footers__big-footer__fishtext__text {
    width: 220px;
  }
  .footers-big-footer-subscribe, .text-field-subscription-body, .footers-big-footer-subscribe__text {
    width: 180px;
  }
}
@media(max-width:1100px){
  .search-room__footer .footers__big-footer {
    width: 920px;
  }
  .footers__big-footer__links-table {
    width: 160px;
  }
}
@media(max-width:955px){
  .header__login-form__nav-body {
    padding-left: 50px;
  }
  .header__login-form__nav-body {
    padding-left: 50px;
  }
  .footers__big-footer__fishtext {
    display: block;
    margin: 0;
  }
  .footers-big-footer-subscribe__text, .text-field-subscription-body {
    width: 250px;
  }
  .footers-big-footer-subscribe {
    position: absolute;
    top: 110px;
    left: 250px;
    width: 250px;
  }
  .search-room__footer .footers__big-footer {
    width: 500px;
    position: relative;
  }
  .footers__big-footer__links-table {
    margin-top: 40px;
  }
}
@media(max-width:670px){
  .header__login-form__nav-body {
    padding-left: 0px;
  }
}
