include blocks/header/header.pug
include blocks/logo/logo.pug
include blocks/nav/nav.pug
include blocks/button/button.pug
include blocks/footer/footer.pug
include blocks/copyright/copyright.pug
include blocks/input/input.pug
include blocks/login/login.pug
include blocks/form-title/form-title.pug
include blocks/button/button.pug
include blocks/toggle/toggle.pug

doctype html
html(lang=ru)
  head
    title Sing In
    meta(charset="utf-8")
    meta(name="description" content="Sing In page of the hotel room website.")
    meta(name="keywords" content="HTML, CSS, JavaScript")
    meta(name="viewport" content="initial-scale=1.0, width=device-width")
  body
    +header()
      +logo({
        src: "img/logo-color.svg"
      })
      +nav()
        +nav__link({
          links: [
            {"text": "О нас"},
            {"text": "Услуги", "type": "expanded"},
            {"text": "Вакансии"},
            {"text": "Новости"},
            {"text": "Соглашения", "type": "expanded"}
          ]
        })
      +header__buttons()
    main.main 
      +login({
        action: "for-change"
      })
        +form-title({text: "Войти"})
        .login__email-input
          +input({
            attr: {
              "type": "email",
              "placeholder": "Email"
            },
            length: "l",
            type: "simple"
          })
        .login__password-input
          +input({
            attr: {
              "type": "password",
              "placeholder": "Пароль"
            },
            length: "l",
            type: "simple"
          })
        .login__login-button
          +button({
            type: "big",
            text: "войти",
            attr: {"type": "submit"}
          })
        .login__registration-button
          +login__registration-question({text: "Нет аккаунта на Toxin?"})
          +button({
            type: "border",
            text: "создать",
            attr: {"type": "button"}
          })
    footer.footer
      +footer()
        +footer__description({
          text: "Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные взгляды»"
        })
        +footer__nav({
          lists: [
            [
              {"text": "навигация"}, 
              {"text": "О нас"},
              {"text": "Новости"},
              {"text": "Служба поддержки"},
              {"text": "Услуги"}
            ],
            [
              {"text": "о нас"}, 
              {"text": "О сервисе"},
              {"text": "Наша команда"},
              {"text": "Вакансии"},
              {"text": "Инвесторы"}
            ],
            [
              {"text": "Служба поддержки"}, 
              {"text": "Соглашения"},
              {"text": "Сообщества"},
              {"text": "Связь с нами"}
            ]
          ]
        })
        +footer__subscribe({
          title: "Подписка",
          text: "Получайте специальные предложения и новости сервиса"
        })
      +copyright({
        text: "Copyright © 2018 Toxin отель. Все права защищены."
      })
        .copyright__social-media
          +social-media-link({
            socialLinks: [
              {
                "name": "twitter",
                "iconSrc": "img/twitter.svg"
              },
              {
                "name": "facebook",
                "iconSrc": "img/facebook.svg"
              },
              {
                "name": "instagram",
                "iconSrc": "img/instagram.svg"
              }
            ]
          })