doctype html
html(lang=ru)
  head
    title Sing In
    meta(charset='utf-8')
    meta(name='description' content='Sing In page of the hotel room website.')
    meta(name='keywords' content='HTML, CSS, JavaScript')
    meta(name='viewport' content='initial-scale=1.0, width=device-width')
  body
    header.sing-in__header
      include ui-blocks/headers-footers/headers/header__login-form-ru.pug
    main.sing-in__main
      div.sing-in__login-body
        include ui-blocks/cards/login-form/login-form-ru.pug
    footer.sing-in__footer
      include ui-blocks/headers-footers/footers/footers__big-footer-ru.pug