@import 'overall/variables.scss';
@import 'fonts/fonts.scss';
@import 'blocks/header/header.scss';
@import 'blocks/logo/logo.scss';
@import 'blocks/nav/nav.scss';
@import 'blocks/button/button.scss';
@import 'blocks/footer/footer.scss';
@import 'blocks/social-media-link/social-media-link.scss';
@import 'blocks/copyright/copyright.scss';
@import 'blocks/input/input.scss';
@import 'blocks/form-title/form-title.scss';
@import 'blocks/button/button.scss';
@import 'blocks/toggle/toggle.scss';
@import 'blocks/login/login.scss';

body {
  margin: 0;
  background: #F4F4F6;
}
.header {
  max-width: 1440px;
  min-width: 420px;
  margin: auto;
  z-index: 2;
  position: relative;
}
.footer {
  max-width: 1440px;
  min-width: 420px;
  margin: auto;
  position: relative;
  .footer__wrapper {
    .footer__nav-wrapper {
      .footer__nav:first-child {
        margin-right: 57px;
      }
      .footer__nav:last-child {
        margin-left: 92px;
      }
    }
    .footer__description {
      max-width: 260px;
    }
    .footer__nav-wrapper {
      margin: 0 50px 0 40px;
    }
  }
  .copyright {
    margin-top: 1px;
  }
}
.main {
  min-height: 693px;
  max-width: 1440px;
  min-width: 420px;
  margin: auto;
  background-image: url('img/reg-back.jpg');
  background-position-y: -60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 1440px) {
  .footer__wrapper {
    padding: 100px 50px;
  }
}
@media screen and (max-width: 1256px) {
  .footer__nav-wrapper {
    margin: 0 0 0 40px;
    float: right;
  }
  .footer__subscribe {
    margin-top: 50px;
  }
}
@media screen and (max-width: 1000px) {
  .footer__wrapper {
    padding: 100px 0 100px 200px;
  }
  .footer .footer__wrapper .footer__nav-wrapper {
    display: block;
    float: none;
    margin: 0;
    margin: 50px 0 0;
  }
  .footer__subscribe {
    margin-top: 0;
    position: absolute;
    left: 500px; top: 100px;
  }
}
@media screen and (max-width: 850px) {
  .header {
    .nav {
      max-width: 290px;
      margin-bottom: 10px;
      .nav__link:nth-child(2) {
        margin-right: 0;
      }
    }
  }
  .footer__wrapper {
    padding: 60px 0px 60px 100px;
  }
  .footer__subscribe {
    left: 400px; top: 60px;
  }
  .copyright {
    .copyright__text, .copyright__social-media {
      display: block;
      float: none;
      text-align: center;
    }
    .copyright__social-media {
      margin-top: 20px;
    }
  }
}
@media screen and (max-width: 680px) {
  .header {
    padding: 18px 60px;
  }
  .footer__wrapper {
    padding: 60px 0 60px 200px;
  }
  .footer__subscribe {
    position: static;
    margin-top: 40px;
  }
  .footer .footer__wrapper .footer__nav-wrapper .footer__nav:last-child {
    margin: 40px 0 0;
    display: block;
  }
  .copyright {
    padding: 23px 60px;
  }
}
@media screen and (max-width: 600px) {
  .footer__wrapper {
    padding: 60px 0 60px 60px;
  }
}
@media screen and (max-width: 440px) {
  .header {
    .header__buttons {
      margin: 0;
    }
  }
}