doctype html
html(lang=en)
  head
    title UI-Kit
  body
    div.colors-types
      div.absolute-hight
      div.colors-palette
        include ui-blocks/palette/palette.pug
      div.text-type
        include ui-blocks/text-styles/text-styles.pug
    div.form-elements
      div.absolute-hight-2
      div.fields-toggles-buttons
        div.fields
          include ui-blocks/form-elements/fields-toggles-buttons/fields/fields.pug
        div.toggles
          include ui-blocks/form-elements/fields-toggles-buttons/toggles/toggles.pug
        div.buttons
          include ui-blocks/form-elements/fields-toggles-buttons/buttons/buttons.pug
      div.dropdown
        div.dropdown-rooms-body
          include ui-blocks/form-elements/dropdown/dropdown-rooms/dropdown-rooms.pug
        div.dropdown-guests-body-extended
          include ui-blocks/form-elements/dropdown/dropdown-quests/dropdown-guests.pug
      div.checkboxes-buletes
      div.additional