doctype html
html(lang=en)
  head
    title UI-Kit
  body
    div.colors-types
      div.absolute-hight
      div.colors-palette
        include ui-blocks/palette/palette.pug
      div.text-type
        include ui-blocks/text-styles/text-styles.pug
    div.form-elements
      div.absolute-hight-2
      div.fields-toggles-buttons
        div.fields
          include ui-blocks/form-elements/fields-toggles-buttons/fields/fields.pug
        div.toggles
          include ui-blocks/form-elements/fields-toggles-buttons/toggles/toggles.pug
        div.buttons
          include ui-blocks/form-elements/fields-toggles-buttons/buttons/buttons.pug
      div.dropdown
        div.dropdown-rooms-body
          include ui-blocks/form-elements/dropdown/dropdown-rooms/dropdown-rooms.pug
        div.dropdown-guests-body-extended
          include ui-blocks/form-elements/dropdown/dropdown-quests/dropdown-guests.pug
      div.checkboxes-buletes
        div.expandable-checkbox-list-body
          include ui-blocks/form-elements/checkboxes-buletes/expandable-checkbox-list/expandable-checkbox-list.pug
        div.rich-checkbox-button-body
          include ui-blocks/form-elements/checkboxes-buletes/rich-checkbox-button/rich-checkbox-button.pug
        div.bullet-list-body
          include ui-blocks/form-elements/checkboxes-buletes/bullet-list/bullet-list.pug
      div.additional
        div.virtues-body
          include ui-blocks/form-elements/additional/virtues/virtues.pug
        div.review-body
          include ui-blocks/form-elements/additional/review/review.pug
    div.cards
      div.rooms-search-body
        include ui-blocks/cards/rooms-search/rooms-search.pug
      div.registration-form-body
        include ui-blocks/cards/registration-form/registration-form.pug
      div.reservation-form-body
        include ui-blocks/cards/reservation-form/reservation-form.pug
      div.login-form-body
        include ui-blocks/cards/login-form/login-form.pug
      div.datepicker-form-body
        include ui-blocks/cards/datepicker/datepicker.pug
      div.room-888-form-body
        include ui-blocks/cards/rooms-form/rooms-form-888.pug
      div.room-840-form-body
        include ui-blocks/cards/rooms-form/rooms-form-840.pug
    div.footers-headers
      include ui-blocks/headers-footers/headers/header.pug
      include ui-blocks/headers-footers/footers/footers.pug