doctype html
html
  head
    title UI-Kit
    meta(charset="utf-8")
    meta(name="description" content="UI-Kit page of the hotel room website.")
    meta(name="keywords" content="HTML, CSS, JavaScript")
    meta(name="viewport" content="initial-scale=1.0, width=device-width")
  body
    include ui-kit-pages/content-types/content-types.pug
    include ui-kit-pages/form-elements/form-elements.pug
    include ui-kit-pages/cards/cards.pug
    include ui-kit-pages/headers-footers/headers-footers.pug