@import "variables.scss";
@import "fonts/fonts.scss";

.main-body {
  width: 1440px;
  margin: 0;
};
.colors-types {
  padding-left: 150px;
  padding-top: 145px;
  width: 1440px;
};
.logo {
  left: -110px; top: -110px;
  position: absolute;
}
.form-elements {
  width: 1440px;
  padding-left: 150px;
  padding-top: 145px;
  height: auto;
}
.absolute-hight, .absolute-hight-2 {
  height: 100%;
  width: 100%;
  position: absolute;
  display: none;
}
.fields, .toggles, .buttons, .dropdown-guests-body-extended {
  display: inline-block;
  vertical-align: top;
};
.buttons {
  width: 320px;
}
.toggles {
  margin-left: 126px;
}
.dropdown {
  margin-top: 100px;
  height: 600px;
}

@import "ui-blocks/text-styles/text-styles__types.scss";
@import "ui-blocks/palette/palette.scss";
@import "ui-blocks/text-styles/text-styles.scss";
@import "ui-blocks/form-elements/fields-toggles-buttons/fields/fields.scss";
@import "ui-blocks/form-elements/fields-toggles-buttons/toggles/toggles.scss";
@import "ui-blocks/form-elements/fields-toggles-buttons/buttons/buttons.scss";
@import "ui-blocks/form-elements/dropdown/dropdown-rooms/dropdown-rooms.scss";
@import "ui-blocks/form-elements/dropdown/dropdown-quests/dropdown-guests.scss";