.content-types {
  width: 1440px;
  padding: 145px 158px 145px 149px;
  position: relative;
  margin: auto;

  &__colors,
  &__text {
    display: inline-block;
  }

  &__text {
    vertical-align: top;
    float: right;
  }
}