include ../../blocks/page-head/page-head
include ../../blocks/logo/logo.pug
include ../../blocks/color-description/color-description.pug
include ../../blocks/text-sample/text-sample.pug

+page-head({title: "Content-Types", description: "Content types from UI-Kit"})
  body.body
    div.content-types
      +logo({
        imgSrc: "logo.svg",
        isInCorner: true
      })
      div.content-types__wrapper
        div.content-types__colors
          +color-description({
            color: "dark-100",
            name: "Dark Shade 100%",
            index: "#1F2041"
          })
          +color-description({
            color: "dark-75",
            name: "Dark Shade 75%", 
            index: "#1F2041"
          })
          +color-description({
            color: "dark-50",
            name: "Dark Shade 50%",
            index: "#1F2041"
          })
          +color-description({
            color: "dark-25",
            name: "Dark Shade 25%",
            index: "#1F2041"
          })
          +color-description({
            color: "dark-5",
            name: "Dark Shade 5%",
            index: "#1F2041"
          })
          +color-description({
            color: "purple",
            name: "Purple",
            index: "#BC9CFF"
          })
          +color-description({
            color: "green",
            name: "Green",
            index: "#6FCF97"
          })
        div.content-types__text
          +text-sample({
            type: "h1",
            tegName: "H1",
            description: "This one is the sub-section or widget title"
          })
          +text-sample({
            type: "h2",
            tegName: "H2",
            description: "Next one is the item name inside widgets",
          })
          +text-sample({
            type: "h3",
            tegName: "H3",
            description: "This is a label or CTA text"
          })
          +text-sample({
            type: "regular",
            tegName: "Body",
            description: "This is the body text which is used for most of the design, like paragraphs, lists, etc."
          })
