include ../../blocks/page-head/page-head
include ../../blocks/logo/logo.pug
include ../../blocks/color-description/color-description.pug
include ../../blocks/text-sample/text-sample.pug

+page-head({title: "Content-Types", desc: "Content types from UI-Kit"})
  body.body
    .content-types
      +logo({
        src: "img/logo.svg",
        position: "in-corner"
      })
      .content-types__wrapper
        .content-types__colors
          +color-description({
            color: "dark-100",
            name: "Dark Shade 100%",
            index: "#1F2041"
          })
          +color-description({
            color: "dark-75",
            name: "Dark Shade 75%", 
            index: "#1F2041"
          })
          +color-description({
            color: "dark-50",
            name: "Dark Shade 50%",
            index: "#1F2041"
          })
          +color-description({
            color: "dark-25",
            name: "Dark Shade 25%",
            index: "#1F2041"
          })
          +color-description({
            color: "dark-5",
            name: "Dark Shade 5%",
            index: "#1F2041"
          })
          +color-description({
            color: "purple",
            name: "Purple",
            index: "#BC9CFF"
          })
          +color-description({
            color: "green",
            name: "Green",
            index: "#6FCF97"
          })
        .content-types__text
          +text-sample({
            teg: {type: "h1", text: "H1"},
            description: {type: "h1", text: "This one is the sub-section or widget title"}
          })
          +text-sample({
            teg: {type: "h2", text: "H2"},
            description: {type: "h2", text: "Next one is the item name inside widgets"}
          })
          +text-sample({
            teg: {type: "h3", text: "H3"},
            description: {type: "h3", text: "This is a label or CTA text"}
          })
          +text-sample({
            teg: {type: "regular", text: "Body"},
            description: {type: "regular", text: "This is the body text which is used for most of the design, like paragraphs, lists, etc."}
          })
