include ../../blocks/page-head/page-head
include ../../blocks/logo/logo.pug
include ../../blocks/search-room/search-room.pug
include ../../blocks/registration/registration.pug
include ../../blocks/final-booking/final-booking.pug
include ../../blocks/room-information/room-information.pug
include ../../blocks/login/login.pug
include ../../blocks/datepicker/datepicker.pug
include ../../blocks/room-card/room-card.pug
include ../../blocks/reviews-counter/reviews-counter.pug
include ../../blocks/dropdown/dropdown.pug
include ../../blocks/title/title.pug
include ../../blocks/input/input.pug
include ../../blocks/toggle/toggle.pug
include ../../blocks/stars-rating/stars-rating.pug
include ../../blocks/radio-button/radio-button.pug
include ../../blocks/text-button/text-button
include ../../blocks/confirm-button/confirm-button
include ../../blocks/dropdown-input/dropdown-input
  
+page-head({title: "Cards", desc: "Cards from UI-Kit"})
  body.body
    div.cards
      +logo({
        imgSrc: "logo.svg",
        isInCorner: true
      })
      div.cards__content
        div.cards__column
          div.cards__search-room.js-cards__search-room
            +search-room({})
          div.cards__registration.js-cards__registration
            +registration({})
        div.cards__column
          div.cards__final-booking.js-cards__final-booking
            +final-booking({
              roomInformation: {
                number: "888",
                price: "9 990",
                type: "luxury"
              },
              period: {
                from: {
                  title: "прибытие",
                  value: "ДД.ММ.ГГГГ",
                },
                to: {
                  title: "выезд",
                  value: "ДД.ММ.ГГГГ",
                },
              },
              guests: {
                title: { text: "гости" },
                inputValue: "Сколько гостей",
                lists: [
                  {text: "взрослые", dataTarget: "adult", output: "0"},
                  {text: "дети", dataTarget: "child", output: "0"},
                  {text: "младенцы", dataTarget: "baby", output: "0"}
                ]
              },
              serviceList: [
                {
                  title: "9 990₽ х 4 суток",
                  price: "39 960₽"
                },
                {
                  title: "Сбор за услуги: скидка 2 179₽",
                  price: "0₽",
                  isSign: true
                },
                {
                  title: "Сбор за дополнительные услуги",
                  price: "300₽",
                  isSign: true
                },
                {
                  title: "Итого",
                  price: "38 081₽",
                  type: "total"
                }
              ],
              submitButtonText: "забронировать"
            })
          div.cards__login
            +login({})
        div.cards__column
          div.cards__datepicker.js-cards__datepicker
            +datepicker({})
          div.cards__room.cards__room_number_888.js-cards__room_number_888
            +room-card({
              imagesSources: [
                "888.jpg",
                "room-slider.jpg",
                "888.jpg",
                "room-slider.jpg"
              ],
              roomInformation: {
                number: "888",
                price: "9 990",
                type: "luxury"
              },
              starsRating: "5",
              reviewsCounter: "145"
            })
          div.cards__room.cards__room_number_848.js-cards__room_number_848
            +room-card({
              imagesSources: [
                "840.jpg",
                "room-slider.jpg",
                "840.jpg",
                "room-slider.jpg",
              ],
              roomInformation: {
                number: "840",
                price: "9 990",
              },
              starsRating: "4",
              reviewsCounter: "65"
            })