@import '../../overall/variables.scss';
@import '../../fonts/fonts.scss';
@import '../../blocks/logo/logo.scss';
@import '../../blocks/search-room/search-room.scss';
@import '../../blocks/registration/registration.scss';
@import '../../blocks/final-booking/final-booking.scss';
@import '../../blocks/login/login.scss';
@import '../../blocks/datepicker/datepicker.scss';
@import '../../blocks/room-information/room-information.scss';
@import '../../blocks/reviews-counter/reviews-counter.scss';
@import '../../blocks/dropdown/dropdown.scss';
@import '../../blocks/room-card/room-card.scss';
@import '../../blocks/title/title.scss';
@import '../../blocks/input/input.scss';
@import '../../blocks/toggle/toggle.scss';
@import '../../blocks/stars-rating/stars-rating.scss';

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.body {
  margin: 0;
}

.cards {
  width: 1440px;
  padding: 140px 140px 130px;
  position: relative;
  margin: auto;
  background-color: #e5e5e5;

  &__column {
    display: inline-block;
    vertical-align: top;
    max-width: 380px;

    &:nth-child(2) {
      margin: 0 40px;
    }
  }

  &__search-room {
    margin-bottom: 40px;
  }

  &__final-booking {
    margin-bottom: 40px;
  }

  &__datepicker {
    margin-bottom: 40px;
    min-height: 387px;
  }

  &__room:last-child {
    margin-top: 40px;
  }
}