include ../../blocks/page-head/page-head
include ../../blocks/logo/logo.pug
include ../../blocks/search-room/search-room.pug
include ../../blocks/registration/registration.pug
include ../../blocks/final-booking/final-booking.pug
include ../../blocks/room-information/room-information.pug
include ../../blocks/login/login.pug
include ../../blocks/datepicker/datepicker.pug
include ../../blocks/room-card/room-card.pug
include ../../blocks/reviews-counter/reviews-counter.pug
include ../../blocks/dropdown/dropdown.pug
include ../../blocks/title/title.pug
include ../../blocks/input/input.pug
include ../../blocks/toggle/toggle.pug
include ../../blocks/stars-rating/stars-rating.pug

+page-head({title: "Cards", desc: "Cards from UI-Kit"})
  body.body
    .cards
      +logo({
        imgSrc: "../img/logo.svg",
        position: "in-corner"
      })
      .cards__content
        .cards__column
          .cards__search-room
            +search-room({})
          .cards__registration
            +registration({})
        .cards__column
          .cards__final-booking
            +final-booking({
              roomInformation: {
                number: "888",
                price: "9 990",
                type: "luxury"
              },
              period: {
                from: {
                  title: "прибытие",
                  value: "ДД.ММ.ГГГГ",
                },
                to: {
                  title: "выезд",
                  value: "ДД.ММ.ГГГГ",
                },
              },
              guests: {
                title: { text: "гости" },
                inputValue: "Сколько гостей",
                lists: [
                  {text: "взрослые", dataTarget: "adult", output: "0"},
                  {text: "дети", dataTarget: "child", output: "0"},
                  {text: "младенцы", dataTarget: "baby", output: "0"}
                ]
              },
              serviceList: [
                {
                  title: "9 990₽ х 4 суток",
                  price: "39 960₽"
                },
                {
                  title: "Сбор за услуги: скидка 2 179₽",
                  price: "0₽",
                  isSign: true
                },
                {
                  title: "Сбор за дополнительные услуги",
                  price: "300₽",
                  isSign: true
                },
                {
                  title: "Итого",
                  price: "38 081₽",
                  type: "total"
                }
              ],
              confirmButtonText: "забронировать"
            })
          .cards__login
            +login({})
        .cards__column
          .cards__datepicker
            +datepicker({
              main: {
                dataYear: "2019",
                dataMonth: "7",
                dataCurrentDay: "2019, 8, 9",
                dataFrom: "2019, 8, 19",
                dataTo: "2019, 8, 23",
              }
            })
          .cards__room
            +room-card({
              imagesSources: [
                "../img/888.jpg",
                "../img/room-slider.jpg",
                "../img/888.jpg",
                "../img/room-slider.jpg"
              ],
              roomInformation: {
                number: "888",
                price: "9 990",
                type: "luxury"
              },
              starsRating: "5",
              reviewsCounter: "145"
            })
          .cards__room
            +room-card({
              imagesSources: [
                "../img/840.jpg",
                "../img/room-slider.jpg",
                "../img/840.jpg",
                "../img/room-slider.jpg",
              ],
              roomInformation: {
                number: "840",
                price: "9 990",
              },
              starsRating: "4",
              reviewsCounter: "65"
            })