.cards {
  width: 1440px;
  padding: 140px 140px 130px;
  position: relative;
  margin: auto;
  background-color: #e5e5e5;

  &__content {
    display: flex;
    column-gap: 40px;
  }

  &__column {
    display: flex;
    flex-direction: column;
    row-gap: 40px;
  }

  &__datepicker {
    min-height: 387px;
  }
}