mixin page-head(settings)
  - let { 
  -   title = "For change",
  -   description = "For change"
  - } = settings
  doctype html
  html
    head
      meta(charset="utf-8")
      meta(name="description" content=description)
      meta(name="keywords" content="HTML, CSS, JavaScript")
      meta(name="viewport" content="initial-scale=1.0, width=device-width")
      title=title 
    block