$color-main-darker: #1f2041;
$color-main-dark: rgba(31, 32, 65, 0.75);
$color-main-light: rgba(31, 32, 65, 0.5);
$color-main-lighter: rgba(31, 32, 65, 0.25);
$color-secondary-light: rgba(31, 32, 65, 0.1);
$color-secondary-lighter: rgba(31, 32, 65, 0.05);
$color-interactive-main: #bc9cff;
$color-interactive-secondary: #6fcf97;

$font-main: Montserrat, Arial, sans-serif;
$font-secondary: Quicksand, Arial, sans-serif;
