$color-main-darker: #1f2041;
$color-main-dark: rgba(31, 32, 65, 0.75);
$color-main-light: rgba(31, 32, 65, 0.5);
$color-main-lighter: rgba(31, 32, 65, 0.25);
$color-secondary-light: rgba(31, 32, 65, 0.1);
$color-secondary-light: rgba(31, 32, 65, 0.05);
$main-interactive-color: #bc9cff;
$secondary-interactive-color: #6fcf97;

$main-font: Montserrat, Arial, sans-serif;
$secondary-font: Quicksand, Arial, sans-serif;
