mixin like-button(settings)
  - const {
  -   counter = '0',
  -   isChecked = false
  - } = settings
  - const checkedAttr = isChecked ? {"checked": "checked"} : ""
  label.like-button.js-like-button
    input("hidden"="hidden", type="checkbox").like-button__controller.js-like-button__controller&attributes(checkedAttr)
    span.like-button__border
      span.like-button__counter.js-like-button__counter=counter