mixin positive-feature__text(settings)
  - let descText = ""
  - let titleText = ""
  - if(settings) {
  -   settings.hasOwnProperty("descText") ? descText=settings.descText : descText=""
  -   settings.hasOwnProperty("titleText") ? titleText=settings.titleText : titleText=""
  - };
  .positive-feature__text-wrapper 
    +positive-feature__title({text: titleText})
    +positive-feature__description({text: descText})