.input__wrapper_type {
  &_dropdown {
    &::after {
      content: '';
      background-image: url('img/input-dropdown.svg');
      background-repeat: no-repeat;
      background-position-x: 16px;
      background-position-y: 17px;
      position: absolute;
      right: 0px;
      top: 1px;
      width: 44px;
      height: 42px;
      text-align: center;
      box-sizing: border-box;
    }
  }
}
