.input__field_type {
  &_simple {
    &:hover, &:focus {
      border-color: $dark50;
    }
  }
  &_focus {
    border: 1px solid $dark50;
    color: $dark75;
  }
  &_dropdown {
    cursor: pointer;
    position: relative;
    vertical-align: top;
    user-select: none;
    &:hover {
      border-color: $dark50;
    }
  }
  &_submit {
    display: inline-block;
  }
  &_date {
    &:hover, &:focus {
      border-color: $dark50;
    }
    &::-webkit-calendar-picker-indicator{
      display: none;
    }
    &::-webkit-datetime-edit { 
      color: $dark75;
      font-size: 18px;
      line-height: 18px;
      letter-spacing: -0.5px;
    }
    &::-moz-placeholder {
      color: red;
    }
  }
  &_submit {
    position: relative;
    display: inline-block;
    &:hover, &:focus {
      border-color: $dark50;
    }
  }
}