.input_type_simple {
  &:hover, &:focus {
    border-color: $dark50;
  }
}
.input_type_dropdown {
  cursor: pointer;
  position: relative;
  vertical-align: top;
}
.input_type_submit {
  display: inline-block;
}
.input_type_date {
  &::-webkit-calendar-picker-indicator{
    display: none;
  }
  &::-webkit-datetime-edit { 
    color: $dark75;
    font-size: 18px;
    line-height: 18px;
    letter-spacing: -0.5px;
  }
  &::-moz-placeholder {
    color: red;
  }
}
.input-wrapper_type_submit {
  position: relative;
  display: inline-block;
}
