mixin comment__info(settings)
  - let name = ""
  - let daysHavePassed = ""
  - if (settings) {
  -   settings.hasOwnProperty("name") ? name = settings.name : name = ""
  -   settings.hasOwnProperty("daysHavePassed") ? daysHavePassed = settings.daysHavePassed : daysHavePassed = ""
  - }
  .comment__info.text_type_simple
    p.comment__name=name
    p.comment__days-passed=daysHavePassed