.input {
  &_length_long {
    width: 320px;
    box-sizing: border-box;
  }
  &_length_middle {
    width: 266px;
    box-sizing: border-box;
  }
  &_length_short {
    width: 150px;
    box-sizing: border-box;
    display: inline-block;
  }
}