.input__field_length {
  &_l {
    width: 320px;
    box-sizing: border-box;
  }
  &_m {
    width: 266px;
    box-sizing: border-box;
  }
  &_s {
    width: 150px;
    box-sizing: border-box;
    display: inline-block;
  }
}