include ../../blocks/search-room/search-room.pug
include ../../blocks/registration/registration.pug
include ../../blocks/final-booking/final-booking.pug
include ../../blocks/room-info/room-info.pug
include ../../blocks/login/login.pug
include ../../blocks/datepicker/datepicker.pug
include ../../blocks/room-card/room-card.pug
include ../../blocks/rate-counter/rate-counter.pug
include ../../blocks/dropdown/dropdown.pug

.cards
  +logo({
    src: "img/logo.svg",
    type: "in-corner"
  })
  .cards__content
    .cards__column
      .cards__search-room
        +search-room({
          title: {text: "Найдём номера под ваши пожелания"},
          period: {
            from: {
              title: "прибытие",
              value: "ДД.ММ.ГГГГ",
              jsClass: "js-input__field_from-4"
            },
            to: {
              title: "выезд",
              value: "ДД.ММ.ГГГГ",
              jsClass: "js-input__field_to-4"
            },
            jsDatepicker: "js-datepicker-4"
          },
          guests: {
            title: { text: "гости" },
            input: {
              value: "Сколько гостей",
              jsClass: "js-input__field-6"
            },
            control: { jsClass: "js-dropdown__control-6" },
            lists: [
              {text: "взрослые", dataTarget: "adult", output: "0"},
              {text: "дети", dataTarget: "child", output: "0"},
              {text: "младенцы", dataTarget: "baby", output: "0"}
            ]
          },
          confirm: {text: "подобрать номер"}
        })
      .cards__registration
        +registration({
          title: { text:"Регистрация аккаунта" }
        })
    .cards__column
      .cards__final-booking
        +final-booking({
          roomInfo: {
            number: "888",
            price: "9 990",
            type: "luxury"
          },
          period: {
            from: {
              title: "прибытие",
              value: "ДД.ММ.ГГГГ",
              jsClass: "js-input__field_from-5"
            },
            to: {
              title: "выезд",
              value: "ДД.ММ.ГГГГ",
              jsClass: "js-input__field_to-5"
            },
            jsDatepicker: "js-datepicker-5"
          },
          guests: {
            title: { text: "гости" },
            input: {
              value: "Сколько гостей",
              jsClass: "js-input__field-7"
            },
            control: { jsClass: "js-dropdown__control-7" },
            lists: [
              {text: "взрослые", dataTarget: "adult", output: "0"},
              {text: "дети", dataTarget: "child", output: "0"},
              {text: "младенцы", dataTarget: "baby", output: "0"}
            ]
          },
          serviceList: [
            {
              title: "9 990₽ х 4 суток",
              price: "39 960₽"
            },
            {
              title: "Сбор за услуги: скидка 2 179₽",
              price: "0₽",
              modifier: "with-sign"
            },
            {
              title: "Сбор за дополнительные услуги",
              price: "300₽",
              modifier: "with-sign"
            },
            {
              title: "Итого",
              price: "38 081₽",
              type: "total"
            }
          ],
          confirm: { text: "забронировать"}
        })
      .cards__login
        +login({
          title: { text: "Войти" },
          confirm: { text: "войти"}
        })
    .cards__column
      .cards__datepicker
        +datepicker({
          jsClass: "js-datepicker"
        })
      .cards__room
        +room-card({
          jsClass: "js-room-card",
          images: [
            {
              src: "img/888.jpg",
              alt: "Photo of the room"
            },
            {
              src: "img/room-slider.jpg",
              alt: "Photo of the room"
            },
            {
              src: "img/888.jpg",
              alt: "Photo of the room"
            },
            {
              src: "img/room-slider.jpg",
              alt: "Photo of the room"
            }
          ],
          roomInfo: {
            number: "888",
            price: "9 990",
            type: "luxury"
          },
          starRate: { rate: "5", jsClass: "js-star-rate-3" },
          rateCounter: { value: "145" }
        })
      .cards__room
        +room-card({
          jsClass: "js-room-card-2",
          images: [
            {
              src: "img/840.jpg",
              alt: "Photo of the room"
            },
            {
              src: "img/room-slider.jpg",
              alt: "Photo of the room"
            },
            {
              src: "img/840.jpg",
              alt: "Photo of the room"
            },
            {
              src: "img/room-slider.jpg",
              alt: "Photo of the room"
            }
          ],
          roomInfo: {
            number: "840",
            price: "9 990",
            type: false
          },
          starRate: { rate: "4", jsClass: "js-star-rate-4"},
          rateCounter: { value: "65" }
        })