@import '../../blocks/search-room/search-room.scss';
@import '../../blocks/registration/registration.scss';
@import '../../blocks/final-booking/final-booking.scss';
@import '../../blocks/room-info/room-info.scss';
@import '../../blocks/login/login.scss';
@import '../../blocks/datepicker/datepicker.scss';
@import '../../blocks/room-card/room-card.scss';
@import '../../blocks/rate-counter/rate-counter.scss';
@import '../../blocks/dropdown/dropdown.scss';

.cards {
  width: 1440px;
  padding: 140px 140px 130px;
  position: relative;
  box-sizing: border-box;
  margin: auto;
  background-color: #e5e5e5;

  &__column {
    display: inline-block;
    vertical-align: top;
    max-width: 380px;

    &:nth-child(2) {
      margin: 0 40px;
    }
  }

  &__search-room {
    margin-bottom: 40px;
  }

  &__final-booking {
    margin-bottom: 40px;
  }

  &__datepicker {
    margin-bottom: 40px;
    min-height: 387px;
  }

  &__room:last-child {
    margin-top: 40px;
  }
}