mixin header(settings)
  .header
    block

mixin header__authorized(settings)
  - let text = ""
  - if (settings) {
  -   settings.hasOwnProperty("text") ? text = settings.text : text = ""  
  - }
  p.header__authorized= text

mixin header__buttons()
  .header__buttons
    .header__login-button
      +button({
        type: "border",
        text: "войти",
        attr: {"type": "button"},
        height: "border-s"
      })
    .header__registration-button
      +button({
        type: "simple",
        text: "зарегистрироваться",
        attr: {"type": "button"},
        height: "simple-s"
      })

mixin header__logo()
  .header__logo
    block

mixin header__nav()
  .header__nav
    block