mixin header(settings)
  - let {
  -   nav: { 
  -     links = [
  -       {"text": "For change", "type": "bold"},
  -       {"text": "For change"},
  -       {"text": "For change"},
  -       {"text": "For change"}
  -     ],
  -     buttonJsClass = "js-for-change",
  -     navJsClass = "js-for-change"
  -   },
  -   authorized = false
  - } = settings
  .header
    .header__logo
      +logo({
        src: "img/logo-color.svg"
      })
    .header__nav
      button(class="header__nav-button" class=buttonJsClass)
        span.header__hamburger
      div(class="header__nav-wrapp" class=navJsClass)
        +nav({
          links: links
        })
    if authorized
      p.header__authorized= authorized
    else
      .header__buttons
        .header__login-button
          +button({
            type: "border",
            text: "войти",
            attr: {"type": "button"},
            height: "border-s"
          })
        .header__registration-button
          +button({
            type: "simple",
            text: "зарегистрироваться",
            attr: {"type": "button"},
            height: "simple-s"
          })