mixin header(settings)
  - const {
  -   navigation: { 
  -     links = [
  -       {"text": "For change"},
  -       {"text": "For change"},
  -       {"text": "For change"},
  -       {"text": "For change"}
  -     ],
  -     buttonJsClass = "js-for-change",
  -   },
  -   authorized = false
  - } = settings
  div(class="header")
    .header__logo
      +logo({
        src: "../img/logo-color.svg"
      })
    div(class=["header__navigation", "js-header__navigation"])
      button(class=["header__navigation-button", buttonJsClass])
        span.header__hamburger
      div(class=["header__navigation-wrapper", "js-header__navigation-wrapper"])
        +navigation({
          links: links
        })
    if authorized
      p.header__authorized= authorized
    else
      .header__buttons
        .header__login-button
          +button({
            type: "border",
            text: "войти",
            attr: {"type": "button"},
            height: "small"
          })
        .header__registration-button
          +button({
            type: "regular",
            text: "зарегистрироваться",
            attr: {"type": "button"},
            height: "small"
          })