mixin header(settings)
  - let nav = { links: [
  -     {"text": "For change", "type": "bold"},
  -     {"text": "For change"},
  -     {"text": "For change"},
  -     {"text": "For change"}
  -   ] 
  - }
  - let authorized = { text: "" }
  - if(settings) {
  -   if(settings.nav && settings.nav.hasOwnProperty("links")) nav.links = settings.nav.links
  -   if(settings.authorized && settings.authorized.hasOwnProperty("text")) authorized.text = settings.authorized.text
  - }
  .header
    .header__logo
      +logo({
        src: "img/logo-color.svg"
      })
    .header__nav
      +nav({
        links: nav.links
      })
    if authorized.text
      p.header__authorized= authorized.text
    else
      .header__buttons
        .header__login-button
          +button({
            type: "border",
            text: "войти",
            attr: {"type": "button"},
            height: "border-s"
          })
        .header__registration-button
          +button({
            type: "simple",
            text: "зарегистрироваться",
            attr: {"type": "button"},
            height: "simple-s"
          })