@import '../../common/mixins.scss';
@import '../../common/variables';

.color-description {
  @include text_type($main-font, 19px, 400, 28px, $color-main-darker);
  max-height: 70px;

  &__sample {
    height: 70px;
    width: 70px;
    border-radius: 6px;
    display: inline-block;

    &_color {
      &_dark-100 {
        background-color: $color-main-darker;
      }

      &_dark-75 {
        background-color: $color-main-dark;
      }

      &_dark-50 {
        background-color: $color-main-light;
      }

      &_dark-25 {
        background-color: $color-main-lighter;
      }

      &_dark-5 {
        background-color: $color-secondary-light;
      }

      &_purple {
        background-color: $main-interactive-color;
      }

      &_green {
        background-color: $secondary-interactive-color;
      }
    }
  }

  &__text {
    display: inline-block;
    line-height: 28px;
    padding: 7px 0;
    vertical-align: top;
    margin-left: 40px;
  }

  &__name {
    font-weight: 700;
    margin: 0;
  }

  &__index {
    margin: 0;
    font-weight: 400;
  }

  &:not(:last-child) {
    margin-bottom: 20px;
  }
}