mixin color-description(settings)
  - const {
  -   name = "for-change",
  -   index = "for-Change"
  - } = settings
  - let {
  -   color = "for-change" 
  - } = settings
  - if(color) color = `color-description__sample_color_${color}`
  .color-description
    div(class=["color-description__sample", color])
    .color-description__text
      p.color-description__name= name
      p.color-description__index= index