@import '../../common/mixins.scss';
@import '../../common/variables';

.color-description {
  @include text_type($font-main, 19px, 400, 28px, $color-main-darker);
  display: flex;
  column-gap: 40px;
  align-items: center;

  &__sample {
    height: 70px;
    width: 70px;
    border-radius: 6px;

    &_color {
      &_dark-100 {
        background-color: $color-main-darker;
      }

      &_dark-75 {
        background-color: $color-main-dark;
      }

      &_dark-50 {
        background-color: $color-main-light;
      }

      &_dark-25 {
        background-color: $color-main-lighter;
      }

      &_dark-5 {
        background-color: $color-secondary-light;
      }

      &_purple {
        background-color: $color-interactive-main;
      }

      &_green {
        background-color: $color-interactive-secondary;
      }
    }
  }

  &__text {
  }

  &__name {
    font-weight: 700;
    margin: 0;
  }

  &__index {
    margin: 0;
    font-weight: 400;
  }
}