mixin color-description(settings)
  - let {
  -   sample: {
  -     type: sampleType = "for-change" 
  -   },
  -   text: {
  -     name = "for-change",
  -     index = "for-Change"
  -   }
  - } = settings
  - if(sampleType) sampleType = `color-description__sample_color_${sampleType}`
  .color-description
    div(class="color-description__sample", class=sampleType)
    .color-description__text
      p.color-description__name= name
      p.color-description__index= index