mixin color-description(settings)
  - let sample = {
  -   type: "for-change" 
  - }
  - let text = {
  -   name: "for-change",
  -   index: "for-Change"
  - }
  - if(settings) {
  -   if(settings.sample) {
  -     if(settings.sample.hasOwnProperty("type")) sample.type = `color-description__sample_color_${settings.sample.type}`
  -   }
  -   if(settings.text) {
  -     if(settings.text.hasOwnProperty("name")) text.name = settings.text.name
  -     if(settings.text.hasOwnProperty("index")) text.index = settings.text.index
  -   }
  - }
  .color-description
    div(class="color-description__sample", class=sample.type)
    .color-description__text
      p.color-description__name= text.name
      p.color-description__index= text.index