mixin color-description()
  .color-description
    block

mixin color-description__sample(settings)
  - let type = ""
  - if (settings) { 
  -   settings.hasOwnProperty("type") ? type = `color-description__sample_color_${settings.type}` : type = ""
  - }
  div(class=`color-description__sample ${type}`)

mixin color-description__text(settings)
  - let name = ""
  - let index = ""
  - if (settings) { 
  -   settings.hasOwnProperty("name") ? name = settings.name : name = ""
  -   settings.hasOwnProperty("index") ? index = settings.index : index = ""
  - }
  .color-description__text
    p.color-description__name= name
    p.color-description__index= index