.input__submit-button {
  background-image: url('img/arrow-forward.svg');
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
  vertical-align: middle;
  background-color: white;
  outline: none;
  border: none;
  padding: 0px;
  position: absolute;
  right: 10px;
  top: 12px;
  cursor: pointer;
}