.impressions-diagram__description  {
  display: inline-block;
  margin: 0 0 0 30px; 
  padding: 0;
  .impressions-diagram__description-line {
    list-style: none;
    &::before {
      content: '';
      width: 10px; height: 10px;
      border-radius: 50%;
      display: inline-block;
      margin-right: 5px;
    }
  }
  .impressions-diagram__description-line_perfectly::before {
    background: linear-gradient(180deg, #FFE39C 0%, #FFBA9C 100%);;
  }
  .impressions-diagram__description-line_good::before {
    background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
  }
  .impressions-diagram__description-line_satisfactorily:before {
    background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
  }
  .impressions-diagram__description-line_disappointed::before {
    background: linear-gradient(180deg, #919191 0%, #3D4975 100%);
  }
}