mixin impressions-diagram__description(settings)
  - let lines = []
  - if(settings) {
  -   settings.hasOwnProperty("lines") ? lines = settings.lines : lines = ""
  - }
  ul.impressions-diagram__description 
    each line in lines 
      - let text = ""
      - let type = ""
      - if(line) {
      -   line.hasOwnProperty("text") ? text = line.text : text = ""
      -   line.hasOwnProperty("type") ? type = `impressions-diagram__description-line_${line.type}` : type = ""
      - }
      li(class="impressions-diagram__description-line" class=type)=text