mixin dropdown__list(settings)
  - let elements = []
  - if(settings) {
  -   settings.hasOwnProperty("elements") ? elements=settings.elements : elements=[]
  - }
  ul.dropdown__list
    each element in elements
      - let text = ""
      - let dataTarget = ""
      - let output = ""
      - let minusTransparent = false
      - let plusTransparent = false
      - if(element) {
      -   element.hasOwnProperty("text") ? text = element.text : text=""
      -   element.hasOwnProperty("dataTarget") ? dataTarget = element.dataTarget : dataTarget=""
      -   element.hasOwnProperty("output") ? output = Number(element.output) : output=""
      -   output === 0 ? minusTransparent = true : minusTransparent = false
      -   output === 10 ? plusTransparent = true : plusTransparent = false
      - }
      +dropdown__list-element()
        +dropdown__text({text: text})
        +dropdown__calc()
          +dropdown__button({
            text: "-",
            type: "minus",
            attr: {
              "data-target": dataTarget,
              "data-action": "minus",
            },
            transparent: minusTransparent
          })
          +dropdown__output({
            text: output,
            attr: {
              "data-target": dataTarget
            }
          })
          +dropdown__button({
            text: "+",
            type: "plus",
            attr: {
              "data-target": dataTarget,
              "data-action": "plus"
            },
            transparent: plusTransparent
          })