mixin content-nav__buttons(settings)
  ul.content-nav__buttons
    +content-nav__button({type: "previous"})
      +button({type: "pagination"})
        +button__control({
          type: "pagination",
          text: "",
          attr: {"type": "button"}
        })
    +content-nav__button({type: "first", current: true})    
      +button({type: "pagination"})
        +button__control({
          type: "pagination",
          text: "1",
          attr: {"type": "button"}
        })
    +content-nav__button({type: "space"})  
      +button({type: "pagination"})
        +button__control({
          type: "pagination",
          text: "...",
          attr: {"type": "button"}
        })
    +content-nav__button({type: "num"})  
      +button({type: "pagination"})
        +button__control({
          type: "pagination",
          text: "2",
          attr: {"type": "button"}
        })
    +content-nav__button({type: "num"})  
      +button({type: "pagination"})
        +button__control({
          type: "pagination",
          text: "3",
          attr: {"type": "button"}
        })
    +content-nav__button({type: "num"})  
      +button({type: "pagination"})
        +button__control({
          type: "pagination",
          text: "4",
          attr: {"type": "button"}
        })
    +content-nav__button({type: "space"})  
      +button({type: "pagination"})
        +button__control({
          type: "pagination",
          text: "...",
          attr: {"type": "button"}
        })
    +content-nav__button({type: "last"})  
      +button({type: "pagination"})
        +button__control({
          type: "pagination",
          text: "15",
          attr: {"type": "button"}
        })
    +content-nav__button({type: "next"})  
      +button({type: "pagination"})
        +button__control({
          type: "pagination",
          text: "",
          attr: {"type": "button"}
        })