@import '../../common/mixins.scss';
@import '../../common/variables';

.room-information {
  display: flex;
  justify-content: space-between;
  align-items: end;

  &__number {
    @include text_type($font-main, 24px, 700, 30px, $color-main-darker);

    &::before {
      content: '№';
      font-size: 14px;
      padding-right: 4px;
    }

    &_size {
      &_small {
        @include text_type($font-main, 19px, 700, 24px, $color-main-darker);
      }
    }

    &_type {
      &_luxury:after {
        @include text_type($font-main, 15px, 700, 28px, $color-interactive-main);
        content: 'люкс';
        margin-left: 8px;
        position: relative;
        bottom: -1px;
      }
    }
  }

  &__price-wrapper {
    @include text_type($font-main, 12px, 400, 27px, $color-main-light);
    color: $color-main-light;
    font-size: 12px;
  }

  &__price {
    @include text_type($font-main, 14px, 700, 28px, $color-main-light);
    font-style: normal;
  }
}