mixin room-information(settings)
  - const {
  -   number = "000",
  -   price = "0000",
  -   type = "",
  - } = settings
  - const typeClass = type ? `room-information__number_type_${type}` : ""
  div.room-information
    span(class=["room-information__number", typeClass])=number
    span.room-information__price-wrapper
      em.room-information__price=`${price}₽ ` 
      =" в сутки"
