@import '../../common/mixins.scss';
@import '../../common/variables';

.room-information {
  &__number {
    display: inline-block;
    width: 50%;
    @include text_type($mont, 24px, 700, 30px, $dark100);

    &::before {
      content: '№';
      font-size: 14px;
      padding-right: 4px;
    }

    &_size {
      &_small {
        @include text_type($mont, 19px, 700, 24px, $dark100);
      }
    }

    &_type {
      &_luxury:after {
        @include text_type($mont, 15px, 700, 28px, $purple);
        content: 'люкс';
        margin-left: 8px;
        position: relative;
        bottom: -1px;
      }
    }
  }

  &__price-wrapper {
    display: inline-block;
    @include text_type($mont, 12px, 400, 27px, $dark50);
    color: $dark50;
    width: 50%;
    text-align: right;
    font-size: 12px;
    vertical-align: bottom
  }

  &__price {
    @include text_type($mont, 14px, 700, 28px, $dark50);
    font-style: normal;
    vertical-align: bottom;
  }
}