@import '../../overall/mixins.scss';

.room-information {
  &__number {
    display: inline-block;
    width: 50%;
    @include text_type($mont, 24px, 700, 30px, $dark100);

    &::before {
      content: '№';
      font-size: 14px;
      padding-right: 4px;
    }

    &_with-postfix:after {
      content: 'люкс';
      @include text_type($mont, 14px, 700, 15px, $purple);
      margin-left: 2px;
    }
  }

  &__price-wrapper {
    display: inline-block;
    @include text_type($mont, 12px, 400, 18px, $dark50);
    color: $dark50;
    width: 50%;
    text-align: right;
    font-size: 12px;
  }
  
  &__price {
    @include text_type($mont, 14px, 700, 18px, $dark50);
    font-style: normal;
    font-size: 14px;
    color: $dark50;
  }
}