mixin room-information(settings)
  - let {
  -   number = "000",
  -   price = "0000",
  -   type = false
  - } = settings
  - if (type) type = `room-information__number_${type}`
  div.room-information
    span(class="room-information__number" class=type)=number
    span.room-information__price-wrapper
      em.room-information__price=price 
      =" в сутки"
